[2016-07-08 14:49] monfresh commented on #970
Alternatively, would it be possible to exclude third party code altogether?

[2016-07-08 14:52] monfresh commented on #970
Derp. My bad. I just realized we are overriding the Devise method in our app.

[2016-07-08 14:52] #970 closed

[2016-07-08 23:10] troessner commented on #953
First spec draft up in #971

[2016-07-09 09:22] mvz commented on #809
In the spirit of this ticket, I've started cleaning up the `raise` statements in Reek's codebase. It turns out there aren't many of them, and some can even be removed.

[2016-07-09 09:44] mvz commented on #953
I think we're trying to achieve some conflicting purposes:

* On the one hand we want to produce only ReekException, but we want to let the user differentiate between "it's Reek's fault", and "it's my fault".
* We want to just catch every exception, but we also want to have detailed information that is only available at the point of raising the original.

I also have the feeling we discussed a sim

[2016-07-09 09:45] mvz commented on #809
Regarding, tagging, @chastell, doesn't this mean a lot of boiler plate in each of our API methods?

[2016-07-09 10:50] #964 closed

[2016-07-09 21:31] troessner commented on #953
Fair enough ;)

Print a (detailed) error and skip that source.
Print a (detailed) error and skip that smell detector.

Yep, let's go with the first one.

[2016-07-10 09:58] troessner commented on #953
Not sure when I can take a shot at this, if anybody wants to go ahead please do so.
Otherwise I'll happily do so when I find the time.

[2016-07-11 23:38] troessner opened #978 "Refactor our specs big time"
Completely unrelated to @waldyr 's [PR](https://github.com/troessner/reek/pull/959/files) but honest to god, our spec set up is a huge pain in the ass sometimes.
When one isolated change like a new smell detector causes a huge diff already then this means that we have a lot, a lot of "know it all, test it all" specs.

I believe we should start by making our classical "smelly.rb" example that leaks

[2016-07-12 09:52] mvz commented on #978
Yes. The best strategy here is probably to avoid adding complexity to the specs. So any PR should either leave the overall spec structure exactly as is, or it should remove complexity.

One think we cannot avoid is new detectors detecting new smells in our own code base. This does however provide a first test of validity for those new detectors: Do they work in practice on a relatively neat code b

[2016-07-12 10:35] troessner opened #979 "Initialising instance variables to nil"
Coming from [here](https://github.com/troessner/reek/pull/959):

I'd consider initialising instance variables to nil is its own smell.
There is no semantic difference between:

[code]

and

[code]

I think initialising instance variables to nil is a strong hint that.....this shouldn't be an instance variable at all and we should give the user a corresponding suggestion.

WDYT?

[2016-07-12 11:12] mvz commented on #979
Yes, I agree the initialization is irrelevant. I'm not sure what to suggest to the user though, apart from removing the line from the initializer. Perhaps at least adding a (private) reader, since that will absorb uninitialized ivar warnings.

[2016-07-12 11:41] troessner commented on #979
How about suggesting to not make it an instance variable at all?

[2016-07-12 11:44] mvz commented on #979
I think we need to be more specific about the alternatives then :smile:.

[2016-07-12 11:49] troessner commented on #979
But thats what we have a /docs page for, dont we? We can then discuss examples there. We do the same thing for other more complex smells like FeatureEnvy.

[2016-07-12 11:54] mvz commented on #979
Yes, I'm talking about what we should have in the docs.

[2016-07-13 05:27] chastell commented on #979
(FWIW, as I was asked in the other issue: I do agree we should detect this smell and the discussion.) :)

[2016-07-13 19:25] backus commented on #979
Could this awkwardly clash with the fact that ruby emits a warning if you access an ivar before it is initialized? It seems like this is usually the reason for `@something = nil` to live in `initialize`

[2016-07-14 05:16] chastell commented on #979
Yes, probably – but I think `@something = nil` is a smell all the same, and the warning is just a symptom that could be dealt with in better ways (e.g., an `@something ||= some_default` accessor).

[2016-07-14 05:26] chastell commented on #809
Hm, yes, that’s the price for tagging all originating exceptions. That said: do we have _that_ many methods that we support as our official API? (If so, then maybe this means we have a large API, and maybe _that’s_ a problem.)

[2016-07-16 22:04] jhubert opened #980 "Add rubocop style progress reporting to reek"
I'm a big fan of the way that RuboCop reports on the progress of an inspection:

![image](https://cloud.githubusercontent.com/assets/3384/16897438/8a25bb14-4b66-11e6-950f-f6e0b156e99b.png)

It's especially great when using RuboCop with something like Guard that runs every time a file is changed.

That style of progress display would be really nice in Reek.

[2016-07-18 15:11] waldyr commented on #978
An empty class reeks of `Irresponsible Module`.

Just enumerating things to do for this issue so I can tackle them later:

- [ ] Make `smelly.rb` only reeks of `Irresponsible Module`.
- [ ] Remove Shared Examples.
- [ ] Seek and destroy all duplicated specs.

Am I missing something?

[2016-07-18 16:32] mvz commented on #978
I like this one.

[2016-07-18 17:09] troessner commented on #978
I like this one.

Not a big fan. I don't think this example is very accessible for newbies because in real life you almost never have empty classes.

How about something that is fully functional and still kind of obviously smelly like this one:

[code]

WDYT?

[2016-07-18 17:10] mvz commented on #978
Yes, that one is better.

[2016-07-18 19:14] troessner commented on #980
Great initiative and I fully agree :)

I did check out both of your pull requests but I think it makes sense if we discuss the specifics of this feature here before going into code since the same questions pop up and this will be pretty hard to follow and discuss on 2 different pull requests.

**The following questions and discussion items come to my mind:**

* Should the "progress bar" be a prope

[2016-07-18 21:28] waldyr commented on #978
Going to work on it later.

[2016-07-18 23:47] waldyr commented on #978
Are we going to drop all samples files except `smelly.rb`?

[2016-07-19 08:26] troessner commented on #978
I believe we will keep quite a few of them. E.g. everything we use in our [samples feature](https://github.com/troessner/reek/blob/master/features/samples.feature) and also of course all the detector specific samples and so on. But we probably can get rid of 50% of all the others.
Unfortunately there is no generic rule we can apply here, we need to go through every sample file, check out where it

[2016-07-19 08:28] mvz commented on #978
Yes, this is going to be a long, slow process :frowning:.

[2016-07-19 08:31] troessner commented on #978
But afterwards everything is nice and shiny!
We're actually paying dearly now for years of spec mismanagement.
I mean, literally every time I worked on our specs I thought "ok, that sucks, we should fix it" :)

[2016-07-19 19:30] troessner opened #985 "Evaluate badges from the hamster gem"
I think that [the badges from the hamster gem](https://github.com/hamstergem/hamster) look pretty awesome.
Let's evaluate if some of those make sense for us.

[2016-07-19 19:49] troessner opened #986 "Document the expected ASTs over every SmellDetector#inspect"
The heading says it all, right now the expected AST is almost nowhere documented which I really find a pain in the ass when developing.

Sure I can use specs, pry or cli `ruby-parse` but it would help a lot for building up a mental image if we got into the habit of putting an example of the expected AST above every `SmellDetector#inspect`.

Let's fix that for all the existing detectors and then ge

[2016-07-19 22:31] dgollahon opened #987 "TooManyConstants Affects Parent Modules Even When Ignored"
Hi, I just upgraded to `4.2.0` from an older version and noticed the new `TooManyConstants` smell which, to me, has some unexpected behavior.

If I have a scenario like this

[code]

and run `reek`, i get:

which is all well and good. If I change `Bar` to a module:

[code]

I get

  [2]:TooManyConstants: Foo::Bar has 6 constants [https://github.com/troessner/reek/blob/master/docs/Too-Many-Constant

[2016-07-19 22:40] troessner commented on #987
This most definitely is a bug - @waldyr can you take over?

[2016-07-19 22:44] waldyr commented on #987
Sure

[2016-07-20 00:07] #987 closed

[2016-07-20 00:55] dgollahon commented on #987
fastest bugfix response I can ever remember getting 🎉 i'll be on the lookout for the next version bump, thanks!

[2016-07-20 09:10] troessner commented on #987
I assume @waldyr was having his well deserved good night sleep so I just went ahead and released 4.2.1 :)
@dgollahon can you please check if that works for you?

[2016-07-20 09:54] mvz commented on #980
Looking at it from a functional level, I would have it appear as an option for the text report, unless we have it appear on STDERR. In the latter case, we can have it everywhere and it won't interfere with the report output.

I see that RuboCop has it as a separate report format, but that is indeed a bit odd.

If we go for the option of putting the behavior in TextReport, we can always model it as

[2016-07-20 10:00] troessner commented on #980
Why? I really don't think we need to be so anal about semver for Reek. This feature is a clear improvement and I think we should ship as fast as possible.

This is not a breaking change - why not let the users benefit from things like that as fast as possible?

[2016-07-20 11:13] mvz commented on #980
We did get a fair number of bug reports the last time we changed the text output. I'm thinking e.g., the vim plugin could have problems.

If we output the progress to STDERR this would be less of a problem, but I don't know how you feel about that.

[2016-07-20 11:21] mvz commented on #985
I can see that even the ones we already have look a lot better there.

We already have:
* Travis build status
* Version
* Dependencies
* Docs
* Code Climate
* Code Beat

We need to evaluate:
* Downloads
* Tag
* Release
* License
* Discuss

[2016-07-20 12:07] troessner commented on #980
But that's more kind of a bug than really a breaking change, is it? If we do it like that it's like saying "we're declaring this a breaking change because it **probably** will trigger some bugs", isn't it?

I'm really wary of not releasing features for reasons like that. We should ship as fast as possible, cause that's part of the fun in non-commercial software, isn't it?
We usually fix critical b

[2016-07-20 12:23] troessner commented on #985
I'd vote for

* Downloads
* Tag
* License

[2016-07-20 12:53] mvz commented on #980
I meant bug reports from people relying on the old format. But yeah, :+1: on just checking all the plugins and then making it the default.

[2016-07-20 13:29] waldyr commented on #985
Should we also change the badge's style to the flat one?

[2016-07-20 16:06] troessner commented on #985
+1, looks easier on the eyes.

[2016-07-20 17:24] dgollahon commented on #987
@troessner: works for the two cases in my codebase, thanks! :)

[2016-07-20 19:22] troessner commented on #987
Great to hear that!

[2016-07-24 11:26] troessner commented on #556
Closing this one to keep our issues nice and tidy.
All interesting smell detectors have their separate tickets.

[2016-07-24 11:26] #556 closed

[2016-07-24 11:26] troessner commented on #621
Closing this one with #956 merged.

[2016-07-24 11:26] #621 closed

[2016-07-24 11:30] troessner commented on #632
Isn't this kind of expressed via #633 as well?
I'd then rather close this one. Right now it's confusing because we have 2 separate issues and this one feels like a subset #633
I know there are some subtle differences, but I believe the user doesn't care for them that much as we apparently do :)

wdyt?

[2016-07-24 11:36] troessner commented on #807
@jfelchner I assume you won't pick this up any time soon, right?

[2016-07-24 12:22] troessner commented on #980
On second thought and looking at [all our editor integrations](https://github.com/troessner/reek#editor-integrations) I'd like to change my opinion and follow more @mvz approach, meaning:

[code]

And let's make it default right away.

We should then release 5.0.0 right away to get this feature out on the road asap (so not wait until we accumulated other breaking features because that's something

[2016-07-24 12:37] mvz commented on #632
Yes, I agree. See also https://github.com/troessner/reek/pull/959#issuecomment-232974279 :smile:.

[2016-07-24 12:49] #632 closed

[2016-07-24 19:26] mvz commented on #980
Sounds good to me.

[2016-07-24 19:47] jfelchner commented on #807
@troessner correct.  I've had too much on my plate lately.  Thanks for checking in!

[2016-07-25 05:43] mvz commented on #807
I still think this is a good idea.

[2016-07-25 05:57] waldyr commented on #807
I can pick this up. But probably we should focus on the spec refactor. What do you think?

[2016-07-25 06:06] troessner commented on #807
Yes, spec refactoring first please :)

[2016-07-26 16:57] #985 closed

[2016-07-28 20:52] troessner opened #994 "Make checking the warnings in smell detectors consistent across our specs"
Follow-up from #993

In basically all of our specs for detectors we check the warnings for the right lines, the right message, the right parameters and so on. Unfortunately we do this in a lot of different ways and in different places (e.g. beginning of the spec vs the end vs scattered across the spec).

E.g. like this:

[code]

or like this (the worst in my mind)

[code]

or like this (the most c

[2016-07-29 13:43] troessner commented on #994
Before going on with this I'd rather wait for #992 and #993 to be merged.

[2016-07-29 22:01] waldyr commented on #994
I really like the matcher. In my opinion with a better message it would be the best choice.

[2016-07-30 14:37] troessner opened #995 "Make Reek more resilient on incomprehensible source."
Coming from #942 and #953 we agreed on the following:

We have smell detectors sometimes failing for unexpected reasons, and Reek aborts.
In order to be able to drill down to the root of this problem we decided to:

* Print a (detailed) error
* and skip that source.

so that the user can open up a bug report with enough information for us to fix it.

[2016-07-30 14:39] troessner commented on #942
WIP in #996

[2016-07-30 14:39] troessner commented on #953
Closing this one in favor of #995

[2016-07-30 14:39] #953 closed

[2016-07-30 14:41] mvz commented on #994
I would prefer using the matcher as well. Improving the matcher's message will then benefit us throughout our specs.

[2016-07-30 14:54] troessner commented on #994
Alright, then let's improve the matcher and then use it consistently throughout our specs ;)

[2016-07-30 14:55] troessner commented on #994
I'm so excited for this, fixing our broken spec set up will make developing Reek roughly a gazillion times faster ;)

[2016-07-30 18:20] troessner opened #998 "Fix our rspec matcher warnings to include all details"
Originating from #994

[2016-07-31 13:52] troessner opened #999 "Weird edge case bug in our specs"
I stumbled across this around a year ago in a new spec I was working on but managed to work around it. Now it happened again so I thought I'd document it here.
I happened while working [on this PR](https://github.com/troessner/reek/pull/997) with this innocent looking spec:

[code]

Running the spec like this:

[code]

[2016-07-31 20:08] troessner opened #1000 "Release Reek v5!"
I labeled our existing pull requests and AFAIS we only have [2 breaking changes / PRs](https://github.com/troessner/reek/pulls?q=is%3Aopen+is%3Apr+label%3Abreaking-change) that are relevant for this release.
Let's get those 2 going as fast as possible and then release right away because those 2 are blocking other important features like [making Reek more resilient on incomprehensible source](https

[2016-07-31 20:10] troessner commented on #998
fyi: I'll start to work on this next week :)

[2016-08-01 09:29] troessner commented on #999
wrong number of arguments (given 0, expected 1)

Maybe it was a bad f***ing idea to name the entry point to our detectors `inspect` 😆
Looking at the error it seems like Ruby somehow confuses it with `Object#inspect` when the weather in the Tundra is 10 degrees colder than usual and there is a blood moon on the horizon.
Let me check out if renaming it to something unambiguous fixes the problem.

[2016-08-01 09:33] troessner commented on #999
Thinking about it, the rspec matcher

probably iterates over smells and then calls `inspect` on all entries. I mean, that still doesn't explain all of the other symptoms above but at one point you'll just have to let go ;)
Apart from that, we probably should still rename `inspect` to decrease confusion.
WDYT?

[2016-08-01 09:36] troessner commented on #1000
BTW this is issue number 1000!

[2016-08-01 12:18] mvz commented on #999
From a cursory look at this issue, yes, this is probably what happens, and it happens when the test fails.

Yes, we should fix that **now**.

[2016-08-01 12:26] mvz commented on #1000
As I mentioned, I'd like to play around with the progress option for a bit, say a week.

This would basically be an expanded version of what's already in the change log, with examples?

[2016-08-01 12:33] troessner commented on #1000
Sorry, forgot about that, sure ;)

Yes! I believe this makes it a lot, a lot easier on users.

[2016-08-04 05:38] troessner commented on #1000
And this time, let's not make the same mistake like with Reek 4 and put both features in a Reek 5 branch. I just created "reek-5" and I'll point #997 to it later on. @jhubert can you do the same for #983 please?

[2016-08-05 20:58] troessner opened #1007 "Making mutant completely optional"
Don't get me wrong, I love [mutant](https://troessner.svbtle.com/kill-all-the-mutants-a-deep-dive-into-mutation-testing-and-how-the-mutant-gem-works) but I feel the way we're treating the integration is too much.

A 100% or close to 100% mutation spec coverage all the time is extremely exhausting, clubbing all fun to death and in general doesn't seem worth like it. I this was software for flying a

[2016-08-05 21:45] mbj commented on #1007
I'm totally biased, but I wounder if you should listen to the pain. Its totally possible to run mutant enabled builds on CI and I prove this via mutant itself. And mutant is a complex piece of software.

If you get constantly red builds it seems one of the following (or a combination) may be true:

* Your tests are weak
* Your code contains redundancy
* Test selection (as done by mutant) is to nar

[2016-08-06 05:50] mbj commented on #1007
I was there, 3y ago. And it dramatically changed when I realized to listen to the pain and change the implementation strategies to be driven by: How do mutation test this, not: How do I get the feature in.

The dramatic side effect are code bases you seem to like and blog about.

If you wanted: Lets pair for 60minutes and we screenshare on the reek code base. I expect we'll both learn something.

[2016-08-06 06:22] #999 closed

[2016-08-06 06:36] troessner commented on #1007
Your code contains redundancy
Test selection (as done by mutant) is to narrow for your testing strategy
Your overall mutation testing strategy, and especially how you start applying mutation testing to a project that was not from day 0 using it is imperfect.

All of those points are true 😆
Our test set up sucks, no question. We're [actively](https://github.com/troessner/reek/pull/1001)[working](ht

[2016-08-06 15:49] mvz commented on #1007
As I see it, the main problem is currently:

In many cases, classes are tested by how they are used by other classes. For example, many of the methods on AST nodes mainly make sense by how they are used in the smell detectors, so were introduced to make specs on the smell detectors pass.

A smaller problem is that a few of mutant's mutations are more style-oriented. By that, I mean that, at least

[2016-08-06 19:02] troessner opened #1011 "Introduce our smell matcher to all our detector specs"
Now with #1001 merged I'd like to introduce this in all our detector specs.
I have a 7 hour bus ride coming up next Wednesday and that's when I'll start cracking on this one ;)

[2016-08-06 19:20] troessner commented on #998
Fixed via #1001

[2016-08-06 19:20] #998 closed

[2016-08-06 19:21] troessner commented on #1007
Fully agree on that - @mbj any plans to make it configurable which mutators are run by mutant?

[2016-08-06 19:22] troessner commented on #994
@mvz why did you close this?
Pull request #993 was the relevant here, and that one is still open :)

[2016-08-07 06:53] mvz commented on #994
I think you mentioned the wrong issue in #1001 and GitHub did its magic.

[2016-08-07 10:56] troessner commented on #1000
#997 now has transformed into #1015 and is **not** breaking anymore.
Means that #983 is the only breaking change at the moment.

[2016-08-07 13:00] mbj commented on #1007
No. Not on my free OSS time. And I'd even resist a lot of someone would try to pay me for that feature.

Its by far the most popular feature request, and I'd make many users happy to fulfill it, but likely its not in that users interest, even if they do not agree to my opinion. But I've a deeper insight typically on what strategy makes sense in the long-term than those users.

I see how it looks a

[2016-08-07 17:49] troessner commented on #1007
But it's a quality tool. And quality is subjective. Software development is a lot closer to writing a book than it will ever be to designing car.
Rubocop, Reek and a lot of other tools allow users to define exceptions because they make the concession that quality is subjective and the tool is not the police. mutant takes a different stance and I respect that. But this doesn't mean it's more right

[2016-08-07 19:05] mbj commented on #1007
In mutant you can also make exceptions, `--ignore-subject` flags recorded in the repo is what I recommend for onboarding to projects that did not do mutation testing from day one.

But at operator level its too fine grained. IMO.

[2016-08-07 19:07] mbj commented on #1007
Yes, imagine you'd disable 90% of rubocop cops, you'll end up spending more time maintaining the fine grained exclusion list, than fixing problems. If you disable the most painful mutation operators, you should consider to not use the tool instead.

[2016-08-08 10:22] mvz commented on #1007
I'm very interested in this discussion, do you have any pointers to where I can read up on it?

[2016-08-08 10:25] mvz commented on #1007
Also, @mbj, I wouldn't mind helping improve mutant's documentation while my confusion is still fresh. Do you have any place where you would like the documentation to end up? (e.g., comments in the mutators, wiki, github pages).

[2016-08-08 13:30] mbj commented on #1007
There is no formal structure yet, suggestions welcome. Most work was done so far in the README, but it grows to big.

[2016-08-08 17:49] mbj commented on #1007
Its very likely still in the mutant Slack channel, but we only have a limited amount of history there. Feel free to re-ignite it.

[2016-08-14 13:40] troessner opened #1019 "Make it easier on the user in case Reek crashes"
Coming from #996

[2016-08-15 06:48] #995 closed

[2016-08-15 06:50] troessner commented on #995
Releasing a new version now so we can continue with #996 !

[2016-08-15 06:57] troessner commented on #942
@ericgross && @nachokb we just released 4.2.4. which contains #996
Could you please run this Reek version on your source in question?
It should point us to the problematic code ;)

[2016-08-15 10:07] Drenmi commented on #749
I, too, can be a grumpy cat, and `nil` is one of my pet peeves--so much so that I gave a talk on it. Needless to say, a resounding plus one on this. 😬

While we're on the subject of this smell detector; I am a big fan of the use of the [`NodeFinder`](https://github.com/troessner/reek/blob/master/lib/reek/smells/nil_check.rb#L28) construct, but it irks me a bit that the smell detector has a direct

[2016-08-15 10:23] mvz commented on #749
If there are node finders that could be used by more than one smell detector, that could be a sensible direction.

[2016-08-15 13:24] troessner commented on #749
Like the idea a lot but we probably need to prototype this a bit in a pull request to see how this works in practice :)

[2016-08-15 13:44] Ross-Hunter commented on #942
Nested iterator smell works now. It was blowing up as described above in 4.1. It works in 4.2.3, and in 4.2.4 I get additional exceptions about syntax errors.

Custom Rails generators might be the source of the problem. They are actually `.erb` files, but you have to name them `.rb` otherwise Rails doesn't recognize them 😦

👍  Thanks!

[2016-08-15 14:30] Drenmi commented on #749
I think @mvz also made a good point:

If there's no reuse happening, putting in the extra abstraction to enable reuse might be, as they say, Not Worth the Effort™. 😁

[2016-08-15 16:10] ericgross commented on #942
Looks good to me, thanks!

[2016-08-15 21:17] mvz commented on #749
It's probably best to move the smell detector implementations to some common form and then go from there. We 'just' have to decide on the common form.

[2016-08-16 09:03] mvz commented on #942
@ericgross:

Do you mean you don't get any error anymore, even with NestedIterator enabled?

@Ross-Hunter:

Does the output give you enough information to exclude the offending files?

[2016-08-16 09:36] troessner commented on #749
Couldn't agree more. Right now our smell detectors vastly differ from each other.
In my mind they should be responsible for:

* getting the nodes in question
* find the smelly ones
* build up the warning

And they should all have the same structure.

[2016-08-16 12:57] Ross-Hunter commented on #942
Yeah.

[2016-08-16 14:25] ericgross commented on #942
now i am getting proper errors in the offending files.

On Tue, Aug 16, 2016 at 8:57 AM, Ross Hunter <notifications@github.com>
wrote:

[2016-08-16 14:35] troessner commented on #942
and

Does the output give you enough information to exclude the offending files?
Yeah.

Can you c&p those here?

[2016-08-16 15:51] Ross-Hunter commented on #942
[code]

Followed by reek output

[2016-08-16 18:21] troessner commented on #942
@Ross-Hunter Ah, ok, the ERB templates you had mentioned already. Now that's easy to see :)
Thanks for following up on this!
Let's close this issue.

[2016-08-16 18:21] #942 closed

[2016-08-20 20:42] adrianbn opened #1023 "UtilityFunction triggered on modules with 'extend self'"
I'm defining a set of methods inside a module via

[code]

Reek triggers the UtilityFunction smell on those methods even though the behaviour should be the same as for:

[code]

The latter won't trigger UtilityFunction as per https://github.com/troessner/reek/issues/112. Should 'extend self' also be supported here?

Thanks!

[2016-08-20 20:52] adrianbn opened #1024 "UtilityFunction on global methods outside a class"
Reek is reporting UtilityFunction on `global_bar` in the following code:
[code]

According to the docs `is any instance method that has no dependency on the state of the instance.`, but `global_bar` is technically not an instance method, is it? If reek is right reporting this, what would be a better way to achieve the same API convenience?

Thanks!

[2016-08-21 07:40] troessner commented on #1024
It is ;)

( $ ) pry
[1] pry(main)> p self
main
=> main
[2] pry(main)> p self.class
Object
=> Object
[3] pry(main)> def omg; end
=> :omg
[4] pry(main)> method(:omg).owner
=> Object
[5] pry(main)> Object.instance_methods.grep /omg/
=> [:omg]

I believe there are no global methods in Ruby.

[2016-08-21 07:44] troessner commented on #1023
It's not the same.
The second version will not define any instance methods on the class that includes the module, the first one will as you can quickly see for yourself in pry ;)
That's why the latter one doesn't report the smell but the first one does.

[2016-08-21 07:49] troessner commented on #980
@jhubert I'm sorry that this feature got dragged out by us apparently. Can I help you to get this going?
If you like we can pair next week for an hour to get this ready for merge.

[2016-08-21 09:13] adrianbn commented on #1024
Oh, right. I wasn't expecting Reek to take into account anything outside my code; i.e. it doesn't belong to any of my classes so I thought I was good. That makes sense. Is there a better way to achieve the same functionality without tripping Reek? I'm using this for things like a logger or a config instance that I would like to be global singletons.

Thanks!

[2016-08-21 09:32] mvz commented on #1024
There are several options you could try:
* Use `Foo::Bar.instance` directly, if you never want to use a different object. This is the essence of the Singleton pattern.
* Use a constant instead of a method.
* Use some sort of dependency injection like `dry-container`. I *think* this will give you methods like the ones you want, but I haven't used it.
* Create a module and define methods using `modu

[2016-08-21 09:36] mvz commented on #1023
However, the first version does have the same behavior as using `module_function`, which does block triggering of this smell.

[2016-08-21 09:42] adrianbn commented on #1023
I thought the same as @mvz with regards `module_function` and `extend self`, which is part of the confusion with my original post, but I am not sure after checking it. This is `module_function`:

[code]

versus the `extend self` option:

[code]

[2016-08-21 09:45] mvz opened #1025 "Give smell detectors a consistent structure"
From #749:

[2016-08-21 09:46] mvz commented on #749
I've moved the discussion on smell detector structure to its own issue. Feel free to continue commenting there.

[2016-08-21 09:49] mvz commented on #1023
Ah, so `module_function` makes the instance method version private. That makes sense. We may actually want to not detect private methods as utility functions then, for the sake of consistency.

[2016-08-21 10:05] mvz commented on #749
I'm going to take a stab at this.

[2016-08-21 10:56] troessner commented on #749
🎉

[2016-08-21 10:59] mvz opened #1027 "Handle or fail tests when smell detectors return nil"
When `#sniff` returns `nil` instead of `[]`, our tests still pass but we output our please-report-an-exception text. We should either allow `nil` output or fail tests in this case.

I found this with mutant when implementing #1026.

[2016-08-21 10:59] mvz commented on #749
Stab taken :smile:.

[2016-08-21 11:03] troessner commented on #1027
👍 for the latter - I think this should fail our tests.

[2016-08-21 16:37] adrianbn commented on #1024
Thanks @mvz; I think the most appealing way to me would be to define a companion module to my class that uses `module_function` to expose the interface I'm after. I'll close this issue since it was my bad :)

[2016-08-21 16:37] #1024 closed

[2016-08-21 17:14] adrianbn commented on #1023
That's a fair point; I do have a couple of private methods being flagged as utility functions as well.

[2016-08-21 23:22] backus commented on #673
I'm interested in helping implement this. What about a smell name like `ManualDispatchCheck`? A "type check" is a very overloaded term in computer science and it also doesn't totally signify what is going on here. Instead, the smelly code in question is manually checking whether it can dispatch a message to the object in question.

[2016-08-22 08:19] mvz commented on #673
This ticket is a little broader than just the manual dispatch: There's also the `when Bar` case, which also occurs as `if foo.is_a? Bar`, which *is* more of a type (or rather, class) check. I have no problem with those cases being a separate smell. They would all fall under what Reek calls Simulated Polymorphism.

[2016-08-22 08:54] mvz opened #1029 "Add examples of how to fix smells (in particular for NilCheck)"
Extracted from #1026.

[2016-08-22 08:55] troessner commented on #673
I like it a lot how we're separating this into meaningful units.

So so far we have:

* respond_to? -> ManualDispatch, wip right now.
* `is_a?` and `kind_of?` calls -> SimulatedPolymorphism, not there yet.
* `nil?` -> NilCheck, already existing.

WDYT?

[2016-08-22 08:57] mvz commented on #1025
I think how NilCheck is structured in #1026 may be a good start. `NodeFinder` is very general and can be re-used, and `NodeDetector` could have the list of node types and detectors injected and become general.

[2016-08-22 08:59] backus commented on #673
Great. Separating these into separate smells detectors makes everything way simpler

[2016-08-22 09:01] troessner commented on #1029
Thanks for extracting that. I think we should really make an effort to have multiple examples for every detector even though fixing smells is highly dependant on your domain logic and overall code set up.
It must be super frustrating for a new user to click on this helpful doc link to see something like "Yeah, that's a smell because of xyz" without giving examples of a way out.

[2016-08-22 09:26] troessner commented on #1007
Closing this one since Mutant is optional now.

[2016-08-22 09:27] #1007 closed

[2016-08-22 09:28] troessner opened #1030 "Re-introduce Mutant"
With #1007 implemented I'd love to discuss how we can re-introduce mutant "the right way".

[2016-08-22 09:35] troessner commented on #1023
I could argue now that

[code]

is a yet unnamed smell so far. Think about it: You're basically adding a method as a module function AND at the same time as a instance method.
Don't get me wrong, I've used this myself more than once in codebases, but for sure this doesn't sound like good architecture. Something along the lines of "SRP violation" but I'd have to give this a little bit more thought.

[2016-08-22 14:31] troessner commented on #1029
I also think that we expand the docs for [SimulatedPolymorphism](https://github.com/troessner/reek/blob/master/docs/Simulated-Polymorphism.md) significantly. My grandmother should be able to understand why this is bad and right now our explanation leaves a lot to be desired.

[2016-08-22 18:10] backus opened #1031 "Report ManualDispatch smell for code that uses `respond_to?`"
Extracted from #673:

Example of bad code:

[code]

Part of the "simulated polymorphism" family

[2016-08-22 18:11] backus commented on #673
@mvz @troessner I've opened https://github.com/troessner/reek/issues/1031 to represent *just* the manual dispatch part of this issue. This way I wont prematurely close this issue with my small PR

[2016-08-22 19:45] adrianbn commented on #1023
I'd say in any case. Using `extend self` with a private method results in the same behaviour for the class that includes the module as using `module_function`. From the module point of view the main difference is that the method is private.
[code]

I think that for consistency the code above should not trigger UtilityFunction either.

[2016-08-22 21:07] troessner commented on #1023
Ok, that is a long thread already, let's make sure that we are on the same page.

The problem is that Reek triggers UtilityFunction on

[code]

but not on

[code]

even though it **should** since module_function will create a private instance method.

That's the actual problem we're talking about, right?

[2016-08-23 07:34] mvz commented on #1023
Originally, it was the other way around.

Now it evolved into: since `module_function` creates a private instance method, and we don't flag methods created with `module_function`, shouldn't we allow private instance methods to be utility functions?

[2016-08-23 07:41] troessner commented on #1023
You mean like, i dont know, having a [configuration flag](https://github.com/troessner/reek/blob/master/docs/Utility-Function.md#configuration) that disables the smell detector for private methods? ;)

[2016-08-23 07:45] mvz commented on #1023
:laughing: well then, it should affect how we handle `module_function` as well then.

[2016-08-23 09:55] #1031 closed

[2016-08-23 10:01] troessner commented on #1023
But what exactly would you change?
Right now this:

[code]

is **not** reported which is the right thing. What is your concrete suggestion?

[2016-08-23 10:10] adrianbn commented on #1023
If I'm not lost after all, I guess that to be consistent then this:
[code]

should not be reported either, but I just tested and it is.

[2016-08-23 11:30] troessner commented on #1023
I'm hesitant with this.

This

[code]

is not the same as

[code]

In the `extend self` case you're explicitly creating an instance method. And you're making it private. Again, explicitly. `module_function` is doing all of this implicitly.

I agree that the result **looks** similar, but the way to get there is so different that I can't see the need for consistency.

But it's not just that: I also

[2016-08-24 20:32] troessner opened #1036 "Introduce rubocop-rspec"
@backus nudged me regarding [rubocop-rspec](https://github.com/nevir/rubocop-rspec) - looks interesting and relevant for us. Let's give it a shot - wdyt?

[2016-08-24 20:35] backus commented on #1036
Happy to help with the decision and with introducing the gem. Just like rubocop there is a lot of configuration options and features that can be overwhelming at first but over time help you strongly calibrate your preferences. I'm also looking for feedback on how the gem can be improved further (I've been acting as the primary maintainer for the last month or so).

[2016-08-24 20:41] backus commented on #1036
See the build for https://github.com/troessner/reek/pull/1037 to see what is flagged. Most obvious cop I expect you would disable is the `ExpectActual` cop since right now your rspec matcher basically makes it impossible to avoid this. Basically this cop says that you should not say `expect([LITERAL]).to ...` instead you should have `expect([thing under test]).to ...` but the `reek_of` matcher for

[2016-08-24 21:05] waldyr commented on #807
@jfelchner we just released version 4.4.0 which contains the requested.

Reek should not account memoized instance variables in the TooManyInstanceVariables smell anymore.

Could you try it out and check if everything is working as you requested?

[2016-08-24 22:14] mvz commented on #1036
@backus thanks for the demo. I can see how this will be very useful in making our specs consistent. One thing I see is that there are several cops that mention some exceeded maximum, without mentioning what the value actually is ('Maximum example group nesting exceeded', and 'Too many expectations.'). It would be useful to have the values shown, as 'Example has too many lines. [10/5]' does.

We co

[2016-08-24 22:15] waldyr commented on #961
@troessner @mvz I look forward to implement this feature.

How can it be achieved and how would you do it?

[2016-08-24 22:33] backus commented on #1036
@mvz I agree with the maximums I'm going to add an issue for that. In the meantime if you do `--auto-gen-config` it will show you what your maximum is and if you take a peek at `config/default.yml` in rubocop-rspec you can see what the default is for the gem itself

For `ExpectActual` unless you are writing specs for ruby itself (or maybe monkey patches) I'm not sure if that is actually a use case

[2016-08-25 05:58] mvz commented on #1036
That makes a lot of sense, yes :smile:.

I think we should rewrite the offending examples to store the source into a variable, since it will improve readability (newlines!) and stop suggesting that reeking is a property of strings.

[2016-08-25 06:03] mvz commented on #1036
To summarize: Yes, I think we should use rubocop-rspec, and we should use most if not all of its suggestions.

[2016-08-25 06:43] mvz commented on #1030
I recently added mutant to a private project and decided to go through all the classes and fix mutant issues in each one, rather than just adding the task and waiting for the build to break. This was very effective, but it is a a small project that I purposefully developed using quite strict TDD, and there was not a lot broken.

Based on this, I think we should start making one smell detector muta

[2016-08-25 06:44] mvz commented on #1027
If no-one has any other input, I'll have a go at implementing this.

[2016-08-25 06:53] mvz commented on #961
I think the idea would be to run the detectors both with and without the suppressions. The question is where do you put this duplication?

If you put it at the top, Reek would do a lot of duplicate work, since most detectors will have no suppressions for most of the code.

Therefore, it makes more sense to do the duplication at the bottom, i.e., when running one detector on one context: For a give

[2016-08-25 07:20] troessner commented on #1027
:+1

[2016-08-25 07:23] troessner commented on #961
Sounds like a plan @mvz !

[2016-08-25 09:12] troessner commented on #1030
I'm hesitant. As long as almost all PRs break because of "to_s" vs "to_str" or "==" vs "===" I don't think this will work. The Mutant community is of the opinion that those mutations are meaningful and I would disagree.
It would be great if Mutant would be configurable but we already discussed and it doesn't seem be an option in the near future.

What's your take on this problem @mvz ?

[2016-08-25 09:53] mvz commented on #1030
In my private project `#==` vs `#eql?` vs `#equal?`, and `#first` vs. `#last` were the most difficult to kill. I do see the usefulness of both mutations, however.

The first one forces you to think about your equality implementations and/or about the type of parameters you expect. For example, if you accept integers as parameters, you should think about whether you accept floats that have the same

[2016-08-25 09:59] troessner commented on #1030
Ok, fair enough.

Then I'm fine with proceeding like you suggested:

[2016-08-25 13:52] mvz opened #1040 "Kill the `examine` / `report_on` architecture."
The nested calling of `examine` and `report_on` is making it very hard to tease apart the Examiner / SmellRepository / WarningCollector classes. Also, it means we're continually updating the state of some collector class.

I'd like to go from this to a more functional style, where `#examine` just returns a collection of smells.

As part of this, I'd like to also clean up the division of labour bet

[2016-08-25 13:53] mvz commented on #1040
This will probably be a breaking change :smile:.

[2016-08-25 13:57] troessner commented on #1040
Yes, I couldn't agree. The current state of this is really bad. Quite some methods we only call for sideeffects and / or they can update an object that is buried down deep deep deep in some other objects.
👍 for a more functional style.

[2016-08-25 15:07] waldyr commented on #961
Thanks @mvz :)

[2016-08-25 17:36] backus commented on #1036
Awesome! Also, rubocop-rspec often tries to flag testing smells (which are generally indicative of code smells) so it should be up your alley. Also if you have ideas for new cops please open an issue and I'll likely implement it

[2016-08-25 19:54] backus commented on #1027
Big :thumbsup: for this. Having failing tests not look like normal RSpec failures was quite confusing when I was making my first contribution

[2016-08-25 19:59] backus commented on #1030
I had a long discussion with Markus on this mutation and I grew to agree with it. This mutation will always be frustrating if you are using libraries which, in certain contexts, return an array with exactly one element. The solution is to implement something like this `Reek::Util.one`:

[code]

I initially objected to this mutation because it basically forces you to write this method but I agree t

[2016-08-25 20:00] backus commented on #1030
You can also probably build up a "killing mutations" section in your CONTRIBUTING.md. These explanations could probably also eventually make it upstream to mutant. Markus eventually wants to add explanation/context for mutations that the tool can present.

[2016-08-25 20:19] backus commented on #1030
This is a category of mutations. So you aren't surprised, there are several mutations like this:

* `:to_s` → `:to_str`
* `:to_i` → `:to_int`
* `:to_a` → `:to_ary`
* `:to_h` → `:to_hash`

These have been discussed a lot. Checkout https://github.com/mbj/mutant/issues/447 and https://github.com/mbj/mutant/issues/218 for example.

Basically the argument is that, if an object responds to something lik

[2016-08-25 23:55] jhubert commented on #980
Ugh. Sorry for holding this up guys. We're rolling out to our largest customer ever at work and it's been crazy.

@troessner I'll take a crack at it tonight. My impression is that it's just the tests that need fixing?

[2016-08-26 06:14] troessner commented on #980
Yes, just the specs! There are a couple of minor things that have changed in the mean time (e.g. we refactored our sample files so that we don't have to do inline code samples anymore and just can [use our sample steps](https://github.com/troessner/reek/blob/master/features/step_definitions/sample_file_steps.rb#L3)) but that is something I can update after we merged this one.
So let's rather focus

[2016-08-26 06:36] mvz commented on #1030
@backus thanks for your explanations. I have a question about the implementation of `#one` you used. I see it uses `#first` so won't it suffer from the same mutations that you're trying to kill in the first place? I came up with an implementation like the following at some point, but I'm not sure I like it better:

[code]

[2016-08-26 16:22] #1027 closed

[2016-08-26 18:08] backus commented on #1030
@mvz the test for that method would be subject to the same mutation but I then kill that by passing in something like `instance_double(Array, first: "value")`

[2016-08-26 19:13] alepaez opened #1043 "Problems with 'refers to X more than self (maybe move it to another class?)'"
Hello Guys!

I'm stuck trying to make this code pass on reek 4.4.0 tests, can you guys gimme a hint on how this code should look like?

Reek is giving this warnings:

app/use_codes/utl_validate_fraud_analysis_params.rb -- 4 warnings:
  [55, 56]:FeatureEnvy: UTLValidateFraudAnalysisParams#validate_hash refers to required more than self (maybe move it to another class?) [https://github.com/troessner

[2016-08-27 08:11] troessner commented on #1043
Quite often Reek will not discover smells that are literally fixable in the place they occured but rather hint at flaws in your overall architecture. Or to put it differently: To fix the reported smells you rather need to fix the architecture.
Skimming your code I can already see a couple of questionable things, especially:

[code]

So you're having an instance method that calls a ..... class meth

[2016-08-27 09:04] troessner opened #1044 "ManualDispatch only reports once"
This

[code]

will report ManualDispatch once for the first respond_to? when it should report it twice.

@backus would you like to handle this?

[2016-08-27 09:21] backus commented on #1044
Sure

[2016-08-27 09:40] mvz commented on #1044
The second one is probably removed since it only differs by line number.

[2016-08-27 09:45] backus commented on #1044
@mvz correct:

[code]

is there something different I should have done for my implementation?

[2016-08-27 09:54] mvz commented on #1044
I recently fixed basically the same issue in NilCheck: 7d59f2adc775f5f26aaabe45b4716594f305b2f2.

Another option is to make the smells sufficiently different by including more information.

A third option would be to create some merging mechanism that would combine the sets of lines for 'identical' smells.

A final option would be to remove the `.uniq` on the list of smells, and perhaps fix *all*

[2016-08-27 09:58] backus commented on #1044
@mvz making the following change fixes the problem and doesn't fail any other specs:

[code]

is that sufficient?

[2016-08-27 10:56] troessner commented on #1044
You only need binding.pry since we require byebug already in our specs.

[2016-08-27 19:33] troessner opened #1045 "UnusedParameters will swallow UncommunicativeParameterName"

[2016-08-27 19:42] troessner opened #1046 "Quote names in SmellDetector messages"
Good:

UnusedParameters:

"has unused parameter 'xyz'"

Bad:

FeatureEnvy:

"refers to xyz more than self"

All names should be single-quoted like in UnusedParameters so that it is clear to the user that now we're talking about something in his source code.

[2016-08-27 19:48] troessner opened #1047 "Parameter handling in SmellDetectors not consistent"
Most of the time whatever is in `parameters` is a string but sometimes we use a symbol which is not only highly confusing but also leads to brittle tests like this one for UnusedPrivateMethod:

[code]

Should be string everywhere.

[2016-08-27 23:05] backus commented on #1044
Funny. I actually learned that pry does this when I was lurking in some other PR where you pointed this out to @mvz. This is actually just a global autocomplete I have which I should probably just update (when I type `pry⇥` it fills in `require 'pry'; require 'pry-byebug'; binding.pry`).

[2016-08-28 06:32] mvz commented on #1045
IIRC, this is intentional.

[2016-08-28 06:55] troessner commented on #1045
But what's the rationale behind it?

[2016-08-28 07:15] mvz commented on #1045
I'll see if I can dig that up.

[2016-08-28 07:16] mvz commented on #1046
Yes!

[2016-08-29 06:43] mvz commented on #1045
This was introduced in cd311ac9. The general idea is that we allow names starting with `_` only if they are unused.

[2016-08-29 10:54] mvz commented on #1045
Yes, the implementation done back then was a bit of a hack to avoid a different set of regexp depending on whether a parameter is used or not.

[2016-08-29 11:31] troessner commented on #1045
Great, then let's fix this ;)

[2016-08-29 23:15] backus opened #1049 "Missing documentation for instance variable assumption"
Running the latest version of reek on my codebase reported an `InstanceVariableAssumption` smell but the link (https://github.com/troessner/reek/blob/master/docs/Instance-Variable-Assumption.md) 404s

[2016-08-30 06:41] mvz commented on #1049
:scream:

[2016-08-30 09:36] troessner commented on #1049
Pretty bad that we missed this in #1017 😆
I'll come up with a PR to fix this in the next couple of minutes.

[2016-08-30 09:38] troessner opened #1050 "Define a checklist what is required for a new smell detector"
Coming from #1049

[2016-08-30 10:16] troessner opened #1051 "InstanceVariableAssumption problems with inheritance"
Given

[code]

Reek would report:

  [7]:InstanceVariableAssumption: Child assumes too much for instance variable @omg [https://github.com/troessner/reek/blob/master/docs/Instance-Variable-Assumption.md]

I don't think we should report here. I can't see anything dirty about it.
For me this smell detector was about doing things like this:

[code]

but **not** about the example above.

What do you g

[2016-08-30 11:02] #1049 closed

[2016-08-30 11:29] mvz commented on #1051
The example you give was part of what I had in mind. The idea is that you should create an `attr_reader` to use `@omg` in the subclass.

[2016-08-30 12:18] troessner commented on #1051
But that's a separate smell, isn't it?
That is basically the DirectAccess smell we discusses [here](https://github.com/troessner/reek/issues/483), right?

[2016-08-30 12:58] mvz commented on #1051
That one seems to be about assigning, and can be about an ivar that is introduced in the same class.

Yes, makes sense since without it the explanation is really incomplete.

[2016-08-30 21:16] backus opened #1054 "Error for certain malformed smell suppressions"
A while back after reading the [Smell Suppression](https://github.com/troessner/reek/blob/master/docs/Smell-Suppression.md) doc I thought I would be clever and apply my new knowledge about smell suppression. I added the following comment:

[code]

Fast forward to today: I'm grepping through our code and removing stale `:reek:*` comments. I get to this comment and check if I can lower the number. I

[2016-08-30 21:52] troessner commented on #1054
Hmmm, of the top of my head I believe we could mitigate this a lot by making our [configuration regex](https://github.com/troessner/reek/blob/master/lib/reek/code_comment.rb#L10) more lenient.

I'd definitely would be in favor of this as well.

Pull request welcome if not I can look into this in a couple of days as well.

[2016-08-31 19:33] waldyr commented on #1050
From the top of my head:

- [ ] Documentation
- [ ] Cucumber Scenario
- [ ] Rspec tests
- [ ] Smell Detector (with target expression)

[2016-08-31 21:06] mvz commented on #1050
:-1: for Cucumber scenario, at least not a separate one. I don't think it's needed, and we're trying (and failing) to bring down the number of scenarios. Maybe we can add new smells to the `samples.feature` feature.

:+1: for the rest.

[2016-08-31 21:24] backus commented on #1050
This is sort of off topic but it would be nice if you could do something like I did here https://github.com/nevir/rubocop-rspec/pull/174 that would basically ensure that you only have to write examples for smells once. Would reduce the likelihood of something like #1049

[2016-09-01 05:32] mvz commented on #1050
@backus yes that would be nice.

[2016-09-01 17:28] alepaez commented on #1043
Thank you very much troessner! Your tips were very valuable!

[2016-09-01 17:28] #1043 closed

[2016-09-01 21:38] waldyr commented on #961
They have a cop to do it [UnneededDisable Cop](https://github.com/bbatsov/rubocop/blob/master/lib/rubocop/cop/lint/unneeded_disable.rb).

Based on how they do it, Is it possible with today's Reek?
- Read the reek's magic comments
- Call the Detector being modified without the comments' configuration
- If there is no smell, flag it as unneeded.

[2016-09-02 08:32] mvz commented on #961
Well, like RuboCop this would be a slightly different detector. It needs to know about other detectors for example.

I think RuboCop's method works best if we *only* look at disabling, since then you only have to run the detector enabled. If we also want to look at other configuration (`max_something`, etc.), then we have to run the detector both with and without the inline config, which means ext

[2016-09-02 18:07] #1051 closed

[2016-09-05 10:02] troessner commented on #1040
Closing this one with #1041 merged!

[2016-09-05 10:02] #1040 closed

[2016-09-05 10:09] troessner commented on #994
Connected to #1001

[2016-09-05 10:13] troessner commented on #978
Closing this one with #992 merged!

[2016-09-05 10:13] #978 closed

[2016-09-07 13:55] pitosalas opened #1057 "Is there a way to turn off all smells so as to surgically turn on one or two?"
[Apologies if you don't like to have questions in this forum. Just let me know the more appropriate forum]

I want to turn off all smell detections and then only turn on one or two. Other than disabling all of them one by one is there a better way? Thanks!

[2016-09-07 14:08] troessner commented on #1057
I want to turn off all smell detections and then only turn on one or two. Other than disabling all of them one by one is there a better way?

2 options:

You can use the "--smell" cli option:

[code]

but that only works for one specific smell unfortunately.
Other than you can just use our [defaults](https://github.com/troessner/reek/blob/master/defaults.reek) reek config file and then just replac

[2016-09-07 14:17] pitosalas opened #1058 "Type Mismatch: String Given"
Here's the exception from Reek:

[code]

Here's the .reek file:

[code]

and Here's the source file

[code]

[2016-09-07 22:25] troessner commented on #1058
Off topic: You can use [github flavored markdown](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet) in github issues, please use that for further issues to improve the readability. I just went ahead and updated your content above.

On topic!

The problem is in your configuration file. You are using "reject" as the last attribute which is an invalid identifier. As you can see in our

[2016-09-08 02:28] pitosalas commented on #1058
Thanks. I think I may have found an error in your doc then:

https://github.com/troessner/reek/blob/master/docs/Uncommunicative-Variable-Name.md <https://github.com/troessner/reek/blob/master/docs/Uncommunicative-Variable-Name.md>

— Pito

[2016-09-08 08:42] troessner commented on #1058
No, you're right, my bad!

"reject" does work indeed, I think you just need to use it differently.

Looking at the [defaults.reek](https://github.com/troessner/reek/blob/master/defaults.reek) you can see this for UncommunicativeVariableName:

[code]

So using "reject" like above should work.
However, as you can see, we already have

[code]

so this shouldn't be needed on your side.

[2016-09-08 08:44] troessner opened #1061 "Make it possible to pass a list of smells to our "--smell" cli option."
Coming from #1057 - i think we should make it possible to pass a list of smells to our "--smell" cli option.

WDYT?

[2016-09-08 08:44] troessner commented on #1057
Closing this one with #1061 as follow-up.

[2016-09-08 08:44] #1057 closed

[2016-09-08 08:46] troessner opened #1062 "Validate the configuration in total before executing any smell detectors."
Coming from #1058 - the way we catch exceptions in our smell detectors actually masks errors users might make in Reeks configuration.

We should definitely fix this by validating the configuration in total before executing any smell detectors.
I'd consider this as rather urgent since it's very easy to fuck up and then be left with no clue what actually went wrong.

[2016-09-08 12:26] mvz commented on #1061
I think you can repeatedly use this option, like `--smell Foo --smell Bar`?

[2016-09-08 13:36] mvz commented on #961
So, one question that needs answering here is: Do we check:

* Only suppression?
* Other configuration?

[2016-09-08 14:03] troessner commented on #1061
Yes, but I believe this is a little unintuitive and cumbersome, don't you think?

[2016-09-08 14:44] mvz commented on #1061
OTOH, I always get confused when I have to pass a list, especially regarding the separators.

[2016-09-08 14:49] mvz commented on #1057
@pitosalas you can pass the `--smell` option multiple times, so you can turn on two or three smells that way.

[2016-09-08 19:20] troessner commented on #1061
Me as well, but if we document it properly in -h flag this shouldn't be an issue, should it?
Also, how about calling the flag "--smells" (so plural) to make it less confusing?

[2016-09-09 01:00] pitosalas commented on #1058
Thanks… Maybe include a proper example in the doc that reflects the exact syntax.

What I was trying to do was to allow variables ending with a number. I think there are lots of legitimate reasons for that and don’t want to call it out.

Can you give me the proper syntax for that?

Thanks.

Pito

[2016-09-09 12:19] troessner opened #1063 "UncommunicativeVariableName does not take regex configuration into account"
Found this bug while investigating #1058

Given this config.reek:

[code]

this:

[code]

shouldn't smell of UncommunicativeVariableName.
Unfortunately it does:

[code]

The reason for this behaviour is [here](https://github.com/troessner/reek/blob/master/lib/reek/smells/uncommunicative_variable_name.rb#L66):

[code]

We only check for literals here, not for regexes.
The other Uncommunicative* sme

[2016-09-09 12:23] troessner commented on #1058
I looked into it and it seems like you uncovered a bug- please see #1063 for details.

So

[code]

would have been the right way and it will after the bugfix ;)
To deal with this now I'm afraid you'll need to explicitly whitelist variable names like this:

[code]

[2016-09-09 12:30] troessner opened #1064 "Improve our /docs with configuration samples"
#1058 made me realize that our docs are still far from perfect. Something like [this](https://github.com/troessner/reek/blob/master/docs/Uncommunicative-Variable-Name.md#configuration) might seem good enough for power users but for it is repellent for new users.

I think that most if not all our smell detectors should have some configuration samples at the end.
It is not much effort for us and it

[2016-09-09 12:42] troessner commented on #1063
I'll tackle that in the next couple of days.

[2016-09-09 12:44] mvz commented on #1058
Prom the point of view of code quality I would in fact recommend this over blanket accepting variable names ending in a number.

[2016-09-09 13:01] troessner commented on #749
Closing this one with #1026 merged

[2016-09-09 13:01] #749 closed

[2016-09-09 13:02] troessner commented on #807
Closing this with #1032 merged.

[2016-09-09 13:02] #807 closed

[2016-09-09 13:03] troessner commented on #889
Connected to #1062

[2016-09-09 13:05] troessner commented on #938
Closing this one with #993 merged. It's still not documented but now it's consistent and easy to find out yourself. You basically get what you see.

[2016-09-09 13:05] #938 closed

[2016-09-09 13:05] troessner commented on #939
Closing this in analogy to #938

[2016-09-09 13:05] #939 closed

[2016-09-09 13:19] troessner commented on #1063
Working on this issue in #1065

[2016-09-09 14:01] troessner opened #1066 "Multiple problems with UncommunicativeVariableName detector"
Follow-up to #1065
The UncommunicativeVariableName smell detector:

* does not take the context into account, hence context based configuration via comments or config file is not working
* does not use the same configuration loading mechanism like all the other Uncommunicative* detectors

I stumbled across this years ago and thought "oh well, it looks like shit but hopefully isn't a problem".
And

[2016-09-09 15:34] mvz commented on #1061
Ok, let's give this a try. I agree multiple `--smell` arguments are confusing. Options for naming:

1. Keep `--smell` and deal with it.
2. Add `--only`, like RuboCop, and deprecate `--smell`
3. Add `--smells` and deprecate `--smell`.

I'm fine with 1.

[2016-09-09 15:38] troessner commented on #1061
I think option 3 is the most intuitive for users and I'd like to go in this direction. Deal?

[2016-09-09 17:18] waldyr commented on #1061
1 - Does not handle multiple smells at once, which is bad in my opinion
2 - Works well with multiple and singular smells at once, which is good.
3 - Does handle a singular smell but feels strange.

I'd rather go with 2 or 3 without deprecating `--smell`

[2016-09-09 21:28] troessner opened #1067 "Continue the work on our smell detector specs"
Merging #1056 was a great step into the right direction but I believe that our smell detector specs are still far from optimal.

I basically have two big issues with them:

1.) Checking for the contexts a smell detector is applied to.
We sometimes to it like [this](https://github.com/troessner/reek/blob/master/spec/reek/smells/class_variable_spec.rb#L64) which I consider the best way:

[code]

how

[2016-09-10 13:01] troessner commented on #1061
Let's go with "--smells" AND keep "--smell".

Everybody on board with this?

[2016-09-10 13:50] troessner commented on #1054
Fun fact: We also fucked this up, e.g. [here]{https://github.com/troessner/reek/blob/master/lib/reek/ast/node.rb#L89}

[2016-09-10 13:58] troessner opened #1069 "Problems with the way we handle CodeComments"
I see 2 huge problems at the moment:

1.) Something like

      # :reek:DuplicateMethodCall: { wtf is this!? }

is a **valid** expression looking at our [comment regex](https://github.com/troessner/reek/blob/master/lib/reek/code_comment.rb#L10)

2.) The comment above will lead to a Runtime error like this:

[code]

Obviously this is a catastrophe from a users perspective. Nobody will get this.
Thi

[2016-09-10 19:21] troessner commented on #1054
Looking into this in #1068

[2016-09-10 19:43] troessner commented on #994
Closing with #1056 merged!

[2016-09-10 19:43] #994 closed

[2016-09-10 19:43] troessner commented on #1011
Closing with #1056 merged!

[2016-09-10 19:43] #1011 closed

[2016-09-11 07:44] troessner commented on #1062
This has been bugging me for a while now, I'll handle this next.

Scope would just be the configuration file at bootup, not code comments that are read at runtime.

Thinking of slim cucumber features that:

* check for Detector existence
* key / attribute correctness for this detector

Combined with more specific Rspec examples.
I'll get this going next week ;)

[2016-09-11 19:45] troessner opened #1070 "Getting our data types right"
Let's get this right across Reek.
Suggestion:

* class or module names we carry around in hashes and configuration and what not should be designated by constants. So `DuplicateMethodCall`, not `:DuplicateMethodCall` or `"DuplicateMethodCall"`
* hash keys should be all symbols unless they designate classes / modules. See above.
* everything else like messages or parameters in smell warnings should

[2016-09-12 09:30] troessner opened #1073 "Update docs/Code-Smells.md"
Our README says:

for up to date details of exactly what Reek will check in your code.

Looking at it, we didn't follow this rule ourselves - we need to update this.

[2016-09-12 09:31] troessner commented on #1073
I'll handle this.

[2016-09-12 09:31] troessner commented on #1050
wip in #1072

[2016-09-12 14:09] troessner commented on #1062
Actually this is non trivial.
To do this properly we'd need to (pseudocode):

[code]

Also, lets look into yaml schema, this might help a lot.

[2016-09-12 14:50] troessner opened #1078 "Move directory directives under a special key"
Looking into #1062 i realize that it is very hard to validate our configuration because we  deliberately made it very ambiguous if something is a directory directive or a smell detector.
Validating our configuration AND handling most edgecases will be a nightmare.
I think we can make it easier:
- introduce a new top level key called "directories" analoguous to [exclude_paths](https://github.com/tr

[2016-09-12 18:17] mvz commented on #1069
Yes, that sounds good. We should in general make a difference between specific Reek-internal errors and the no-idea-what-just-happened-I-guess-we-broke-stuff kind. I have some ideas about this so I'll make a pull request.

[2016-09-12 18:23] #1063 closed

[2016-09-12 18:25] mvz commented on #1070
Fully agreed on points 2 and 3.

If we can do the first without having to do the conversion at an inconvenient time, then also agreed on 1.

[2016-09-12 19:43] troessner commented on #1069
A first sketch of what I have in mind:

* We pass in the context to [CodeComments](https://github.com/troessner/reek/blob/master/lib/reek/code_comment.rb) initializer
* In this initializer part:

[code]

we validate if we can create a valid SmellDetector out of the given options
* if we can't we raise a Reek::ConfigException that takes the calling context into account to present the user with a he

[2016-09-13 08:34] #1054 closed

[2016-09-13 08:36] mvz commented on #1067
I'd like to first get #1042 done, then I'll have another look at this discussion.

[2016-09-13 08:51] troessner commented on #1067
Yep, makes sense :)

[2016-09-13 10:03] #1073 closed

[2016-09-13 16:48] #1050 closed

[2016-09-13 18:37] mvz commented on #1062
We could let the detectors verify their own settings at set-up time.

[2016-09-13 19:12] troessner commented on #1062
Yeah, but this might get messy because we need to validate detectors from multiple angles. Comments, config and maybe something we don't think of right now.
Let me put up a prototype PR and then we can discuss in code ;)

[2016-09-13 19:31] #1046 closed

[2016-09-13 19:39] troessner commented on #1058
Just release 4.4.1 with a fix for this bug included, please update!

[2016-09-13 19:39] #1058 closed

[2016-09-13 22:04] troessner opened #1081 "Configuration via source code does not allow arrays"
Found that while working on #1080

This will work:

[code]

but this won't:

[code]

Running this will output:

Our [basic smell options docs](https://github.com/troessner/reek/blob/master/docs/Basic-Smell-Options.md) clearly state the following for "exclude":

[2016-09-16 23:02] troessner opened #1088 "Improvements to the way we currently handle internal Reek errors in detectors"
Related to #1069:

#996 will help a lot making Reek more resilient but as already outlined in #1069 we kind of forgot that the majority of all errors the user makes in either the configuration or the source code comments that would have caused Reek to crash before will now result in this:

[code]

Which is highly confusing for the user and might lead to a lot of false-positives issues in the long

[2016-09-17 07:44] troessner commented on #1044
@backus you still have this on your radar, right?

[2016-09-17 08:33] backus commented on #1044
@troessner Oh sorry I didn't followup at the time. I believe #1048 closed this issue

[2016-09-17 09:55] troessner commented on #1044
It did! Closing this one ;)

[2016-09-17 09:55] #1044 closed

[2016-09-17 11:22] mvz commented on #1088
Point 2 is definitely needed. I think we should and can differentiate the message in our error handler to show known user errors differently.

[2016-09-17 11:42] #1047 closed

[2016-09-17 17:14] troessner commented on #1088
I think this would be very hacky and brittle at best at the moment because we don't know what we, uhm, don't know :)

While I agree in theory, it might be that in practice this is **not** necessary anymore. We're working on validating the full configuration right now **and** on validating comments at runtime. As soon as this is done we don't need to differentiate at all because we can assume that'

[2016-09-19 18:52] prpetten opened #1092 "exclude_paths not getting picked up if current directory passed as argument"
Belos is my `config.reek` file which is located in my home directory

[code]

If I execute from the command line as shown below, I get the following results

[code]

Now if I comment out the first smell in `config.reek` like so:

[code]

And then rerun each, you see that the `reek .` was using that config file just not the exclude_paths portion.

[code]

If this is working as intended, and I can d

[2016-09-19 20:24] troessner commented on #1092
Hmmm, that's debatable indeed. From my POV: If you have a config file in your home directory but are referring to project directories I'd expect absolute paths in there, not relative ones to the working directory.
But you're absolutely right, this should be part of our documentation so people don't trip over it. I'll add a paragraph over the next days, thanks for bringing this to our attention!

[2016-09-19 21:01] prpetten opened #1093 "reek/spec rspec helper not picking up config.reek"
I tested with the following in `config.reek` file in my home directory.

[code]

Then in my rails_helper.rb

[code]

Then in my `spec/smells/reek_spec.rb` file

[code]

When I run my specs, I get a failure:

[code]

However when I run reek at the command line, I get no errors.

[code]

[2016-09-20 00:58] prpetten commented on #1092
@troessner I agree with you, it just surprised me when I executed `$ reek .` from my home directory, that it didn't pick up the `exclude_paths`.

[2016-09-20 01:01] prpetten commented on #1092
@troessner
I think it was the line from the read me, that is particularly confusing:
So
[code]
is the exact same thing as being explicit:
[code]

[2016-09-20 07:42] mvz commented on #1092
@prpetten Wait, so you're running reek from your home directory, the exact same directory where your `config.reek` is located? And you have a directory `app` right below that?

@troessner it looks like something more is going on here, since `reek` and `reek .` appear to behave differently. I can confirm that they behave the same when the config is not in the home directory.

[2016-09-20 16:21] prpetten commented on #1092
@mvz That's correct.

[2016-09-21 10:35] troessner commented on #916
Let's fix this, this is really annoying. I'm have a long flight ahead of me next week and I'll look into this.
But let's make it simpler. I believe our thought process above is too complicated.
I think the most basic relevant use case here is that somebody re-runs Reek with the --todo flag with the intention of updating this file so `bundle exec reek lib` is a success.

How about the follow super-

[2016-09-21 10:41] mvz commented on #916
Yes, let's go with that.

[2016-09-21 20:20] #1069 closed

[2016-09-21 20:41] troessner opened #1095 "Validate the config hash in source comments"
Follow-up to #1082
Now with the initial set up out of the way we need to go the next step and validate the config hash in source comments.
We right now would catch

[code]

but not:

[code]

After that we just need to plug the holes when it comes to our configuration file (there are some checks but they are not exhaustive) and we're golden! :)

[2016-09-22 10:58] #1088 closed

[2016-09-22 18:27] backus commented on #1036
Seems like this can be closed now that #1042 is merged :tada:

[2016-09-22 18:34] troessner commented on #1036
And closed it is ;)

[2016-09-22 18:34] #1036 closed

[2016-09-23 21:05] troessner commented on #1093
Hmmm, interesting. Yes, this seems like a bug on our side indeed.
Unfortunately I don't think there's a good workaround at the moment.
A hacky one (but maybe you're still interested):

* Monkeypatch Reek by re-opening our "should_reek" matcher and add a with_config method like we have for the "should_reek_of" matcher [here](https://github.com/troessner/reek/blob/master/lib/reek/spec/should_reek_of

[2016-09-23 21:19] troessner commented on #809
I'm not so sure if this ticket still makes sense.
We're in the process of validating:

* our configuration file before running Reek
* checking configuration via comments during runtime and handling them by outputting a warning
* have Examiner already catch incomprehensible source errors

So long story, seems like this issue is obsolete?
If nobody disagrees I'd like to close this one then to clean

[2016-09-23 21:22] troessner commented on #846
I don't think I'll ever look into this again because it's far from being a problem and I'd rather spent my time differently :)
Closing this one.

[2016-09-23 21:22] #846 closed

[2016-09-23 21:23] troessner commented on #1062
Duplicate to #889

[2016-09-23 21:30] troessner commented on #1078
With #961 close to the finishing which would in turn result in a Reek 5 release we should get this discussion here going as well :)

[2016-09-23 22:00] backus commented on #846
If you ever are interested in finding easy tweaks to improve the dockerfile you should checkout [hadolint](https://github.com/lukasmartinelli/hadolint)

[2016-09-23 22:06] prpetten commented on #1093
@troessner
Thanks for confirming I'm not crazy.
I've already moved to a `pronto-reek` approach for now, but if this gets back up and running, I'd love to revisit.

[2016-09-24 07:45] troessner commented on #846
Oh, this looks very nice, thanks a lot for the tip!

[2016-09-24 09:12] mvz commented on #1093
Another workaround would ve to move your project out of the home directory, if possible.

[2016-09-24 17:45] chastell commented on #809
Hm, I think this issue is about Reek API consumers being able to easily catch Reek-originating errors, so a bit orthogonal to the points above. That said – maybe we should address this when (or, y’know, _if_…) someone consuming Reek’s API actually hits this as an issue. :)

[2016-09-24 18:02] troessner commented on #809
Yes, but my point here was rather that with the road we're going down right now Reek would under **no circumstances** ever throw an exception and instead rather write on stderr.
So at the moment this ticket makes no sense :)

[2016-09-25 20:01] chastell commented on #809
No _custom_ exception; we can just as well throw something outside of our control (a gem we depend on raises, there are some system issues, etc.). _If_ we were to tag Reek-originating exceptions we should probably tag these (extend with a module + reraise), but – as I said – let’s get to this part of the discussion if there is someone who would actually find it beneficial. :)

[2016-09-26 07:03] troessner opened #1102 "A more structured approach to "how to validate stuff in source code comments""
I'd like to approach the "how to validate stuff in source code comments" more structured and analytical just for once ;)

**Requirements for validation:**

1.) Valid smell detector -> we already do that
2.) No garbage in the config hash which would in turn make `Yaml.load` crash. That's ready for review in #1101
3.) Validate config keys for a given, valid detector:
3.1) The basic smell detector op

[2016-09-26 10:16] mvz commented on #809
Yes, let's close this fornkw and reopen it if and when it becomes relevant.

[2016-09-26 11:47] #809 closed

[2016-09-26 11:48] troessner commented on #809
And closed it is ;)

[2016-09-28 17:44] troessner opened #1103 "Fix bad naming and module organisation in regards to smell detectors"
1.) SmellRepository is **not** a smell repository but instead a **smell detector** repository. PR for this is up in #1104
2.) /smells/ is an extremely misleading name. It should be "smell_detectors" and not "smells".
3.) /smells/ should only contain smell detectors. Not SmellWarning, not SmellRepository and not SmellConfiguration. It's super confusing that this namespace contain 90% smell detector

[2016-09-29 12:54] troessner commented on #916
And re-thinking this even further: What's the purpose of the --todo flag? Right, to ease the **adoption** of Reek into a bigger codebase that has not been developed using code quality tools.
If you have the need to continuously re-run Reek with the --todo you're doing something really wrong and probably should think about if you really want to use Reek at all because you're basically defeating its

[2016-09-29 14:01] mvz commented on #916
Re-running could serve the purpose of checking your progress towards good quality: Some exclusions may have become outdated. It's how I use rubocop's `--auto-gen-config`.

[2016-09-29 14:28] troessner commented on #916
But manually checking this given a bigger codebase will be very tedious and error-prone.
I doubt that anybody is using it like this.

Fair point. But Rubocop and Reek are hard to compare. Rubocops warning are far more volatile than Reeks ones on average. It's easier to fix a "foobar rescue false" than fixing a FeatureEnvy.
So I'm not sure that the comparison holds.

[2016-09-29 18:57] mvz commented on #1103
:+1: on all three points!

Some bits may need to be part of the reek 5 release, I haven't checked yet what bits are public API.

[2016-09-29 19:22] troessner commented on #1103
According to our [api docs](https://github.com/troessner/reek/blob/master/docs/API.md) none :)
SmellWarning is part of our API and would change from Reek::Smells::SmellWarning to Reek::SmellWarning but that should be irrelevant for the user.

[2016-09-29 19:32] mvz commented on #916
I think we're overthinking this a bit. I'd rather first make `--todo` useful for ourselves, and only then see if the way other people use it is good or bad: If their use leads to problems, we can always consider whether we want to accommodate it or discourage it.

This also means I think we can just describe how it works in the README, rather than give some reasoning based on how we now think this

[2016-09-29 19:34] #916 closed

[2016-09-29 19:38] troessner commented on #1102
Good idea! I'll come up with a wip PR later and then we can discuss the API.

Link pls?

[2016-09-29 19:41] mvz commented on #1102
Burn your getters: http://media.eurucamp.org/eurucamp/2013/jcoglan / https://github.com/jcoglan/burn-your-getters/tree/master

@chastell's talk: https://www.youtube.com/watch?v=pazYe7WRWRU

[2016-09-29 19:56] troessner commented on #1102
Awesome, thanks!

[2016-10-03 01:37] troessner opened #1111 "Refactor and split up SmellDetector (or BaseDetector hopefully soon)"
Seriously, that thing is getting way too big.

[2016-10-03 13:59] troessner opened #1114 "Refactoring smell detectors aftermath"
With merging #1110 we kind of broke our api [a liiiiiittle bit](https://github.com/troessner/reek/pull/1110/files#diff-96cc378dcdef180641176501f42183c7R147)

Now I don't think that is **that** big of a deal since:

1.) we don't have that many API clients (it's an assumption since we'll never really know, but i think it's safe to say that most people use the rake task or the binary)
2.) we're talki

[2016-10-04 23:04] wfleming opened #1115 "Generate specific Code Climate fingerprints for some issues"
Hi,

I'm an engineer at @codeclimate, and we've recently gotten some customer confusion from PR comparisons sometimes showing the same effective issue as both "fixed" and "new" on some issues from Reek.

The underlying logic we use in comparisons is based on the [`fingerprint`](https://github.com/codeclimate/spec/blob/master/SPEC.md#data-types) attribute that engines can optionally emit on issues.

[2016-10-05 02:56] troessner commented on #1115
Dataclump is probably affected as well plus others. If you need an exhaustive list I can check all detectors on columbus day.
But why not err on the safe side and use the "detector name + message " fingerprint for all detectors?

[2016-10-06 21:29] wfleming commented on #1115
It's a good question: we used to generate default fingerprints in very much that way.

What we found that was a lot of tools will emit rules like "missing semicolon" without further information. So with "detector name + message", if you were editing a large file that was already missing *1* semicolon somewhere (maybe because you've started using linters on an old code base), if you forgot another

[2016-10-07 00:20] troessner commented on #1115
There might be some extremely weird edge cases I'm forgetting right now, but I think, I **think** we should be fine with going ahead like this.

I just [updated the codeclimate-engine-rb](https://github.com/troessner/reek/pull/1116) dependency.

What else do you need? An official release?

[2016-10-07 13:19] mvz commented on #1115
Most edge cases should be gone, because we used to make the smell messages ignoring the line number. This means context + detector name + message will be pretty much unique.

There is at least one edge case since we added the line number as a unique attribute very recently: #1048. Looking at the related ticket #1044, ManualDispatch is that edge case.

[2016-10-07 15:48] wfleming commented on #1115
Thanks for updating that dependency. The change to that gem just added support for emitting the `fingerprint` attribute on the issues, not actually calculating a fingerprint, so no need for a release yet. Sorry if I wasn't clear about the scope of the gem change before. We'll try and open a PR here with actual fingerprint generation soon.

Thanks both of you for the info about the attributes on th

[2016-10-08 06:26] mvz opened #1117 "Report ManualDispatch once with all lines"
Following up from #1044, #1048 and #1115, I'd like to merge the ManualDispatch warnings for a given context, so we get one warning per method, but with all offending lines listed (similar to e.g., NilCheck).

[2016-10-08 06:53] mvz commented on #1000
I think we can safely declare #983 non-breaking.

[2016-10-08 06:55] mvz opened #1118 "Hide progress bar when STDOUT is not a TTY"
I don't think it makes sense to show the progress bar when piping to `more` or a file.

[2016-10-08 15:15] troessner commented on #1118
Ack.

[2016-10-08 15:17] troessner commented on #1000
But what about all the plugins, e.g. for vim and sublime?
Did you have a look at those as well?

[2016-10-08 15:58] troessner commented on #1117
Yes, yes and yes :)

[2016-10-08 16:04] mvz commented on #1000
@troessner see https://github.com/troessner/reek/pull/983#issuecomment-252407552

[2016-10-08 16:04] troessner commented on #1000
Yep, saw that one too late :)

[2016-10-09 15:39] mvz commented on #1030
I've thought about this a bit more and I changed my mind. Until it is possible to disable mutations like `==` to `equal?` and `[]` to `fetch`, I think mutant (unintentionally, I'm sure) enforces a particular style of coding that I find unpleasant both to read and to write. This is particularly annoying for the domains where these methods yield essentially the same result. Since one of the reasons

[2016-10-10 16:52] troessner commented on #1030
I agree. @mbj would you be willing to accept PRs that make mutators configurable?
I mean, what's the point of a tool if people shy away from it because they consider it too rigid ;)

[2016-10-10 17:06] troessner opened #1123 "Data types (again) and custom options"
Kind of related to #699 and #1070 but I think it's worth mentioning separately:

Let's transform this

[code]

to

[code]

And more importantly: Transform all keys used in detectors from string to symbol.

That's not only more coherent, it makes things like #1113 wayyyyy more easier.

[2016-10-11 06:42] troessner opened #1124 "/smell_detectors/ should only contain smell detectors"
Extracted from #1103

/smell_detectors/ should only contain smell detectors. Not SmellWarning, not SmellRepository and not SmellConfiguration. It's super confusing that this namespace contain 90% smell detectors and then those 3 classes as well. I believe SmellWarning, SmellRepository and SmellConfiguration should be at the top level

[2016-10-11 06:42] troessner commented on #1103
[1] and [2] has been merged and [3] extracted into a separate issue here: #1124
Closing this one.

[2016-10-11 06:42] #1103 closed

[2016-10-11 06:43] troessner commented on #1102
Quick update regarding:

1.) Valid smell detector -> we already do that
2.) No garbage in the config hash which would in turn make Yaml.load crash. That's ready for review in #1101
3.) Validate config keys for a given, valid detector:
3.1) The basic smell detector options
3.2) The detector specific options

[1] and [2] have been implemented, [3] is wip at the moment.

[2016-10-11 06:44] troessner commented on #1095
Fixed - closing this one.

[2016-10-11 06:44] #1095 closed

[2016-10-11 16:42] troessner commented on #824
Fixed with #1109 - closed.

[2016-10-11 16:42] #824 closed

[2016-10-11 18:41] mbj commented on #1030
No, and I've argued this many times, I should put up a blog post on why its a *really* bad idea to allow configuration of these in my current constraints.

[2016-10-11 18:42] mbj commented on #1030
These are not style, these are valid semantic reductions.

[2016-10-11 19:06] troessner commented on #1030
Ok, I'm trying to understand you here:
Following that rationale, do you think it's bad that Reek allows disabling smell detectors since they only care about semantics?

[2016-10-11 20:19] mbj commented on #1030
No. You can provide this feature at your OSS time for your users. I cannot. That simple. My policy for OSS is:

* Only support features I use for myself or one of my clients.

[2016-10-12 05:56] mvz commented on #1030
I agree, but for many types they are equivalant and force the use of particular methods. This means they have an influence on style.

[2016-10-12 05:59] mvz commented on #1030
That is a very sensible policy.

[2016-10-12 06:25] troessner commented on #1030
That's your right as an author, but you **do** want your software to be used (otherwise you wouldn't even bother to have this discussion) and by being so strict about it you'll basically kill that completely (since I'm pretty sure that not having the possibility to opt out of any mutator will alienate a lot, a lot of users).

So yes, that is fully up to you to decide, but I can have an opinion abo

[2016-10-12 07:34] backus commented on #1030
Someone started a fork recently which removes most of the mutations you have mentioned not liking in this thread: https://github.com/baseballlover723/mutant

[2016-10-12 10:46] mvz commented on #1030
@backus that could be useful and I'll see where it goes. I'd prefer a version where I can mark mutations as not relevant in the given code base.

[2016-10-12 16:18] mbj commented on #1030
Right now I'm happy if my software is useful for others, but I do not sacrifice efficiency formyself to get others using it.

[2016-10-12 16:20] mbj commented on #1030
OT: I've yet to be shown an example where these mutations are not universally valid. If that examples exists this discussion will go different, as I'd see it favorable to have the configurability as my own use cases will be affected.

Can we talk about the "offending" mutations and counter examples before trying to change my OSS development rules?

[2016-10-12 16:55] troessner commented on #1030
But it's **not** about changing **your** development rules. It's about making Mutant flexible enough so people can use to ensure that their development guidelines are met.
That would you still allow to ensure the integrity of your set of rules.
Making mutators optional wouldn't affect you at all - you could just choose to not do it :)

Ok, so let's assume that they all are valid in the sense that

[2016-10-12 19:05] mbj commented on #1030
Each single line of code I add to my projects increases the amount of maintainership.

Before you argue about a feature: Can we discuss the cases you found where these mutations are style?

[2016-10-12 19:06] mbj commented on #1030
Because its against my OSS rules to do something I do not need nor my clients need. Hence I'm willing to explore if my clients need it, so please get me the exact case where these mutations are style so I can discover a need.

[2016-10-12 19:31] troessner commented on #1030
Ack. That is the part of the deal you need to do on your side if you want to have people using your software. Not all requests, but at least the popular ones that are still in line with the overall goals (i believe my request from above is).

We don't have to. I agree that they are not style, but semantics. Doesn't change my statement - we still would like to ignore those mutators. As outlined abo

[2016-10-12 19:32] mvz commented on #1030
Our implementation of ModuleInitialize is an example:
https://github.com/troessner/reek/blob/master/lib/reek/smell_detectors/module_initialize.rb#L26

There are some mutations there that are easy to kill and improve the code, but after that the following mutation remains:

[code]

The existing code can be improved by changing it to `if node.name == :initialize`, but then I get the follwing two mut

[2016-10-12 19:35] mvz commented on #1030
The improvements mentioned above are in this PR: #1126.

[2016-10-12 19:36] mvz commented on #1124
Agreed.

[2016-10-12 19:41] mbj commented on #1030
So you consider using a comparision operator that would silently accept other types in many implementations (such as `#==`) a style issue? If so, I think unless we agree on that one we cannot find common ground.

My development strategy is always to remove unspecified semantics. Replacing coercing operators with non coercing operators is an improvement to the health of the code base. Its not a sty

[2016-10-12 19:52] troessner commented on #1030
I understand your arguments, I really do.
However I feel that you're way to stubborn since I believe life is about compromises.

I do respect your opinion but in this case I don't see any common ground for us and we'll probably not re-introduce Mutant, as sad as I think it is.

[2016-10-12 19:58] mbj commented on #1030
Thats your opinion, and its fine you tell me that one. See my perspective: OSS took a significant amount of my lifetime for a minimum gain. Hence I decided to limit it.

NP.

[2016-10-12 20:18] backus commented on #1030
@troessner you guys could probably make a third party gem happen though that could implement filtering. Basically, we could make a small implementation change in mutant that would change `Mutant::Mutator` to be injected (via the [default config](https://github.com/mbj/mutant/blob/master/lib/mutant.rb#L209-L241)). I talked to @mbj about injecting the mutator and he is open to that since he doesn't

[2016-10-13 04:41] #1115 closed

[2016-10-13 07:51] mvz commented on #1030
In the case where I as the implementor know there is no difference in practice for the types that actually occur, I would argue that it *becomes* a style issue. For these cases, there is no reasonable test setup that will kill the mutant, yet the code is both perfectly fine and not overcomplicated for the functionality provided.

I do not know of any implementations that will return true on `#== :

[2016-10-13 07:52] mvz commented on #1030
@backus I may have a look at that option. It will be some time before I get the chance, though.

[2016-10-13 07:57] mvz commented on #1123
Sounds good to me.

[2016-10-13 16:57] mbj commented on #1030
You transform a value to compare equivalency via a weak operator `left.to_s ==" right"` is 2 times less correct than `left.equal?(:most_primitive_literal)`, weak equivalency test + testing on presentation not the original value. That would be the most redundancy free implementation of what you can specify from your tests. Hence you should use this.

You all agree that a mutation from `a; b` to `a`

[2016-10-13 17:32] mvz commented on #1030
@troessner I think we can close this for now until such time as I've been able to take a look at @backus' suggestion

[2016-10-13 17:36] troessner commented on #1030
Ack!

[2016-10-13 17:36] #1030 closed

[2016-10-14 20:51] backus commented on #980
Hey guys I just wanted to chime in and say I love this new reporter. I think it is a great addition and I appreciate the work that went into it.

Also this issue can probably be closed now, right?

[2016-10-15 00:34] troessner commented on #980
It can!

[2016-10-15 00:34] #980 closed

[2016-10-16 03:40] troessner commented on #699
I'd like to back-pedal on this one big time. While waiting for the as-usual-fucking-late-flight I started looking into this and this would be a huge refactoring that would touch literally half of Reeks source files and tests.
Now that would still be ok but I have come to the conclusion that it is not worth because I don't think it will improve clarity. If anything, it will make things worse. I'm 1

[2016-10-16 03:53] troessner commented on #920
I did check out your generated doc page [here](https://github.com/coala/bear-docs/blob/master/docs/RubySmellBear.rst) - the way this looks is very confusing and I don't think people will use it like that.

That's exactly the problem I have seen over the years with things like that:

That all sounds nice and dandy ... until you run into the classic "oh, how the hell do I handle configuration?" prob

[2016-10-16 04:01] #920 closed

[2016-10-16 04:04] troessner commented on #1070
Not so sure this issue still makes sense:

class or module names we carry around in hashes and configuration and what not should be designated by constants. So DuplicateMethodCall, not :DuplicateMethodCall or "DuplicateMethodCall"

I think the only place where this actually happens is when we do it in our specs. Which is kind of ok.

hash keys should be all symbols unless they designate classes /

[2016-10-16 04:04] #1070 closed

[2016-10-16 07:38] mvz commented on #699
The one thing I would really like to get rid of is all the `MAX_BLAH_KEY = 'max_blah'` stuff we have lying around. However, this may be an orthogonal problem that can be fixed without symbolizing all the things.

[2016-10-16 07:38] mvz commented on #699
On not making a change that hits every file: :+1:.

[2016-10-16 07:45] Drenmi commented on #699
*Wild TEAM LEAD appeared.*

The technical merit for this is sound. Downside is it resists programmatic enforcement--and education is **at least** one order of magnitude more expensive than programmatic enforcement.

That said, if this has worked reasonably well so far, I am sure it is a price that can be paid. 😊

[2016-10-16 08:14] mvz commented on #699
@Drenmi we're basically only talking about hash keys here, and the choice is limited to strings or symbols. Not much enforcement either way.

There are configuration objects, but that's another story.

[2016-10-16 08:17] sils commented on #920
Hey @troessner coud you elaborate a bit on the problem? I'm not fully getting it and would love to know more.

I do agree that we have to improve on the documentation which is hard indeed. Configuration might not be as advanced as using a particular tool directly (usually it can be, sometimes there are technical issues) but usually enough to configure most projects properly.

We'd be grateful on a

[2016-10-16 15:57] troessner commented on #699
Fully agree with that in general. Big factor is with how many conventions like this you have to juggle at the same time. I think this is still manageable.

[2016-10-16 17:06] mvz commented on #920
@sils I can't speak for @troessner but on that page I see several parameters that when true enable a Reek detector, and several that when true disable a detector. I would at least make it consistent.

[2016-10-16 17:34] sils commented on #920
@mvz thanks for your feedback. Is there any practical disadvantage apart from making it hard for, say, reek users to migrate to coala?

Background: We're actively not mirroring exactly the original settings. This way the same settings will be available for other bears for other languages and there's no need to read up on everything again if a similar feature set exists. When making an abstraction

[2016-10-16 20:22] mvz commented on #920
@sils the main disadvantage for me would be that I can't look at my configuration and see at a glance which smells would be detected and which wouldn't. For me, that would be super-annoying.

For example, I may have:

[code]

I'd have to actually look at the documentation to see that attribute setters would now *not* be detected, whereas 'bad module name' would.

Maybe I'm misreading the documenta

[2016-10-16 20:55] troessner commented on #920
I fully understand why you do that. I really do. But that's exactly the point that doesn't and that has made my shy away from tools like that.

The overhead of the additional indirection (your format -> Reek format) works so long as you never have to actually tweak something. And then it gets super confusing. If I wouldn't know Reek I would be completely lost looking at your page.

[2016-10-16 22:19] sils commented on #920
@mvz @troessner thanks so much for your time and feedback. I'll try to get it to the right places so we can work on that.

@mvz ok IIUC we'd mainly have to improve naming to improve on your points.

[2016-10-17 05:36] mvz commented on #920
@sils Yes, naming, but also consistency. I also agree with @troessner on adding an extra layer of indirection in the configuration.

[2016-10-17 11:44] chastell commented on #699
My æsthetic is to go with symbol keys, but I agree it’s not worth doing at the moment, especially when we haven’t had an actual issue with this so far – so +1 for sticking to the current situation and reopening if needed.

[2016-10-22 20:16] andreaspixsy opened #1131 "FeatureEnvy too curious about what's inside lambda expressions"
I ran reek on https://github.com/tueksta/webstats/blob/master/importer.rb
and I got this smell warning:

[code]

In my opinion this is a false positive, as the args are not referred to by Importer#initialize at all: the lambda expressions should be considered by reek as yet another data entry as they will never be executed within the context of Importer#initialize - inspecting the the insides need

[2016-10-22 20:31] tueksta commented on #1131
whoops, wrong account :)

well, I can also imagine not snooping on lambdas at all. is there some configuration to have them ignored?

[2016-10-22 21:52] mvz commented on #1131
Hi, thanks for your bug report.

This is an interesting issue. First of all, I think Reek should probably consider each `arg` of each lambda as a separate entity. This would make the warning go away, since each `arg` only has one method called on it.

Second,

I'm afraid it's not really possible to determine this: If you're using `#each` with a block, that block is in a sense called in the context

[2016-10-22 22:11] tueksta commented on #1131
I agree, what I did is not a good final solution. (I also want to avoid specialized importers, as this is considered data and not logic - only with strict separation I retain the flexibility of adding and removing ImportSources without changing code for better scaling. Moving away from lambdas to a more proper representation of what they are trying to achieve will also get rid of the reek warning.

[2016-10-23 14:06] troessner commented on #1131
Agreed, let's fix this.

[2016-10-25 15:28] oliverklee opened #1133 "False positives for InstanceVariableAssumption when using before_action"
We have a controller that basically looks like this (simplified)

[code]

For this controller, Reek complains:
  InstanceVariableAssumption: Admin::UsersController assumes too much for instance variable '@user' [https://github.com/troessner/reek/blob/master/docs/Instance-Variable-Assumption.md]

I consider this a false positive. Reek should register the before_action that sets the user instance va

[2016-10-25 15:36] oliverklee opened #1134 "False positive for InstanceVariableAssumption with indirect initialization"
We have a facade class that basically looks like this:

[code]

For this class, Reek complains:

InstanceVariableAssumption: Facades::AdminDashboard assumes too much for instance variable '@recent_items' [https://github.com/troessner/reek/blob/master/docs/Instance-Variable-Assumption.md]

This looks like a false positive to me as the initialize method clearly initializes the instance variable (ind

[2016-10-25 17:32] mvz commented on #1133
Hello @oliverklee, thanks for your bug report. Rails encourages some special patterns that will cause Reek to report smells. Please see [the section Working with Rails in the README](https://github.com/troessner/reek/blob/master/README.md#working-with-rails) for details on which detectors we recommend you to disable.

[2016-10-25 17:37] #1133 closed

[2016-10-25 17:50] mvz commented on #1134
Hi @oliverklee, you are correct in that Reek does not check for any methods that are called in `#initialize` and that may set instance variables, or even `:attr_writer`s.

Due to the static nature of Reek's analysis, this is in general a very hard problem to solve, so I'm not sure we should even start.

One could also argue that this kind of indirection makes the code less clear, so the fact that

[2016-10-25 19:30] troessner commented on #1134
I agree with @mvz on this, what Reek is doing here is not optimal but when you defer initialization of ivars in the initializer to a method call this hints at bigger problems in your codebase.
That would be a smell though for which we have no detector yet. The DeferredInitialization smell ;)

[2016-10-25 21:27] oliverklee commented on #1133
@mvz Oh, I totally missed that addition to that section in the README. Thanks for the pointer!

[2016-11-04 03:37] markokajzer commented on #1092
Can confirm. Runnin `reek` in my projects root directory where also my config file is located yields 13 warnings while running `reek .` yields 51 warnings. The only thing that does not get picked up is the `exclude_paths` command which results in this difference. My config looks like this.

[code]

[2016-11-04 08:04] mvz commented on #1092
@markokajzer is your project root directory also your home directory?

[2016-11-04 08:07] markokajzer commented on #1092
Ah! The directory I executed reek in was `~/projects/foo/bar` and the config was on the root of _that_ folder.

[2016-11-10 03:06] fanjieqi opened #1136 "Question: Should the『rescue => e』trigger a UncommunicativeVariableName ?"
Excuse me, I have no idea should the 『rescue => e』trigger a UncommunicativeVariableName.
『rescue => e』is very common in ruby coding, so I guess maybe it should not trigger a UncommunicativeVariableName.

_English is not my first language, Sorry for my grammar mistake._

[2016-11-10 09:26] troessner commented on #1136
Reek reports `rescue => e` right now and I think it rightfully does so.

Sure. But you could make the same case for a lot of things we report, e.g.

`def foo; bar.map {|e| e.huhu  }; end`

even though it's clear what `e` points to.

[2016-11-11 06:49] Drenmi commented on #1136
I think `rescue => e` is a horrible idiom, and I'm glad that we're starting to challenge the status quo. 😀

Not only is that `e` uncommunicative, but we're also not stating anything about which exceptions we expect to see, which enables us to be lazy about our application design, and obscures our intentions (both to ourselves and to others.)

There are valid cases where we need to rescue from `Sta

[2016-11-12 16:43] PeterCamilleri opened #1137 "False positives of ModuleInitialize"
Two closely related issues with the following fragment of code:

[code]
(1) This generates the following warning:

[code]
even though it is a class initialize method and not a module initialiaze method.

(2) The :reek:ModuleInitialize directive is ignored. The only way to silence this report is to turn it off in the project's reek config file. I think this is a poor option since it prevents the de

[2016-11-12 18:43] troessner commented on #1137
Yeah, that's not something we can detect at the moment.
The AST for dynamically creating classes is vastly different than for creating it "regularly" (if there is such a thing as "regular" with Ruby).

[code]

vs.

[code]

Or in other words, we'd have to detect `Class.new` as well. That might open up a few more edge cases as well. WDYT @mvz ?

You have to put the comment above the module like this

[2016-11-12 18:47] troessner opened #1139 "Revamp our /docs"
Our /docs are good. I even think they are great. We put a lot thought into them and they are quite thorough.
We're still missing bits and pieces here and there due to the complexity of the domain Reek covers.
I'd like to go through all of them over the next days and document missing pieces that bubble up in issues like #1137 or #1058

I think that most if not all our smell detectors should have so

[2016-11-12 19:31] troessner commented on #1118
Merged #1122 - closing this one.

[2016-11-12 19:31] #1118 closed

[2016-11-12 19:34] troessner commented on #1123
Actually I'm backing down from this again.
First of all, we're using stuff like MAX_COPIES_KEY a lot in our specs, so removing this will clean up the detector a bit but might decrease readability in other places.
Also, the symbols don't work right now because we're getting strings from our config.

I do think that the changes above would be nice but I don't think the effort is worth it (because tr

[2016-11-12 19:34] #1123 closed

[2016-11-12 20:14] troessner commented on #1134
Closing this one.

[2016-11-12 20:14] #1134 closed

[2016-11-12 20:15] troessner commented on #1136
I think the issue is pretty clear, closing this one.

[2016-11-12 20:15] #1136 closed

[2016-11-12 20:28] troessner commented on #673
Quickly summarizing the status of this issue:

* respond_to? -> ManualDispatch: done
* nil? -> NilCheck: done
* is_a? and kind_of? calls -> SimulatedPolymorphism, not there yet.

So only the last bullet point is missing ;)

[2016-11-12 20:29] troessner commented on #699
Ok, seems like we have an agreement to leave it like it is, closing this one.

[2016-11-12 20:29] #699 closed

[2016-11-12 20:32] troessner commented on #1000
Well, what do you know, we got away with all PR's being not breaking anything and we don't have anything breaking on the horizon, so I'm closing this one ;)

[2016-11-12 20:32] #1000 closed

[2016-11-12 20:33] troessner commented on #1023
I think this has been discussed extensively, closing.

[2016-11-12 20:33] #1023 closed

[2016-11-12 20:35] troessner commented on #1078
@mvz any feedback from your side?

[2016-11-12 20:36] troessner commented on #1102
[3] has been done as well. I'm closing this issue to prevent it from becoming more messy and will create a follow-up issue for [4]

[2016-11-12 20:36] #1102 closed

[2016-11-12 20:38] troessner opened #1145 "Validate the data types given to our basic and custom configuration options via source code comment"
Coming from #1102 there's only one thing left to validate when it comes to configuration via source code comments: That the datatypes given to our basic and custom configuration options match the ones that the detector expects.

[2016-11-12 20:44] troessner commented on #1064
Dup to #1139 - closing this one.

[2016-11-12 20:44] #1064 closed

[2016-11-12 22:29] mvz commented on #1137
We are actually detecting `Class.new` (and `Struct.new`) in a few cases. It would be nice if we could consistently handle them the same way as `class Foo`. It will be tricky, since we assume the 'regular' way in quite a few places.

OTOH, we should probably not even look inside `def self.reset_host` at all in this case.

[2016-11-13 08:42] mvz commented on #1078
I don't know how complicated this would be, but maybe we can have a transition period where the old way works but is deprecated?

Also, is #961 a breaking change?

[2016-11-13 09:38] troessner commented on #1078
Supporting both ways will be incredibly hard I believe (might be wrong here, but thats my gut feeling).

I dont think so :)

[2016-11-13 10:07] mvz commented on #1124
All merged :tada:!

[2016-11-13 10:07] #1124 closed

[2016-11-15 22:50] jhubert commented on #916
Chiming in here a little late.

I'm setting up reek on a new project and I want to create a todo file taking into account my preferences that are already in a config file. For example, if I preset the following rule:

[code]

I would expect `rake -t` to not include any of those violations. In testing now (and based on the readme), it seems that it ignores that configuration entirely.

Is there any

[2016-11-16 20:44] troessner commented on #916
[Not really](https://github.com/troessner/reek/#beware-of-multiple-configuration-files).
I fully understand the need for this though. We made a decision if we wanted to support multiple configuration files and opted for the easier, less ambiguous solution - that is, to only support one configuration file.
So for now I'm afraid you have to mix your configuration into one file.

[2016-12-01 01:57] jhubert opened #1150 "Calls to super with arguments don't get counted as references to self"
This code triggers FeatureEnvy:

[code]

It looks like there was a change made in #768 to fix the `zsuper` version from triggering `UtilityFunction` but no such fix was put in place for FeatureEnvy.

[2016-12-03 01:36] jhubert opened #1152 "Report unnecessary suppressions"
Rubocop has a nice process where they let you know if you've unnecessarily suppressed a smell. It would be nice to have the same thing in reek so that my code doesn't end up littered with unnecessary comments while we refactor.

[2016-12-03 09:46] mvz commented on #1152
Some work is already in progress on this. See #961 and #1060.

[2016-12-09 07:01] mvz opened #1156 "Check processing of super and zsuper"
https://github.com/troessner/reek/pull/1151#issuecomment-264091375

[2016-12-20 07:59] mvz commented on #633
This has been implemented in #1017.

[2016-12-20 07:59] #633 closed

[2016-12-21 15:35] aercolino opened #1158 "NoMethodError for child.name"
Reek version 4.5.3

Admittedly unusual code in the line that caused the exception (found by debugging with RubyMine):

[code]

Output

[code]

[2017-01-02 20:22] mvz opened #1160 "Flag class, module, def nested inside def as a smell"
In at least one place, and I'm sure in several more, we take care to handle the case where a class, module, or regular method definition is nested inside a method definition. I think this is a little silly, and I think these should be flagged as a smell, since they usually either don't do what the programmer intended (i.e., they're interpreted as 'nested' classes etc, when their definition is actu

[2017-01-02 22:05] troessner commented on #1160
What do you mean with "take care"? Link? :)

[2017-01-02 22:27] mvz commented on #1160
We just removed one case here: https://github.com/troessner/reek/pull/1161/files#diff-f3ed2b751dc879ca719fec97feeec152L9

[2017-01-02 22:41] troessner commented on #1160
Ah, fair enough ;)
What smell would you report?

[2017-01-03 06:34] mvz commented on #1160
I'll give that some thought.

[2017-01-04 19:53] jhubert commented on #903
Just ran into this one as well.

[2017-01-04 21:07] troessner commented on #903
I'll look into fixing this the next weeks :)

[2017-01-05 18:02] troessner commented on #1158
Given the code itself this bug seems to be quite an edge case ;)
Thanks for the report though - we should fix this nevertheless of course.

[2017-01-06 20:24] troessner commented on #903
Actually the configuration via source comment is working for UnusedPrivateMethod - we also have a [spec](https://github.com/troessner/reek/blob/master/spec/reek/smell_detectors/unused_private_method_spec.rb#L108) validating this. I'll update the docs for this as well though, since it's still not obvious.

[2017-01-06 20:25] jhubert commented on #903
Yeah, I was only running into the PrimaDonnaMethod one.

On Fri, Jan 6, 2017 at 12:24 PM, Timo Rößner <notifications@github.com>
wrote:

[2017-01-06 21:28] troessner opened #1163 "Deprecate / Drop usage of fully qualified detector names for API users"
Coming from #1114

Let's drop this (quoting from [here](https://github.com/troessner/reek/blob/master/docs/API.md)):

[code]

This was an error to begin with since it exposes way to much of our internals to the world.
Just using the smell names (that are very unlikely to change) would have been fine.

[2017-01-06 21:29] troessner commented on #1114
Seems like there is not that much heat coming in ;)
Closing this one.

[2017-01-06 21:29] #1114 closed

[2017-01-07 21:17] troessner commented on #1131
The original code is not available anymore.
@tueksta how can we reproduce this?

[2017-01-07 21:28] tueksta commented on #1131
@troessner check out https://github.com/tueksta/webstats/commit/6aab3e2272e90a0d5e2fc0578bdaf06d6cfe47b9

[2017-01-07 21:49] troessner commented on #1081
Seems like this is highly specific to the "exclude" parameter and also to the TooManyInstanceVariables detector.
Failing test spec:

[code]

[2017-01-17 15:06] #903 closed

[2017-01-17 15:11] Drenmi opened #1165 "Introduce a --list option"
As per the [discussion here](https://github.com/troessner/reek/pull/1162#discussion_r96138695), it would be nice to have a `--list` option to print all the smells to aid exploration and configuration without having to visit the documentation.

The first question is what information is interesting to the user, and how much of it to display. 😀

[2017-01-17 16:27] rolandhawk commented on #903
cool thanks @troessner

[2017-01-17 18:16] troessner commented on #903
Just released the bugfix, please upgrade.

[2017-01-17 18:17] troessner commented on #1165
How about just displaying the name and a direct link to our docs in reference to how we display it in warnings?

[2017-01-18 18:28] gunjanaggarwal opened #1168 "Unable to install/launch reek sucessfully"
I am trying to install and use the latest version of reek on my ubuntu (16.04 LTS) machine.
I have :
ruby version : ruby 2.3.1p112 (2016-04-26) [x86_64-linux-gnu]
gem version : 2.5.1

When I executed command `sudo gem install reek`, I got following error:
[code]

After that, I executed command `sudo apt install ruby-reek` which successfully installed reek. But now when I try to execute reek as fol

[2017-01-18 20:04] troessner commented on #1168
You're trying to install Reek version 2.5.1?
That one is **years** old. Please try the latest version.
Also I'd rather recommend using rbenv as ruby version manager and not the ubuntu distribution packages (every time i see a "sudo" in front of a "gem install" a kitten dies).

But even without that a

`gem install reek`

should work out of the box.

[2017-01-18 20:23] gunjanaggarwal commented on #1168
Hi,

Thanks for the reply. I get the following error with `gem install reek`:
[code]

But, I just tried to install reek again using `sudo gem install reek` (sorry about another kitten), after removing the reek I installed using `sudo apt install ruby-reek` and it installed reek successfully.

Thanks.

[2017-01-18 20:33] troessner commented on #1168
Good to hear that ;)

[2017-01-18 20:33] #1168 closed

[2017-02-01 20:27] andyw8 opened #1169 "Reek still tries to process excluded files"
I'm using reek 4.5.4. My `.reek` config contains:

[code]

When I run `reek app`, it reports a warning:

`Source app/gulp/javascripts/opal/bigdecimal.js.rb can not be processed by Reek.`

Possibly related to https://github.com/troessner/reek/issues/1092.

[2017-02-02 09:19] mvz commented on #1169
I'm also interested why Reek thinks it cannot process an opal file.

[2017-02-02 21:36] andyw8 commented on #1169
I'm not familiar with Opal, but the file in question doesn't look like valid Ruby.

[2017-02-03 06:29] mvz commented on #1169
Time to squash that bug. I'll take a stab at it this weekend.

[2017-02-05 09:38] mvz opened #1175 "Unify reference counting."
We currently have two overlapping reference counting mechanisms:

There is ReferenceCollector, which only counts references to self, and there is ObjectRefs, which keeps count of references while ContextBuilder is walking the tree.

I don't even know if these two mechanisms give the same result for references to self, but they should be merged to avoid duplication.

[2017-02-05 10:05] troessner commented on #1175
Fully agree, right now this set up is a bit confusing.

[2017-02-05 10:09] #1117 closed

[2017-02-05 12:52] mvz commented on #1169
This has been fixed in master.

[2017-02-05 12:52] #1169 closed

[2017-02-05 12:53] mvz commented on #1092
This should be fixed in master.

[2017-02-05 12:53] #1092 closed

[2017-02-05 21:37] andyw8 commented on #1169
Thanks @mvz !

[2017-02-18 07:47] mvz commented on #1156
Fixed in #1176.

[2017-02-18 07:47] #1156 closed

[2017-03-05 16:29] texpert opened #1190 "False InstanceVariableAssumption on memmoization"
The ivar memoization with 'if defined?' is giving a false positive 'InstanceVariableAssumption: GoogleAuth assumes too much for instance variable '@refresh_token'.

[code]

[2017-03-29 17:43] IanWhitney opened #1196 "Should `exclude_paths` configuration be respected when checking a file in that path?"
Config.reek contents:

[code]

`reek .` returns no smells, but `reek db/migrate/20170328163910_create_features.rb` returns 3 smells.

Should reek respect the exclude_paths config options when passed in a file in an excluded path?

[2017-03-29 19:56] troessner commented on #1196
I understand that this is confusing but I consider it a feature rather than a bug ;)
I consider passing Reek an absolute path a way of saying "I really, really want to have this checked".

Like I said above though, I understand that this is confusing and I'd be open to a pull request that still ignores the file but then prints something like "You told me to check file xyz but this file is under an

[2017-03-29 20:20] IanWhitney commented on #1196
The problem we run in to is when we combine Reek with a automated runner like [Overcommit](https://github.com/brigade/overcommit).

When Overcommit runs its pre-commit hook it looks for all files that have changed. It then passes each file to Reek with an absolute path. So if we've changed a file in db/migrate we get a Reek error.

[2017-03-29 20:23] troessner commented on #1196
Fair point. I'm open to changing the behaviour but I'm swamped at the moment unfortunately, so this might take a while :-/
@mvz would you be up for this?

[2017-03-29 20:35] IanWhitney commented on #1196
We may be able to help as well. But I didn't want to create PR without first checking to see if the PR would be welcomed.

[2017-03-29 20:45] troessner commented on #1196
That would be great, happy to help you with that PR as well.

[2017-03-30 01:48] Drenmi commented on #1196
Just to chip in, I personally very much appreciate this behaviour. (It works the same for RuboCop.) If it is changed, please let's add a flag that still allows me to inspect it. `--force`?

[2017-03-30 07:29] mvz commented on #1196
@IanWhitney which version of reek are you using?

[2017-03-30 07:36] mvz commented on #1196
@IanWhitney never mind, I can reproduce this with current reek.

The handling of exlude paths was changed recently: Before, reek completely ignored it when paths were passed on the command line. My intent was to make it always honour the exclude paths, but it looks like we're now somewhere in the middle (note that `reek db/migrate` will not report any smells).

[2017-03-30 08:16] troessner commented on #1196
I like this idea a lot.

[2017-03-30 09:30] mvz commented on #1196
I would prefer to make the behavior as much the same as RuboCop's as possible, preferably identical. RuboCop has the option `--force-exlusions` or something like that to help with tools like overcommit and pronto.

[2017-03-30 09:48] troessner commented on #1196
Sounds good to me as well. I don't really care for the precise solution but for a consistent, flexible solution.

[2017-03-30 16:57] IanWhitney opened #1198 "Cucumber tests not run by `bundle exec rake`?"
Looking at the Readme

https://github.com/troessner/reek#developing-reek--contributing

I thought Cucumber tests would run with `bundle exec rake`

But after setting up a Cucumber test that I knew would fail, `bundle exec rake` continued to tell me that all my tests were green.

Running `bundle exec cucumber` ran the features and showed me my failing test as expected.

[2017-03-30 17:04] IanWhitney commented on #1196
Here's the feature test that I'm starting from. Once this is passing I'll submit a PR

https://github.com/umn-asr/reek/commit/05214c1ba72e3e30bf22905c961c3cd25dd36c52

[2017-03-30 20:21] troessner commented on #1196
The cucumber feature looks good to me ;)

[2017-03-30 20:29] troessner commented on #1198
Good catch! Just pushed [a fix](https://github.com/troessner/reek/pull/1199) for this.

[2017-03-31 01:44] Drenmi commented on #1196
@mvz: Corright. The flag is `--force-exclusion`. 🙂

[2017-03-31 12:51] mvz commented on #1198
This seems wrong; I'll look into it more this weekend.

[2017-04-01 07:51] troessner commented on #1198
Pretty sure that was intentional back then since our cucumber features are slower than a snail on opium :-/

[2017-04-02 08:35] mvz commented on #1196
I would prefer moving those two new tests to a second scenario in the same file.

[2017-04-04 21:09] #1196 closed

[2017-04-05 20:36] IanWhitney opened #1202 "Exclude paths isn't honored when given an absolute path"
Given a config.reek file with

[code]

The command `reek -c config.reek --force-exclusion ./smelly_code/smelly.rb` works as expected

But the command

The command `reek -c config.reek --force-exclusion /absolute/path/to/smelly_code/smelly.rb` does not. The exclusion is not honored and code smells are reported.

This comes up if you use an automated runner of reek that converts all relative path to

[2017-04-05 20:54] #1202 closed

[2017-04-05 22:54] IanWhitney opened #1205 "Thanks for the help!"
Not an issue, but there's no other way to do these sorts of things in GitHub.

Wanted to let you know that I put up a quick guide to the new flag and how it can be used by Overcommit.

http://designisrefactoring.com/2017/04/05/combining-reek-and-overcommit/

[2017-04-06 18:01] mvz commented on #1163
To expand on my 👍: Yes, this is definitely a great idea. We should do this in a couple of steps.

* [ ] Remove this from the documentation.
* [ ] Explicitly deprecate it, i.e., emit a warning when it is used.
* [ ] Remove it for the Reek 5 release.

[2017-04-06 18:10] mvz commented on #1190
Yes, Reek unfortunately cannot detect this style of memoization. This is mainly since there are just so many different ways to phrase it.

That said, if you don't expect `auth.credentials['refresh_token']` to return nil you can use `@refresh_token ||= auth.credentials['refresh_token']` instead (If only there were such a concise way for checking with `defined?`!).

(Is there a particular reason you

[2017-04-06 18:13] mvz commented on #1198
I just checked, and when I run `bundle exec rake`, both RSpec and Cucumber tests are run. Something else must be going on here. @IanWhitney does your scenario show up when you run `bundle exec cucumber features --format progress --color` (this is what the rake task does)?

[2017-04-06 18:20] mvz commented on #1198
Thank you for this brilliant simile!

[2017-04-06 18:22] troessner commented on #1163
Sounds good to me ;)

[2017-04-06 18:25] mvz commented on #1150
This was fixed in #1151. Thanks, @jhubert!

[2017-04-06 18:25] #1150 closed

[2017-04-06 18:35] texpert commented on #1190
I certainly know about `||=` but this is the case with possible nil.

Regarding the `attr_reader :refresh_token` it was long since refactored as long as the whole bunch of code. But there are such memoizations in other places too.

[2017-04-06 19:13] mvz commented on #1190
Ok, thanks for clarifying. We'll need to put some thought into how we can detect this case.

[2017-04-06 20:37] troessner commented on #1205
Appreciate the blog post about Reek, thanks!

[2017-04-06 20:37] #1205 closed

[2017-04-18 20:15] cobbr2 opened #1207 "Can't comment-suppress UtilityFunction smell for private def"
I *hope* I'm just misspelling something, but I'm seeing the following:

[code]
does *not* suppress, but

[code]
does. Is there some different magic necessary to get the comment-based suppression to work for `private def` (and presumably `protected def`)?

Full set of my tests and their output is at https://gist.github.com/cobbr2/8ba8523fea3a9c08811211a608a60ab6

$ reek --version
reek 4.6.1
$ ruby

[2017-04-18 20:26] troessner commented on #1207
I can confirm this locally - excellent bug report, thank you for this!

[2017-04-19 16:06] mvz commented on #1207
In the AST, the comment is probably associated with the `private`, instead of with the `def`.

[2017-04-19 16:12] mvz commented on #1198
@IanWhitney can you give us some more info on this please? Is your scenario run when you do `bundle exec rake ci`? What is the name of your scenario file?

[2017-04-19 17:05] IanWhitney commented on #1198
This can be closed. Thanks.

[2017-04-19 17:05] #1198 closed

[2017-04-19 17:06] IanWhitney commented on #1198
I must have been typing the wrong command or something. Not sure what was going on here. But from what I see now `bundle exec rake` does run the Cucumber tests as expected. Sorry for the confusion.

[2017-04-20 02:03] IanWhitney opened #1208 "Support a reek configuration file with multiple yaml documents"
I noticed that this config.reek file didn't behave as I expected

[code]

This is because a single yaml document can't have duplicate keys, which I didn't know until now.

But a yaml file can contain multiple documents, each of which can contain the same key

[code]

The [code that parses the yaml](https://github.com/troessner/reek/blob/58bb1ff752ed68b6fd3bb5d56a4de43d14c8707a/lib/reek/configurati

[2017-04-20 02:03] IanWhitney commented on #1208
PR for this is on the way, if you want to support this usage.

[2017-04-20 05:48] mvz commented on #1198
Thanks for the clarification, @IanWhitney.

[2017-04-20 09:04] troessner commented on #1208
Back then we had a long siscussion if we wanted to support multiple configuration files and made a conscious decision to not do so.
I'd be open though to support multiple documents in one file. @mvz wdyt?

[2017-04-20 09:32] mvz commented on #1208
I think the same arguments apply. In the end, I don't think the extra complexity is worth it, both from the perspective of keeping the configuration human-readable, and from the perspective of the implementation.

[2017-04-20 09:43] troessner commented on #1208
Fair enough.

@IanWhitney the involved code changes seem to be fairly minimal. Would monkey patching for you be an option?

[2017-04-20 11:09] mvz commented on #1208
My guess is making reekup smarter is the best solution here.

[2017-04-21 01:24] #1208 closed

[2017-04-21 01:26] IanWhitney commented on #1208
Sure. If we come up with something that works I'll let you know.

[2017-04-26 23:56] jakswa commented on #1190
:+1: for this one. I spent a good while trying to refactor away from this memoization style, because of reek. Recently I became fed up enough to dig into a more-correct pattern, only to find out that my code shouldn't reek. :smile:

[2017-04-27 08:04] mvz commented on #1190
Another workaround may be to use one of the existing memoization gems.

[2017-04-27 08:15] Drenmi commented on #1190
Do you mind sharing your research? At first glance, "defined checks" seems like a lower circle of hell than "nil checks" to me, but it sounds like you found something that made you decide that this is fine. I haven't really encountered code like that myself, so asking mostly out of curiosity. 🙂

[2017-04-27 13:29] jakswa commented on #1190
When I became disheartened by my flailing refactor attempts, I only found this thread, which seems to state that it's a bug upwind, in the nose. As far as I know, there isn't a way around using `defined?`, if you want to ensure a possibly-nil-returning statement is only called lazily, and once.

I feel like I lost you here. Neither of these two memoization patterns deal with a `nil?` check, that I

[2017-05-15 09:52] pocke opened #1215 "[Feature Request] Introduce Syntax smell"
Problem
-------

Currently, if project has a ruby file that is with a syntax error, Reek stop the analysis.
This behavior have been introduced by #1185 from reek v4.6.0.

By this behavior, we can notice syntax errors.
However, we can't get analysis results of ruby files that doesn't have syntax error also.

This behavior has problems when we use reek on editor integrations, code review as a servic

[2017-05-15 10:22] troessner commented on #1215
Good point :)

I like the idea. @mvz ?

[2017-05-15 18:33] mvz commented on #1215
Yes, this makes a lot of sense.

[2017-05-21 05:12] pocke commented on #1215
Thanks, I'll work on it.

[2017-05-24 12:51] adrianbn opened #1216 "Can't disable PrimaDonnaMethod Smell inline"
There seems to be an issue when trying to disable the PrimaDonnaMethod smell inside a Ruby file as opposed to reek's config file.  I've tried with both reek 4.2.3 and the latest 4.6.2. Take this code example:
[code]

Now run reek on it:
[code]

Am I missing something here? Thanks!

[2017-05-24 13:30] mvz commented on #1216
You need to place the comment outside the class. This is a little confusing but has to do with how this particular detector is implemented.

[2017-05-24 13:45] adrianbn commented on #1216
Ah, got it. When I was trying it outside the class I was using the example in https://github.com/troessner/reek/blob/master/docs/Prima-Donna-Method.md and it has a typo, a final semicolon after the smell name.
It says
`# :reek:PrimaDonnaMethod: { exclude: [ bravo! ] }`
where it should say
`# :reek:PrimaDonnaMethod { exclude: [ bravo! ] }`.

But tested without the extra semicolon and it works with

[2017-05-24 14:35] troessner commented on #1216
Thanks a lot for the pointer, fixed in #1217

[2017-05-24 14:35] #1216 closed

[2017-05-25 16:32] mvz opened #1219 "Can we move Dockerfile so it has a name that somehow says codeclimate?"
This is not urgent, but I'd like to move the Dockerfile so its purpose is more clear and to optionally have that filename free for e.g. creation of a testing container or whatever. I don't know if that's possible according to the codeclimate spec.

This is part of a larger goal I have of having the codeclimate stuff in one place rather than mixed with the rest of the reek code base.

[2017-05-25 16:39] maxjacobson commented on #1219
👋

Feel free to check the etsy/phan project's approach for keeping the codeclimate stuff isolated: https://github.com/etsy/phan/tree/master/plugins/codeclimate

We can update our internal build process to make it aware of a similar change to reek - we just need a build command. For phan it's:

[code]

[2017-05-25 16:42] mvz commented on #1219
Hi @maxjacobson, that's great to hear. I'll take a look at what phan did and keep you posted if we make any changes.

[2017-05-31 15:10] #1215 closed

[2017-06-03 07:34] mvz opened #1224 "Codeclimate runs seem broken"
It looks like codeclimate [is failing](https://codeclimate.com/github/troessner/reek/pull/1222) for our repositiory, and it's failing when running Reek. We should investigate.

[2017-06-03 07:45] troessner commented on #1224
Ack ;)

[2017-06-03 11:52] pocke commented on #1224
I guess the cause is syntax smell. I added 'Syntax' to default.reek. However, the smell is not available in a reek that is in CodeClimate.
https://github.com/troessner/reek/blob/master/defaults.reek#L69
So, I think we can try one of the followings.

- Wait a release of new version in CodeClimate.
- Remove 'Syntax' from default.reek
  - I don't know that is right way.

[2017-06-03 12:11] mvz commented on #1224
Or:
* Be more lenient about unknown smell names.

[2017-06-03 13:47] troessner commented on #1224
I am not a fan of being more lenient. There was a reason why that check is actually there ;)

Maybe there is way to overwrite this check when running in a codeclimate environment? That might be an option.

[2017-06-03 15:42] maxjacobson commented on #1224
I'm happy to update the version of reek running on Code Climate as a short-term fix.

[2017-06-03 16:58] troessner commented on #1224
That'd be great @maxjacobson

[2017-06-03 18:14] maxjacobson commented on #1224
@troessner sounds good. I noticed one issue with the new smell, and I've opened this PR: https://github.com/troessner/reek/pull/1225 .

[2017-06-03 19:44] mvz commented on #1224
By lenient I mean not totally error out at least.

[2017-06-03 20:02] troessner commented on #1224
I think there was a reason for this strictness but i really cant recall what it was :D

[2017-06-07 16:39] maxjacobson commented on #1224
![screen shot 2017-06-07 at 12 40 00](https://user-images.githubusercontent.com/1421211/26890044-3e0bb01c-4b7e-11e7-8943-b2b336caa869.png)

https://codeclimate.com/github/troessner/reek/builds

I triggered a refresh build after releasing 4.7.0 + that fix and it seems to have worked :)

[2017-06-07 16:40] troessner commented on #1224
Nice! Thanks for the effort :)

[2017-06-07 19:46] mvz commented on #1224
Thanks, @maxjacobson.

[2017-06-07 19:46] #1224 closed

[2017-06-09 17:21] AndrewRayCode opened #1227 "Irresponsible Module doesn't work when only method calls present"
[code]

[2017-06-10 18:11] troessner commented on #1227
Wow wow wiwa! That is definitely a problem. I just reproduced this with the following spec that I appended to our existing spec for IrresponsibleModule:

[code]

I did check if we didn't have an existing spec that would cover this case and indeed we have one that is at least a bit similar, which you can find [here](https://github.com/troessner/reek/blob/master/spec/reek/smell_detectors/irresponsib

[2017-06-10 20:08] mvz commented on #1227
It seems the intent of that spec was that Bravo, Charlie, Delta and Echo would not be reported. Something clearly went wrong with Alfa, though.

[2017-06-11 05:49] AndrewRayCode commented on #1227
It was introduced here https://github.com/troessner/reek/pull/595/files It seems like two of the added specs here are wrong, because two un-commented tests starting with `module Qux` don't reek

[2017-06-11 06:29] mvz commented on #1227
Yes, it took me a while to understand my line of reasoning from back then, but it's the namespace module thing that's tripping us up here. The specs are not very clear about that part, because it is incidental to what's being tested right there.

I propose the following two fixes:

* Update the specs to make it clearer when there's a namespace module.
* Update the check for namespace modules to *o

[2017-06-11 08:06] troessner commented on #1227
@mvz +1 on your proposal. Are you gonna tackle this?

[2017-06-11 08:41] mvz commented on #1227
Yes, I am.

[2017-06-12 07:19] mvz commented on #1227
This is fixed in Reek 4.7.1 🎉

[2017-06-12 07:19] #1227 closed

[2017-07-11 12:24] oliverklee opened #1231 "DuplicateMethodCall gives false positive for variables in lamdas"
With this class …

[code]

Reek complains about this.

[code]

However, as these are lambdas, there are not 3 calls, but 2 + 1.

[2017-07-11 12:25] oliverklee commented on #1231
And this warning is the same problem:

  [20, 22]:DuplicateMethodCall: CurrencyInput#input calls 'currency[1].fetch(:iso_code)' 2 times [https://github.com/troessner/reek/blob/master/docs/Duplicate-Method-Call.md]

[2017-07-11 12:25] oliverklee commented on #1131
#1231 might be related.

[2017-07-16 14:40] spilth opened #1232 ".reek file should use .yml extension"
The default configuration file should use a `.yml` extension so intelligent text editors can provide YAML syntax checking and functionality ([a la Rubocop](http://rubocop.readthedocs.io/en/latest/configuration/))

My particular use case: I generate a reek TODO file for my project and want to comment out various sections so I can work on those issues. Being able to select multiple lines in RubyMine

[2017-07-16 16:34] mvz commented on #1232
I think this makes sense, but we'll need some other way to signify that this is Reek's configuration.

Also, this is a breaking change so a full changeover will have to be part of a Reek 5 release. We can introduce this as an alternative option, however.

[2017-07-16 16:52] spilth commented on #1232
I was thinking .reek.yml

[2017-07-17 03:46] Drenmi commented on #1232
+1 for this, as it follows the convention of many other tools and services. 🙂

[2017-07-17 05:07] mvz commented on #1232
@spilth that is the obvious choice 🙂

I suppose this also neatly solves the problem of having to catch the presence of multiple Reek config files.

[2017-07-17 11:02] #1045 closed

[2017-07-17 11:05] troessner commented on #1232
I agree that this change makes sense.

Do you see any problems with having a major release? Seems the cleanest solution to me.

[2017-07-17 11:11] mvz commented on #1232
Only that I would like to cram as many breaking changes into the one major release as possible.

[2017-07-17 11:19] troessner commented on #1232
We haven't been super-active on Reek for the last couple of months. I'd rather not block a useful change just for the sake of being as efficient as possible.

[2017-07-18 18:37] mvz commented on #1081
It turns out neither method works, The former raises an error but Reek exists with a success value anyway. The latter doesn't work because the exclusion mechanism checks context descriptions (so in this case, you would exclude 'Alfa').

[2017-07-19 05:31] #1081 closed

[2017-07-19 05:33] mvz opened #1235 "Have error exit code if any internal problems occur"
While investigating #1081, I noticed Reek can still exit with a success code when it has already printed an error stack trace. I think we should always exit with an error in that case.

[2017-07-19 05:37] mvz commented on #1158
I cannot reproduce this with Reek 4.7.1. We did fix several `child.name` problems along the way, so I think we accidentally fixed this one as well.

[2017-07-19 05:37] #1158 closed

[2017-07-19 05:57] troessner commented on #1081
Wait, why did you close this? There are multiple issues in this one, the least of it being that some of our docs are misleading?

[2017-07-19 06:01] troessner commented on #1235
Agreed!

[2017-07-19 06:29] mvz commented on #1081
AFAICS, it works as it should. You have to put an array of (partial) context names in exclude, not an array of instance variable names.

[2017-07-23 10:28] mvz opened #1237 "Drop legacy code comment separator"
... for Reek 5!

[2017-07-23 12:03] mvz opened #1239 "Refactor ContextBuilder#handle_send_for_modules"
This method currently pretends that it does three things, but in fact either does the first two things, or the third thing, or none of the things. The code should make it clearer that some kind of choice is made here.

For reference, the method currently looks like this:

[code]

[2017-07-23 12:10] troessner commented on #1237
Good catch ;)

[2017-07-23 20:32] mvz commented on #1207
This is fixed in current master.

[2017-07-23 20:32] #1207 closed

[2017-07-25 17:17] abacha opened #1243 "reek should look for a config on a super level"
I have lots of projects that share the same reek config file, it would be nice if I could unify the lookout dir.
Like rubocop, if it didnt find a 'config.reek' on the project file, it should look for it on the home user directory

[2017-07-25 17:51] mvz commented on #1243
Reek already looks in ancestor directories and in home: https://github.com/troessner/reek#configuration-file. Or do you mean something else?

[2017-07-25 18:19] abacha commented on #1243
oh, exactly that
sorry

[2017-07-25 18:19] #1243 closed

[2017-08-23 13:21] stopanko opened #1246 "exclude global controllers method `flash.now` from dublications"
I want to exclude dublicate error in all files for `flash.now` call.
Can i do it without adding whole controller method ?

[2017-08-23 13:23] stopanko commented on #1246
https://github.com/troessner/reek/blob/master/docs/Duplicate-Method-Call.md#adjusting-allow_calls

[2017-08-23 13:23] #1246 closed

[2017-08-27 06:21] #1239 closed

[2017-08-27 09:09] mvz opened #1248 "Require argument for AppConfiguration#from_path and #from_hash"
I don't like that these have default arguments.

* For `.from_hash`: Why not pass `{}`?
* For `.from_path`: It looks odd to call this with no argument: Which path is it, then? I would prefer a method `.from_default_path` or something.

[2017-08-27 09:25] mvz commented on #1093
I've examined this some more, and you should be able to do something like:

[code]

I'm going to change this so this is the default.

[2017-08-27 09:30] mvz opened #1249 "Drop `reek_of` and `reek_only_of` matchers from public API"
These really only make sense for Reek development.

[2017-08-27 09:43] troessner commented on #1249
I disagree with this premise. What about tool authors that build on reek? E.g. most of our numerous editor integration probably use this. AFAIR we also had regular users using this.

[2017-08-27 10:03] mvz commented on #853
This has been fixed for `REEK_SRC`. I'm not sure the others are worth it. Perhaps they should be removed altogether.

[2017-08-27 10:43] mvz commented on #1249
Hm. How would they use this? And why would the want to check for individual smells, as opposed to using the basic `reek` matcher?

[2017-08-27 20:25] troessner commented on #1249
But we dont know how other people use it. I dont see how maintaining those methods is much of a maintenance burden.

If you are confident though this will not break any of the Plugins we list in our Readme i am fine with the change.

[2017-08-31 09:06] #1093 closed

[2017-09-04 12:55] tueksta commented on #1131
definitely :)

[2017-09-04 13:44] tueksta commented on #1131
btw: I can't reproduce the FeatureEnvy issue with the latest version of reek anymore, so I guess this issue can be closed and discussion move on to #1231

[2017-09-04 13:53] mvz commented on #1131
Ok, closing this.

[2017-09-04 15:27] mvz commented on #1131
Incidentally, I have checked and indeed the behavior of FeatureEnvy has changed

[2017-09-04 16:35] mvz commented on #1131
OK, so the reason not emitting `:lambda` nodes 'fixed' this issue, is that without those nodes, each lambda expression counts as a method call on self.

[2017-09-04 16:48] tueksta commented on #1131
While you're at it, you can fix the typo in this comment :) https://github.com/troessner/reek/blob/master/lib/reek/ast/builder.rb#L9

[2017-09-04 16:56] mvz commented on #1131
@tueksta done 🙂 !

[2017-09-06 20:04] lorn opened #1254 "Error when run in POSIX locale"
Hi, I just found a weird bug.

I have a local Docker for my project and `rubycritic` was not running on them, but it is running fine in the gitlab-ci.

Digging a little bit I found that gitlab-ci uses the `ruby:2.4-alpine` image and the local Dockerfile was using `ruby:2.4.1` image.

Searching for this kind of bug I found this issue whitesmith/rubycritic/issues/244 and here I'm to give you some ev

[2017-09-07 05:35] pocke commented on #1254
reproduce
======

We can use the following ruby code for minimum reproduce.

[code]

Put the code as `test.rb` in current directory, and run `docker run --rm -it -v $(pwd):/tmp/work ruby:2.4.1 bash`.

[code]

How to fix
====

This cause is a locale.
You can fix this problem by setting `LANG` environment.

[code]

[2017-09-07 06:19] mvz commented on #1254
Awesome, @pocke, that makes debugging a lot simpler.

[2017-09-07 07:16] mvz commented on #1254
The default locale inside that Docker container is POSIX. I can actually reproduce this locally with the above file by doing: `LANG=POSIX reek test.rb` or `LANG=C reek test.rb` 🎉 .

[2017-09-11 07:57] alain-andre opened #1255 "[Attribute] Writable attribute warning"
In one of my project, I'm having this **writable attribute** warning and I do not understand why.

The given [documentation](https://github.com/troessner/reek/blob/master/docs/Attribute.md) is clear but I have no idea how to do then.

For example, I'm having a ActiveRecord class `Language` containing a attribute `rank`, this class is `Comparable` by `rank`. The `rank` attribute is not a **ActiveRe

[2017-09-11 08:59] mvz commented on #1255
The following line in your code creates a reader and a writer for your `rank` attribute:

[code]

The fix in this case is to replace it with

[code]

[2017-09-11 09:08] Drenmi commented on #1255
If `#rank` is only used within `Languages#guess`, you could opt to use some transient data structure to do the sorting.

If the rank is unique, you could use a hash where the key is the rank and the `Language` is the value. If it is not unique, you could use an array of tuples (one-element hashes, or two-element arrays.) Then, after sorting, you can return either just the sorted languages, or the

[2017-09-11 09:23] waldyr commented on #1255
Remove the `Comparable`, `attr_writer` and the `<=>` method and then the `guess(input)` method should look like:
[code]

[2017-09-11 09:29] alain-andre commented on #1255
@Drenmi Yes you are totally right. `#rank` should not be in `Language` but a hash in `Languages` as @waldyr proposes.

Obrigado de mais @waldyr !! Nos encontramos em breve :p

[2017-09-11 09:41] #1255 closed

[2017-09-11 12:21] mvz commented on #1255
@alain-andre sorry, I totally missed the point of your question back there. Glad it got solved anyway!

[2017-09-11 19:22] lorn commented on #1254
Great, setting the `LANG` here everything works.

Just a curious question, how would be the ideal fix? a warning about a non-defined `LANG` env? forcing a default `LANG` when the env is not defined?

[2017-09-12 06:40] mvz commented on #1254
The ideal fix would be for Reek to work fine even if `LANG=POSIX`. Since the regular parser from the parser gem works fine in that case, I think this should be achievable.

[2017-09-12 07:35] alain-andre commented on #1255
@mvz No problem :p

[2017-09-13 18:35] mvz opened #1256 "Prima Donna method should report method definition lines"
The prima donna method detector currently reports the line of the defining class, but should report the line of the method definition.

[2017-09-13 18:37] troessner commented on #1256
Ack!

[2017-09-14 19:41] #1256 closed

[2017-09-17 09:09] mvz commented on #755
I don't think we've had any Ataru problems recently.

[2017-09-17 09:09] #755 closed

[2017-09-17 09:14] mvz opened #1260 "What about Ataru?"
So, Ataru seems dead upstream, and they're now behind on the `thor` dependency. What shall we do? Some options (there may be others):

1. Drop Ataru.
2. Find some replacement for Ataru and use that.
3. Fork Ataru.
4. Not care about `thor`.

[2017-09-17 09:16] mvz commented on #1260
This might work (haven't checked the code yet): https://github.com/lsegal/yard-examples/blob/master/doctest/doctest.rb

[2017-09-17 09:25] troessner commented on #1260
I'd go with  [4] unless integrating doctest from above is a breeze.

[2017-09-17 12:16] mvz commented on #1260
It seems the doctest thing is only for the `@example` yard tags.

[2017-09-17 12:44] troessner commented on #1260
We rarely have any additions for ataru to check, so i wouldnt really bother. :)

[2017-10-18 16:50] KurtRMueller opened #1262 "When erroring out because of an invalid byte-sequence, reek doesn't show what file it crashed on."
[code]

I would love it if reek told me what file it crashed on.

Anyway, thanks for all the hard work you do. Let me know if you need any info from me.

[2017-10-18 22:14] troessner commented on #1262
Interesting, thanks for the report.
`Examiners` do have some extensive error handling as you can see in [Examiner#run](https://github.com/troessner/reek/blob/master/lib/reek/examiner.rb#L99) and [Examiner#examine_tree](https://github.com/troessner/reek/blob/master/lib/reek/examiner.rb#L116) but in this case the big bang happens in the constructor [here](https://github.com/troessner/reek/blob/maste

[2017-10-19 06:00] mvz commented on #1262
Ah yes, we're basically assuming the parsing etc. is safe, and only handling errors in the detectors.

Maybe we can add error handling for this kind of problem to `SourceCode.from`? That class is where we handle syntax errors as well.

[2017-10-19 09:20] troessner commented on #1262
Hmm, how about something like this in `SourceCode#parse`:

[code]

What's missing is implementing Errors::IncomprehensibleSourceError analogous to Errors::IncomprehensibleSourceError and add some specs.

WDYT?

[2017-10-30 06:59] mvz opened #1265 "Print original exception classes"
The messages for our wrapped exceptions do not include the original exception classes. We should include them.

[2017-11-05 09:52] #1262 closed

[2017-11-05 11:35] #1254 closed

[2017-11-30 05:09] mvz commented on #1260
@troessner does that mean you're ok with dropping it?

[2017-11-30 05:16] mvz opened #1274 "Replace pry with irb-tools?"
I'm trying to wean myself off pry due to various reasons, and @chastell pointed me to irb-tools, which I like very much. I'd like to propose replacing pry as our debugging tool with irb-tools.

[2017-11-30 07:40] troessner commented on #1274
I still like pry. What are those various reasons?

[2017-11-30 07:46] troessner commented on #1260
Not really. Ataru adds quite some value to our build process. Why would we drop that if we can just leave it as it is? I dont get it :)

[2017-11-30 08:04] mvz commented on #1274
I'm not going to do any linking here, but:
* Iffy release policy (seems to have improved somewhat recently).
* Lack of focus in what is in core or not (e.g., there is now a `gem-stat` command that fetches statistics from rubygems.org **in core**)
* Seems more interested in adding/supporting non-features like the pry-media plugin than in creating a solid foundation.
* Overly complex implementation,

[2017-11-30 08:21] troessner commented on #1274
If you feel that irb-tools will increase your productivity then I am ok with replacing pry.

[2017-11-30 08:41] mvz commented on #1260
Ok, clear, just wasn't sure what you meant by 'wouldn't really bother'.

[2017-12-02 10:17] johnunclesam opened #1276 "GraphQL Ruby default code nil-check."
With the amazing graphql-ruby gem I got this code:

[code]

One of the problem is the `nil-check`.

Ho can I fix this?

Maybe I can also PR solution to this amazing gem.

[2017-12-02 18:15] mvz commented on #1276
This is a complex method with several problems, but I will focus on the nil check for now. It seems the purpose here is to handle the case when the client request does not pass any `variables` value. You could either decide not to call `#ensure_hash` in that case, or you could create a guard clause at the very top of the method:

[code]

Since this generated method is always the same, it would mak

[2017-12-02 19:39] johnunclesam commented on #1276
Yes, we should create a PR.

[2017-12-19 12:03] dansdantas commented on #1243
@mvz I don't know if it is related to this issue but on my config, reek it is not looking for ancestor configs.

I followed these steps:

When i am on project root with this configuration
[code]

I have no errors or warnings running `reek config/application.rb`
[code]

But if i go inside config directory, it show an error using same command `reek application.rb`
[code]
Am i doing something wrong?

[2017-12-19 15:37] troessner commented on #1243
Could it be that you have a reek configuration in the config/ directory?

[2017-12-19 19:42] dansdantas commented on #1243
No. My reek files are only on project root.

[2017-12-20 09:11] mvz commented on #1243
Perhaps there's something wrong with how Reek evaluates that "config/" path. Looks like a different issue in any case. Can you open a new ticket for this, @dansdantas?

[2017-12-20 11:53] dansdantas commented on #1243
@mvz I think i already know what is happening. It is an error on my configuration.
As stated above it says that a `config` directory should ignore that rule:
[code]

This works correctly for at project root level because it finds the directory. But when i run at child level, for obvious reasons, the said directory does not exists(i am already inside that directory). I probably should use a differe

[2017-12-20 11:56] mvz commented on #1243
@dansdantas yes, that is probably what is happening, but I think Reek should still handle that case correctly and should probably resolve relative file paths from the location of the config file.

[2017-12-20 11:58] troessner commented on #1243
Couldnt agree more.

[2017-12-20 12:08] dansdantas opened #1283 "Reek does not handle relative paths from config file"
As stated on #1243 , using reek at child level for configurations on ancestors directories does not handle a relative path.

Eg: .reek
[code]

`reek config/application.rb`
[code]

Child directory -  `reek application.rb`
[code]

[2018-01-05 08:37] mvz opened #1285 "Drop support for Ruby < 2.3"
It's time 😄

[2018-01-05 08:38] #1276 closed

[2018-01-05 08:39] mvz commented on #1265
Fixed.

[2018-01-05 08:39] #1265 closed

[2018-01-05 09:46] mvz commented on #1019
I think this is finished, right @troessner?

[2018-01-05 10:18] troessner commented on #1019
Yes!

[2018-01-05 10:18] #1019 closed

[2018-01-05 12:36] Drenmi commented on #1285
❤️

[2018-01-05 18:47] mvz opened #1288 "Create something like RuboCop's node matcher macros"
As an experiment, I implemented part of NilCheck using the RuboCop system. I found the node patterns and matcher macros very nice and useful.

More information here: https://github.com/bbatsov/rubocop/blob/f5fed30d4106c8aff7dd27ffef947def530deae1/manual/node_pattern.md

[2018-01-05 20:26] Drenmi commented on #1288
They are tremendously useful. 🙂

There are some pending features for the node matchers, for example optional fragments, that currently no-one is working on. If @bbatsov is up for it, perhaps it can be extracted into a separate gem, and contributions can be made from more directions. WDYT?

[2018-01-06 12:40] chastell commented on #1137
This should be fixed by #1287.

[2018-01-06 12:40] #1137 closed

[2018-01-07 03:43] pocke commented on #1288
Yes, I would like to extract it into a separate gem. And I tried to extract it, but it has been stopped because I was very busy. https://github.com/pocke/node_pattern
It rewrites node pattern with kpeg for readability. https://github.com/pocke/node_pattern/pull/1

[2018-01-07 07:45] bbatsov commented on #1288
I'm not opposed to the idea. A lot of things can be extracted from RuboCop, but I simply never got to doing so. Much of the AST node extensions are also something that'd be useful to anyone using underlying `ast` gem. Probably at some point we can move RuboCop to some organization and place there some related projects.

@pocke Cool!

[2018-01-08 20:10] mvz commented on #1288
Having this extracted to a separate gem would be great for us. @pocke do you think your attempt can be continued or is it too outdated?

[2018-01-08 20:50] bbatsov commented on #1288
I see it's just 21 days old. I would hardly call this outdated. 😄

[2018-01-08 21:19] mvz commented on #1288
Oh wow, I wouldn't have guessed. My timeframe for concluding 'stopped because too busy' is a bit longer than @pocke's, it seems 😆.

[2018-01-10 14:54] x3qt opened #1291 "docs/Syntax.md is missing"
### Description:
Usage of [do/end blocks with ensure/rescue/else](https://bugs.ruby-lang.org/issues/12906) throws syntax error which points to non existent page.

[code]

### Environment:
- ruby 2.5.0
- reek 4.7.3

[2018-01-10 15:51] x3qt commented on #1291
It seems that bug was introduced in #1220

[2018-01-10 17:01] mvz commented on #1291
Thanks, @x3qt, we'll look into this.

[2018-01-14 16:24] chastell commented on #1291
I think this is not as much a missing docs file as a case that shouldn’t get to the point of reporting smells, but rather blow up with a syntax error.

(In this particular case we’re using a Ruby 2.4 parser to parse a Ruby 2.5 source, and that’s the culprit, but in general I wouldn’t consider syntax errors as smells.)

[2018-01-15 08:53] mvz commented on #1291
@chastell I think that makes sense since we handle encoding errors that way too.

[2018-01-15 08:55] mvz commented on #1291
@troessner wdyt?

[2018-01-15 09:22] troessner commented on #1291
@mvz @chastell fully agree with you here.

[2018-01-31 04:05] maisumakun opened #1292 "IncomprehensibleSourceError with splatted attr_accessor"
reek fails with `Reek::Errors::IncomprehensibleSourceError` when `attr_accessor(*ARRAY)` is used and some unknown conditions are met.

## Source code to reproduce the issue

[code]

## Exception messages

[code]

## Version information

* reek 4.7.3 (with default configuration; standalone & called from Rubycritic produced the same error)
* ruby 2.4.2p198 (2017-09-14 revision 59899) [x86_64-linux]

[2018-01-31 09:13] #1292 closed

[2018-03-05 12:43] davidhrbac opened #1294 "Breaks Rubocop update to 0.53"
I'm not able to update Rubocop to the latest version since reek requires `parser (>= 2.4.0.0, < 2.5)` https://github.com/troessner/reek/blob/master/reek.gemspec#L24  and the latest Rubocop requires `parser >= 2.5`  https://github.com/bbatsov/rubocop/blob/master/rubocop.gemspec#L40

[2018-03-05 14:37] pocke commented on #1294
I opened a pull request for this issue.
https://github.com/troessner/reek/pull/1295

[2018-03-05 16:42] #1294 closed

[2018-03-11 12:28] w0rp opened #1296 "Add a --stdin-filename option"
[ALE](https://github.com/w0rp/ale) wants to check for problems with Vim buffers while you type, and doing so requires checking text via stdin, or temporary files. This poses a problem when you want to write a configuration file for ignoring some rules for certain files, etc. Other tools like ESLint solve this problem by allowing you to specify the path to a file being checked when the text is bein

[2018-03-13 07:22] troessner commented on #1296
Interesting problem. Makes sense to me. I'll put this on my todo list but can't promise you when I'll get around to implementing this, unless @mvz or @chastell want to take over.

[2018-03-13 08:09] mvz commented on #1296
I do wonder if there are other solutions to this problem, since I find it rather ugly.

[2018-03-13 08:34] mvz commented on #1296
I'm also wondering if this shouldn't be generalized to (option name to be discussed):

[code]

[2018-03-13 08:41] mvz commented on #1296
As for one other solution to this problem, no less ugly:

[code]

[2018-03-13 09:26] w0rp commented on #1296
Before you go looking for other options, you should look at how this problem has been handled in the past. The `--stdin-filename` option for ESLint and some similar tools solves the problem pretty well. Bike-shedding over the option name is what other projects spend half their time on.

[2018-03-13 17:08] troessner commented on #1296
It's quite a bit inappropriate and insulting for you to insinuate that we are bike shedding here. You havent contributed anything to Reek and if we want to discuss this option name then this is none of your business. You might want to reflect on your attitude.

[2018-03-18 11:08] w0rp commented on #1296
Take it easy. I said other projects spend most of their time on bike-shedding about an argument name, and that's just how it goes. I'm amazed you get that worked up for such an innocuous comment.

[2018-03-18 11:17] troessner commented on #1296
It wasnt innocuous and your defensive arrogance is starting to get annoying. This conversation is over. Time for you to get lost now.

[2018-05-08 18:21] monfresh opened #1301 "Is it possible to exclude at the file level?"
Hello. I'm trying to exclude a particular file from all Reek checks, but it looks like the only global option is at the directory level. I don't want to exclude all files in a particular directory, just one file in that directory. Is this possible currently? Thanks!

[2018-05-08 22:10] troessner commented on #1301
This is currently not possible - as you can see [here](https://github.com/troessner/reek/blob/master/lib/reek/configuration/excluded_paths.rb#L14) and [here](https://github.com/troessner/reek/blob/master/lib/reek/configuration/configuration_validator.rb#L39)  we only accept directory names. Pull requests welcome ;)

[2018-05-14 17:58] krasnoukhov commented on #1291
FYI I'm seeing smells related to this check on codeclimate, but not locally. We're using the latest release version with Ruby 2.5

[2018-05-14 19:14] troessner commented on #1291
@krasnoukhov could you please c&p the offending code here so we can reproduce it?

[2018-05-14 20:30] krasnoukhov commented on #1291
@troessner Sure thing, I think a very minimal code that triggers the check could look like this:

[code]

[2018-05-17 18:43] troessner commented on #1260
@mvz seems like we reached a conclusion here - are you ok with dropping it?

[2018-05-17 18:44] troessner commented on #1274
@mvz should we close this one? As mentioned above, I'm fine with using irb-tools.

[2018-05-17 18:54] mvz commented on #1260
Yes, can be closed.

[2018-05-17 18:54] #1260 closed

[2018-05-17 18:56] mvz commented on #1274
Yes, this can be closed. I feel less strongly about pry at the moment, they seem to be releasing in a more timely manner these days. We'll see what happens ...

[2018-05-17 18:56] #1274 closed

[2018-05-17 19:46] troessner commented on #1301
[Updated our docs](https://github.com/troessner/reek/commit/a162b7380f747aa0b14ad9613044e3778fa37109) to reflect this - closing this issue.

[2018-05-17 19:47] troessner commented on #1139
I think we've done a lot for our documentation and it's an ongoing effort that will never really stop. Let's close this issue instead of having it hanging around forever.

[2018-05-17 19:47] #1139 closed

[2018-05-17 19:51] troessner commented on #1165
I'll submit a PR for this in the next couple of days hopefully :)

[2018-05-17 19:56] troessner opened #1305 "Let's release Reek 5"
Here's my suggestion list:

* [Change PrimaDonnaMethod to MissingSafeMethod](https://github.com/troessner/reek/pull/1304)
* [Introduce a --list option](https://github.com/troessner/reek/issues/1165) - no particular reason, I just really like the idea
* Whatever we can sneak in from the other items on our ["breaking change" list](https://github.com/troessner/reek/labels/breaking-change)

Afterwards

[2018-05-17 19:57] #1301 closed

[2018-05-18 07:10] mvz commented on #1305
Ideally, I'd like to include all of the breaking changes. Any that we don't include should be closed.

[2018-05-18 07:11] mvz commented on #1305
I'm going to pick up some of those breaking changes over the weekend.

[2018-05-18 09:41] troessner commented on #1305
Me too probably. Let's make sure we always assign the issue to ourselves and write a comment that we're working on it to not duplicate work :)

[2018-05-18 17:59] troessner commented on #1163
@mvz regarding

I don't think this is really necessary if we do it in one go with Reek 5. It's a major version upgrade so people should expect things like that. Supporting both ways of configuration makes our code more complex and I see little gain in doing so.

[2018-05-18 18:02] troessner commented on #1285
Official ruby website says that 2.2. is [still maintained](https://www.ruby-lang.org/en/downloads/) but we can kill 2.1 ;)

[2018-05-18 18:15] troessner commented on #1249
@mvz any update from your side? (see my comment above)

[2018-05-18 18:16] troessner commented on #1078
Given that we had hardly any issues with this that were reported by our users I'd like to change my point of view and not do this. Wdyt @mvz ?

[2018-05-18 18:56] mvz commented on #1285
OTOH, [this page](https://www.ruby-lang.org/en/downloads/branches/) says support for 2.2 ends 31 march 2018. Not sure what to make f that ...

[2018-05-19 05:02] mvz commented on #1078
I thought the point was to make it easier to implement #1062 and #889?

[2018-05-19 05:03] mvz commented on #1249
I agree that keeping these public is not much of a burden. I'd like to revisit their API for the 5.0 release, though.

[2018-05-19 07:27] troessner commented on #1078
Good point, I change my opinion back, let's do this :D

[2018-05-19 17:09] #1237 closed

[2018-05-19 17:17] mvz commented on #1248
I'm going to take a stab at this one now.

[2018-05-20 07:49] #1285 closed

[2018-05-20 12:41] mvz commented on #1249
The main change I want to make is what is described in #1163.

[2018-05-20 12:41] mvz commented on #1163
I'm going to start on this now.

[2018-05-20 12:41] #1249 closed

[2018-05-24 18:53] amitsuryavanshi opened #1312 "Module class methods treated as instance methods."
Class methods defined in a module are treated as instance methods and give warning as ** MyModule#my_method doesn't depend on instance state (maybe move it to another class?)**

`
module MyModule
    extend ActiveSupport::Concern

    class_methods do
       def my_method
         ...
       end
    end
end
`

[2018-05-25 01:18] Drenmi commented on #1312
I believe `.class_methods` is part of ActiveSupport? Reek is a code smell detector for Ruby, so it doesn't know about this. 🙂

You can probably [configure a filter](https://github.com/troessner/reek#configuration-options) to silence warnings for your ActiveSupport concerns. Would this work in your case?

[2018-05-28 15:57] klobuczek commented on #1312
@Drenmi I think reek should at least detect if a method is defined within a block and be more conservative about cases it doesn't have full knowledge about.

[2018-05-28 16:15] troessner commented on #1312
@klobuczek while we could easily detect if the method in question is defined in a block being more conservative would probably open up a lot of other cases where then would not report something that should be reported.

@Drenmi

Excellent point. Given that Rails is Ruby's "work horse" though, I would be open to consider a non-intrusive extension to Reek that is disabled by default but can be enabl

[2018-05-29 08:18] troessner commented on #1291
@krasnoukhov this should be fixed with Reek 5 which we'll also push on CodeClimate.

[2018-05-29 08:54] troessner commented on #1232
Quickly looking into this, it looks like this is a [one-line code change](https://github.com/troessner/reek/blob/master/lib/reek/configuration/configuration_file_finder.rb#L99) and then changing it everywhere in our documentation. I'll create a PR for this soon.

[2018-05-30 00:04] klobuczek commented on #1312
@troessner our policy is not to customize rules as this leads to endless discussions about personal preferences and is a real time eater. But we would gladly take any 'official' rails configuration published from you as the author.

[2018-06-01 18:47] paul commented on #1296
Jeez, calm down a bit. @w0rp's comment seemed perfectly reasonable, and emulating other projects that came across similar problems is worth a ton. Perhaps @w0rp hasn't contributed to Reek directly, but 99% of my usage of it comes from the tool that they maintain (w0rp/ALE). I think its worth considering their words from that point of view, rather than assuming the worst that they're trying to be i

[2018-06-01 19:38] w0rp commented on #1296
I just want everyone to get along. I'm sorry if I sounded rude before.

[2018-06-01 20:55] troessner commented on #1296
@paul for sure every contribution will be more than welcome - nothing to worry about.
@w0rp I'm sorry as well, let's start over.

[2018-06-01 21:39] w0rp commented on #1296
Okay, sounds good to me. :+1:

[2018-06-02 08:05] troessner commented on #1078
I'll tackle this soon. This will also allow us to do a proper schema validation <3

[2018-06-02 08:07] troessner opened #1317 "Enable validation of our configuration via yaml schema"
Inspired by [this blog post](https://blog.picnic.nl/how-to-use-yaml-schema-to-validate-your-yaml-files-c82c049c2097) I added a first "very WIP" branch [here](https://github.com/troessner/reek/pull/1316) which I would like to pursue after we have done #1078 - thoughts?

[2018-06-02 13:06] troessner commented on #1305
Almost there <3 ;)

[2018-06-02 13:08] troessner commented on #1062
Continuing in #1317 - closing this one

[2018-06-02 13:08] #1062 closed

[2018-06-02 13:08] troessner commented on #889
Continuing in #1317 - closing this one

[2018-06-02 13:08] #889 closed

[2018-06-02 17:28] mvz commented on #1312
For a counter-argument to configuring this smell away or having a 'Rails mode' for this, see http://blog.coreyhaines.com/2012/12/why-i-dont-use-activesupportconcern.html.

[2018-06-03 14:39] #1078 closed

[2018-06-04 09:20] #1232 closed

[2018-06-04 19:43] troessner opened #1320 "Debugging cucumber not working anymore"
I'm not 100% sure but I think at one point it time I really could just add

[code]

anywhere in the code and cucumber would stop execution and drop me into the pry shell.
It seems like we have lost this again, no matter what I do, cucumber will ignore it.

Any ideas?

[2018-06-04 19:56] troessner commented on #1317
I hit a snag. This spec in configuration_file_finder_spec

[code]

with this config file:

[code]

 will crash Rx:

[code]

I never was a huge fan of using "!ruby/regexp" in our yaml files and it's understandable, that parsers do not tolerate this.

What do you think about getting rid of this, i.e. just using strings and converting them regexes after we loaded the file?

[2018-06-05 06:48] troessner opened #1321 "Use strings not regexes in our configuration file."
Coming from #1317  I suggest to drop the ruby specific extensions to yaml.
This would mean to do this:

[code]

rather than this:

[code]

Turns out the necessary changes to our codebase are quite minimal, see the linked PR.

[2018-06-05 09:09] mvz commented on #1321
Yes, this makes a lot of sense! :+1:

[2018-06-06 03:17] klobuczek opened #1325 "Configuring reek for ruby version"
How do you configure reek for a specific ruby version? I am using jruby-9.2.0.0 which is ruby 2.5 compatible and I am getting
[code]
on something like
[code]

[2018-06-06 03:52] Drenmi commented on #1325
I'm guessing that period in between `each` and `do` is there in the non-redacted code as well, as running Reek on:

[code]

gives the exact error you posted. 🙂

[2018-06-06 19:29] troessner commented on #1325
@klobuczek our codeclimate engine seems indeed to be broken unfortunately in some contexts. We will fix this right after Reek 5 [will be released](https://github.com/troessner/reek/issues/1305) which is expect to happen in the next couple of days since there are only 2 pull requests left to deal with.

[2018-06-09 18:07] jcronk opened #1327 "Documentation: default config given in README has the wrong name."
In the README, it says that the default name for the config file is ".reek.yml", but apparently it's anything ending in ".reek".

[2018-06-09 20:57] troessner commented on #1327
Well, that's what we get for doing breaking changes in order to [release Reek v5](https://github.com/troessner/reek/issues/1305) and being to lazy to update 2 separate sets of documentation 😆
@mvz any chance we can accelerate those 2 PR's:

* [Update app configuration api](https://github.com/troessner/reek/pull/1310)
* [Use strings not regexes in our configuration file](https://github.com/troessne

[2018-06-10 08:36] mvz commented on #1327
Sadly, the common way for people to read the README for Ruby stuff is to go the `master` branch on GitHub, rather than reading it from the installed gem.

Many projects adopt the solution of putting 'this is the README for master' in the README, but I think that's problematic because you need to remove it for every release.

Finally, it's not like breaking changes don't usually happen so why are p

[2018-06-10 10:07] mvz commented on #1327
I dug into this some more, and ideally I would want people to do one of these two things:

1. Run `ri reek:README` from the command line.
2. Go to https://www.rubydoc.info/gems/reek.

There are problems with both of these.

Option 1 doesn't work because somehow `ri` files are generated for `CHANGELOG.md` and `License.txt`, but not for `README.md`.

Option 2 is better, but the hand-crafted table of

[2018-06-10 10:48] troessner commented on #1327
I am doing the exact same thing.

But the current world is different and we're not going to change that (even though I agree that your approach is the cleaner one).
I think in this case the user is not to blame. Instead, we should have handled this better (a simple reek-5 release branch would have prevented all of this).

I created #1328 to fix our documentation - thanks @jcronk for reporting this

[2018-06-10 11:54] mvz commented on #1327
That's definitely true.

Such a branch carries its own set of problems. I still think assembling Reek 5 on master was the right decision. However, I also agree the user is not to blame and I should have pointed that out in my "I wish the world were a different place" story above.

I'll comment on the #1329 solution there.

[2018-06-10 12:03] mvz opened #1330 "Reek links should link to specific versions of the documentation"
As mentioned in https://github.com/troessner/reek/pull/1329#issuecomment-396043572, Reek's 'wiki links' link to the master branch so they break if we change the documentation for a new release. Perhaps we can link to the release tag instead?

[2018-06-10 12:05] mvz opened #1331 "The `--wiki-links` option has an obsolete name."
Would be nice to change this for the 5.0 release.

Options:
* `--documentation`
* I don't have any other ideas :slightly_smiling_face:.

[2018-06-10 12:14] troessner commented on #1331
Oh, excellent point, i never noticed that 😆

It's not fancy, true, but a fitting name, so +1 from my side :)

[2018-06-10 12:47] troessner commented on #1330
That is a great idea! Are you going to look into this? If not I can take this over as well.

[2018-06-10 12:54] mvz commented on #1330
I'll take a stab at this and #1331 right now.

[2018-06-10 12:56] troessner commented on #1330
Wait, i already created #1332 😆

[2018-06-10 13:35] #1327 closed

[2018-06-10 13:54] mvz opened #1334 "Output of `--list` is broken"
On master, `reek --list` outputs literal `\n`. This also means there's something wrong with how our cucumber scenarios check output.

[2018-06-10 14:17] #1334 closed

[2018-06-10 14:19] troessner commented on #1334
Interesting, you're right. Should we re-open this issue or do you rather prefer a separate follow-up issue?

[2018-06-10 14:20] #1331 closed

[2018-06-10 14:42] mvz commented on #1334
I'll make a follow-up issue.

[2018-06-10 14:43] mvz opened #1336 "Fix cucumber output checks"
See #1334.

It seems the cucumber output checker cannot distinguish between a literal `\n` and a line feed.

[2018-06-10 15:22] #1248 closed

[2018-06-10 16:50] troessner commented on #1305
Lemme summarize what is left to do:

* Finish:
  * #1333
  * #1322
  * If its not too much effort, sneak in #1319

* Release v5:
  * Add the documentation that we removed in #1329
  * Finish via #1324  (don't forget to add the new entries to the changelog)

* Release a new CodeClimate version
  * Ensure that #1325 works
  * And #1291

[2018-06-11 09:30] chastell commented on #1317
I like the idea of config files without Ruby-specific classes.

I’m not sure how backward-(in)compatible would be to try to guess whether a given string is a name or a regex, but maybe we could just go with a simple heuristic to the tune of _strings starting and ending with `/` are always regexes_.

[2018-06-11 09:31] chastell commented on #1321
Do we want to drop regex support altoghether or assume strings mean ‘any substring’? (The example could mean either way.)

[2018-06-11 10:54] mvz commented on #1321
From the implementation in #1322 I think @troessner went for 'any substring'.

[2018-06-11 10:58] mvz commented on #1317
@chastell yes, that could be an option.

[2018-06-11 12:28] troessner commented on #1321
Exactly, any substring, which might be a big problem as we're discussing [here](https://github.com/troessner/reek/pull/1322#discussion_r194364295)

[2018-06-11 20:55] troessner commented on #1321
@mvz && @chastell what do you think about this [spec](https://github.com/troessner/reek/pull/1322/files#diff-0a2d7be0c2679312a6bcf13434c60172R101) with [this config file](https://github.com/troessner/reek/pull/1322/files#diff-90860f854639a9a101e89ef25beff6dbR1) - is this what you had in mind as well?

That way "foo" would match "foo" and "foobar" and if the user does not want that he can always us

[2018-06-11 21:47] klobuczek opened #1337 "Inconsistent reporting for FeatureEnvy"
The following code
[code]
raises `JsonapiExt::Scoping::Include::PathDescriptor#normalize_path refers to 'path' more than self (maybe move it to another class?)`

however, if I rewrite it to:
[code]
it does not.

[2018-06-13 06:56] mvz commented on #1337
I've looked into this and it's super easy to make this consistent. The change doesn't even break any of our tests, which shows that we completely missed this :laughing:.

[2018-06-13 15:19] mvz commented on #1321
@troessner yes, that looks good :+1:

[2018-06-14 12:21] chastell commented on #1321
Hmmm, what about `f.o`? Would that match `foo` or only strings with a literal `f.o` substring?

[2018-06-14 12:22] chastell commented on #1321
(I do mean `f.o`, not `/f.o/` – the latter should obviously treat the `.` as a regexp match.)

[2018-06-14 12:29] mvz commented on #1321
I think the idea is that it's considered literal unless `/` are present.

[2018-06-14 13:14] troessner commented on #1321
YES, exactly :)

[2018-06-14 13:16] troessner commented on #1296
@paul are you still up for giving this a shot? If not we'd probably look into this after the release of [Reek 5](https://github.com/troessner/reek/issues/1305).

[2018-06-14 16:52] mvz opened #1339 "Backport some things to a final 4.8.2 version?"
In the sprint up to 5.0, we fixed some stuff that might be useful to backport. I'm thinking of:

* ~#1335~ Nope, `-l` is not in reek 4.8.
* #1338
* The first commit in #1333

[2018-06-14 18:58] #1337 closed

[2018-06-15 08:14] chastell commented on #1321
OK, so:
• if it starts and ends with a `/` then it’s matched as a regexp
• if it doesn’t then it’s matched as a literal substring

This sounds good! :+1: The only trick might be people having both `foo` and `foobar` methods, trying to reject a smell for the first and rejecting it for both by mistake. I know this is side-steppable via `/^foo$/`, just wondering how likely this might happen by accide

[2018-06-16 07:11] #1330 closed

[2018-06-17 10:13] #1321 closed

[2018-06-17 10:29] mvz opened #1341 "Detect old-style reek comments"
As noticed in #1322, Reek currently still accepts old-style comments with three colons, because the regex used will simply ignore the third colon and everything that follows, essentially blanked-disabling the given smell. This means users will not normally be aware that they need to update their code comments.

Options to fix:

1. Detect this particular usage and complain about it loudly. We proba

[2018-06-17 10:58] troessner commented on #1339
Fully agree, sounds like a good idea, especially #1338

[2018-06-17 10:59] troessner commented on #1341
Good points. I think this

would be my favourite option :)

[2018-06-17 11:02] troessner commented on #1305
Now that #1322 is out i'd like to give #1319 a quick shot just to make sure that in the scope of the pull request we do not need any other breaking change. That is something I'll look into today.

[2018-06-17 20:52] troessner commented on #1296
Nice :)

[2018-06-17 20:59] troessner opened #1342 "Have Reek print out which configuration file it is using"
I have quite often the problem when toying around with Reek in development that some config file is in the way but I am not sure which one due to our "traverse up" policy. Let's just output "using configuration file ....".

[2018-06-17 21:14] troessner commented on #1305
Ok, it looks like #1317 won't add anything breaking so we don't have to wait for this to finish to release Reek 5 ;)
Let's continue with:

[code]

[2018-06-18 08:46] chastell commented on #1341
I would also prefer a loud complain in that case!

[2018-06-18 19:38] troessner commented on #1305
Ready to roll, [let's go](https://github.com/troessner/reek/pull/1324)!

[2018-06-19 05:52] mvz commented on #1305
#1343 may introduce a breaking change to `Examiner` so we should probably wait for that.

[2018-06-19 06:48] troessner commented on #1305
Right, good point!

[2018-06-19 17:03] troessner opened #1346 "Clean up our /samples directory"
Goals:

* Remove obsolete files
* Create a consistent directory structure
* Unify configuration files
* Inline sample and configuration files to increase cohesion of our tests. Right now quite often you have to jump between samples and test

[2018-06-19 23:51] EdwinRozario opened #1348 "DuplicateMethodCall for separate blocks"
Ruby Version: 2.4.3, OSX
I have something like

`haves = bots.all? { |bot| bot.smart };
  have_nots = bots.select { |bot| !bot.smart }.first`

Reek raises DuplicateMethodCall: MyClass#call calls 'bot.smart' 2 times [https://github.com/troessner/reek/blob/master/docs/Duplicate-Method-Call.md]

I am not sure if this an expected behaviour. I feel like usage if method smart is required in two contexts

[2018-06-20 05:32] mvz commented on #1348
Hi @EdwinRozario, in this particular case I would probably try to use `Enumerable#partition`, but for the general case please see #1231.

[2018-06-20 05:44] mvz commented on #1325
@klobuczek are you experiencing this problem on the CodeClimate site or are you running the CodeClimate enginge locally?

[2018-06-20 05:49] mvz commented on #1305
We also need to actually add `Syntax.md` or remove the detector to really fix #1291.

[2018-06-20 05:51] mvz commented on #1291
@troessner Wait, what? We do the pushing to CodeClimate?

[2018-06-20 05:56] mvz commented on #1325
@maxjacobson can you tell us which version of Reek CodeClimate is using? I think this problem is fixed already in Reek 4.8.1.

[2018-06-20 05:59] #1348 closed

[2018-06-20 07:54] troessner commented on #1231
Oh yeah, let's fix this. @mvz do you want to tackle this? If not I can also take a stab at it after the release of Reek 5.

[2018-06-20 08:27] mvz commented on #1231
@troessner this is what #1253 was for. It turned out to be quite difficult to fix. I'm actually more and more inclined to *not* fix this or #1131, because there are many more cases where you're calling the same method on what technically is a different object, e.g.:

[code]

We can't win, really.

[2018-06-20 09:01] troessner commented on #1231
I understand that your example is kind of not fixable for us, but what about the special case with the lambdas - would that be easier?

[2018-06-20 09:10] mvz commented on #1231
Clearer, but not a lot easier. Given our current architecture, you would need to make each block its own context.

[2018-06-20 09:10] mvz commented on #1231
... and even then, if the call is not on one of the block parameters, you have to treat the whole method as one context.

[2018-06-20 09:59] troessner commented on #1231
Ok, i see. What do you think about making this a prominent part of our DuplicateMethodCall documentation?

[2018-06-20 10:05] mvz commented on #1231
That sounds like an excellent plan.

[2018-06-20 17:56] maxjacobson commented on #1325
:wave: looks like we're locked down to https://github.com/troessner/reek/commit/6a602abedff1075dc2328b7eac36800018d437c0, which is not quite up-to-date  (it seems to be a few commits shy of 4.7.1). We can update reek to the newer version, but we'll need to do a little QA before rolling it out. I can put that on our roadmap and try to make it happen soon

[2018-06-20 17:58] mvz commented on #1325
That would be great, @maxjacobson. How can we ensure CodeClimate stays up-to-date in the future? And should we just direct people with CodeClimate related issues to CodeClimate support?

[2018-06-20 18:03] maxjacobson commented on #1325
Any of these would work:

- let us know of the new release via our support form (https://codeclimate.com/help)
- let us know of the new release via our community slack (you can join by filling out this form: https://codeclimate.com/dev_form/ and we can set up a reek-specific channel)
- let us know of the new release by opening an issue on https://github.com/codeclimate/codeclimate

That would be t

[2018-06-20 18:27] mvz commented on #1325
Thanks, @maxjacobson.

[2018-06-20 19:34] troessner commented on #1325
AFAIS can see the current Reek CC integration is broken. Our own pull requests #1319 fail with errors like in the attached screenshot.
<img width="961" alt="screen shot 2018-06-20 at 21 32 56" src="https://user-images.githubusercontent.com/271109/41680425-c0a09434-74d1-11e8-8b0a-56bfdd62c1a8.png">

[2018-06-20 19:51] troessner commented on #1325
Best would be to wait for Reek 5 though, then we start with a clean slate @maxjacobson

[2018-06-20 20:02] troessner opened #1349 "Non sensical / not working examples in configuration_file_finder_spec.rb"
We have 2 non sensical / not working examples in configuration_file_finder_spec.rb:

[code]

[2018-06-21 05:49] troessner commented on #1291
@mvz as discussed in the other thread recently we dont apparently :-/

[2018-06-21 06:22] mvz commented on #1325
No, our own integration is a special case because of the changed contents of `defaults.reek`.

[2018-06-21 06:28] mvz commented on #1325
@troessner  You can see that by running released Reek 4.8.1 on master:

[code]

[2018-06-21 07:23] mvz opened #1352 "Test case of no configuration found at all"
#1345 removed a seemingly useless check but it turns out it is there for the case when no configuration file can be found. This was fixed in #1353, but we should add a test for this case.

[2018-06-21 08:03] mvz commented on #1349
Related: #1352.

-

[2018-06-21 13:15] troessner commented on #1291
@mvz wdyt about removing the syntax detector completely? Right now i cant even recall why we added that in the first place :)
I know its unrelated to the actual issue (that Reek blows up on innocuous code), but there's nothing keeping us from improving our error handling as well. As pointed out above, we probably should treat this like an EncodingError.

[2018-06-21 14:35] troessner commented on #1291
To the actual problem, this code from above:

[code]

works for me with Reek 4.8.1 and Ruby 2.3.1:

[code]

Regarding:

[code]

I just checked, we're using 2.5 at least now. @x3qt could you quickly check if that problem still exists for you with the latest Reek version?

[2018-06-21 15:22] troessner commented on #1231
Closing this since we decided that we can't fix this properly and with #1350 closed to being merged.

[2018-06-21 15:22] #1231 closed

[2018-06-21 15:51] mvz commented on #1342
Yes, this makes a lot of sense :+1:.

[2018-06-21 15:54] mvz commented on #1291
Yes, that makes more sense than treating it like an artificial code smell.

[2018-06-21 22:52] troessner opened #1355 "Getting rid of the "Syntax" smell detector"
So I started to look into this and I  can't really recall why we added that in the first place. The whole thing seems bogus:

1.) Broken syntax is detected by the parser gem wayyyyy before it actually reaches any detector. At first I thought this was something special we did for stuff that is passed via STDIN but it all goes through the same code. Long story short, we could have just relied on the

[2018-06-21 23:10] maxjacobson commented on #1325
FWIW, the 4.8.1 release went out today. The QA looked good with a modest amount of testing. If Reek 5 has breaking changes for folks with existing checked-in config, we may want to release it as a special channel, as we do with the rubocop engine :thinking:

[2018-06-21 23:15] troessner commented on #1325
@klobuczek did this upgrade solve your problem?

[2018-06-22 07:54] #1131 closed

[2018-06-23 07:06] mdi opened #1357 "Output hidden in Heroku CI"
I run reek as part of a custom script on Heroku CI, which isn't a TTY, so the output is hidden during the test run. It would be nice to have a way to force output in those kind of situations.

It looks like this issue was introduced in https://github.com/troessner/reek/pull/1122https://github.com/troessner/reek/pull/1122

[2018-06-23 07:15] mvz commented on #1357
Hi @mdi, you can add de `--progress` command line option to enable progress reporting on non-TTYs.

[2018-06-23 14:06] troessner opened #1358 "Scope detectors under "detectors""
In analoy to our recent "scope directory directives under 'directories'" I'd like to propose a similar initiative for detectors, so:

[code]

Reasons are three fold:

1.) It will make our life significant easier when adding a schema validation.
2.) It increases consistency  since we treat directories and exclude_paths like that already.
3.) It encourages more structure since you are now forced to

[2018-06-23 14:56] mvz commented on #1358
Yes, this makes sense.

[2018-06-24 05:32] mdi commented on #1357
The `--progress` option seems to have no effect.

[2018-06-24 08:52] mvz commented on #1357
Ok, something else must be going on. Since `reek --progress | more` works fine for me, I'm going to need a little bit more information on how you're running reek.

[2018-06-24 10:08] mvz commented on #1291
See #1355 and #1356.

[2018-06-24 10:09] mvz commented on #1291
@x3qt the syntax error should no longer occur in the latest Reek codeclimate engine. Removing the Syntax 'smell' is tracked in #1355.

[2018-06-24 10:09] #1291 closed

[2018-06-24 10:11] mvz opened #1363 "Use only .reek.yml config by default"
Reek will still pick up `foo.reek.yml`, and it shouldn't.

[2018-06-24 10:32] mvz commented on #1291
@troessner ok, I'll see about taking over #1355.

[2018-06-24 10:53] #1349 closed

[2018-06-24 10:55] #1363 closed

[2018-06-24 11:27] mdi commented on #1357
I have a script that runs reek followed by rubocop followed by my test suite. When I run this script locally in a terminal, reek displays output (my terminal is a TTY).

<img width="1428" alt="mdi_michaels-mbp____src_mdi_fitrackr-api" src="https://user-images.githubusercontent.com/524808/41818587-ec816c08-777f-11e8-8e3c-2e4b68348c11.png">

But when this script is run on Heroku CI, reek displays no

[2018-06-24 14:28] mvz commented on #1357
Even in a non-TTY output, Reek should at least output `0 total warnings`, and even that is missing. Something else must be going on.

[2018-06-24 14:40] mvz commented on #1357
@mdi To eliminate any potential confusion: Which version of Reek are you using?

[2018-06-24 15:49] mdi commented on #1357
v4.8.1

[2018-06-25 07:03] #1346 closed

[2018-06-25 07:27] #1296 closed

[2018-06-25 07:59] #1352 closed

[2018-06-25 08:05] mvz commented on #1357
There is one point at which Reek suppresses all output, which is during the loading of the `parser` gem. Perhaps something goes wrong there.

[2018-06-25 13:00] mvz opened #1369 "Remove deprecated ModuleContext#node_instance_methods"
This method has been deprecated since Reek 3.8. It's time.

[2018-06-26 06:39] #1358 closed

[2018-06-26 07:03] mvz commented on #1339
I'm going to prepare a branch for this.

[2018-06-26 07:51] mvz commented on #1339
See https://github.com/troessner/reek/tree/reek-4-8

[2018-06-26 09:19] mvz commented on #1339
Done and released.

[2018-06-26 09:19] #1339 closed

[2018-06-26 10:49] mvz commented on #1357
Hi @mdi could you try running this with current master? I've removed output suppression during normal Reek runs and I'd like to see if that helps.

[2018-06-26 12:09] mdi commented on #1357
Upon further investigation, it looks like `reek` is not even being ran on Heroku CI, so I'm reopening the issue with them. My apologies for the trouble.

[2018-06-26 12:09] #1357 closed

[2018-06-28 15:09] #1317 closed

[2018-06-28 15:11] mvz commented on #1305
All breaking changes were merged :tada:!

[2018-06-28 16:09] troessner commented on #1305
Wait, [one more](https://github.com/troessner/reek/pull/1374)! 😆
Source: [click](https://www.ruby-lang.org/en/news/2018/06/20/support-of-ruby-2-2-has-ended/)

What a coincidence 🌈

[2018-06-28 19:39] troessner opened #1375 "Make both rubocop and the NilCheck detector happy"
Coming from #1374:

With making the 2.3. the minimal Ruby version we had to add the following exception to rubocop:

[code]

Without this exception rubocop will complain:

[code]

Letting Rubocop auto-fix is will cause this line:

[code]

to become this line:

[code]

The problem is that now our reek quality check fails with:

[code]

I'd rather not defer our Reek 5 release any longer because of t

[2018-06-28 19:46] troessner opened #1376 "Remove our own CodeClimate check"
Given that we have gotten into the habit to ignore it it's more of a nuisance. Should we just remove it?

[2018-06-28 20:18] troessner opened #1377 "Converting strings to regexes with our new syntax is not working for directory directives"
This will work:

[code]

but this won't:

[code]
Pull request incoming.

[2018-06-29 08:32] #1377 closed

[2018-06-29 08:56] mvz commented on #1376
Yes, agreed.

[2018-06-29 15:36] #1305 closed

[2018-06-29 15:49] troessner commented on #1296
@w0rp we just released Reek 5 via #1324 with the --stdin feature included, you should be able to pick it up from here ;)

[2018-06-30 10:48] w0rp commented on #1296
Okay, sounds good to me. :+1:

[2018-07-01 10:43] troessner commented on #1235
I think we now have a much more cleaner and consistent error handling as at the time of writing this ticket.
Wouldn't it be enough to catch all StandardErrors in [Application#execute](https://github.com/troessner/reek/blob/master/lib/reek/cli/application.rb#L29), set the status and then re-raise?

[2018-07-01 10:44] troessner commented on #1061
I'm not sure if this actually still makes sense. I'd rather vote for closing it. WDYT @mvz ?

[2018-07-01 10:44] troessner commented on #961
I think I'm going to tackle this next ;)

[2018-07-01 11:16] retrography opened #1381 "ControlParameter inordinately slow on certain files"
Reek is very slow on large files containing lots of comments. These are often files containing few lines of code, for instance API interfaces, with many lines of comments documenting the functions.

Examples are `bench/example.ruby` in [here](https://github.com/rubychan/coderay/raw/master/bench/example.ruby) and `gems/aws-sdk-ec2/lib/aws-sdk-ec2/client.rb` in [here](https://raw.githubusercontent.c

[2018-07-01 11:42] troessner commented on #1381
How are you running Reek and in what version?
When I use the example file from above with the latest Reek 5.0.0.  the parser gem crashes on the file:

[code]

[2018-07-01 13:18] retrography commented on #1381
You are right, it crashes. The slowness seems to have been a result of some incompatibility after the ruby upgrade. I reinstalled all the gems and now it works (meaning it crashes!).

[2018-07-01 13:32] retrography commented on #1381
OK, I found the culprit. It is strange. A directory structure with relatively small files. Each file separately has a small processing time, but the directory in its entirety takes a very long time. Would you mind checking [this](https://www.dropbox.com/s/dv9w8d0o2wuwrpu/scanners.zip?dl=1)? Thanks.

[2018-07-01 15:58] troessner commented on #1381
Interesting.
I just did a

[code]

[code]

That's definitely madness.

[2018-07-01 16:14] troessner commented on #1381
I found the culprit:

[code]

Interestingly ruby.rb doesn't look as bad as I had expected. It's basically a huge ~ 400 lines long method, that's it.

[2018-07-01 16:16] troessner commented on #1381
My first guess was that for whatever reasons the parser gem takes so long to parse but I was wrong:

[code]

So, yeah, I'd consider this a Reek bug for now. Let me further investigate, thanks for the report so far :)

[2018-07-02 05:38] mvz commented on #1381
Looks like ControlParameter is the (first?) slow one.

[2018-07-02 05:41] mvz commented on #1061
What made you change your mind?

[2018-07-02 05:47] #1376 closed

[2018-07-02 06:33] mvz commented on #1235
Errors that make it all the way up to `Application#execute` will probably just cause Ruby to print its stack trace and exit with an error status. This ticket is mostly about errors that are logged by `LoggingErrorHandler`, letting Reek continue with the next file. We'll have to keep track of errors handled by this handler and have `ReportCommand#execute` return a failure code if there were any.

[2018-07-02 06:50] troessner commented on #1381
How did you profile this @mvz?

[2018-07-02 06:52] troessner commented on #1061
That i never missed this functionality and no user has upvoted this feature in 2 years ;)

[2018-07-02 07:01] mvz commented on #1061
Ok, let's close this!

[2018-07-02 07:01] #1061 closed

[2018-07-02 07:06] mvz commented on #1381
I started reek and pressed Ctrl-C. Then I did it again. In both cases, the stack trace contained control_parameter, with suspiciously deep nesting in `#legitimate_uses?`.

Then I disabled ControlParameter and ran reek again: Done in 0.11s.

[2018-07-02 11:29] troessner commented on #1381
Nice debugging! 😆

[2018-07-02 16:26] crevete opened #1383 "uninitialized constant Reek::Errors::ConfigFileException"
When I launch reek 5.0, I've got the following exception :
[code]
I would say that is a bug, because ```Reek::Errors::ConfigFileException``` does not exist in the gem, but ```Reek::Errors::ConfigFileError``` does.

[2018-07-02 18:35] troessner commented on #1383
Oh my, I'd say we have a pretty extensive test coverage and we *still* missed that.
Fix underway, thanks for reporting!

[2018-07-03 03:34] Drenmi commented on #1381
While I prefer @mvz's approach (I'm a self-confessed `puts` debugger 😬), here's a StackProf run:

[code]

[2018-07-03 05:12] #1383 closed

[2018-07-03 09:30] troessner commented on #1381
Thanks @Drenmi, i'll look into this one the next days ;)

[2018-07-03 11:59] mdi commented on #1357
Just to provide some more feedback on this issue, I finally worked it out. The primary issue it turns out was that I had to provide source code directory arguments to `reek` to get it to scan anything on Heroku CI. I was running it without any arguments and that worked locally, but that caused it to not scan anything on Heroku CI. I'm **still** not seeing output, but I have confirmed it is scannin