[2018-07-03 20:32] troessner commented on #1381
Ok, my stackprof output looks quite similar to @Drenmi :

[code]

We are off to an interesting start ;)

[2018-07-05 13:04] crevete commented on #1383
@troessner I confirm that it works fine with 5.0.1. Thanks :-)

[2018-07-08 06:57] troessner commented on #1381
Update regarding the current status:

* I refactored everything without touching the core algorithm. The detector is now significantly better readable
* I started to debug. The recursion [here](https://github.com/troessner/reek/pull/1386/files#diff-48427916b49a2da554452e4d404ace06R22) is what's killing us but at the moment I dont understand how this can lead to 7 minutes runtime on samples/smelly_

[2018-07-09 07:37] mvz commented on #1381
Perhaps [this call](https://github.com/troessner/reek/pull/1386/files#diff-51267d6faad55edaef6f042b0cb5930dR39) is problematic, or rather the implementations of `body_nodes`, such as [this one](https://github.com/troessner/reek/blob/master/lib/reek/ast/sexp_extensions/if.rb#L13): It seems each call recurses over all nodes, and doesn't stop when it reaches one the types searched for.

[2018-07-09 07:49] mvz commented on #1381
I made a quick proof-of-concept PR that changes the `body_nodes` implementations to not return nested instances of the searched-for node types.

[2018-07-10 07:44] troessner opened #1392 "Make releases less noisy"
Since we are explicitly putting version numbers in our documentation links our releases have become very noisy as you can see in #1391.
Ideally, there would be one cucumber feature that ensures that our links change as well with new versions and that would then cause a one line change per new version release.

[2018-07-10 08:22] mvz commented on #1392
Agreed. Perhaps we can add some interpolation in the expected strings in the feature files.

[2018-07-10 12:42] troessner commented on #1381
@retrography we just released 5.0.2. with a bug fix, can you please check if that works better for you? Running Reek on your ruby.rb file now takes less than a second for me.

[2018-07-10 12:51] retrography commented on #1381
@troessner It works great! Thanks for the responsiveness and the followup.

[2018-07-10 14:07] allomov commented on #220
@troessner the issue does not really answers the question "how to exclude a file". you can remove a folder with `exclude_paths`, but not a file.

[2018-07-10 15:18] allomov opened #1393 "Can't exclude a single file"
There is no way to add a single file to ignore list right now. `exclude_paths` does not work with file.

[2018-07-10 16:54] troessner commented on #1393
Agreed, we should empower the user to do that. @mvz would you like to take this over? If not I'm happy to take a stab at this as well ;)

[2018-07-10 20:19] mvz commented on #1393
Sure!

[2018-07-12 07:43] mvz commented on #1337
@pardaloupa AIUI, `private_class_method` doesn't work without arguments.

[2018-07-12 08:17] pardaloupa commented on #1337
I am really confused on how to use module_function with private class methods.

This [comment](https://github.com/janlelis/idiosyncratic-ruby.com/commit/7923275d6bfce595c3f0a0f1d9eceaa6dae43800#commitcomment-26135703) clears things up  by using extending self / private combo instead of module_function and private_class_method but goes against the ruby style [guideline](https://github.com/rubocop-h

[2018-07-12 12:17] mvz commented on #1337
Ok, now that is a valid bug :laughing:.

[2018-07-12 23:07] pardaloupa commented on #1337
Great thanks for confirming it @mvz then I guess I will keep using module_function and private_class_method and the reek issues will vanish once a bug fix is pushed. Let me know if you need me to open a new issue as this is hard to track :+1:

[2018-07-13 05:45] mvz commented on #1337
@pardaloupa yes if you could open a new issue with your example code that would be great!

[2018-07-13 06:49] pardaloupa opened #1397 "Inconsistent reporting for FeatureEnvy when using module_function or private_class_method"
The following code

[code]

Goes away if I use def self.active_users.  (prepend self)

The same exact issue occurs when using module_function.

Reek seems to fail to detect that methods defined using *module_function/ private_class_method* are **class instance methods** and not **instance methods**

**This is the same issue as #1337**  this merge request is also related #1338

[2018-07-13 06:49] pardaloupa commented on #1337
@mvz done #1397 :+1:

[2018-08-07 07:12] mvz commented on #1381
Fixed :slightly_smiling_face:

[2018-08-07 07:12] #1381 closed

[2018-08-21 09:41] peterjgordon opened #1403 "Unterminated string meets end of file"
All files appear to have this exception when reek is executed on our CI environment as a GitLab CI Job (works fine locally).
* It runs in this docker container: `ruby:2.4.4` (https://hub.docker.com/r/_/ruby/).
* This is the rake task I was using to allow verbose output:
[code]
`.reek.yml` just excludes `db/migrate`. This is run as `bundle exec rake reek` in the docker container.

Do you have any i

[2018-08-21 10:49] mvz commented on #1403
Can you please also paste the bit above `Exception message:`?

[2018-08-21 10:50] peterjgordon commented on #1403
Source vendor/bundle/ruby/2.4.0/gems/activejob-5.1.6/lib/rails/generators/job/templates/job.rb cannot be processed by Reek.

    This is most likely a Reek bug.

    It would be great if you could report this back to the Reek team by opening a
    corresponding issue at https://github.com/troessner/reek/issues.

    Please make sure to include the source in question, the Reek version and the
    o

[2018-08-21 10:51] mvz commented on #1403
Ah! That file is a template so indeed does not contain valid Ruby. It's probably best to also exclude `vendor/` in `.reek.yml`.

[2018-08-21 10:54] mvz commented on #1403
We probably shouldn't say 'This is most likely a Reek bug' when the underlying error is `Parser::SyntaxError`.

[2018-08-21 10:57] peterjgordon commented on #1403
Yeah, would probably help to point to paths you should exclude in the readme or something.

[2018-08-21 11:16] mvz commented on #1403
It's hard to make a blanket statement about that since it depends on the project and in this case even on the CI environment.

[2018-08-21 11:21] mvz opened #1404 "Improve error message in case of Parser::SyntaxError"
See #1403. ~Such an error is most likely *not* a Reek bug, so we shouldn't say that it is.~ We should ~instead~ point to some things people can try:

* If it is not really a Ruby file, exclude it in `.reek.yml`
* Check if `ruby -c <file>` gives a syntax error as well.

[2018-08-21 11:56] mvz commented on #1404
Hm ... we already have `Parser::Error::SyntaxError` which should be raised instead of `IncomprehensibleSourceError`.

[2018-08-21 12:03] mvz commented on #1403
@peterjgordon which version of Reek are you using? I'm expecting a different error to be raised in this case.

[2018-08-21 12:19] #1404 closed, assigned to nobody

[2018-08-21 18:10] dmarcoux opened #1406 "Exclusions while generating the TODO file"
Hey,

I would like to start using reek in a project. I want reek to skip some directories/paths as they contain legacy files.

I cannot find a way to generate the TODO file while excluding those directories/paths. Is this possible?

[2018-08-21 20:34] dmarcoux commented on #1406
This part of the README confuses me:

    This means that when you run

    `reek -c other_configuration.reek --todo lib/`

    `other_configuration.reek` will simply be ignored (as outlined before, Reek is supposed to have one configuration file and one file only).

So this is what I do to generate the `.todo.reek` file. I first create my reek config (with the default name `.reek.yml`) with the f

[2018-08-22 09:45] troessner commented on #1406
Yeah, you're right, that IS super confusing and we really should fix this 😆

So the way that this could work is that you copy the whole content of .todo.reek into .reek.yml. But that is very inconvenient for sure, no question about that.

@mvz wdyt having the TodoCommand recognise if there is a configuration file present (either the default one or whatever is passed in via -c option) and if there

[2018-08-22 11:04] dmarcoux commented on #1406
Is there a reason behind having only one configuration file?

I find the approach of Rubocop with `inherit_from` quite convenient and straightforward. The separation is clear between the configuration and the TODOs.

[2018-08-22 20:26] troessner commented on #1406
Yes, we discussed this quite extensively and the answer is that we see more benefit in a very simple and straight forward configuration handling (which includes our own source code complexity) than in supporting every use case of multiple configuration files. I do agree though that your use case is a very good one which we'll hopefully fix with the solution outlined above. I'll probably look into

[2018-09-07 10:01] brunossilveira opened #1409 "Reek using default config instead of .reek.yml file on codeclimate"
I'm running reek on my repository with a custom `.reek.yml` file. If I run reek locally everything works fine, but when on codeclimate it's not picking up the config file.

I talked to support team at codeclimate and they verified that this is in fact happening and it was not something wrong that I was doing. They also asked me to open this issue, so here I am.

I'm not entirely sure what more inf

[2018-09-07 10:07] troessner commented on #1409
@brunossilveira thanks for your report
@mvz I'm still busy with #1406, do you have time to take this over? If not I can look into it next week.

[2018-09-07 12:55] mvz commented on #1409
@troessner sure!

@brunossilveira codeclimate is probably not using Reek 5 yet, since [their image](https://hub.docker.com/r/codeclimate/codeclimate-reek/) was last updated 3 months ago. Since you're already in contact with them, it's probable simplest if you ask them to update. If that doesn't work out I'll open a ticket myself.

[2018-09-07 13:26] brunossilveira commented on #1409
Thank you for the feedback @mvz! I will ask them to do that and if that works I can close this ticket.

[2018-09-09 08:01] troessner opened #1411 "A strategy for making our --todo feature more useful"
As I mentioned in #1406 I have been working on improving our todo list functionality so that the TodoCommand recognises if there is a configuration file present (either the default one or whatever is passed in via -c option) and if there is, append to that instead of creating a new file.

Unfortunately I hit a snag recently:  I thought I could just add another `detectors` block to our configuratio

[2018-09-10 09:27] mvz commented on #1411
That sounds like an excellent plan.

[2018-09-10 09:50] troessner commented on #1411
Glad you like it, I'll work on this the next couple of weeks. [1] is trivial and [3] is easy given [2]. So [2] is gonna be the big one ;)

[2018-09-10 10:00] troessner commented on #1320
Closing this one. I wont write new cucmber features if possible and if i run into another problem i'd rather replace the feature in question with  a spec.

[2018-09-10 10:00] #1320 closed

[2018-09-10 10:05] mvz commented on #1320
FWIW, Aruba by default doesn't allow interaction with programs it runs, so I'm not sure this ever worked.

[2018-09-10 10:07] troessner opened #1412 "Introduce a "law of demeter" detector"
Excellent introduction [here](http://www.virtuouscode.com/2011/07/05/demeter-its-not-just-a-good-idea-its-the-law/)

[2018-09-10 10:14] troessner commented on #1320
Fair enough, might be that my memory is fooling me :)

[2018-09-10 13:45] troessner commented on #1412
But this would then warn on

[code]
already. Right now I don't see way to differentiate between

[code]
and

[code]

Code like

[code]
is fairly ubiquitous in Ruby programs so we would generate a lot of false positives.
Maybe this endeavour is doomed from the start and it's just not possible on a very basic, fundamental level?

[2018-09-10 14:13] chastell commented on #1412
(With Demeter being about the number of non-core type changes in a method chain and Ruby not having any type inference mechanisms I think this is indeed hopeless, but I don’t want to discourage anyone; maybe there _is_ a clever hack that could work for 80% of the cases…)

[2018-09-10 14:36] mvz commented on #1412
@chastell now you made me wonder how easy it is too hook into Crystal's compiler and write a LoD checker for it.

[2018-09-11 09:20] troessner opened #1416 "Cucumber problems"
A couple of days  suddenly lot of cucumber scenarios failed for me the like this:

[code]

This happens on my local master for me and it's very weird. I did not change anything in my local set up. Travis is still green (also for fresh pull requests) so apparently it is a local problem. The thing is, i have not the slightest clue what it is.

**What I tried:**

* Uninstall, completely purge and re-

[2018-09-11 11:34] mvz commented on #1416
What I tend to do in such cases is just run the one failing scenario, and then `cd` into `tmp/aruba` and run, e.g., `bundle exec reek --no-color --no-documentation --documentation smelly.rb` there and see what broke.

[2018-09-11 11:39] mvz commented on #1416
The scenarios run fine here by the way. I'm running Linux (Debian Sid).

[2018-09-11 12:56] troessner commented on #1416
Unfortunately this doesn't give me further hints:

[code]

And now let's run Reek:

[code]

Any other ideas? I'm out :-/

[2018-09-11 13:19] mvz commented on #1416
So no smells found but you expect smells, right? Which `.reek.yml` is used?

[2018-09-11 13:32] troessner commented on #1416
Exactly, I expect smells to be found but there are none. "smelly.rb" looks correct and there is no .reek.yml to be found:

[code]

[2018-09-11 13:41] troessner commented on #1416
This is super confusing. So `bx cucumber features/command_line_interface/basic_usage.feature:6` expects smells but there arent any.

[code]
should report smells as well but it doesn't. Which hints to .reek.yml somewhere.
Even more confusing, we have a .reek.yml in our project root folder. Which is empty.  Seems this was introduced [here](https://github.com/troessner/reek/commit/0c4b1b178c732f799e2

[2018-09-11 14:03] mvz commented on #1416
To avoid the specs and cukes picking up some `.reek.yml` further up the directory tree.

Yeah, that might help, but hopefully you can just `binding.pry` somewhere for now (when running reek straight from `tmp/aruba`).

[2018-09-11 14:33] troessner commented on #1416
Addendum: AFAIS there is not .reek.yml that could be the reason for this:

[code]

The specs are not affected by this I believe. Just ran them without the .reek.yml and they succeeded.

[2018-09-11 14:36] #1416 closed

[2018-09-11 14:59] mvz commented on #1416
Yes, but you don't have a conflicting `.reek.yml` in home.

[2018-09-11 15:00] troessner commented on #1412
Seems like this is a lost cause :(
Closing this issue.

[2018-09-11 15:00] #1412 closed

[2018-09-11 16:11] troessner commented on #1416
Fair point ;)

[2018-09-12 06:29] mvz opened #1417 "Use XDG standard for finding config files?"
I still need to look into it more, but this looks interesting: https://rubyworks.github.io/xdg/

[2018-09-12 08:01] troessner commented on #1417
The idea is nice but the last commit for this project is from 2012 :-/

[2018-09-12 13:47] efueger commented on #1409
Emily here from Code Climate Support - thanks for pointing that out @mvz 👍
- We updated the image and @brunossilveira reports that it's working now.

[2018-09-12 14:04] troessner commented on #1409
Great, thanks for the update @efueger :)

[2018-09-12 14:04] #1409 closed

[2018-09-15 17:59] klobuczek commented on #1325
@troessner yes, it is 2.5 compatible now, sorry for the late response

[2018-09-18 12:31] troessner opened #1419 "Simplecov reports lack of coverage in spec files?"
In the scope of [this pull request](https://github.com/troessner/reek/pull/1382) I added this stub of a future spec:

[code]

Surprisingly for me, simplecov fails now with:

[code]

already which I find very odd. Is this the idea behind this that we write tests for set up code in specs as well? If yes then I'd like to question this configuration and rather have simplecov not cover our specs since

[2018-09-18 12:38] troessner commented on #1419
And a step further:

Making all paths for our filters relative:

[code]

works in the sense that version.rb and options.rb are not reported anymore. However now I have the problem that simplecov still fails because now with the spec files not checked anymore we run into this:

[code]

with the top offenders being

* reek/ast/sexp_extensions/attribute_assignments.rb
* reek/ast/sexp_extensions/liter

[2018-09-18 12:46] troessner commented on #1419
By the way, this

[code]

doesn't seem to make any difference for our code base. On master this gives us

[code]
with that line commented out or not and on the "show-configuration-path" feature branch (using `root`):

[code]

so it seems safe for us to drop it.

[2018-09-18 13:07] mvz commented on #1419
I don't know why SimpleCov considers code in specs when calculating coverage. That was never the intent anyway, but indeed I do see files in `spec/` appearing in the coverage report.

[2018-09-18 13:09] mvz commented on #1419
The reason for `track_files` is that we want to detect the case where an entire file is never included. In such a case, SimpleCov won't know it exists unless told through `track_files`.

[2018-09-19 09:08] #1419 closed

[2018-10-02 07:33] coorasse opened #1423 "False positive for InstanceVariableAssumption in ActiveRecord models"
In ActiveRecord seems common to use the callback `after_initialize` to initialize instance variables, instead of overriding the `initialize` method.
If an instance variable is initialized in a callback reek does not recognise this and marks the error.
I already saw a [similar issue](https://github.com/troessner/reek/issues/1133) and the [Working with Rails](https://github.com/troessner/reek/blob/m

[2018-10-02 13:54] troessner commented on #1423
Nice observation. @mvz wdyt about adding a configuration to our "working with rails" section where we disable this detector for app/models?

[2018-10-05 08:48] mvz commented on #1423
Thanks, @sihu that makes things a lot clearer and makes me want to hunt initializers in my Rails projects :smile:.

[2018-10-05 08:50] sihu commented on #1423
*Update:*  Please note that i forgot to write that this is best practice for ActiveRecord initializers

[2018-10-07 12:43] mvz commented on #1417
I still think it's a good idea, but that gem probably won't help us. I relabeled it for now.

[2018-10-07 21:00] troessner commented on #1423
Closed via #1424

[2018-10-07 21:00] #1423 closed

[2018-10-07 21:31] troessner commented on #1406
Closing this one since the initial question has been answered.
Regarding your problems with the --todo flag, we recently fixed this in the latest version. It now works like this:

[code]

We will make it possible to include additional configuration files in the future. See #1411 for details ;)

[2018-10-07 21:31] #1406 closed

[2018-10-07 21:53] troessner commented on #1411
I'll tackle [2] in the next couple of days / weeks ;)

[2018-10-08 05:16] mvz commented on #1406
@troessner maybe triple-backticks are not ideal for quoting human text :wink:.

[2018-10-08 08:03] troessner commented on #1406
@mvz good point, fixed, thanks ;)

[2018-10-13 09:29] #1393 closed

[2018-10-13 11:06] troessner commented on #1393
And released it is ;)

[2018-10-16 16:15] stevenharman opened #1429 "Piping source ignores `excluded_paths` configuration"
I am working on the Reek + Ale integration which will pipe the source and pass the `--stdin-filename` argument. I noticed Reek was ignoring my configured `exclude_paths` and so errors were being reported via Ale. I tried passing the `--force-exclusion` flag, but that didn't change anything. I then confirmed all of this by calling `reek` in a similar manner. An example:

[code]

Piping to `reek`, w

[2018-10-17 06:28] mvz commented on #1429
Hi @stevenharman, thank you for this detailed bug report. This combination of flags should indeed have the effect you expected.

Extracting the exclusion logic from `SourceLocator` sounds like a good approach, so if you'd like to take a stab at a PR, that would be much appreciated.

[2018-10-18 12:55] emmanueldelmas opened #1430 "Inherit reek config from a gem"
In my company, we have several projects that use Code Climate metrics with rubocop, reek...

I'am creating a gem to share an up to date configuration with every projects.
Rubocop has a way to use the config file store into a gem : https://github.com/rubocop-hq/rubocop/blob/master/manual/configuration.md#inheriting-configuration-from-a-dependency-gem

Reek does not seem to have the same possibility

[2018-10-18 14:10] troessner commented on #1430
The bad news:

Unfortunately, this is not possible at the moment. Neither does Reek offer the option to use more than one configuration file nor does it allow you to specify a configuration file inside a gem.

The good news:

We are working on it! ;)
See #1411 if you're interested in the details. In short we'll:

[code]

[2018-11-12 00:03] dimitrovv opened #1434 "Reek config inheritance"
I've played a bit with the reek configuration and noticed it does not support config inheritance.
We've several projects, which have almost the same reek configuration with some exceptions/customization.

It'd be good to inherit the reek configuration from another reek config and override it then to DRY it etc.

It could be smth like that

* `ancestor/.reek.yml`

[code]

* `descendant/.reek.yml`

[2018-11-12 00:30] troessner commented on #1434
Oh, a PR would be highly appreciated ;)
We already started discussing this in #1411 and decided to re-introduce multiple configuration files via an include directive. We would help you were possible - keep in mind though that there are multiple angles to this, e.g. validating included files against our schema. We also need to discuss what should happen when you have conflicting configurations. For

[2018-11-12 00:38] dimitrovv commented on #1434
Yep, that's right. It will be overridden. Ex. it could be enabled in the parent and disabled in the descendant. It will work, vise versa as well, have tested this.

Yes, should be fine, the schema validations will still be taken into account.

------------

I'll try to PR this so you guys could review and give some advice if needed, will appreciate. It could also be smth like `inherit_from` featur

[2018-11-12 00:46] troessner commented on #1434
Sounds great, looking forward to this!

[2018-11-20 21:11] mcandre opened #1435 "Rule Request: UnnecessaryShellCommand"
As an engineer, I want to be warned early when my application code is trying to shell out for things that libraries already provide, such as:

* `curl`/`wget` (Can probably use a URL request)
* `sed`/`awk`/`gawk`/`nawk` (Can just use a regular expression)
* `jq` (Can use a JSON marshaller)

This rule would encourage more performant applications, remove dependencies on unnecessary software componen

[2018-11-21 09:14] troessner commented on #1435
I like it! Are you up for a pull request? If yes, we'd guide you through it ;)
If not that's fine as well, it just might take us a while before we could tackle this.

[2018-11-21 12:30] mvz commented on #1435
Doesn't this mean it's best to flag *all* shelling out as dangerous? That would make sense to me.

[2018-11-30 12:03] junket commented on #1434
@dimitrovv @troessner Awesome stuff. I've found RuboCop's addition of an `inherit_gem` directive handy too, and it was done with few LOC: https://github.com/rubocop-hq/rubocop/commit/e9764ea493f3ce962fea7d435aa56938510b0cb9

In the spirit of DRY, I've found myself moving a lot of stuff into gems, so being able to reference Reek config in an included gem would be pretty great. Just a thought. Great

[2018-11-30 13:34] mvz commented on #1434
@junket I'd really like to see a concrete example of that, since the documentation in the rubocop PR is rather hand-wavey.

[2018-11-30 13:36] mvz commented on #1434
:scream: https://github.com/glebm/i18n-tasks/blob/6216ba6e5469df89248bafd2a37f43f02707a713/lib/i18n/tasks/configuration.rb#L25

[2018-12-01 14:55] mvz commented on #1397
I just started looking into this and the problem is that with `module_function` both a class method and an instance method are created. So, you can still include the Module and will have `active_users` as a (private) instance method. Hence, it is a valid candidate to check for FeatureEnvy (and UtilityFunction).

[2018-12-01 14:57] mvz commented on #1397
@troessner wdyt?

[2018-12-03 05:00] Drenmi opened #1436 "Rule request: abstruse conditionals"
Hello! 🙂

Lately I've been working on cleaning up a lot of old code in RuboCop, and one of the most common patterns that has appeared is overly abstruse conditionals, which contain all the low level details and often mix several conditionals into a single expression.

**Example:**

[code]

These conditionals are usually completely unintelligible, even if you can wrap your head around the order of

[2018-12-03 10:41] troessner commented on #1436
I like the idea. I'm not sure though, how you would codify "abstruse" 😆
Maybe counting the conditionals? Everything bigger than 2 reeks?

[2018-12-03 10:45] troessner commented on #1397
Hmmm, to me it seems like this is one of the edge cases where we'll never have a solution that works for everybody. I agree with @mvz that the check is valid. @mvz what do you think about updating our docs for FeatureEnvy with a proper example and reasoning behind our decision?

[2018-12-12 02:50] bkuhlmann opened #1438 "Fix UtilityFunction false positive with singleton refinement."
## Overview

Seeing the following warning:

[code]
...for this refinement:

[code]

It seems Reek thinks this is a *utility method* violation which, generally, would be true but I'm defining a refinement to be used as a class method which would *not* classify as a utility method violation. Here's the usage of the above refinement:

[code]

Would it make sense to allow this situation?

[2018-12-12 02:55] bkuhlmann commented on #1417
:information_source: If it's of interest, I have the [Runcom](https://github.com/bkuhlmann/runcom) which implements the XDG spec. I use it for all of my CLIs. I extracted this functionality to a gem because I ran into this issue too and wanted to solve the problem once and use in multiple CLIs.

[2018-12-12 11:20] mvz commented on #1417
Thanks, @bkuhlmann, that looks like a good alternative for Rubyworks' abandoned project.

[2018-12-12 11:24] mvz commented on #1438
I don't think we take `refine` into account at all at the moment. Refining the singleton class is a bit of a hack, it seems, so I'm not sure we should endorse *that*, but if we do, this seems a valid way of defining a singleton method on a module and should be allowed. @troessner do you have any experience with `refine` and can you comment on this use?

[2018-12-12 13:38] troessner commented on #1438
Nope, no idea, unfortunately.

I do agree with

though so I'm inclined to not address this.

[2019-01-05 16:40] siman-man opened #1442 "AttrasgnNode is an unused extension module"
Parser::AST::Node is not supported `attrasgn` type. (It seems to be `ruby_parser` node type) - reek have used `ruby_parser` before v1.5.0. https://github.com/troessner/reek/blob/v1.4.0/reek.gemspec#L33

`LitNode` too. (maybe)

[2019-01-05 17:36] pocke commented on #1442
Thank you for your report!

I think we can also remove LambdaNode and LitNode (mentioned you also:smile:)

[2019-01-05 17:51] pocke commented on #1442
Sorry forget my comment. Because we cannnot remove LambdaNode. We specify `emit_lambda` option, and it makes parser parsing `->{}` as a lambda node. Without this option, `-> {}` is parsed as a send node.
https://github.com/troessner/reek/blob/2dd52a4a72675e6848764851704498a3d592991b/lib/reek/source/source_code.rb#L10

[2019-01-06 07:36] #1442 closed

[2019-01-06 07:38] troessner commented on #1442
Thank you for this report @siman-man, a very astute observation! How did you stumble across this?

[2019-01-06 11:13] troessner commented on #1442
Beautiful detective work :heart:

[2019-01-06 20:40] mcandre commented on #1435
Not quite. There are plenty of valid reasons to invoke a shell command, such as Vagrant does, providing a convenient wrapper around VirtualBox and other VM's. However, many uses of shelling out are entirely superfluous, such as using awk from Ruby, or Perl.

[2019-01-07 06:54] mvz commented on #1435
Yes of course, but how will we know the difference? We could add calling any ruby programs instead of using their libraries.

What I'm thinking of here is forcing the user to disable this rule for their specific, hopefully valid, use case.

[2019-03-02 19:14] mcandre commented on #1435
Calling a Ruby program from another Ruby program is forgivable, though ideally the authors provide a Ruby library as well, in order to avoid unnecessary overhead.

There are plenty of exceptions, especially where no library exists, and so I propose this rule as definitely optional, and likely disabled by default.

[2019-03-04 14:21] hwo411 opened #1455 "Repeated Conditional incorrectly reports in case there are local variable checks in different methods"
In case we have code like

[code]

reek incorrectly reports Repeated Conditional

It shouldn't do this if all of the conditionals are local variables.

[2019-03-04 16:29] troessner commented on #1455
Fair point! That should be fairly easy to fix, thanks for the bug report.

[2019-03-11 09:02] andreheijstek commented on #1409
I'm having this problem when running reek via overcommit. I am using reek 5.3.1
The specific problem is that it ignores the exclude_path db, so I am getting lots of warnings on my migrations which I want to ignore.
Here's my .reek.yml
[code]

[2019-03-11 10:14] mvz commented on #1409
@andreheijstek if I'm not mistaken Overcommit does its own integration with Reek. You should probably open an issue there.

[2019-03-11 10:36] troessner commented on #1409
I was just to say about the same thing as @mvz 😆
@andreheijstek The Reek integration is listed [here](https://github.com/brigade/overcommit#precommit). It's really odd though that the "directories" directive works and the "exclude_paths" doesn't. Maybe there's something odd on our side as well.
But let's wait what the good folks at overcommit have to say about this :)

[2019-03-15 18:26] monfresh opened #1456 "Question about Duplicate Method Call"
Hello. I'm curious as to the reasoning behind the Duplicate Method Call check. The way I understand the documentation, it is to prevent accidentally performing the exact same action twice. If that's correct, why does Reek complain about method calls that aren't exact duplicates of each other?

For example, Reek will complain that `Rails.env` is being called twice in this conditional:
[code]
Simila

[2019-03-15 18:56] troessner commented on #1456
Why do you believe that it makes sense to do the same call twice in the examples above?

I know that stuff like `Rails.env.foo` is pervasive in Rails docs and across the internet, however, I don't believe this makes it good practice to do so.

So coming back to your example above I'd personally do

[code]

Long story short: A duplicate method call is a duplicate method call for Reek, regardless of

[2019-03-16 00:49] monfresh commented on #1456
Yes, I understand that you can do
[code]
My question is, why do you think that is better? Do you think it's more readable? Or is there another reason?

[2019-03-16 11:38] troessner commented on #1456
So for me, it boils down to 2 reasons:

1.) Efficiency

[code]

is not as efficient as it could be. If the call to `env` is not memoized your basically paying twice in terms of computation for something that you should only pay once.

Here

[code]

you have 4 method calls while here:

[code]

you have one assignment (which is very cheap in terms of computation) and 3 method calls.
The difference m

[2019-03-16 11:48] troessner commented on #1456
Addendum: Thanks for asking this question @monfresh, this made me realize that we never really explained our reasoning behind this. See #1457

[2019-03-19 19:55] andreheijstek opened #1459 "Reek.yml is not correctly processed when run via overcommit #622"
I have reported this issue already at Overcommit, but they think it's a Reek issue. See https://github.com/brigade/overcommit/issues/622
Below the text of the issue again:

I'm having this problem when running reek via overcommit. I am using reek 5.3.1 and overcommit 0.46.0
The specific problem is that it ignores the exclude_path db, so I am getting lots of warnings on my migrations which I want t

[2019-03-19 20:06] troessner commented on #1459
To be triple sure: When you run Reek with this config with no overcommit involved everything works as expected?

[2019-03-19 20:10] andreheijstek commented on #1459
Yes, it does

[2019-03-19 20:20] mvz commented on #1459
@andreheijstek I commented on https://github.com/brigade/overcommit/issues/622 because we really need some info on how overcommit runs Reek.

[2019-03-20 14:37] troessner commented on #1456
@monfresh did my explanation above answer your question? Closing this issue for now, feel free to re-open it.

[2019-03-20 14:37] #1456 closed

[2019-03-21 13:05] olleolleolle opened #1460 "Support running reek on open-ended range [1..]"
Open-ended range fails.

## Reproduce

Have a file with an open range.

[code]

Use 2.6.2.

[code]

Try the program with ruby:

[code]

Run `reek` to inspect this file, and see failure on `unexpected token tRBRACK`:

[code]

Source: https://github.com/whitequark/parser/issues/564

See comment:
https://github.com/whitequark/parser/issues/564#issuecomment-475217626

[2019-03-21 15:00] iliabylich commented on #1460
I guess the issue comes from this line - https://github.com/troessner/reek/blob/79d7b1d98b786c31fcf540747053c348d870d989/lib/reek/source/source_code.rb#L4. Should be `require 'parser/current'`

[2019-03-21 15:56] troessner commented on #1460
Yes, I think @iliabylich is right on the money. Now that line was 'parser/current' a long time ago and I think, I think it was a conscious decision of us to change it but I can't for the life of mine remember why we actually did that and my quick and sloppy git history search hasn't made me any smarter. @mvz do you recall why we made that change to a specific version?

[2019-03-21 18:00] mvz commented on #1460
Ik think we wanted to force parsing as Ruby 2.5 even on older Rubies, back when 2.5 was the latest version.

[2019-03-21 20:20] troessner commented on #1460
Ah, yeah, I always forget that `Parser` has `Parser::CurrentRuby` but not `Parser::LatestRuby`. @iliabylich what are your thoughts about adding this or something similar to `Parser`?

To the problem: PR up in #1465

[2019-03-21 20:47] #1460 closed

[2019-03-21 21:51] iliabylich commented on #1460
`Parser::LatestRuby` doesn't make sense to me. If you want to parse your code exactly how Ruby 2.something would parse it - use `parser/2something`. But in most cases you should use the version that matches your system ruby (i.e. which matches `RUBY_VERSION`) to reject invalid syntax and treat the code as your system ruby would do that.

I'd say `parser/current` is always the right choice.

[2019-03-22 07:10] olleolleolle commented on #1460
Thanks a lot everyone!

[2019-03-22 08:00] troessner commented on #1460
Just released v5.3.2 with the fix ;)

[2019-03-22 08:44] mvz commented on #1460
@iliabylich Reek needs to be lenient since it is not a syntax checker. With the way Ruby evolves, the latest parser generally accepts the widest range of syntax constructions. That is why we chose to always use the latest parser.

We could re-think this but we will need to improve the error message to be more user-friendly. It now looks too much like Reek just crashed. WDYT, @troessner?

[2019-03-22 10:00] mvz commented on #1459
@andreheijstek can you share your overcommit config please?

[2019-03-22 10:02] mvz commented on #1459
For reference: https://github.com/brigade/overcommit/issues/622#issuecomment-475447011

[2019-03-22 19:46] troessner commented on #1460
@iliabylich the idea is that it doesn't matter what ruby version you're running locally. Reek should always use the parser for the latest. So running Reek under Ruby 2.3. should still use Parser26.
I imagine that quite a few other tools like Reek have the requirement for doing something like this, so I don't think we're the only one ;)

@mvz I agree, the error message is not ideal:

        user,

[2019-03-23 06:57] mvz commented on #1460
@troessner I have in mind making the message shorter, rather than longer.

[2019-03-23 07:11] mvz commented on #1459
The default config in the current release of overcommit does not include the `--force-exclusion` flag.

[2019-03-23 07:11] #1459 closed

[2019-03-29 13:53] mvz opened #1469 "Parsing Current Ruby and Syntax Error messages"
This is a follow-up on #1460.

I'd like to discuss the following points:
* Should Reek parse with Parser's 'current ruby'?
* Should we simplify the Syntax Error message so it doesn't always look like Reek crashed?

My opinion is a tentative yes to both questions:
* The first change will avoid Reek having to play catch-up with Parser's development: If a new version of Ruby is supported by Parser, R

[2019-03-29 19:58] troessner commented on #1469
That's an easy one: I'd give a strong yes in both cases :)

[2019-04-01 12:38] chastell commented on #1469
Me too, yes on both counts! :+1: :+1:

[2019-05-01 01:33] bkuhlmann commented on #1438
:information_source: Closing this since there isn't much traction.

[2019-05-01 01:33] #1438 closed

[2019-05-06 14:53] eloyesp commented on #1392
As documentation is bundled with the gem, links could point to the local filesystem, that way you don't need github nor version number and also don't need internet.

The documentation can also be provided inline (with a flag or may be a custom command).

[code]

[2019-05-06 16:49] troessner commented on #1392
That is a very good idea, thank you for that :)
We might come back to this in the future.

[2019-05-13 15:42] eloyesp opened #1476 "ToManyMethods false positive with nested classes"
I'm having false positive with TooManyMethods, with a code that looks like this:

[code]

Seems that reek does not catch the context switch when defining methods on the `Struct`.

Is it possible for it to detect it or should I add a magic comment (or may be just define the struct in other way).

[2019-05-13 15:58] mvz commented on #1476
Hi @eloyesp, thanks for reporting this. We do intend to support such code in Reek, so this is a bug.

[2019-05-13 16:18] eloyesp commented on #1476
I were checking a little bit, but I lack experience with the parser library.

It seems that the AST that should be detected is something like:

[code]

But I'm not sure how to implement that.

[2019-05-13 17:47] mvz commented on #1476
I'll take a look in the coming week. I think we already handle this construction elsewhere, so it shouldn't be too hard to fix this.

[2019-05-14 08:27] TeTiRoss opened #1477 "Instance Variable Assumption case"
Should the code below trigger `Instance Variable Assumption` smell?

[code]

Currently it is. Is it ok? If it is, then how should you handle case when you can't go with simple `@user ||= ...` because it can return `nil` and memoization will not work.

[2019-05-14 15:55] troessner commented on #1477
How about introducing the [Null Object Pattern](https://medium.com/@franzejr/null-object-pattern-in-ruby-12a809bc75cc)?

[2019-05-15 10:53] TeTiRoss commented on #1477
Yes, it can work as a solution in this case. But should this kind of code raise `Instance Variable Assumption` smell if it's clearly not what it is, but actually opposite. I'm not assuming that this instance variable exists, I'm checking if it is.

[2019-05-15 12:24] troessner commented on #1477
Since there are many ways for checking this in Ruby Reek can't potentially catch all of them, so we're not even trying. Our smell detectors for many smells would become huge and quite unmaintainable.

From a purely rational point of view, you are right, it probably shouldn't smell with that specific smell. It probably should have some other smell though which we have not named yet ;)

[2019-05-17 14:44] TeTiRoss commented on #1477
🙂 Ok, got it. So I guess should just disable it for this particular case.

[2019-05-17 20:08] troessner commented on #1477
Yes, makes sense :)

[2019-05-17 20:08] #1477 closed

[2019-05-21 17:10] jdickey opened #1479 "IrresponsibleModule in config file causes Reek::Task to die"
Given the config file

[code]

and the Rake task

[code]

I get the output when running `rake reek` of

[code]

| Tool | Version |
| ---- | ------- |
| Ruby | ruby 2.6.3p62 (2019-04-16 revision 67580) [x86_64-linux-musl] |
| Rake | rake, version 12.3.2 |
| Reek | reek 5.4.0 |
| Docker for Mac | Docker version 18.09.2, build 6247962 |

Running in a Docker container. Other such stacks (using Reek 5.

[2019-05-21 18:02] mvz commented on #1479
That is truly weird. Does the problem go away if you remove the IrresponsibleModule bit?

[2019-05-21 18:17] jdickey commented on #1479
The problem goes away if I remove `IrresponsibleModule` or if I replace it with *any other* smell; candidates tried include `DataClump`, `MissingSafeMethod`, `TooManyStatements`, and `UnusedParameters`. It's clearly specific to `IrresponsibleModule`.

[2019-05-21 18:18] mvz opened #1480 "Improve display of class method names in smell messages"
These are now displayed as `Class#self.method`, which looks odd.

[2019-05-21 18:30] mvz commented on #1479
I can't reproduce this I'm afraid. Does this happen with one particular project?

[2019-06-04 16:13] rasaffie opened #1482 "Directory configurations changed incompatibly in v5.4.0"
When updating from `v5.3.2` to `v5.4.0` running `reek` from _CLI_ and  _Rake::Task_ has different outcomes:

<img width="1274" alt="Screen Shot 2019-06-04 at 12 09 08 PM" src="https://user-images.githubusercontent.com/5222997/58895354-b2e9fd00-86c1-11e9-9bec-5b8229c3a20e.png">

My rake configuration is:
[code]

The problem is that the rake task finds the configuration file (changing its name cause

[2019-06-05 11:10] troessner commented on #1482
Just so we are triple clear on this, with 5.3.2 the output is exactly the same, right?

[2019-06-05 18:57] rasaffie commented on #1482
Thanks for your time. Yes, there is no difference using `v5.3.2`:

<img width="1275" alt="Screen Shot 2019-06-05 at 2 33 43 PM" src="https://user-images.githubusercontent.com/5222997/58980738-02eac180-879f-11e9-8efb-a3d636bd01ca.png">

I also noticed that running my tests on [CircleCI](https://circleci.com/) with `v5.4.0` the folder `vendor` is not being excluded, so the task is ignoring that conf

[2019-06-05 19:31] pbernery commented on #1482
Interesting, I was not aware of this Rake task feature.

Looking rapidly at the code, I think the directives do not work because they are not applied relative to the root directory, which is mostly the case when running reek from the command line because it's usually called with `reek .`.

When using the Rake task, you're specifying a pattern which selects only *.rb files in subfolders. If I am no

[2019-06-05 19:37] mvz commented on #1482
I think @pbernery's analysis is not entirely correct; The directives are applied to the file path as known to reek, which in the normal case does not include a leading `./`. Your task configuration, however, does introduce such a leading `./` because of the parameters passed to FileList.

Can you try configuring the task with:

[code]

I think in the 5.3 version of the code we unintentially matche

[2019-06-05 19:39] mvz commented on #1482
This is also a good think to try to verify the analysis.

[2019-06-05 20:37] rasaffie commented on #1482
Thanks! With the configuration @mvz proposed it works as expected.

Running the _CLI_ with `reek ./**/*.rb` reproduces the error.

[2019-06-06 06:12] mvz commented on #1482
@rasaffie I think that still means this is broken.

[2019-07-02 04:35] swarupkm commented on #645
Any progress on this? I was wondering if there could be a flag using which only the number of public methods to be calculated.

[code]

Also can some enlighten me on what design smell is it when one has large number of private methods?.

[2019-07-02 08:35] troessner commented on #645
There hasnt been any progress on this. If you want to get your hands dirty though we'd certain guide you along that PR ;)

Regarding the rationale: A lot of private methods indicates that your class is doing too much and you might be missing some lower level abstractions and modules. I like to think of it as a violation of the Single Responsibility Principle.

[2019-07-11 19:56] mcandre opened #1483 "Support reek.yml for configuration filename"
So that text editors highlight this file better.

[2019-07-12 07:17] mvz commented on #1483
Which editors don't understand that `.reek.yml` is a YAML file?

[2019-07-16 06:12] RST-J opened #1484 "[Feature Request] Unneccessary disable detection?"
Since some months we are using reek as a second tool to improve code quality and I really like it, except for one thing. It does not tell me when a disabled smell has been fixed and the disable is not needed any more.
So I'd like to ask, what you think about this feature and whether you consider adding it to reek?

[2019-07-16 06:17] RST-J commented on #1484
Nevermind, I just found #961 which I first mistook to be something similar but is exactly what I also mean.

[2019-07-16 06:17] #1484 closed

[2019-07-17 10:48] mdi opened #1485 "Include .thor files"
Is there any way to get `reek` to analyze `.thor` files? They seem to be ignored no matter what.

[2019-07-17 12:05] troessner commented on #1485
Currently this is not possible. Unfortunately the file extension is hard-coded right now as you can see [here](https://github.com/troessner/reek/blob/master/lib/reek/source/source_locator.rb#L88):

[code]

I would be up for either patching this functionality or making it a configurable setting. The latter would definitely be a bit of an effort though. @mvz thoughts?

[2019-07-18 06:31] mvz commented on #1483
@mcandre Can you answer my question please? I don't see what the problem is that you're trying to solve.

[2019-07-18 06:33] mvz commented on #1485
This is basically #721, right?

[2019-07-18 06:36] troessner commented on #1485
Good point. At least its closely related, yeah.

[2019-07-18 07:28] mvz commented on #1485
I'll give this some thought over the weekend.

[2019-07-23 16:31] leonelgalan opened #1486 "directories in config relative to cwd, not to configuration file itself."
## Setup

Rails app, where helpers smell of _UtilityFunction_

### _.reek.yml_
[code]

### _app/helpers/foo_helper.rb_
[code]

## Happy Path

[code]

[code]

## Possible Bug

When linting through atom-linter, the current working directory (cwd) is set to the one the file being linted exists, in this case: _app/helpers_. Reek will still find the correct _.reek.yml_ from it's ancestors, first in _ap

[2019-08-26 21:30] eloyesp opened #1490 "NestedIterator should ignore _currently open_ like methods (like CSV and tempfile)."
CSV (from standard library) uses a lot of methods that yield a `csv` file (that is opened and closed at the end of the block), `Tempfile.create` do the same:

Sample code:

[code]

I'm not sure if I can list all the method names, but, I would use `open`, `create` and `generate`.

On CSV, there is also the `new` method that receives a block, but I'm not sure if it can be ignored (I can't think on a

[2019-08-27 11:06] troessner commented on #1490
Not entirely sure I follow, couldnt you just add those exceptions yourself using the `ignore_iterators` described [here](https://github.com/troessner/reek/blob/master/docs/Nested-Iterators.md)?

[2019-08-27 11:30] eloyesp commented on #1490
@troessner Sure it can be done (it is what I did actually), but as those methods are on the stdlib and the name make it clear there is no iteration (just as the `tap` example) I thought it could be useful to add those method names by default.

[2019-08-27 12:29] troessner commented on #1490
Currently `ignore_iterators` works on methods alone. Whitelisting methods like `create` and so on would defeat the purpose of the whole smell detector since this means it would also not report on all the other cases where `create` is used in a non-CSV context.

I am open for pull requests that would allow us to whitelist `Tempfile.create` though ;)

[2019-09-16 13:36] etagwerker commented on #1469
Yes to both. 👍

[2019-10-01 02:21] ryym opened #1492 "False positive of Instance Variable Assumption with Struct initialize overload"
Hi, I found an issue about [Instance Variable Assumption][instance-variable-assumption] that occurs when a class have a `Struct` with its own `initialize` method in its block.

[instance-variable-assumption]: https://github.com/troessner/reek/blob/master/docs/Instance-Variable-Assumption.md

Example code:

[code]

When I run `reek` against this file, Reek reports a warning of `Instance Variable As

[2019-10-01 02:27] troessner commented on #1492
Oh, good catch! Yes, that definitely looks like a bug on our side. Thank you for that detailed report, we will look into this (not sure when though).

[2019-10-01 09:19] gettalong opened #1493 "False positive for DuplicateMethodCall with case statement"
Given the following code:

[code]

reek reports a DuplicateMethodCall for `y.method`.

Yes, `y.method` appears two times in this method, however, it is only called at most once. Therefore I think that this is a false positive.

[2019-10-21 21:11] lflucasferreira opened #1494 "Flay | How to disable it or exclude some files from its analysis?"
Hi,

The Flay is pointing a DuplicateCode Smell in two files. I would like to ignore these files and increase the code score, but there is no documentation about how to disable/exclude this smell.

I tried to use *exclude_paths* but it is not working at all.

Could you please help me? I'm lost.

[2019-10-21 22:03] mvz commented on #1494
Hi @lflucasferreira, this is the issue tracker for Reek, not Flay. I'm closing this as a duplicate of https://github.com/whitesmith/rubycritic/issues/321. If you're running Flay through rubycritic, that is the right place to ask.

[2019-10-21 22:03] #1494 closed

[2019-12-31 02:16] Drenmi opened #1503 "Rule request: word cloud"
Hello! 🙂

I would like to propose a new smell, which I named after [one of the worst web design trends of the mid 2000's](https://en.wikipedia.org/wiki/Tag_cloud): the "word cloud". It happens when large arrays or string- or symbol literals are arranged with several elements on the same line.

**Example from RuboCop:**

[code]

This layout makes it nearly impossible to add, edit, or remove an entr

[2019-12-31 09:16] mvz commented on #1503
That does look a bit like a mess. However, I'm not sure it fits in the 'code smell' category of problems. Isn't this more a rule that fits in RuboCop's Layout namespace?

I would also like to avoid adding new advice fights between Reek and RuboCop. :smile:

[2020-01-02 02:07] Drenmi commented on #1503
You might be right. In particular, it might not generalize well to other languages.

I'm thinking about adding it as an opt-in cop. I think the fear of vertical space will make most people anxious about it if it's enabled by default. 😅

😬

[2020-01-10 13:19] jimeh opened #1505 "False positive for MonduleInitialize"
I've come across two instances of a false positive ModuleInitialize warnings when using anonymous class definitions.

First the RSpec related one:

[code]

And secondly a DSL-based one:

[code]

The DSL variant is probably not very likely to be done in a real-world scenario, but technically the `initialize` method is not defined on the module that Reek warns about. The RSpec variant is something I

[2020-01-25 19:10] zw963 opened #1507 "[Defect] Remove codeclimate from runtime_dependency."
`codeclimate-engine-rb` **pull many gems**, but i have tested, those gem never used when i run reek command from a command line interface.

Infact, no this gem, reek can run successful on command line. (after comment several line of code for codeclimate/xml format),  do we consider add code make codeclimate acts as can plugged gem?

Same issue as REXML gem.

Thank you!

[2020-01-25 22:21] troessner commented on #1507
Hey @zw963,

Thats a fair point. I guess we could make requiring that gem optional and have it only loaded in a codeclimate environment.  I am still on vacation, @mvz do you have some time to tackle this?

[2020-01-26 22:00] mvz commented on #1507
I'll take a look.

[2020-01-28 06:29] zw963 commented on #1507
Thank you all.

[2020-01-28 19:22] #1507 closed

[2020-01-31 21:16] mvz commented on #1483
Closing this for now since we got no response.

[2020-01-31 21:16] #1483 closed

[2020-01-31 21:21] mvz commented on #1479
@jdickey does this problem still happen?

[2020-02-01 09:10] mvz commented on #1503
I'm going to close this as something that belongs in RuboCop or an equivalent code formatter.

[2020-02-01 09:10] #1503 closed

[2020-02-01 09:12] mvz commented on #1469
This was implemented in #1474.

[2020-02-01 09:12] #1469 closed

[2020-02-01 09:21] mvz commented on #1152
Closing this as a duplicate of #961.

[2020-02-01 09:21] #1152 closed

[2020-02-01 09:32] mvz commented on #922
The `#smell_class` method is gone now, so apparently this is done.

[2020-02-01 09:32] #922 closed

[2020-02-01 09:54] mvz opened #1512 "Proposal: Build on RuboCop infrastructure"
This is something I've been thinking about for some time.

There have been quite a few long-standing issues in the tracker that are not about Reek's core functionality. These have to do with configuration, the todo file, and the inability to make Reek process files that do not end in `.rb`.

* Configuration-related issues: #1486, #1482, #1434, #1430, #1429, #1417, #1283, and #667.
* Inspecting fil

[2020-02-01 11:38] mvz commented on #1493
DuplicateMethodCall isn't intended to be about whether multiple calls actually happen.

In your particular case, `y.method || b.method` probably has some significance that can be named as a method inside that class:

[code]

Reek won't report DuplicateMethodCall for this.

[2020-02-01 15:21] troessner commented on #1512
I think this is a fantastic idea well worth pursuing.

[2020-02-08 14:23] mvz commented on #1482
I don't think we will fix this in the 5.x series.

[2020-02-08 18:31] mvz opened #1515 "UnusedPrivateMethod doesn't detect use of methods via Method#to_proc"
[code]

With UnusedPrivateMethod activated, Reek reports:

[code]

[2020-02-13 15:40] elia commented on #1512
This sounds great and very efficient, but not quite around the corner… 😊

Would you accept a PR that will always check against expanded paths meanwhile?
That should solve a bunch of the reported issues.

Directories in the config file would be expanded from the config file dir, and any passed file from the current dir.

[2020-02-13 15:52] mvz commented on #1512
@elia yes, PRs that fix outstanding issues are always welcome!

This proposal will definitely take some time. So I'm guessing it will probably be done for Reek 7.

[2020-02-14 02:04] Drenmi commented on #1512
Just a heads up. I plan to extract the parts of RuboCop that are essentially tools built on top of Parser, such as the node patterns and node extensions, into its own gem. I can't say when this will happen, but hopefully that will be helpful to this project as well. 🙂

[2020-02-14 05:51] bbatsov commented on #1512
One more vote in favour of this proposal. I think that sharing the same foundation between multiple lint tools will be beneficial for everyone. I've been thinking for a while for a gem like the one mentioned by @Drenmi (think of it as `rubocop-ast`) and perhaps a `rubocop-core`, which is everything except the ast logic and the actual bundled checks, but unfortunately I've made 0 headway in this di

[2020-02-21 10:34] #1341 closed

[2020-02-21 19:03] Mifrill commented on #1375
@troessner any updates on this?

[2020-02-22 13:07] troessner commented on #1375
I'm not planning to work on this any time, maybe @mvz is in the mood ;)

[2020-02-22 13:16] Mifrill commented on #1375
@troessner okay, thanks for reply. Just want ask you opinion about it: do you still think it should fixed or it's really the code-smells indicator about some of problem deeper in code?

[2020-02-22 13:55] troessner commented on #1375
No, I think this is something we should fix in Reek.

[2020-02-23 10:50] mvz commented on #1375
Technically, Reek's judgment is correct since `foo&.bar` is not equivalent to `foo && foo.bar`, but to `foo.bar unless foo.nil?`. This means RuboCop's corrected version raises an exception if `foo` is `false`.

The question is, does this difference matter in practice? It seems not since RuboCop sweeps it under the rug.

TL;DR: The simplest solution is to not consider `foo&.bar` a case of NilCheck.

[2020-02-28 12:51] mvz commented on #1160
It looks like nested class or module definitions are a syntax error, and nested def is caught by RuboCop's `Lint/NestedMethodDefinition` cop. I'm not sure we need to flag this ourselves anymore. WDYT, @troessner?

[2020-02-28 23:34] l4cr0ss opened #1520 "Suppress or consolidate smells for functions pending implementation"
I did a quick search of the issues, both open and closed, but didn't see something like what I'm proposing.

The problem I am having is that reek is throwing up warnings for scaffolding code that hasn't yet been fleshed out. I've included an example below.

I'd like a mechanism that will let me suppress all warnings for a function in the particular instance that the function is not yet implemented

[2020-02-29 08:39] mvz commented on #1520
When exactly is this a problem? It is natural for code that is a work-in-progress to have some code smells. How is this hampering your workflow?

What tool are you using that generates this text?

[2020-03-01 22:27] l4cr0ss commented on #1520
Please permit me to answer your questions in reverse order.

That will be this tool, https://github.com/sds/overcommit. It offers a mechanism by which to manage git hooks. Here, the git pre-commit hook is kicking off the code quality suite my organization employs. The output is being categorized multiple ways, the one being shown indicating that this was a change introduced by the commit being per

[2020-03-02 07:54] troessner commented on #1160
Agree on us not flagging this anymore @mvz

[2020-03-02 07:54] mvz commented on #1160
Alright, closing this.

[2020-03-02 07:54] #1160 closed

[2020-03-10 16:59] jdickey commented on #1512
Came here looking for guidance on a `parser` problem; count me as supporting this as well. RuboCop has been solid in my experience for many years, and their opening up their infrastructure for others to build on is an unalloyed Good Thing that would no doubt mitigate problems like the following:

[code]

(as of Release 0.81.1 [current], RuboCop depends on `parser` >= 2.7.0.1, which Should Just Wor

[2020-03-11 18:27] mvz commented on #1512
@jdickey it looks like you're using an older version of reek. The current version will allow use with parser 2.6 and 2.7:

[code]

[2020-03-11 18:35] mvz commented on #1512
I don't think so, unless they can actually use that platform-level stuff. Using such a gem purely for the transient dependencies would be overkill. There are several easy options for gems to stay up-to-date with their dependencies. It makes more sense to use those.

[2020-03-13 00:28] l4cr0ss commented on #1520
Just want to follow up and ask again: will a pull implementing this feature be considered?

[2020-03-13 05:56] mvz commented on #1520
Hi @l4cr0ss, I'll try to get back to you on this this weekend.

[2020-03-13 08:52] jdickey commented on #1512
@mvz About your [**first**](#issuecomment-597794881) response: That's what I get; I'm pretty sure I'm using 5.6.0, as it's also the version listed in my `Gemfile.lock`.

[code]

About your [**second**](#issuecomment-597798478) response: Yeah, I think you're probably right. It's been my occasional experience, though, that relying on a trusted, well-maintained base platform that offers a superset of

[2020-03-13 09:26] mvz commented on #1512
That's odd, since your bundler output says:

[code]

I wonder what forces reek down to 5.2.0. Neither skunk nor rubycritic seem to force that. This is mostly a Bundler issue (it's not doing the best job explaining itself in this case), but you could try setting `gem "reek", "~> 5.6.0"` and see what it says.

RuboCop's release frequency is indeed quit a lot higher than Reek's. I'd like to think tha

[2020-03-15 10:01] mvz commented on #1520
I do not recommend having commits fail due to Reek issues. Code smells may take several refactorings to resolve, and a very important aspect of refactoring is being able to take small steps, and commit intermediate results, as well as the state of the code that was working but smelly. It is much safer to check for smells at the pull request level. This can be automated using CI or automatic review

[2020-03-16 11:58] #1375 closed

[2020-03-16 11:59] troessner commented on #1375
@mvz are you going to release those changes?

[2020-03-16 13:23] mvz commented on #1375
I'm holding off a little to see if there are any more breaking changes for the 6.0 release. We should probably pick a deadline for that so it won't take ages.

[2020-03-17 17:46] jdickey commented on #1512
That *is* odd, since `Gemfile.lock` insists that

[code]

and looking in the installed-Gem repository, one finds

[code]

Interestingly,

[code]

So `Gemfile.lock` and the Gem repository insist that Reek 5.6.0 is bundled, and the binstub exists, but the binstub (whether invoked directly or by `bundle exec`) says otherwise?

*furious head scratching*

[2020-03-18 08:14] mvz commented on #1512
Hm. I think we're firmly in rvm+bundler territory now. Maybe you can ask on one of those projects' support forums?

[2020-03-18 11:01] jdickey commented on #1512
I think you're likely right. Blast.

Thanks anyway.

[2020-03-28 10:49] troessner opened #1526 "Release Reek 6?"
Wanted to release the latest PR https://github.com/troessner/reek/pull/1525 but then I realized we have quite some breaking changes lined up, e.g. dropping support for Ruby 2.3.

Wdyt about doing a major release @mvz ?

[2020-03-28 11:32] mvz commented on #1526
Yes, let's do it! Our [milestone](https://github.com/troessner/reek/milestone/15) only has the one issue #1369 in it, and from my attempt at resolving it I can say that we should probably close it.

[2020-03-29 08:38] adithyabsk opened #1527 "Integrate with pre-commit tool"
## Feature

It would be really nice if the project integrated with the [pre-commit project](https://pre-commit.com/), a widely used pre-commit hook management tool. Only a single file is required for integration (the `.pre-commit-hooks.yaml` file)

## Solution

I've already set up a project mirror doing exactly that would suggest a link to my mirror (which auto-sync to the mainline project's relea

[2020-03-29 10:34] mvz commented on #1527
First off, I think using reek in a pre-commit hook is a very bad idea! I'm now wondering whether we should even point people to overcommit.

Why is it a bad idea? I think you should generally only check things that are trivial to fix without accidentally breaking your code. If you need to refactor to fix things, don't check it in a pre-commit hook. Committing after every step is a vital part of a

[2020-04-01 18:48] adithyabsk commented on #1527
@mvz thanks for the thoughtful response. One thing to note is that although the project's name is pre-commit, the tool could be configured to run at different stages (ie pre-push).

Totally, understand the burden aspect to the developers, though there isn't much to it besides adding a single configuration file that pre-commit: `.pre-commit-hooks.yaml`. As far as the mirror naming goes, it's just w

[2020-04-04 08:47] mvz commented on #1527
Such a pull request would be totally fine.

[2020-04-04 22:59] adithyabsk commented on #1527
@mvz cool, just created a PR #1530

[2020-04-11 08:56] nathansamson opened #1531 "Remove (fixed) dependency on psych"
Trying to install a rails project with reek 6.0.0 on windows fails because psych is not compatible with Ruby 2.6 or newer on windows.
As the latest release of psych is almost 18 months old (december 2018), and no comments on the bug report on their end (https://github.com/ruby/psych/issues/405) I propose dropping the dependency on psych. Its also almost not referenced in the codebase, and should b

[2020-04-11 09:44] mvz commented on #1531
Looking at the commit that introduced Psych, it seems we need it as a real dependency to support YAML loading with the new option syntax on Ruby 2.4 and 2.5.

You can try installing the platform-independent version of Psych 3.1.0 first (`gem install psych --platform ruby`), or add an equivalent line to the Gemfile.

[2020-04-13 15:54] mvz commented on #1526
And released it is!

[2020-04-13 15:54] #1526 closed

[2020-04-13 15:58] mvz commented on #1527
Closing this since you retracted your pull request.

[2020-04-13 15:58] #1527 closed

[2020-04-17 23:35] Mozart2234 commented on #1486
Hi, you can try in.

**.reek.yml**

[code]

This solution it worked for me.

[2020-04-20 05:20] mvz opened #1535 "FeatureEnvy and small methods"
I'm really beginning to dislike the FeatureEnvy detector for small methods:

[code]

Should we make this less strict? Require a larger difference? More statements? WDYT?

[2020-04-20 16:03] troessner commented on #1535
I would be perfectly fine with making it less strict. Maybe everything less than 3 statements is fine?

[2020-04-21 05:58] agorf opened #1536 "Rubygems.org "source code" link gives 404"
https://rubygems.org/gems/reek

Click on "Source Code"

[2020-04-22 10:03] mvz commented on #1536
Thanks @agorf, I'll take a look this weekend.

[2020-05-15 20:48] VladYermakov opened #1538 "False positive of UtilityFunction for class methods"
Hi there

I've observed a false positive for UtilityFunction when class methods are defined under `class_methods` block of `ActiveSupport::Concern`

For instance

[code]

So here I'm getting `UtilityFunction` warning, but it makes no sense, and by definition it wouldn't warn this method was defined using `self.`

Thanks in advance

[2020-05-20 01:29] Drenmi commented on #1436
Perhaps a `max_expressions` configuration option that defaults to 2?

[2020-05-22 19:00] maximpertsov opened #1540 "Relative paths in .reek.yml directories section do not match to absolute paths"
When I run reek via overcommit, it does not honor custom configurations in the `directories` section of my `.reek.yml` file. After debugging the issue a bit, I found that the problems stems from the fact that overcommit passes in absolute directory paths, which do not resolve to the relative paths in `directories`.

For example, here is a part of my `.reek.yml` configuration:
[code]

Reek works co

[2020-05-22 19:04] maximpertsov commented on #1540
Here is my proposal to address the issue: https://github.com/troessner/reek/pull/1541, unless the current behavior is intended.

[2020-05-26 16:00] #1540 closed

[2020-06-01 16:26] #1536 closed

[2020-06-01 16:41] mvz commented on #1536
Fixed in #1544. This will take effect on rubygems.org as soon as the next Reek version is released.

[2020-06-07 13:18] bkuhlmann commented on #1417
:information_source: If it helps, since I last posted above, I've adopted the [XDG](https://www.alchemists.io/projects/xdg) gem now. The XDG gem is a Ruby implementation of the spec while [Runcom](https://www.alchemists.io/projects/runcom) is a layer on top of XDG which provides developer nicities which deviate/enhance the XDG spec. :wink:

[2020-06-11 17:14] jdickey commented on #1479
Sorry for being away so long (health issue had me down for ~5 months). As of Reek 6.0.1, I'm good. Thanks for the help and *patience.*

[2020-06-11 17:14] #1479 closed

[2020-07-15 11:34] eloyesp opened #1547 "Alert on extra exclude rule"
I really like the `--todo` feature, but I noticed that most of the issues are being fixed without one noticing, but it is really hard to clean the list to know better where is the smelling code. It would be awesome if reek alert somehow about exclude rules that are excluding smells that aren't there anymore.

Is something like this possible?

[2020-07-22 16:59] troessner commented on #1547
Yes, we would love to have that ;)
There's an issue for this already: #961
We have no capacity to address this currently unfortunately so I wouldn't bet on it any time soon. PRs welcome ;)

[2020-07-22 16:59] #1547 closed

[2020-09-30 02:59] crcraig92 commented on #1531
It's possible this was resolved but still causing issues because the dependency is ~> and the change was minor version not a patch.  I tried many things to force the "install" to be recognized but it would not work.  psych 3.1.0 is a default gem that is packaged with Ruby 2.7.1 and is there from a fresh build with MSYS2.  I have forced the platform builds and still received the error.  I have upda

[2020-09-30 07:19] mvz commented on #1531
Yes, because we need the non-default version on Ruby 2.4 and 2.5.

If psych 3.1.0 is already installed with Ruby 2.7.1 there shouldn't be any problem!? Can you please post the result of the following commands:

[code]

[2020-10-16 22:26] KevinBuchs opened #1556 "Please update dependency on psych gem - Windows is stuck with Ruby < 2.6 constraint by reek"
reek (~> 6.0) x64-mingw32 was resolved to 6.0.1, which depends on
      psych (~> 3.1.0) x64-mingw32 was resolved to 3.1.0, which depends on
        Ruby  (< 2.6, >= 2.3) x64-mingw32

Psych 3.2 has a dependency on Ruby >= 2.4.

[2020-10-17 07:20] mvz commented on #1556
Possibly related to #1531

[2020-10-17 07:28] mvz commented on #1556
This was already fixed in #1549 but hasn't been released yet.

[2020-10-17 09:34] mvz commented on #1556
And released it is! Installing Reek 6.0.2 should work for your case @KevinBuchs.

[2020-10-17 09:35] mvz commented on #1531
I've just released Reek 6.0.2 which loosens the dependency on Psych. This should resolve this issue but I cannot test it directly. Please try and let me know.

[2020-10-17 19:07] KevinBuchs commented on #1556
Thanks! I appreciate the rapid turn around. Glad it was so easy to resolve.

Kevin Buchs, Senior Engineer, New Context Services <https://newcontext.com>
kevin.buchs@newcontext.com  507-251-7463  St. Cloud, MN

On Sat, Oct 17, 2020 at 4:34 AM Matijs van Zuijlen <notifications@github.com>
wrote:

[2020-10-17 20:44] #1556 closed

[2020-10-21 13:14] babakgh opened #1558 "Backlink to inappropriate site(s)"
Probably you want to remove any link to [solnic dot eu] from your documents like https://github.com/troessner/reek/blob/v5.4.1/docs/Control-Couple.md ( then click on **here** )

[2020-10-21 13:28] mvz commented on #1558
Yeah definitely. Looks like @solnic let his old domain expire or something. The article is now here: https://solnic.codes/2012/04/11/get-rid-of-that-code-smell-control-couple/

[2020-10-21 14:01] mvz commented on #1558
Oh, this was already fixed in #1516. Nothing much we can do about documentation for old Reek versions I'm afraid.

[2020-10-21 14:02] #1558 closed

[2020-10-24 09:12] solnic commented on #1558
yeah sorry about that, I lost this domain when I was on a sick leave a year ago. I wasn't checking my emails etc. and missed the payment deadline 😭

[2020-10-27 01:19] crcraig92 commented on #1531
[code]
It seems fixed with the 6.0.2 release.  Sorry for the delay, I cannot verify what the output of those commands were prior to this but psych would ask me to specifically install version '3.1.0' which as you said, is the default and should have been installed and recognized.  It was installed, and I don't understand why it wasn't recognized.
[code]
So again, sorry for the delay, but yes it do

[2020-10-27 06:48] mvz commented on #1531
Thanks for checking this, @crcraig92.

[2020-10-27 06:48] #1531 closed

[2020-10-27 07:02] mvz commented on #1558
No problem, @solnic

[2020-11-17 16:26] tleish opened #1560 "Glob patterns in exclude_paths"
Is there a specific reason Glob patterns are not supported in `exclude_paths`?  The following change would add support for glob patterns and be backwards compatible with previous configuration.

[code]

If there is not reason for avoid glob patterns and this were an acceptable solution, I'd be happy to create the MR.

[2020-11-25 18:42] troessner commented on #1560
Hello Hello :)

I can't recall that we had a specific reason for that. I'd happily review a MR if you're still up to doing it ;)

[2020-11-30 11:42] #1560 closed

[2020-12-03 08:04] abodelot commented on #1357
Hi @mdi

I found this bug report while investigating this issue:

Any idea about the root cause? How comes `reek` doesn't scan anything on Heroku CI unless you explicitly pass a path argument?

Thanks!

[2020-12-03 11:01] mdi commented on #1357
I'm not sure.

[2020-12-04 03:26] bkuhlmann opened #1563 "Fix UtilityFunction false positive with Kernel refinement"
## Overview

Seeing the following warning:

[code]

...for this refinement:

[code]

Potential Usage:

[code]

## Desired Behavior

It would be nice to not flag this as a violation in this case. This is similar in nature to what was [reported earlier](https://github.com/troessner/reek/issues/1438).

## Notes

I do a lot with refinements so, for context, this might help:

- [Refinements](https://ww

[2020-12-04 07:45] mvz commented on #1563
This makes sense. I'm going to take a look at how we can support refinements in Reek.

[2020-12-09 23:10] nomasprime opened #1569 "Attribute smell"
I get what this is saying but how is sending values to an initializer any different?

I'm using `attr_writer` to allow clients to change a cache directory, how else can I change it?

[2020-12-10 15:57] mvz commented on #1569
When you send values to an initializer you can create an object that is in effect immutable.

I can't say that much about it without seeing the code, but if you use `attr_writer` to allow clients change a cache directory, this means your object is automatically not thread-safe, since another client can set the cache directory without the first one knowing about it.

The general solution is to allo

[2020-12-12 16:03] bkuhlmann commented on #1563
In case it's of interest/help, here's the Reek [configuration](https://github.com/bkuhlmann/versionaire/blob/master/.reek.yml) I ended up settling on to workaround this issue:

[code]

Due to implementing a Ruby cast/conversion function, this also causes Reek's to `UncommunicativeMethodName` to trip too.

[2020-12-18 08:24] replaid commented on #1535
I just came here to suggest giving a tolerance option—e.g. tolerance of `1` would allow 1 more reference to another "envious receiver" than to `self`. Could default to `0` for current hard-coded behavior.

[2021-01-03 17:39] mvz commented on #1563
I've investigated this a bit further and it looks like even if Reek correctly recognizes refinements (and it should!), this would still be considered a UtilityFunction, just like in the following case:

[code]

However, with proper support, you should be able to exclude `Kernel#Version` instead of `Cast#Version`.

[2021-01-04 10:37] #1563 closed

[2021-01-04 13:56] bkuhlmann commented on #1563
:bow: @mvz. OK, so reduced to a utility function but not uncommunicative if I understand correctly? Yep, I'll give this a look once the next version is released of Reek. :wink:

[2021-01-04 14:58] nomasprime commented on #1569
Ah, of course. Thought it must be related to mutability, didn't see the solution for some reason.

Thank you so much @mvz 🙂

[2021-01-04 14:58] #1569 closed

[2021-01-08 17:44] bkuhlmann opened #1576 "Add Parser 3.0.0.0 support"
## Overview

You might already be aware of this but with the release of Rubocop 1.8.0, the Rubocop team has required the use of Parser 3.0.0.0. Would it be possible to upgrade Reek to support Parser 3.0.0.0 so one can use both Rubocop and Reek in the same project?

## Screenshots/Screencasts

![iTerm2-he-deployer-VioeQq6x](https://user-images.githubusercontent.com/50245/104046863-f9f17b80-519d-11e

[2021-01-08 21:28] mvz commented on #1576
Normally, Dependabot would have taken care of this already, but it seems it messed up: https://github.com/troessner/reek/pull/1572/files#diff-c08372593ec972b81a370fcef9ff665a5ad090dc230e814bfabb32007b617227R31

[2021-01-08 21:33] bkuhlmann commented on #1576
@mvz Ha, yeah...I suppose those requirements are a little hard to decipher for Dependabot too. 😅

[2021-01-09 10:57] #1576 closed

[2021-01-11 10:43] troessner commented on #1576
Just released Reek 6.0.3 with the request parser dependency upgrade @bkuhlmann  ;)

[2021-01-11 13:52] bkuhlmann commented on #1576
:bow: @troessner, this is fantastic! I was working on a feature branch over the weekend where I was doing this:

[code]

With a Rebase fixup, I'll make that look like I was using `6.0.3` all along. Ha! :wink:

[2021-02-10 13:06] pitosalas opened #1586 "Two files that cause Reek to crash"
These two files cause Reek to crash after saying that there was a syntax error. I don't know if the crash and stack trace are intentional.

[bad1.txt](https://github.com/troessner/reek/files/5958326/bad1.txt)
[bad.txt](https://github.com/troessner/reek/files/5958328/bad.txt)

[2021-02-10 15:40] troessner commented on #1586
Both files contain syntax errors because at least one "end" is missing in both (just did a cursory glance) so this is not related to Reek:

bad.txt:60: syntax error, unexpected end-of-input, expecting `end'

[2021-02-10 15:40] #1586 closed

[2021-02-10 15:56] pitosalas commented on #1586
Agreed. But I was just asking whether the stack trace was intentional.

[2021-02-10 15:58] troessner commented on #1586
Yes, the stacktrace at the end of Reeks output is indeed intentional ;)

[2021-02-14 21:59] guillermoap opened #1587 "Possible false positive on UtilityFunction"
Hello,

The method `process_file` is triggering the `UtilityFunction`.
This is a helper module, why is it complaining about it not depending on the instance state?

[code]

[2021-02-16 14:38] troessner commented on #1587
Yeah, that was a design decision we took a loooong time ago and it surely was a controversial one ;)
In short, we consider helper modules smelly by definition, hence Reek raises an alert. For more details see [here](https://github.com/troessner/reek/blob/master/docs/Utility-Function.md).

You can either disable raising an alert for these methods via [magic comment](https://github.com/troessner/ree

[2021-02-16 16:29] mvz commented on #1587
Also see https://github.com/troessner/reek#working-with-rails

[2021-02-17 14:32] guillermoap commented on #1587
Didn't know that, thanks for the suggestion. I ended up disabling it.

Thanks for the help. Closing this

[2021-02-17 14:32] #1587 closed

[2021-02-25 14:46] nomasprime commented on #220
Looks like reek, unlike other linters, doesn't take gitignore into account. Ignored files don't progress down the pipeline so can't think of an instance why you would want to lint them by default.

I came to this issue because reek insists on linting vendor/bundle unless I add to reek specific config. Is this an accurate reflection?

[2021-02-25 14:58] nomasprime opened #1589 "Offenses missing from JSON output"
`bundle exec reek lib/file.rb` outputs 3 warnings.

`bundle exec reek --format json lib/file.rb` outputs JSON with no elements in `offenses` and `offense_count` is `0`.

[2021-02-25 15:01] mvz commented on #220
Yes, this is accurate.

[2021-02-25 15:02] mvz commented on #1589
Can you post the contents of `lib/file.rb` somewhere please?

[2021-02-25 15:23] nomasprime commented on #1589
OK, this is bizarre. Thought I should edit the file down to post but when I tested it again behaviour had returned to expected. I restored the full file and, again, expected behaviour.

I checked again before updating the issue and it's gone back to unexpected behaviour. Seems either Reek format or something in my system is causing flickering. Non-JSON format is consistent though 🤔

I'd better pos

[2021-02-25 15:28] #1589 closed

[2021-02-25 15:30] mvz commented on #1589
No problem :smile:

[2021-02-25 15:31] nomasprime commented on #1589
Thanks, not embarrassing at all 😄

[2021-02-26 09:24] nomasprime commented on #220
Thanks @mvz.

[2021-03-05 00:11] OfficeYAportatil opened #1593 "Reek breaking down!"
Hi there.

I have been using **reek** for a long time, without any problems, until now.

I just installed rails & friends on my new computer, and, reek does not work. It seems it has some issue with sexp_node.

When I call it like this:
`$ reek app/controllers/clasificactions_controller.rb`

I get:
`Traceback (most recent call last):
	40: from /home/addicttux/.rvm/gems/ruby-2.7.2/bin/ruby_executab

[2021-03-05 09:10] mvz commented on #1593
@OfficeYAportatil you can add code block markers (triple backticks) around your code in markdown. It will look much better. Can you please edit your ticket?

See https://github.github.com/gfm/#fenced-code-blocks

[2021-03-14 17:03] mvz commented on #1593
@OfficeYAportatil it looks like you're using reek version 1.3.8, which is from 2014. Can you please try with a more recent version?

[2021-03-19 17:56] OfficeYAportatil commented on #1593
hi, sorry for the delay, i was out of the city. let me work on this and i will notify you soon

[2021-03-19 19:39] OfficeYAportatil commented on #1593
Man, you are right. I upgraded reek into version 6.0.3 and everything is working great. Thanks a lot.

[2021-03-19 19:39] #1593 closed

[2021-03-29 15:38] mateusluizfb commented on #1538
Reproduced in version `'reek', '~> 6.0'` and the warning still occurs.

Can I open a PR to fix the issue?

[2021-03-29 16:40] mvz commented on #1538
@mateusluizfb yes, please. Let me know if you need any pointers.

[2021-03-29 23:16] mateusluizfb commented on #1538
@mvz PR here https://github.com/troessner/reek/pull/1596 :)

[2021-05-31 09:20] philister commented on #1136
This is still a thing?

[2021-05-31 10:26] mvz commented on #1136
@philister I'm not entirely sure what you want to know, but our standpoint on this has not changed.

[2021-06-01 07:14] philister commented on #1136
@mvz Thanks! Thats fine for me.

[2021-08-02 09:29] Paul-Yves opened #1606 "Psych 4.0 has breaking changes"
After `Loosen dependency on psych`, psych 4 is now loaded but has some breaking changes. A lot of my spec fail now `Psych::DisallowedClass: Tried to load unspecified class: Date` (or BigDecimal), all during a `expect(something).to be_delayed`. I do not use psych in my project, it's only here because of reek and I have no idea how to configure it to fix (gem issues suggest calling psych with specif

[2021-08-02 11:28] mvz commented on #1606
Just to be clear, this error happens when you load some yaml unrelated to Reek, right?

My suggestion would be to add an explicity dependency on psych 3 to your project.

[2021-08-02 12:10] Paul-Yves commented on #1606
As far as I know no yaml is loaded but you are right, it seems to be specific to Psych I will see on their github.

[2021-08-02 12:49] mvz commented on #1606
The backtrace of the spec failure should tell you where yaml is loaded. If necessary, pass `-b` to rspec to show all lines of the backtrace.

Have you tried my suggestion to add an explicit dependency on psych 3? For example, you can add the following line to your Gemfile:
[code]

[2021-08-02 13:04] Paul-Yves commented on #1606
Yes it's working perfectly, I will use that in last resort

[2021-08-02 13:44] marcelolx commented on #1606
Our build broke today too because of Psych 4.0, explicit setting psych to 3 solves the problem. In our case, the problem is because of config files that use aliases and we are running Rails 6.0 which at this moment don't support those aliases https://github.com/rails/rails/pull/42257#issuecomment-844051751

[2021-08-11 22:22] lostapathy commented on #1606
Is there a reason reek needs to have an explicit dependency on psych in the gemspec?  I've run out of a fork that removed for a while.

Ruby has included psych by default for quite some time now, so it's available even if reek doesn't demand it in its .gemspec.  If nothing in the Gemfile is asking for psych, bundler won't ever pull in a newer-than-system psych, and then this type of error doesn't

[2021-08-12 07:45] mvz commented on #1606
@lostapathy yes, it seems psych is a default gem even in Ruby 2.5.0, the lowest version we support now. I'll make a pull request to remove psych as an explicit dependency.

[2021-08-12 07:59] mvz commented on #1606
Well, that didn't work, since:

- We actually still support Ruby 2.4, but that shouldn't be the case for long
- Even on Ruby 2.5, the system psych does not support the `permitted_classes` option, which we use.

[2021-08-12 09:59] #1606 closed

[2021-08-12 10:46] mvz commented on #1606
Fix released in version 6.0.6.

[2021-08-31 14:09] Pauloparakleto opened #1616 "UncommunicativeVariableName rubocop recomendation oposite to rubycritic statment"
[code]
The rucbocop says to use the famous `e` variable representing the error while the rubycritic says to use a better variable description. The result is a ` UncommunicativeVariableName`, detailing my class with `GoodCents::ImportCsv#build has the variable
name 'e'`

`rubocop --version 1.18.3`
`rubycritic --version 4.6.1`

If this is the properly place to discuss it, someone needs to reproduce

[2021-12-16 17:11] Ji-You opened #1627 "Errors when building YARD index"
Could anyone please help me troubleshoot this issue?
For context, I am trying to run `yard gems` in my project directory for solargraph. (https://solargraph.org/guides/yard)
However, when it tries to generate documentation for `reek` gem, it outputs following error:
[code]
Your help would be most appreciated.

[2021-12-17 10:25] troessner commented on #1627
What would be the easiest way for us to reproduce this?

[2021-12-20 16:01] Ji-You commented on #1627
1. Enable auto-generation of docs `yard config --gem-install-yri`
2. Install reek `gem install reek`

Expected:
- Documentation is auto-generated for `reek` gem

Actual:
- It errors with following message:
[code]

[2022-01-09 09:31] Drenmi commented on #1616
Hello! 👋

Ruby core team member here. Since RuboCop has moved towards configurability, the default configuration shouldn't be treated as an authoritative source on what is "good". In most cases the default is arbitrarily chosen by the author of the cop.

You can configure the desired variable name in your `.rubocop.yml` like so:

[code]

[2022-01-11 02:43] bkuhlmann opened #1636 "Leading argument with argument forwarding issue"
## Overview

Hello. :wave: I'm currently running into an issue where Reek will stack dump. Luckily, it looks like Reek finishes its analysis but would be nice to resolve the stack dump.

## Steps to Recreate

I managed to narrow down the the issue to a simple code snippet:

[code]

When you run the above as directed, you'll get the following stack dump:

<details>
  <summary>Full Details</summary>

[2022-01-11 06:52] mvz commented on #1636
Thanks, @bkuhlmann I'm going to take a look.

[2022-01-11 10:40] #1636 closed

[2022-01-14 05:43] chopperg opened #1638 "-c"

[2022-01-14 05:48] chopperg opened #1639 "https://github.com/troessner/reek/blob/master/.gitignore"

[2022-01-14 11:55] troessner commented on #1638
@mvz I just blocked and reported this user.

[2022-01-14 11:55] #1638 closed

[2022-01-14 11:55] #1639 closed

[2022-01-23 23:18] anicholson-sq commented on #1627
I had this issue too – I did this to workaround it:

[code]

and then yard was able to process `reek` with no issues…

[2022-01-24 22:18] Ji-You commented on #1627
@anicholson-sq 's workaround solved my problem. Thank you. I'm closing this issue now.

[2022-01-24 22:18] #1627 closed

[2022-03-12 18:51] bkuhlmann commented on #1493
I'm running into this issue as well but with a slight twist on the above. Consider the following:

[code]

When running Reek on the above, I'll see the following:

[code]

I think this should be valid because it seems a bit premature (optimation-wise) to compute the default when you might not even hit the two logic branches that may or may not be executed.

[2022-03-14 11:10] chastell commented on #1493
I think the point is not to prematurely call the defaulter, but to factor out the call into a method:

[code]

[2022-03-14 12:50] bkuhlmann commented on #1493
Hey Piotr, thanks. Yeah, I see what you are saying but I'm not sure there is much gain in doing this. Plus, what you are suggesting above would result in the same violation since `defaulted_to` would be detected for the same error (when used as an instance method). My original code snippet wasn't accurate, so here's a revised implementation which demos this better I think:

<details>
  <summary>In

[2022-03-16 22:16] vsviridov opened #1645 "UtilityFunction and Concerns"
I have a module which is then `include`d as per `ActiveSupport::Concern` pattern.

There are several methods placed under
[code]

I get a bunch of `UtilityFunction` smells, because it doesn't seem to correctly recognize that those mehtods do end up as class methods already.

[2022-03-18 10:26] mvz commented on #1645
Hi @vsviridov, this is a duplicate of #1538.

[2022-03-18 10:26] #1645 closed

[2022-04-18 17:01] chastell commented on #1616
(FWIW, I have _feelings_ about just that and _much_ prefer an explicit `exception`, `error`, or at least `ex` / `err` rather than a sole `e`.)

[2022-04-18 20:38] mvz commented on #1616
I agree. @Pauloparakleto please follow @Drenmi's advice to make RuboCop and Reek work well together.

[2022-04-18 20:38] #1616 closed

[2022-04-20 19:21] #1515 closed

[2022-04-23 01:35] Pauloparakleto commented on #1616
Thanks you all, @mvz , @chastell and @Drenmi

[2022-04-24 16:32] mvz commented on #1397
I've just realized that the situation is even more confusing for modules in general: If you define a module for the purpose using it with `Class#extend`, Reek will treat the methods as instance methods, even though they will be class methods on the extended class.

[2022-06-17 02:54] la-ruby opened #1658 "Reek complaining about my simple mixin )-:"
If I write a simple mixin, reek complains of `UtilityFunction`.
so I'm wondering whether I should write less mixins.

[code]

I use it in various classes like this

[code]

Reek says

[code]

[2022-06-18 11:33] mvz commented on #1658
The effect of your mixin is to create a public method on `Key` that doesn't depend on the instance state of that particular key object, so the `UtilityFunction` behaves the same as if you had written

[code]

There are several ways to resolve this. One of them is to create module functions:

[code]

[2022-06-18 13:47] la-ruby commented on #1658
great - and thanks for your contributions to this gem 👍

[2022-06-18 13:47] #1658 closed

[2022-09-02 20:32] bkuhlmann opened #1666 "Fix nokey parameter"
## Overview

I'd like to be able to define a `**nil` method parameter but this causes a stack dump.

## Steps to Recreate

You only need Reek to analyze the following code:

[code]

If you save the above as `snippet.rb` and run as `reek snippet.rb` you'll get the following:

<details>
  <summary>Stack Dump</summary>

[code]
</details>

You can verify the above method signature by running the follo

[2022-09-03 08:46] mvz commented on #1666
Thanks @bkuhlmann we'll look into it.

[2022-09-21 07:18] #1666 closed

[2022-09-21 12:53] bkuhlmann commented on #1666
Thanks for the fix, looking forward to making use of this!

[2022-11-17 17:52] bkuhlmann commented on #1666
:wave: Hey, I wanted to check back on this. Would it be possible to release a new patch version with this fix or maybe you are planning to do this soon?

[2022-11-21 19:19] troessner commented on #1666
Hi Brooke,

I just released 6.1.2 with the fix in it!

[2022-11-21 20:13] bkuhlmann commented on #1666
Thanks, yep, works like a charm. :tada: