[2015-07-14 06:37] mvz commented on #597
I prefer the `with_test_config` syntax. Adding the config as an extra parameter makes things less clear. I *think* RSpec gives you ways to add such things neatly as part of the DSL, so you can do stuff like:

[code]

I haven't tried this, though.

For now, perhaps we can implement `with_test_config` like so:
[code]

[2015-07-14 07:15] mvz opened #599 "Fix reek_of matcher messages"
The failure messages for `reek_of` are too general. For example, if the match fails due to the details being wrong, it just says it didn't smell.

[2015-07-14 08:26] troessner commented on #597
But this wouldn't make much sense because then we would test for ourselves but none of our users could use this. Unless he'd use our with_test_config as well which would be a little absurd.:)

I'd rather go and try this approach you just suggested:

[2015-07-14 09:07] mvz commented on #597
OK. Would you like me to investigate?

[2015-07-14 09:26] troessner commented on #599
Let's rather call that a bug.:)

[2015-07-14 09:30] troessner commented on #597
That would be awesome and highly appreciated!

[2015-07-14 09:46] mvz commented on #599
Title adjusted accordingly :-).

[2015-07-15 15:28] yld commented on #557
Works flawlessly now, thanks.

[2015-07-16 10:22] #582 closed

[2015-07-17 01:12] ahmadseleem opened #601 "An option to show column number?"
Is there an option to show column number ?

[2015-07-17 07:19] mvz commented on #601
Not at the moment, but parser gives us enough information to potentially add that.

Do you experience issues locating the source of the detected smells without the column?

[2015-07-17 10:46] ahmadseleem commented on #601
You did a great job, anyway! thanks, keep it up!
I have more feedback, maybe I should contribute a little here as I can/know.

[2015-07-17 11:12] mvz commented on #601
Yes, please do report issues for anything you think can be improved or any questions you may have.

[2015-07-18 00:31] philoserf opened #602 "Failure on valid syntax: Parser::SyntaxError: unexpected token tCOLON"
I've read through the open and closed issues for related issues. While there are some ruby parser issues related to symbol syntax, this case appears new.

Using MRI 2.2.2.

Given a ruby code fragment like this:

[code]
**reek** bails with the error message:

[code]
while `ruby` 2.2.2 testifies syntax is valid:

[code]

`ruby_parse` also handles the code without issue.

[2015-07-18 05:49] mvz commented on #602
Which version of reek are you using?

[2015-07-18 06:41] ahmadseleem opened #603 "I just wrote a working plugin for Atom: Linter-Ruby-Reek = LRR"
Hey,

I really liked your work and wanted to use it in Atom editor.
The other package was broken on your side and Linter API side and seemed inactive.
I couldn't wait.

I call it: LRR

https://atom.io/packages/linter-ruby-reek

I hope that's a little contribution and hopefully I can do more...

Thanks!

[2015-07-18 09:51] mvz commented on #603
Hi @ahmadseleem, perhaps you can contribute your fixes back to [linter-reek](https://github.com/AtomLinter/linter-reek). It seems you found fixes for the [issues reported there](https://github.com/AtomLinter/linter-reek/issues). I really don't think its development is inactive.

[2015-07-18 15:57] troessner commented on #146
@nTraum you wanted to take a shot at this, right?

[2015-07-18 16:25] ahmadseleem commented on #603
**It wasn't an issue. it was not written to target reek or Linter API at all.**:

I did send the developer two messages in the issues and I got no answer then I deleted my comments when I found things I mentioned below.

Before, the maintainer just wrote (https://github.com/AtomLinter/linter-reek/issues/10) then, I commented on that issue, too.
Before that comment, I was already working on the plu

[2015-07-18 22:06] troessner commented on #601
Like @mvz it's not supported and not planned right now - closing.

[2015-07-18 22:06] #601 closed

[2015-07-18 22:12] troessner opened #604 "SourceCode#description"
Regarding: https://github.com/troessner/reek/blob/master/lib/reek/source/source_code.rb#L16
We use "description" as filler for everything.
Might be a string, STDIN or Filename / Pathname.
I think the name is horribly misleading and we should change it.
Suggestion: source_via
Since this "description" terminology is used across the application, I think it makes sense to discuss this first.
WDYT?

[2015-07-18 22:20] troessner opened #605 "Option hell in /cli"
We should get rid of the option hell in /cli which always trips me up. There's the OptionInterpreter, the OptionParser and that options OpenStruct.
We should unify this and remove confusion.
WDYT?

[2015-07-18 23:05] #603 closed

[2015-07-19 09:26] mvz opened #606 "Add .with_config option to RSpec matchers"

[2015-07-19 12:54] troessner opened #608 "Make AppConfiguration's initializer flexible enough to deal with different inputs"
Coming from here: https://github.com/troessner/reek/pull/593/files#diff-373a31cd38fa792eeb0826b025e8da97R69

[2015-07-19 19:27] mvz commented on #608
Let's at lease/also get rid of the options parameter and just pass in the path or something.

[2015-07-19 23:00] chastell commented on #604
How about `SourceCode#origin`?

[2015-07-19 23:01] chastell commented on #605
Yes, definitely!

[2015-07-20 05:57] troessner commented on #604
Ah, yes, thats better!

[2015-07-20 07:45] nTraum commented on #146
Yeeep, will try to come up with something this week.

[2015-07-20 08:16] mvz commented on #604
Yes, very nice!

[2015-07-20 11:01] troessner opened #609 "magic number / string smell"
The discussion originated in #593 :
I believe we should get rid of all magic numbers and strings in our codebase.  Which means that most or maybe all would turn into constants or belong to constants.
Furthermore i suggest a corresponding SmellDetector.
WDYT?

[2015-07-20 11:28] chastell commented on #609
I don’t know. ¯\_(ツ)_/¯

I usually cargo-cult this as a Good Practice™, but more and more often I realise that – in the cases when a given magic number/string is used exactly once – the practice gives zero benefits and comes with a jumping-around overhead (much like `let` declarations in specs that have only one `it` block). I wouldn’t mind the overhead as much if it weren’t kicking in so often wh

[2015-07-20 12:11] mvz commented on #609
I used to always make constants when I was using other programming languages, but for Ruby, less so. I wonder why.

I'm inclined to go with @chastell regarding single-use constants, especially since Ruby borrows the SmallTalk pattern of wrapping constants in methods:

[code]

Perhaps we can implement a milder smell that would be more useful: RepeatedLiteral. This should ignore several basic consta

[2015-07-20 12:12] mvz commented on #609
The problem with RepeatedLiteral is of course that Reek examines source code by file. Maybe we should change that?

[2015-07-20 12:31] chastell commented on #609
Oh interesting! It looks like a good idea in theory, I wonder how it would look like in practice.

Eventually we should (we currently don’t catch stuff like ‘this class includes seven modules, so has seventy-seven methods now’). For this a global literal counter would suffice if that’s simpler.

Oh yes! :+1:

[2015-07-20 12:38] troessner commented on #609
And I have seen quite some code like that just to silence reek / rubocop.

Not sure about that quite frankly. I need to let that sink for a while.:)

But then it gets complicated again. And I'm pretty sure there are quite a few cases where "1" is confusing as well.:)
"No magic numbers and strings" is easy to understand, straight-forward to implement and easy to reason out.

[2015-07-20 13:00] troessner commented on #146
@nTraum you could start out like this:

- Make sure that we all agree on the scope of this feature. Especially the template pattern case from above is something where we should be clear about what constitutes a smell and what not (that we don't recognize the template pattern properly because reek works on file-base is something that shouldnt matter now)
- Get familiar with a couple of simple smell

[2015-07-20 13:03] mvz commented on #609
True, but if no-one will enable that smell, there's not much use implementing it :smile:.

[2015-07-20 13:35] mvz commented on #146
Your method contexts will know their own visibility thanks to recent changes.

[2015-07-20 14:06] troessner commented on #146
Ah, right!

[2015-07-20 15:54] philoserf commented on #602
It does look like the bundle locked on an old version. Closing.

[2015-07-20 15:54] #602 closed

[2015-07-21 09:42] #594 closed

[2015-07-21 15:38] troessner commented on #529
Now with #593 out in the wild implementing this rails friendly mode should be a breeze since it actually boils down to a sample configuration. So I'd just add a section to our README that says something like "In order to make reek rails-friendly you just have to tweak your configuration like this:"

And then I'd add something like this:

[code]

WDYT?
@nTraum do you have any more suggestions regar

[2015-07-21 15:52] nTraum commented on #529
@troessner Checking one of our `reek` config files from a Rails project, I see a lot of exceptions for `FeatureEnvy` in helpers too, IIRC because `FeatureEnvy` and `UtilityFunction` would almost always pop up together. Not sure if that's still the case though.

[2015-07-21 16:33] troessner commented on #529
Noes, we separated them quite a while ago. They shouldn't occur together anymore.

[2015-07-21 18:13] mvz commented on #587
I don't think there's anything we can do about this; Someone will need to create a pull request/feature request for hound. Now that we have a stable API, this should be easier to do.

[2015-07-21 19:33] troessner opened #612 "Instance variables vs getters / setters in reek"
I know we had already started a discussion about this but this was in an unrelated issue and I'd like to start clean.
So, what can we agree on?
I'd say we go with style suggested here: https://github.com/jswanner/private_attr
Meaning: No more instance variables at all.
That's a clear and easy rule to follow.:)

[2015-07-21 19:44] mvz commented on #491
I'm up for taking this over.

[2015-07-21 19:57] chastell commented on #612
It’s a tad u̶g̶l̶y̶ baroque and I have a slight preference for just using `@foo = foo` in constructors (and explicit setters everywhere else if mutation can’t be avoided), but I’m ok with it. Can’t question the simplicity of ‘no `@` at all’. ;)

[2015-07-21 20:01] troessner commented on #491
:1

[2015-07-21 20:30] troessner commented on #570
I just merged #611 into the reek-4 branch -> closing this issue.

[2015-07-21 20:30] #570 closed

[2015-07-21 21:57] mvz commented on #612
I'm afraid such a simple rule will kill my favourite pattern: memoization:

[code]

We use it about 33 times in reek. Creating differently named setters for each seems crazy to me. We'd get this:

[code]

[2015-07-22 06:29] chastell commented on #612
Ah, right, memoization – so I _do_ use ivar setting outside of the constructor, I just disassociated it so much from state I forgot about this case. :)

[2015-07-22 07:31] troessner commented on #612
Ok, then how about "use instance vars in the constructor and for memoization and getters / setters for everything else"?

[2015-07-22 08:40] mvz commented on #612
:+1:

[2015-07-22 08:42] mvz commented on #597
This is fixed now, right?

[2015-07-22 14:49] troessner commented on #597
What do you mean? Right now it's like this:

[code]

So the "with_config" thingie is not there yet (if that is easily possible with rspec).
Quite frankly, I'd rather focus on other things since I believe our current solution is good. Not perfect, but good.
But if you want to restart this then just go ahead..:)

[2015-07-22 16:22] chastell commented on #612
Oh very much so! I can do this (perfect task for my summer-fried in 30°C brain), but if not then please merge #610 first.

[2015-07-22 19:19] mvz commented on #597
I meant this entire ticket :-D.

[2015-07-22 20:14] troessner commented on #597
Ah, yes! Closing.:)

[2015-07-22 20:14] #597 closed

[2015-07-22 20:24] troessner commented on #612
Would it make sense to add a "reek styleguide" mentioning this to our contributing guidelines?

[2015-07-23 05:22] mvz commented on #612
@troessner good idea.

[2015-07-23 21:25] troessner opened #620 "Getting rid of 1.6."
We still have that branch: stable-1.6

Given that we are already on 3.1. I highly doubt that we will ever backport anything we do to that branch.:)

Let's remove it - objections?

[2015-07-23 21:47] #529 closed

[2015-07-23 22:19] chastell commented on #620
:+1: – the actual releases are tagged, so will stick around anyway, and all the commits on `stable-1.6` that `git log master..stable-1.6` shows are actually on master already anyway.

[2015-07-24 05:40] mvz commented on #620
:+1:

[2015-07-24 06:05] troessner commented on #620
And gone he is.:)

[2015-07-24 06:05] #620 closed

[2015-07-24 14:59] troessner opened #621 "ExcessiveConstantUsage smell"
I think such a smell would be really helpful.

E.g. code like this:

[code]

would reek of this smell. The category for this smell would be "SRP violation" in my mind.

What are your thoughts on this?

[2015-07-27 13:46] ehedrick opened #622 "Reek fails on use of ||= with constants"
I ran into an issue with the use of the or equals operator on constants.

Example file (test.rb):
[code]

Output of ```reek test.rb```:
[code]

[2015-07-28 09:29] troessner commented on #622
Interesting. Confirmed.
I'll look into it, thanks for the report!

[2015-08-01 13:59] troessner opened #624 "Link to other analyzers / linters and projects that use reek"
Well, the title says it all.:)

I'd love to have this in our README. `reek` users are for sure interested in other static code analyzers as well. Let's give our brother and sister projects in mind some love and list them in our README including a one-sentence description (which I omitted below):

My suggestions:

Analyzers:

- debride: https://github.com/seattlerb/debride
- flay: https://github.co

[2015-08-01 14:35] mvz commented on #624
:+1:

Additional suggestion: https://github.com/YorickPeterse/ruby-lint

[2015-08-04 05:37] chastell commented on #624
:+1: – additional suggestion: https://github.com/whitesmith/rubycritic

[2015-08-08 22:25] troessner commented on #587
Agreed. Closing this one.

[2015-08-08 22:25] #587 closed

[2015-08-08 22:32] troessner commented on #483
This whole discussion has gotten a little vague.

[code]
I agree, but then let's rather create separate issues with concrete suggestions.

I'm closing this one.

[2015-08-08 22:32] #483 closed

[2015-08-08 22:34] troessner commented on #491
#613 is merged, so I'm closing this one.

[2015-08-08 22:34] #491 closed

[2015-08-08 22:38] troessner commented on #578
Any updates on this? Sorry for being a pain in the ass but this "api private" marker in our source code annoys me every time I see this...

[2015-08-08 22:40] troessner opened #627 "Smell suggestion: Don't use the "else" keyword"
Coming from #580

http://williamdurand.fr/2013/06/03/object-calisthenics/#2-don-t-use-the-else-keyword

[2015-08-08 22:42] troessner opened #628 "Smell suggestion: Limit nr of instance variables per class"
Coming from #580

http://williamdurand.fr/2013/06/03/object-calisthenics/#8-no-classes-with-more-than-two-instance-variables

I'd rather go with 4 since 2 seems overzealous.

WDYT?

[2015-08-08 22:43] troessner commented on #580
Closing this in favor of #627 and #628

[2015-08-08 22:43] #580 closed

[2015-08-08 22:44] troessner commented on #592
I feel this has been discussed enough, closing.

[2015-08-08 22:44] #592 closed

[2015-08-08 22:45] troessner commented on #605
Removing the "discussion" label since we probably all agree on that.:)

[2015-08-08 22:46] troessner commented on #604
Removing the "discussion" label since we probably all agree on that.

[2015-08-08 22:50] troessner commented on #608
Fix wip in #625

[2015-08-08 22:51] troessner commented on #609
Also a good point.:D

Let's go with that. @chastell ?

[2015-08-08 22:52] troessner commented on #624
I'll come up with a PR the next days.

[2015-08-08 22:53] troessner commented on #612
I'll come up with a PR the next days.

[2015-08-09 15:52] chastell commented on #628
You mean the TooManyInstanceVariables smell we already have? :)

(Note: it currently defaults to allow 9 instance variables. N̶E̶I̶N̶ NINE.)

[2015-08-09 17:39] chastell commented on #609
:+1: for RepeatedLiteral! :)

[2015-08-09 17:40] chastell commented on #612
Oh, I think I have this done, just not pushed, sorry. Lemme check.

[2015-08-09 18:13] chastell commented on #612
Sorry, no, still working on this on the `ivar_clean-up` branch – it’s more work than anticipated. I should wrap it up by the end of next week.

[2015-08-09 19:58] troessner commented on #609
Veto!.:)

Why not "MagicNumber"? That is a term that a lot of people are familiar already. "RepeatedLiteral" does sound fancy but at the same time vague. "MagicNumber" doesn't need any explanation, "RepeatedLiteral" does.

[2015-08-09 20:03] troessner commented on #628
Haha, yes!

I think the reason why I forgot this smell exists is because reek never reported it on my own codebase.
Probably because 9 instance variables is insane like you already noted.
I'd vote for setting that to 4 - what do you guys think?

[2015-08-09 20:12] troessner commented on #612
Then I'll just don't do anything and let you add that to our styleguide together with everything else in the ivar_clean-up branch, right?

[2015-08-09 20:49] mvz commented on #628
That seems a sensible amount.

[2015-08-10 06:54] mvz commented on #624
I just found another interesting one: https://github.com/DamirSvrtan/fasterer, based on https://github.com/JuanitoFatas/fast-ruby

[2015-08-10 07:07] mvz commented on #483
I'll split this out into 3 discussion issues.

[2015-08-10 07:14] mvz opened #632 "Uninitialized IVar"
Follow-up from #483:

**An instance variable must at least be set in the constructor, or be accessed through a method with lazy initialization.**

Good:
[code]

Bad:

[code]

Good:

[code]

[2015-08-10 07:14] mvz opened #633 "IVar Assumption"
Follow-up from #483:
- Don't access a superclass' instance variables directly in a subclass.
- Don't assume presence of ivars in a module.

Generalized: Do not assume ivars are set or present outside the current class/module definition.

It may be the case that the detector for #632 will automatically also detect this one:

[code]

[2015-08-10 07:17] mvz commented on #483
Well, that's 2 issues.

[2015-08-10 07:27] mvz commented on #609
To be clear, here is what I think we're going to implement:

**Bad: Literal is repeated**
[code]

**Good, not using a constant**:
[code]

**Also good, using a constant**
[code]

**Also good, literal only used once:**
[code]

I think RepeatedLiteral captures this, but MagicNumber is a well known term. The only problem I have with the latter is that we're not just talking about numbers. Perhaps Magi

[2015-08-10 13:10] troessner commented on #624
Just tried it out, pretty cool. Added it to the PR as well.

[2015-08-10 13:16] troessner commented on #609
Ah, then we were misunderstanding each other.

For me is this:

@blog.title = 'My Blog'

already bad. **Any** literal assigned as an attribute would be bad.

Good:

[code]

[2015-08-10 18:45] troessner commented on #628
Pull request coming up....

[2015-08-10 19:23] troessner commented on #628
wip in #634

[2015-08-11 04:50] chastell commented on #612
Right!

[2015-08-14 21:15] HParker commented on #622
Interestingly I am seeing the same issue when assigning multiple constants at once:
[code]

changing this to
[code]
fixes the issue.

I can include a stack trace, but it is the same as above except for the `:FOO:Symbol` bit.

[2015-08-17 12:38] troessner opened #641 "TooManyMethods's slightly insane default value"
After https://github.com/troessner/reek/pull/634 I got curios what other **insane** default values we might have in reek and I found this bomb: https://github.com/troessner/reek/blob/master/lib/reek/smells/too_many_methods.rb#L21

25. Well, no wonder that smell was never reported in any code I have ever seen.

I'd vote for 10 methods max. WDYT?

[2015-08-17 14:05] chastell commented on #641
Hmmm, I’d have to check my codebases, but I think I could imagine having more than ten private methods. What’s reek’s max? :)

[2015-08-17 14:09] chastell opened #642 "Rake task blows up with ‘Error: No such file - lib/**/*.rb’"
I think this is a new bug in reek 3.2 – running `reek` works, running `rake reek` blows up with `Error: No such file - lib/**/*.rb`. Example from my [art_decomp](https://github.com/chastell/art_decomp) code:

[code]

[2015-08-17 14:09] chastell commented on #642
(I’d debug and fix outright, but I’m on vacations and can’t plan my reek time in any way, sorry.)

[2015-08-17 14:14] troessner commented on #641
:laughing:

[2015-08-17 15:39] troessner commented on #642
Hmm, pretty weird.

Adding a binding.pry before here: https://github.com/troessner/reek/blob/master/lib/reek/rake/task.rb#L85

gives me:

"reek"
"lib/**/*.rb"
=> ["reek", "lib/**/*.rb"]

which blows up.

But if I do a

it works. Investigating...

[2015-08-17 16:10] mvz commented on #642
I'm guessing the rake task bypasses shell globbing.

[2015-08-17 16:59] troessner commented on #642
On the road until tomorrow - @mvz do you have time to look into it? I probably cant look into it until tomorrow evening.

[2015-08-17 21:08] troessner commented on #642
I just did a git bisect:

[code]

And look what it found:

[code]

Checking out this commit now.

[2015-08-17 21:28] troessner commented on #642
I considered fixing this pretty urgent since most reek integrations will be using the rake task and this will fail for everybody who upgrades or install reek fresh.

What I did:

* Found the buggy commit
* I reverted the commit in question: https://github.com/troessner/reek/commit/c5c4d078b86283f355cc8ca2d61aeae884b5609d
* Made sure "rake reek" is running again and the specs are passing
* Bumped t

[2015-08-17 21:32] troessner opened #643 "Rake release doesn't work anymore with latest bundler"
Well, apparently bundler now takes things more serious:

[code]

Fixing this should be easy but I'd like to take the opportunity to clean up our reek gemspec as well.

I'll look into this.

[2015-08-17 21:40] troessner commented on #642
I think I found the bug - bugfix is up here: https://github.com/troessner/reek/pull/644
Please review. :)

[2015-08-18 08:17] chastell commented on #642
Great debugging! It might’ve been a tad easier if the commits were smaller – but, well… ;)

Apologies for this; as mentioned in #644 I’ll write tests for `Reek::Rake::Task` so that this won’t happen again.

[2015-08-18 08:53] chastell commented on #641
I’m somewhat on the fence here – I fully agree a class should have few public methods, probably few protected ones as well, but I’m not so sure about private methods. I sometimes have quite a few of them for readability and often refactor mercilessly (they're private after all). But I can also see how too many private methods heavily suggest there’s probably another object hiding behind them…

[2015-08-18 18:44] troessner commented on #641
Ok, lets compromise on 15. Deal?

[2015-08-18 18:47] troessner opened #645 "TooManyMethods: discerm between public / non public"
Follow up to #641

Suggestion: 5 public methods, 10 private methods max.

WDYT?

[2015-08-18 19:12] chastell commented on #645
Let’s go with this and see how it works. :)

(How are protected counted? Ten private+protected seems reasonable.)

[2015-08-19 05:17] mvz commented on #641
Deal :smile:.

[2015-08-19 05:19] mvz commented on #645
Yes, I like this idea.

[2015-08-19 10:39] chastell commented on #645
I just realised that due to Ruby’s `Enumerable` behaviour (many methods return an `Array` regardless of what class they’re in) many collection classes will reek; see, for example, [`ArtDecomp::Puts`](https://github.com/chastell/art_decomp/blob/140db016259f8ff8d16b755dee43b5e52bcafcfb/lib/art_decomp/puts.rb) where I need to redefine `#combination`, `#sort_by` and `#take_while` just to get the prope

[2015-08-19 20:58] troessner commented on #628
#634 is merged -> closing.

[2015-08-19 20:58] #628 closed

[2015-08-19 20:59] troessner commented on #624
#635 is merged -> closing.

[2015-08-19 20:59] #624 closed

[2015-08-19 21:00] troessner commented on #608
#625 is merged -> closing this one.

[2015-08-19 21:00] #608 closed

[2015-08-19 21:00] troessner commented on #589
@tansaku are you still interested in this topic? Otherwise I'd close since it doesnt seem that somebody will work on this any time soon.

[2015-08-19 21:01] troessner commented on #641
Fix wip in #646

[2015-08-19 21:06] troessner commented on #643
Actually that was fixed in #625 and the reek.gemspec doesnt look bad at all, closing this one.

[2015-08-19 21:06] #643 closed

[2015-08-19 21:18] troessner commented on #604
Fix up in #648

[2015-08-19 21:20] troessner commented on #548
Now that we have done all the homework I restart looking into this.

[2015-08-19 22:38] troessner opened #650 "Breaking change for reek 4: Clean up Examiner constructor"
....because right now it has this signature:

[code]

Let's use keyword arguments everywhere.

[2015-08-19 22:44] #641 closed

[2015-08-19 22:45] chastell commented on #650
:+1:

[2015-08-20 05:29] mvz commented on #650
I'm have a branch with some cleanups that includes a change here. I'll push it soon so it can be reviewed.

[2015-08-20 19:09] mvz opened #653 "private method `load' called for Psych:Module"
I'm getting this error when running reek on reek:

[code]

[2015-08-20 19:10] mvz commented on #653
This does not occur when running with bundler.

[2015-08-20 19:45] mvz commented on #653
Right:

[code]

[2015-08-20 20:05] mvz commented on #653
Lovely:
[code]

[2015-08-21 06:30] mvz commented on #653
Here's a comparison of features loaded in each case:

[code]

I'm concluding that the line `require 'psych'` in `yaml.rb` loads `psych.so` directly in the first case, but `psych.rb` in the second case.

[2015-08-21 06:38] mvz commented on #653
I'm pretty sure it's this bug in Psych that's to blame here: https://github.com/tenderlove/psych/issues/223

[2015-08-21 09:17] tansaku commented on #589
hi @troessner - funny you should mention that as I was just checking out the reek source to start looking at this.  I've just been out of town for a month and am back now, and want to make working on reek my priority.

 I was observing that the individual messages appear to be in reek/smells/*.rb files like so:

[code]

would it make sense to be pulling these messages out to a yaml file which woul

[2015-08-21 12:51] troessner opened #655 "Where are our stars?"
Last time I checked we had more than 2000 stars. Definitely, 100% sure.
Now we have only 1478.
Does anybody know what happened there?
I find it highly unlikely that more than 500 people deliberately un-starred us.

[2015-08-22 19:11] troessner commented on #655
Addendum: Contacted githubs support regarding this issue.

[2015-08-22 19:12] troessner commented on #653
#654 is merged, closing this one.

[2015-08-22 19:12] #653 closed

[2015-08-22 19:17] troessner opened #662 "Make AppConfiguration.from_map take a simple Hash"
Follow-up issue from https://github.com/troessner/reek/pull/623#discussion-diff-37694166R113

Let's change `AppConfiguration.from_map` so that we can do this:

[code]

[2015-08-22 20:43] troessner commented on #589
Hmm, that

is certainly better than our "normal" message. However, reek veterans would be highly annoyed by this chattiness.

We already have the -U flag:

However, AFAIS it makes more sense to re-assign this flag.
What I'd do:

Transform -U to

make this one default and then implement messages like the one @tansaku suggested for all smell types.
Using

would give the old, current and terse error

[2015-08-22 21:40] chastell commented on #589
Hmm. On one hand, I like the longer messages; on the other, I’m not sure whether we should push them on existing users unless they adjust their configs; on the third¹, not having them on by default would defeat their purpose – newcomers won’t add the `-b` flag by themselves. All in all – a tentative +½. :)

I’m also not very fond of the word _beginner_ (at least it’s not _newbie_…) – but the only

[2015-08-23 17:28] mvz opened #667 "Clean up config handling"
Follow-up for #651:
There's lots of weirdness going on with the config stuff. I'd like to unify this so it always goes through a SmellConfiguration object rather than having the current mix of SmellConfiguration and Hash.

[2015-08-23 18:25] troessner commented on #667
:+1:

[2015-08-23 18:30] troessner commented on #655
github's answer:

Which is so vague that it means nothing.
Seems like we just have to accept it.:(

[2015-08-23 18:30] #655 closed

[2015-08-23 19:51] chastell commented on #667
Oh yes please. :)

[2015-08-24 06:26] tansaku commented on #589
@chastell I agree totally that the longer messages should not be pushed on the existing users - that's exactly why we need the flag.  You're right that people who are new to reek will not automatically know about the flag, but for me that's not a problem.  I work with thousands of students who are not yet intermediate or advance in the context of a software engineering MOOC and a coding bootcamp w

[2015-08-24 06:40] mvz opened #668 "Improve reek boot time"
I noticed that `reek --help` takes quite a bit of time to start outputting stuff, even more so on Ruby 2.0.0. It would be nice if that were snappier.

[2015-08-24 06:43] mvz commented on #589
So many words:

unbridled
egregious
overmuch
extreme
exorbitant

chatty
communicative
expansive
effusive
loquacious
garrulous

I'd like to reserve 'verbose' for adding more diagnostic messages, but I'm sure we can find something appropriate :smile:.

I agree on making this a non-default mode.

[2015-08-24 06:49] troessner commented on #668
:+1

[2015-08-24 13:50] chastell commented on #589
Oh, if non-default is fine (and makes sense) then I don’t have any other qualms. `-b` for _beginner_ is fine, `-d` for _descriptive_ might be even better (less judging for the user). :)

[2015-08-24 17:40] tansaku commented on #589
sounds like a plan - so what's the next step?

[2015-08-25 07:55] tansaku opened #671 "specifying formatting flags in config"
When using reek with something like pronto I'd love for formatting flags like "-U" to be something we could specify in the .reek configuration file - is something like that possible?

[2015-08-25 09:23] troessner commented on #671
Nope, not possible right now unfortunately. However, our configuration handling has been significantly simplified so it should be pretty easy to implement something like that and I also believe that this would be super-helpful.:)

[2015-08-25 09:25] troessner commented on #589
Somebody with time and willingness comes up with a pull request :laughing:

I'd love to do that but I'm blocked with a couple of other reek issues right now AND on vacation pretty soon, so if you'd like to give it a shot, we certainly would assist you.:)

[2015-08-26 07:19] tansaku commented on #589
Cool - I'm thinking about how to approach it.  I can't immediately find a reference for how string internationalisation should be done in pure Ruby projects with yaml files (lots of references for Rails).

Looking through the code I wonder if the smell messages might be something that could be added to the existing configuration, e.g.

[code]

where the defaults are the existing messages, and this

[2015-08-26 07:22] tansaku commented on #671
cool - maybe I should work on this first, before adding the ability to change the descriptors ...

[2015-08-26 08:03] chastell commented on #589
@svenfuchs’s i18n gem (♥!) is not Rails-specific.

Hmm, the question is whether people (other than you) would actually alter them – but I see no drawbacks of this. :) Although if we do go with i18n anyway then this would be just the `en.yml` file.

Yup, Cucumber features. Although some of use prefer using RSpec as much as possible. ;)

[2015-08-26 08:15] mvz commented on #589
I do: It means custom messages can only be created by editing the config in each project, meaning a lot of repeated work. Also, it would cause such messages to appear for all people working on said project. This in turn limits the number of users of this feature, while still being a (albeit minor) maintenance burden.

Therefore, I would strongly suggest using I18n or a similar solution, and shippi

[2015-08-26 09:43] mvz opened #673 "Detect more type checking"
We have NilCheck, but we should detect more type checking, e.g.:

[code]

[code]

[2015-08-26 10:43] chastell commented on #589
I think either is better that the current solution of ‘edit the source `.rb` files’, with i18n being the best one (and then we can have an `en_US.verbose` locale rather than a separate `-b` switch).

[2015-08-26 11:07] tansaku commented on #589
I'm checking out the i18n gem - gonna work through https://lingohub.com/blogs/2013/08/internationalization-for-ruby-i18n-gem/ since http://rails-i18n.org/ is down

BTW, checking out the master branch of reek and running rake I get 23 failures.  I see the build is green on the home page - I guess I have a local issue (I'm on OSX ruby 2.2.2p95) - or I should be developing off a different branch?  Is

[2015-08-26 11:19] tansaku commented on #671
If I wanted to start on this I guess I just try and get my head round the existing configuration and see if I can some how hook in the CLI options ...

[2015-08-26 11:44] tansaku commented on #589
ah, although perhaps the locale can be specified in the config file ...  Not sure we can have en_US.verbose - having dots in the locale string cause problems with I18n it seems.  I have the following working though:

[code]

Related SO post here: http://stackoverflow.com/questions/31416559/i18ninvalidlocale-en-is-not-a-valid-locale/32225519#32225519

[2015-08-26 11:46] chastell commented on #589
Uh oh. Master is green and should be green and you should branch off of it, so the failures are very interesting…

(And do feel free to work on that other issue first.)

`en_US.verbose` was just a random idea, anything that will work works for me. :)

[2015-08-26 13:10] mvz commented on #589
Be sure to run `bundle exec rake`, and not just plain `rake`. If the failures persist can you open a new issue and post the failures please?

[2015-08-26 13:24] troessner commented on #673
Agreed!

[2015-08-26 15:06] mvz commented on #650
I just realized that branch contains no changes to Examiner#initialize.

Anyway, :+1: from me.

Once #651 is merged, we can extract the smell detector selection out of this class and just pass in a SmellRepository.

[2015-08-26 15:20] tansaku commented on #589
it was `bundle exec rake` - I'll open a new issue

[2015-08-26 15:27] tansaku opened #674 "errors on master due to ~/.reek file"
So I imagine I've done something stupid, but `bundle exec rake` on master (commit hash: 034e209) gives me 800 examples, 23 failures, 2 pending.

I'm on OSX 10.10.5
$ ruby -v
ruby 2.2.2p95 (2015-04-13 revision 50295) [x86_64-darwin14]

and I'm getting 23 errors, however I just tried removing my .reek file from my home directory and that fixed it.  That seems slightly unfortunate that ~/.reek should

[2015-08-26 19:18] mvz commented on #674
Thanks, I can confirm that adding a `.reek` file with the contents shown above gives the same result for me.

[2015-08-27 08:31] andyw8 commented on #548
I started working on a small Ruby library for building the data structures that the CodeClimate engine needs:

https://github.com/andyw8/codeclimate-engine-rb

[2015-08-31 19:43] troessner opened #675 "Remove # @api private comments"
.....because they:

-  decrease readabiity
- are counter-intuitive. Because "api private" is the regular case, not the exception. We should rather list exceptions and not the other way round
- is repetitive and feels un-rubyesque

Objections?

[2015-08-31 20:07] troessner opened #676 "Make NestedIterators ignore Object#tap"
Object#tap should be an exception to the rule because it's no smell to do things like:

[code]

What do you guys think?

[2015-08-31 21:11] troessner commented on #668
On second thought I'm not so sure about this:

[code]

Less than half a second doesnt look too shabby for me.
But if this still bothers you just ignore me ;)

[2015-09-01 09:52] chastell commented on #676
:+1:

[2015-09-01 09:52] chastell commented on #675
Yes, please!

[2015-09-01 12:13] troessner commented on #675
#678 -> fix ready.

[2015-09-01 12:16] troessner commented on #676
This will btw. also decrease our reek warnings on reek. I stumbled across that during my ongoing crusade in #677

[2015-09-01 12:48] troessner commented on #676
I'll look into this soon.

[2015-09-01 14:10] isaiah opened #681 "UtilityFunction should not complain method that works inside an interator"
The `UtilityFunction` smell could be misleading, e.g.

[code]

[code]

It is useful most of the time, but for method that process an intermediate state, create a instance variable is not the right way.

[2015-09-01 17:08] chastell commented on #681
I’d argue that `Fun#process` _is_ a UtilityFunction, but I think we should consider accepting _private_ UtilityFunctions; they’re usually added for readability.

[2015-09-01 17:11] isaiah commented on #681
It is, but instance state doesn't apply here. Actually it's huge NO.

[2015-09-01 17:50] troessner commented on #681
I'm open to changing this because I agree that the current set ip of UtilityFunction is too strict.
How about making it part of this smell's configuration if we alert on private UtilityFunction and disable it by default?
That way stricter settings are still possible.

[2015-09-01 23:48] mvz commented on #681
I think here there is some confusion in the description reek uses: Reek is *not* trying to suggest changing the method to use an instance variable. In fact, the smell description doesn't try to suggest anything, but one way to resolve this is to move the implementation of process to `a_variable`'s class.

I'm not too sure: I think UtilityFuntions are in fact often private and not flagging them mea

[2015-09-01 23:50] mvz commented on #676
Are there any other cases we should ignore by default now that we're looking into this?

[2015-09-02 07:24] andyw8 commented on #681
@mvz makes a good point. I'd like to see some real-world examples of where this warning would be considered invalid.

[2015-09-02 07:31] troessner commented on #681
@andyw8 what @chastell said above:

is something I see quite often unfortunately.

[2015-09-02 08:13] andyw8 commented on #681
Well let's say that `process` was a more complex method, and `x_variable` was a fully-fledged object rather than just an count:

[code]

In that case I think the better action would be to extract this out into a method defined in `x_variable`'s class.

Trying to automatically determine if the method is 'complex enough' to justify this would no doubt be difficult, but I feel that by disabling the w

[2015-09-02 08:23] troessner commented on #681
Agreed  - that's why I'd make it configurable ;)

[2015-09-02 10:00] troessner commented on #676
Can't think of any right now :)

[2015-09-02 12:21] tuexss commented on #681
From the example provided, I'd say this is a misuse of `.each do` - it looks like avoiding `.reduce` or `.inject`, and to do that you need this ugly little helper. Proper use of `.each` does not need intermediate states to accumulate something across each invocation of the block.

[2015-09-02 14:42] chastell commented on #676
Yeah, I don’t think there are any others. I’d rather we be conservative, `#tap` is a very special case.

[2015-09-02 15:01] chastell commented on #681
Hmmm. In general moving it to the `x_variable`’s class would be better (_so we should flag it_), except when it happends to be a core type (_which I’d rather not reopen for this_).

We could argue that you shouldn’t use core types too much (as that’s _primitive obsession_), which I agree with in general, but in practice I do remember factoring out private utility functions to process some data. Fa

[2015-09-02 16:41] troessner commented on #676
I just stumbled upon another valid one that I suspect will occur quite often in specs and ruby frameworks "before / after" hooks:

[code]

I suggest that we exclude "before", "after" and "around" as well.
WDYT?
cc @RaVbaker

[2015-09-02 17:56] isaiah commented on #681
Let's put it the other way, please tell me how the code suggested by reek is acceptable.

[code]

I saw this code in real code base, and it's there basically to conform reek.

[2015-09-02 18:34] andyw8 commented on #681
i agree that's a bad approach, but Reek isn't suggesting you do that. There are a number of actions that could have been taken in response to this warning. Choosing the good one requires experience and understanding of OOP – satisfying Reek won't magically turn bad code into good code.

Perhaps the warning could be improved by linking to a deeper discussion of why extracting the behaviour into ano

[2015-09-02 18:52] isaiah commented on #681
Yes, for experienced developers this is not a problem, but for new developers who take the warnings as principle, it does them more harm than good. Maybe besides suggesting turn the parameter passing into instance variable, there could be other suggestions.

[2015-09-02 20:20] troessner commented on #681
Couldn't agree more. Unfortunately, this is exactly what happens in quite a few projects.

and

Love the idea!

Do you guys have suggestions for something we can link to? If not, we should come up with something on our own.

However I still believe that we should make it configurable if we enable / disable UtilityFunction for private methods - @mvz, @chastell what are your thoughts on this?

[2015-09-03 00:01] mvz commented on #681
@isaiah:

I think this may be a problem with reek in general: It detects code smells but it doesn't try to tell you what the solution should be. As it stands, it is not really suitable for beginners who don't have a more experienced developer at hand to help guide them toward good OO design.

We can probably do a better job emphasising that the goal should not be to make your code smell free, but

[2015-09-03 00:15] mvz opened #682 "Single smell option broken"
It seems reek checks the config against the current set in the smell repository rather than the set of all existing detectors:

[code]

[2015-09-03 05:27] backus commented on #642
@troessner I think this issue should be reopened.  Rake tasks that customize `source_files` like this one [mbj/devtools: reek.rake](https://github.com/mbj/devtools/blob/master/tasks/metrics/reek.rake) are still broken. The current release evaluates the `FileList` [in the initializer](https://github.com/troessner/reek/blob/master/lib/reek/rake/task.rb#L67) only while releases before 864f0a92fbdde7d

[2015-09-03 07:40] mvz commented on #681
Preliminary results of that: One real bug in UtilityFunction found (it does not consider `super`), one possible improvement, and several cases where it at least points at code that needs to be rethought.

It now seems to me that the primary point of UtilityFunction is to ask "Why is this code here and not elsewhere?"

[2015-09-03 07:46] chastell commented on #676
I’m ok with it. If so, let’s also add `let` and `let!`.

[2015-09-03 07:46] chastell commented on #676
…and maybe `setup` + `teardown`, although I’m not quite sure whether any use them in the block form (rather than method names).

[2015-09-03 07:48] chastell commented on #642
Oh, good point. I think using the setters is a canonical Rake task usage. I’ll fix it early next week at the latest (I’m travelling at the moment).

[2015-09-03 07:56] chastell commented on #681
For the docs: I think in general reek would benefit with ‘possible ways to adress this’ section for most (each?) smells.

For UtilityFunction: I’m tentatively for making it configurable to whitelist private methods; at the same time I’ll probably keep them smelly in my pet projects, as fixing FeatureEnvy and UtilityFunction smells was an OOP eye-opener for me.

[2015-09-03 07:59] troessner commented on #681
I assume because of the warning message:

which implies to use instance variables. The problem is that it doesn't say "btw, dawg, with `instance state` i don't necessarily mean the current object but maybe another as well".

I think we can improve this a LOT by just adjusting our warning message accordingly. I just can't think of anything concise :laughing:

Ideas?

[2015-09-03 08:15] troessner commented on #682
Confirmed.

Additional details: I checked our cucumber features if we had a test for this and we do: https://github.com/troessner/reek/blob/master/features/command_line_interface/smell_selection.feature

Interestingly enough, when I use that in my console:

[code]

this works. Seems like a non-trivial problem that also indicates that there is something wrong with our cli feature set up if it doesn

[2015-09-03 08:42] troessner commented on #642
Fix up in #683 - please review.

Sorry @chastell :laughing:

[2015-09-03 09:26] #642 closed

[2015-09-03 11:47] isaiah commented on #681
@chastell The problem remains, is the style that pass intermediate state by instance variable a smell to reek? If it is should we warn that as well? If you actually think that's a good style, it is a REAL eyes opener for me.

[2015-09-03 21:25] chastell commented on #681
No. :)

I personally don’t like mutable objects at all, so in my personal projects ivars are set in the constructor and ~never change. I really don’t like setting ivars outside of constructors.

That said I doubt we could easily distinguish ‘this ivar is set only to make a private UtilityFunction depend on state’ from typical Ruby object mutations.

:laughing: No worries – as I wrote, IMHO good st

[2015-09-03 21:52] troessner commented on #681
Jeez, don't be such a grumpy cat! Nobody think that is good style ;)

Yes, exactly. Like we already discussed above, the problem is that most people naturally don't immediately jump to the conclusion that this method should exist on another object.

Agree with all your edge cases. We should probably tweak UtilityFunction ;)

[2015-09-03 21:58] troessner commented on #676
We hijacked the original issue, I'm gonna up a new one to keep it neat.

[2015-09-03 21:58] #676 closed

[2015-09-03 22:07] troessner opened #685 "Improve NestedIterators sensitivity"
One example that will occur quite often in specs and ruby frameworks are "before / after" hooks:

[code]
This example would be flagged with NestedIterators which doesn't make any sense.

In the issue where this [originated](https://github.com/troessner/reek/issues/676) we discussed ignoring further  common method names like "setup" and "teardown", which, after giving it some thought, seems like a

[2015-09-04 09:31] chastell commented on #685
Oh interesting! I think this could work – I can imagine code that would be an iterator which side-steps this limitation, but nothing that should ever happen in a real system.

In theory you can have iterators that don’t need the block argument (e.g., `collection.each { print '.' }` that prints some progress or `size = 0; collection.each { size += 1 }`, but that’s just a case of not knowing `collec

[2015-09-04 15:37] mvz commented on #675
See also #578.

[2015-09-04 16:04] troessner opened #687 "Alert on "helper" or "util" in class or module names"
.....because I'm sick and tired of seeing things like lib/helpers or lib/utils.

For me this means: "I have no idea where to put it so i'll just put it somewhere."

For me that's a bad smell.

WDYT?

[2015-09-04 16:11] andyw8 commented on #687
"Manager" too?

[2015-09-04 16:32] troessner commented on #687
Good idea!

[2015-09-04 16:37] HParker commented on #687
I hear it is considered a bad practice to have a pattern name as a class name. I know I am annoyed by a number of our models that go something like `PostDto` or `PostBuilder`.

[2015-09-05 09:41] chastell commented on #687
I think helper + util are a bit different than manager, builder, etc. – the first two are ‘I don’t have a clue where else to put this stuff’ neutral groupings, while manager, builder (presenter? decorator?) are pattern names used in class names. I’d split these two general cases into separate smells.

[2015-09-05 10:17] mvz commented on #687
I'm with @chastell regarding builder and manager. Those do communicate function.

I think we can group this problem under UncommunicativeModuleName, detect Util and Helper by default, and allow people to add more forbidden name parts if necessary.

[2015-09-07 10:50] #604 closed

[2015-09-09 11:03] hwo411 commented on #681
What I suggested to Timo about a month ago - is to whitelist private and protected methods for UtilityFunction. My point is that class provides a public interface which should be checked, but in implementation details classes sometimes need such helper methods which were extracted from another methods to make them more readable.
In my opinion UtilityFunction warning shouldn't be shown for private/

[2015-09-09 11:37] troessner commented on #681
I agree with @hwo411.  A lot of people complain about this rightfully and I believe we are too rigid in this regard.

Lets make this configurable and give people the chance to opt out if it. People who want to stay strict can just ignore this setting.
@mvz && @chastell lets give it a shot, please.

I'd come up with a pull request for this in the next days unless somebody in this thread would like

[2015-09-09 11:44] martinciu commented on #681
IMO it's worth to add @chastell's hints to https://github.com/troessner/reek/blob/master/docs/Utility-Function.md

For me private utility functions should be highlighted by default with configure to turn it off.

[2015-09-09 12:16] mvz commented on #681
@hwo411 wrote:

Basically, **all** of Reek's smell warnings are of that nature. We really need to stress this more in the docs.

I agree. If the alternative is that people turn of UtilityFunction entirely this is a good middle ground.

Agreed.

[2015-09-09 12:25] hwo411 commented on #681
@mvz usually, when a developer, especially junior developer, see a warning, he/she either treat it as an error or ignore it. If you say that it's a hint, he'll take it as advice and will think about it, rather than trying to ignore or remove it. It's just a psychological difference, not essential one, however hint is a light version of warning as for me.

[2015-09-09 12:34] mvz commented on #681
@hwo411 developers should consider all of reek's messages as hints. Maybe we should just say 'smells' instead of 'warnings'.

[2015-09-09 14:21] troessner opened #694 "Discrepancies between AppConfiguration.from_path and from_map"
When you have a config file like this:

[code]

You end up with this in your AppConfiguration (which gets loaded via AppConfiguration.from_path):

[code]

This should be equivalent to when you use AppConfiguration.from_map like this:

[code]

Unfortunately it isn't, since you end up with

[code]

in the latter case.

Both methods should produce the exact same result.

[2015-09-09 14:51] troessner commented on #681
General fyi: I'll come up with a PR the next days.

Agreed. I guess we should hire somebody from marketing to fix our wording ;)

[2015-09-09 15:42] mvz commented on #694
I'd like to take a stab at this.

[2015-09-09 16:11] troessner commented on #694
That would be most welcome ;)

[2015-09-10 07:36] mvz commented on #682
This was accidentally fixed in master and is now ensured through a cucumber scenario.

[2015-09-10 07:36] #682 closed

[2015-09-10 07:47] mvz commented on #675
Done!

[2015-09-10 07:47] #675 closed

[2015-09-10 07:48] mvz commented on #578
.. and `@api private` is gone, so this can be closed.

[2015-09-10 07:48] #578 closed

[2015-09-10 08:51] troessner commented on #682
Ah, the best way possible :laughing:

[2015-09-10 12:32] tansaku commented on #589
was just chatting with the rubocop folks - wondering if it might make more sense to have something like this in the config:

[code]

to allow details to be configured via .reek and keep the basic messages the same, but allow extra descriptions to be added ... I wonder if that would be simpler - I've got to start on the config anyway, to try and work out how to allow the -U flag to be specified in

[2015-09-10 12:38] tansaku commented on #671
rubocop supports that already like this:

[code]

this is the equivalent of their -S flag, which is you guys -U, so I guess what we want is to be able to add something to .reek like:

[code]

(although docs are not in the wiki anymore ...)

so I just have to work out which part of the code base the CLI handles that - seems to be in reek/cli/option_interpreter.rb  where we end up using the Report::

[2015-09-10 12:52] mvz commented on #589
I recommend first extracting all messages to an external file using I18n and having that merged. This will give us a base to work from.

Having the actual messages in the config still does not seem like a good idea to me.

[2015-09-10 17:13] troessner commented on #589
Agree with @mvz here. We shiuld use i18n files.

[2015-09-10 17:17] troessner commented on #671
@tansaku i'd then rather merge the options handling completely into AppConfiguration, preferably via composition.

[2015-09-10 17:18] tansaku commented on #671
sounds like a plan ...

[2015-09-10 17:30] tansaku commented on #587
@mvz thanks so much for suggesting pronto-reek - am using that, but it's locked to 2.2.1 - I've opened an issue ... https://github.com/mmozuras/pronto-reek/issues/9 ... seems like there's a different way to call Reek::Core now which I've fixed, but there's a new error:

https://github.com/mmozuras/pronto-reek/pull/10

[2015-09-12 17:58] troessner opened #699 "Confusion with symbols and strings"
Right now we're mixing them everywhere unfortunately which is confusing and error-prone.

Suggestion:
- we transform every key coming in via config to symbols
- we transform all internal constants from string to symbol. E.g. "accept" -> :accept
- all hash keys are expected to be symbols

WDYT?

[2015-09-13 14:56] troessner commented on #622
Fixed, closing this.

[2015-09-13 14:56] #622 closed

[2015-09-13 16:29] mvz commented on #699
I agree in principle. Since I'm going to go over part of the config, how about I pick some of that up as well? That way we can avoid another big bang change.

I would also like to get rid of constants used just for config keys. I much prefer using the literal symbol instead (not so much literal strings, though).

Hm, I'm thinking if we force keys to symbols from the config, we will have to update

[2015-09-13 17:50] troessner commented on #699
What part are you referring to?

Yes, please.

Yep, this will be a bigger change for sure.

But after that we can finally rely on symbols which will increase my productivity about 2000% ;)

[2015-09-13 17:56] troessner commented on #599
I took the liberty of taking this over. PR incoming.

[2015-09-13 20:48] troessner commented on #589
@tansaku just so we're sure about the status here: you're on that, right?

[2015-09-13 21:55] troessner commented on #612
I took the liberty of taking this over in #701, hope you don't mind.

[2015-09-13 22:01] troessner commented on #627
Maybe a little over the top and I believe we have bigger fish to fry - closed.

[2015-09-13 22:01] #627 closed

[2015-09-13 22:03] troessner commented on #606
@mvz is it realistic that we tackle this?
The last couple of months have shown that our current solution works pretty well.

I'd close this issue, if this is ok for you....

[2015-09-13 22:12] troessner opened #702 "Improve warnings for FeatureEnvy and UitilityFunction"
Right now:

UtilityFunction: "doesn't depend on instance state"
FeatureEnvy: "refers to #{name} more than self"

I suggest to change this to:

UtilityFunction: "doesn't depend on instance state (maybe move it to another class?)"
FeatureEnvy: "refers to #{name} more than self (maybe move it to another class?)"

I can hear you scream "but the current message are correct!".
Yes, they are. But this is

[2015-09-14 06:41] mvz commented on #606
Maybe just tag it `maybe-someday`?

[2015-09-14 06:42] mvz commented on #702
Sounds reasonable.

[2015-09-14 07:53] troessner commented on #606
Good idea!

[2015-09-14 08:04] mvz commented on #699
#694.

[2015-09-14 08:19] troessner commented on #699
Ah, ok, makes sense ;)

[2015-09-14 10:41] tomash commented on #702
Or maybe something along the lines of "see reek documentation for suggestions"?

[2015-09-14 11:27] hwo411 commented on #681
@troessner the problem is that we have travis configured to make a build red if it sees warnings from reek(and the same problem will arise if you follow reek-driven development) and we need either to put this warnings to ignore list or to fix, but some hints can be useful without making build red and some are actually the things which indicate that something is wrong with the code. So there are ca

[2015-09-14 11:55] mvz commented on #681
@hwo411 I think ignoring smells in code comments is what you should use for your case.

Be sure to specify which smell you're ignoring, so new smells will still show up, like so (example from https://github.com/troessner/reek/blob/master/docs/Smell-Suppression.md):

[code]

If another smell starts occuring in this method, it will still be reported by reek.

We just added ingoring comments to all o

[2015-09-15 17:31] troessner commented on #702
I don't think that's gonna cut it. Indirect feedback is nice for experienced users, but I think the confusion generated by our current messages needs to be address directly and not by referring to another source.

[2015-09-15 18:11] troessner commented on #605
Starting to work on this now ;)

[2015-09-15 18:20] #702 closed

[2015-09-16 07:02] mvz commented on #605
:+1:

[2015-09-16 09:46] troessner commented on #681
We merged #705 and #698 which should fix this issue.
Release 3.4.0 on it's way here: #706
Closing this one.

[2015-09-16 09:46] #681 closed

[2015-09-16 15:18] troessner commented on #681
@isaiah @nTraum @lipanski @hwo411 @RaVbaker @tomash reek 3.4 is released which makes UtiltiyFunction configurable for non-public methods (https://github.com/troessner/reek/pull/698), feel free to update as necessary ;)

[2015-09-17 13:47] chastell commented on #612
Not at all, thanks! I think this should be closed now, right?

[2015-09-17 13:47] #612 closed

[2015-09-17 13:55] mvz commented on #612
Yes!

[2015-09-17 14:47] chastell commented on #699
I’m all for symbols as keys everywhere, provided we keep the string keys in read/written YAML files (we have to do it for backwards compatibility anyway). Symbol keys in YAML files are way less nice than string keys, but I’m for turning them to symbols upon reading.

I don’t think we should care about symbols not being gc’d in Ruby < 2.2, as I don’t see any reasonable vectors of attack (a maliciou

[2015-09-17 15:11] mvz commented on #699
I always assumed that was the idea, yes.

[2015-09-17 16:16] troessner commented on #699
It was! ;)

[2015-09-18 07:15] #605 closed

[2015-09-18 19:26] letz opened #708 "undefined method `type' for nil:NilClass (NoMethodError) when calling `reek`"
When I try to run the command `reek` or `reek .` it gives me the following error

[code]

Any ideas?

Stack trace:
[code]

[2015-09-18 20:55] chastell commented on #708
Can you try isolating the exact code that blows up? [It seems](https://github.com/troessner/reek/blob/v3.4.0/lib/reek/ast/sexp_extensions.rb#L198-L200) like an `attr` call with no arguments…

[2015-09-20 21:52] letz commented on #708
I just installed the gem and typed `reek` in the terminal

[2015-09-20 21:57] andyw8 commented on #708
Without seeing your code which is being parsed it's very difficult to know what's going wrong.

Can you try running reek on each directory in your project individually (e.g. `reek lib`), and then, if possible, narrow down the individual file which causes the parsing error?

[2015-09-21 04:19] chastell commented on #708
I think I might’ve replicated this with

[code]

This is, surprisingly, valid Ruby code that blows up (with the above) when reek tries to parse it.

[2015-09-21 06:30] mvz commented on #708
What does it do?

[2015-09-21 06:32] #708 closed

[2015-09-21 07:23] troessner commented on #708
I'd love to know that as well :laughing:

[2015-09-21 07:28] chastell commented on #708
I would assume ‘nothing much’, but we should support it nonetheless (as in, ‘at least not blow up’). :)

[2015-09-21 07:58] mvz commented on #708
Agreed :laughing:.

[2015-09-21 09:40] tansaku commented on #589
yes @troessner I'm cycling through things, and I think this is now my top priority - I need a way to customize the messages prior to anything with pronto or config - hoping to make progress on this this week ....

[2015-09-21 09:41] tansaku commented on #671
gonna hit the message/internationalization first ...

[2015-09-21 14:47] letz commented on #708
thanks!

[2015-09-22 06:53] tansaku commented on #674
Right, so for the moment I guess we just move ~/.reek out of the way to keep our builds green ...

[2015-09-22 07:02] mvz commented on #674
Yes :cry:

[2015-09-22 07:16] tansaku commented on #589
starting work on this @troessner - I have forked, got everything green, created a branch and am now looking at unit tests to check that messages are changed appropriately.  I'm looking in attribute_spec.rb and wondering about these alternatives:

[code]

or
[code]

of course neither of these work at present and would require changes to the the existing reek_of matcher, or the creation of a new one

[2015-09-22 07:27] troessner commented on #589
Long story short: Checking smell_details in our spec matcher is broken right now.
I just put up a pull request up to fix this : https://github.com/troessner/reek/pull/700

What do you mean with "don't work"? I don't think that we need to change anything in our matcher (except for fixing the behaviour above via the mentioned PR), we just need to pull the messages in one central place and then use t

[2015-09-22 07:30] mvz commented on #589
I think it makes sense to start testing these at the unit test level, preferably using the `reek_of` matcher.

The feature tests you refer to serve a different purpose: To be a kind of regression test by checking the full body of smells detected for those files. We could have tested the same by having a large number of `reek_of` mathers, but just comparing the output is more convenient.

@troessne

[2015-09-22 07:32] #599 closed

[2015-09-22 08:01] tansaku commented on #589
right @mvz and @troessner - the issue at the moment is that the matcher is currently checking the params, and the message is not in that.  Using the code:

[code]

fails with

[code]

Using byebug I took a look at the contents of the examiner.smells in the matcher itself

[code]

As we can see `message` and `parameters` are both instance vars of the smell.  Tracing things further we see the SmellW

[2015-09-22 08:11] chastell commented on #674
Can we skip the tests that blow up with an existing `.reek` [like we do for `ConfigurationFileFinder`](https://github.com/troessner/reek/blob/3c2d85ffe955fa46126118222f5ae77c6c8759a1/spec/reek/configuration/configuration_file_finder_spec.rb#L85-L88)?

[2015-09-22 08:33] mvz commented on #589
Yes, I think so.

[2015-09-22 08:34] mvz commented on #674
@chastell unfortunately, that's basically all tests.

[2015-09-22 08:36] mvz commented on #674
@chastell having thought about it some more, a good solution may be to create a temporary home dir and point `$HOME` there for the duration of the tests, similiar to how we handle the config tests in the cucumber scenario's. I'll try to come up with a PR for that.

[2015-09-22 08:41] chastell commented on #674
I think that’s a good idea, just `ensure` it gets repointed after the tests run. I also think this is what Aruba does.

[2015-09-22 08:53] tansaku commented on #589
thanks @mvz - I notice that while SmellWarning#matches? is public, it doesn't have an explicit unit test, however some of the other public instance methods are annotated with comments like `# @public` - is it inappropriate to unit test any instance methods other than those commented with `# @public`?

[2015-09-22 09:11] mvz commented on #589
No, `@public` refers to our defined API for public use. Any methods that are public in the normal Ruby sense are fine to test using unit tests.

[2015-09-22 15:38] tansaku commented on #589
thanks @mvz - have done an exploratory pull request to just add some unit tests of existing functionality - will follow that up with more functionality assuming I get the all clear on this first chunk of code

[2015-09-23 01:20] backus opened #715 "undefined method `simple_name' for nil:NilClass (NoMethodError)"
The following two examples produce an error:

[code]

[code]

this is similar to #708 but not the same.

Just to double check, I cloned reek and ran it against these examples:

[code]

Note that both the constant and `new` seem to be necessary:

[code]

The issue popped up at least 17 days ago (I found out about it through mbj/devtools#84).  To see this error in context, see [lib/morpher.rb#L102](

[2015-09-23 07:01] chastell commented on #715
Thanks for the bug report! I’ll have a fix for this in a sec.

[2015-09-23 07:09] chastell opened #717 "Roll 3.4.1?"
Between #710, #713 and #716 (all ‘reek blows up’ fixes) I think it’s time for 3.4.1 – what do you think?

Once #716 is reviewed + merged I would love to roll 3.4.1 – I never did that so I wouldn’t mind seeing how it’s done. :)

[2015-09-23 08:08] troessner commented on #717
Will review this bad boy later and then let's fire away!

Simple:

* You create a PR like #706
* After that one is merged you do a pull on master
* And then you fire:

[code]

[2015-09-23 13:55] #715 closed

[2015-09-23 14:48] mvz commented on #717
#716 is merged, so :shipit:

[2015-09-23 17:35] backus opened #719 "undefined method `simple_name' for [anonymous class] (NoMethodError)"
Very similar to #715:

The following produces an error when reek attempts to parse it:

[code]

Example run against current master (7ba35a3):

[code]

* Bisecting points to the same commit as I referenced in #715
* To see this error in context, see [lib/unparser/cli/color.rb#L18-L44](https://github.com/mbj/unparser/blob/master/lib/unparser/cli/color.rb#L18-L44) (one of reek's dependencies!) or [li

[2015-09-23 17:57] backus commented on #719
Reek would likely benefit from a corpus spec similar to what @mbj built for [mbj/mutant](https://github.com/mbj/mutant).  See:

* [spec/support/corpus.rb](https://github.com/mbj/mutant/blob/master/spec/support/corpus.rb)
* [spec/integration/mutant/corpus_spec.rb#L8-L18](https://github.com/mbj/mutant/blob/master/spec/integration/mutant/corpus_spec.rb#L8-L18)

[2015-09-23 18:00] mbj commented on #719
I also use it for unparser. Helps a lot to "have a high chance the engine at least does not crash on the best known ruby-entropy source: rubyspec" ;)

[2015-09-23 18:11] chastell commented on #719
Right, I discovered #710 by running reek over all of Ruby’s `*.rb` files to find examples for [this slide](http://talks.chastell.net/rubyconf-pt-2015/#/2). :)

[2015-09-24 07:14] #719 closed

[2015-09-24 09:23] #717 closed

[2015-09-24 09:25] mvz opened #721 "Somehow let Reek examine ruby files that don't have the .rb extension"
Reek currently won't examine your Rakefile or executables (bin/whatever) because they don't have the `.rb` extension. We should do something smart here.

[2015-09-24 09:54] chastell commented on #708
This is now fixed in the freshly-released reek 3.4.1 – thanks for the bug report!

[2015-09-24 09:54] chastell commented on #715
This is now fixed in the freshly-released reek 3.4.1 – thanks for the bug report!

[2015-09-24 09:54] chastell commented on #719
This is now fixed in the freshly-released reek 3.4.1 – thanks for the bug report!

[2015-09-24 10:50] troessner commented on #721
[code]

No way of doing that without shebang.
I see 3 possibilities here:

1.) We expect ruby files to have a shebang and then use `file` or something similar
2.) We use something like this: https://github.com/minad/mimemagic (which would add a dependency to `reek`)
3.) We have a whitelist for common files like "Rakefile" and so on

[2015-09-24 11:24] mvz commented on #721
I would say we use at least option 3, and then either 1 or 2. It looks like mimemagic implements at least the shebang method.

I'd also have a look at how Rubocop does this.

[2015-09-24 11:29] troessner commented on #546
I'll start to look into this.

[2015-09-24 12:00] troessner opened #722 "Refactoring sexp_extensions"
Our  sexp_extensions have become a huge (500 lines!), badly maintainable mess -> https://github.com/troessner/reek/blob/master/lib/reek/ast/sexp_extensions.rb

We should refactor this completely, identify common functionality and break it up into separate files.

I'd start to look into this after #546

What are your thoughts on this?

[2015-09-24 15:43] tansaku commented on #589
okay got feedback from @troessner on the pull request - have updated that - hoping it can get pulled in.  It's a small start, it just adds tests that were missing for SmellWarning#matches?  Next up write some failing tests that will demand that matches? will compare other fields of SmellWarning other than class and parameters

[2015-09-24 17:44] troessner opened #723 "reek --todo"
Quoting from a discussion with @chastell so that we don't forget about this:

1. (Important) Introduce a `reek --todo` (or compatible) flag that
will output a todo.reek file which silences all current smells. This
would allow people to have a policy of ‘flag all new smells, let’s
go through the legacy ones one-by-one’. RuboCop’s --auto-gen-config
worked really well for me in a few projects.

2. (N

[2015-09-24 21:43] troessner commented on #146
Seems like we're coasting a little here - I'd like to take this over if you don't mind @ntraum

[2015-09-25 08:30] chastell commented on #721
:+1: for whitelisting `Rakefile` and `Gemfile` – the latter until everybody finally switches to `gems.rb` ;) – and I’m ok with using mimemagic as well (I’d prefer this over shelling out to `file`).

[2015-09-25 08:33] mvz commented on #721
This will be a while since even generating a new gem project with bundler will create a Gemfile rather than gems.rb :crying_cat_face:.

[2015-09-25 17:25] troessner commented on #146
Preliminary PR up in #724
I'd like to discuss the specs there so that we're all on the same page regarding our expectations.

[2015-09-25 22:43] chastell commented on #721
Yes, they can’t change it in Bundler 1.x, but `gems.rb` will likely be Bundler 2.0’s default: https://github.com/bundler/bundler/issues/694

[2015-09-26 06:17] #546 closed

[2015-09-26 12:34] mvz commented on #722
The main problem is probably the fact that it is all in one file. Then, there are probably a couple of warts, such as the whole name/full_name/simple_name thing. Are there any other issues you're seeing?

[2015-09-26 12:52] mvz commented on #723
Yes, this would be very nice!

[2015-09-26 19:05] troessner commented on #722
Nope, that's exactly it.
But given the file size and the age of the file I'm 100% sure that I find loads of other things as well especially:

* dead code
* common code that is duplicated

I'll start with this and then let's see what else comes out of this ;)

[2015-09-26 19:17] #694 closed

[2015-09-27 20:32] andyw8 commented on #548
My early attempt at an engine: https://github.com/andyw8/codeclimate-reek

[2015-09-28 06:59] #685 closed

[2015-09-29 20:00] backus commented on #723
Ended up here via google so I'll add a note for others: until this feature is implemented it is straightforward to generate a todo configuration using the yaml formatter.  Here is the script I used to do this (excuse the ugly code):

[code]

[2015-09-30 06:15] mvz commented on #723
Awesome @backus, it should be really easy for us to rework that into a `reek --todo` option.

[2015-10-04 07:24] troessner opened #736 "rake --tasks does not list all tasks"
E.g. the tasks defined in develop.rake are missing.
The tasks are usable though.

[2015-10-08 15:34] mvz commented on #736
You need to pass in `--all` to show tasks that have no description.

[2015-10-08 16:44] troessner commented on #736
Ah, right! Then I'll just add a description and we can check this one of :)

[2015-10-11 08:20] mvz opened #738 "Unify SmellWarning parameters"
As a follow-up to #732, unify SmellWarning parameters and the method for testing them using `#reek_of`.

[2015-10-11 14:02] #674 closed

[2015-10-12 08:48] #736 closed

[2015-10-21 13:19] troessner opened #748 "Improve reek's default messages"
I believe our default messages are bad since they are catered to people who kind of know what to do anyway.
I believe right now we are deterring reek beginners - we should make `Reek` so beginner-friendly that my grandmother would fully understand what our error messages mean without special switch by default. OR, and this is what I'm actually suggesting, link to our helpful doc pages right away b

[2015-10-22 20:36] backus opened #749 "Include new `&.` operator as `NilCheck` smell"
The new `&.` operator (https://github.com/ruby/ruby/commit/a356fe1c3550892902103f66928426ac8279e072, https://github.com/ruby/ruby/commit/0b7d473734d0dec8520afe7a36540aa1f40d2532, https://github.com/ruby/ruby/commit/837babd56459aafc1232a12fbfa783025d619b98) (similar to ActiveSupport's [`#try`](http://guides.rubyonrails.org/active_support_core_extensions.html#try)) adds the following syntax:

**ruby

[2015-10-22 20:38] troessner commented on #749
Yep, had that one already on my watch list, thanks for opening up this issue!

[2015-10-23 10:12] chastell commented on #748
`<mild-cringe />`

Oh yes please! I’m not sure about the `Line` in there (will it be `Lines` for multiple cases?), but a huge :+1: on the change. (Also the space after the colon: much appreciated!)

[2015-10-23 10:15] chastell commented on #749
Oh yes let’s do it. I read about this first thing today and it completely ruined my (admittedly, extremely first world) Friday morning. W to the T to the F, srsly. `</grumble>`

[2015-10-23 11:23] mvz commented on #749
Hm .. I'm reluctant to instantly banish an entire Ruby language feature. In *most* case, this is equivalent to stuff like:

[code]

Since we also allow stuff like the following, I don't see the point of jumbing on `.?` just yet.

[code]

I may change my mind, though, since I'm also not very fond of `.try`, seeing as it's totally overused.

[2015-10-23 11:53] chastell commented on #749
I think we should consider `#try` a smell as well. It’s not quite the calibre of `… rescue nil`, but it’s close.

(Interestingly, Rust doesn’t have nils and solves this with option types, but the code out there in the wild ends up littered with `.unwrap()` calls; at least they blow up on the spot, not somewhere much further away. Crystal does have nil, but as a separate type and you have to explic

[2015-10-23 12:04] troessner commented on #749
Hach, you're all such grumpy cats, I love this feature!

[2015-10-23 12:25] troessner commented on #748
Yes!

[2015-10-23 20:11] troessner commented on #748
@chastell I'd like to finish the UnusedPrivateMethod smell first, would you like to tackle this?

[2015-10-23 21:43] chastell commented on #748
Sure!

* This would be Reek 4, right?
* In non-hypertext formats, should the URLs be just printed after the smell name?
* If we’re adding `Line`/`Lines` (and trading off pareability for readability), how about dropping the squeare brackets around the line numbers?

[2015-10-24 07:17] troessner commented on #748
Nooooooooooooes. Let's NOT do this. While I an understand the reasoning, considering the smell warning messages themselves would kill **all** flexibility.
Think about it. Every small change, even a typo fix, would require a major version change.
People relying on our API shouldn't develop against our messages anyway, since those should be considered volatile.

In non-hypertext formats, should the

[2015-10-24 08:05] chastell commented on #748
I wouldn’t consider the smell warning messages changes API-breaking (full agreement here), but I do consider the line number format change API-breaking. While I think people _should_ use JSON or XML formats if they want to parse it, parsing the text output in shell scripts seems like a quite common (and even defendable) use case.

Example: I want to have an ASCII bar chart of how many smells there

[2015-10-24 23:05] chastell commented on #748
Also, I think it’s beneficial to add the relevant metadata – do rather than switch from `ShoppingCart#gross_price refers to item more than self (maybe move it to another class?) (FeatureEnvy)` to `ShoppingCart#gross_price smells of FeatureEnvy` I’d keep the reference to `item` somewhere. Similarly, in `Dirty#awful has 4 parameters (LongParameterList)` I’d keep the `4`, and in `Dirty#awful has bool

[2015-10-25 06:28] troessner commented on #748
Good point, agreed.

Ack as well.

[2015-10-25 18:00] troessner commented on #722
Fixed with #746 - closing this one.

[2015-10-25 18:00] #722 closed

[2015-10-25 21:49] troessner opened #750 "Integrate mutant?"
I just played around with it like this:

[code]

and then run it:

[code]

Result (truncated):

[code]

Not entirely sure what to make of the result, I really need to start reading the docs for this.
I'll document my  progress here ;)

[2015-10-26 05:50] chastell commented on #750
Oooh, > 90% mutation coverage of the `Examiner`, good. I think we should initially choose the most crucial partrs of Reek and see whether we can bump their mutation coverage with moderate effort, then see how that went. :)

[2015-10-26 08:19] troessner commented on #750
How about our public API?

[2015-10-26 12:29] chastell commented on #750
Good idea!

[2015-10-26 15:17] jcarapet opened #751 "reek not picking up local Attribute exclusion"
Hi there.

Reek is blowing up on a writeable attribute (attr_accessor), and I was hoping to exclude only one version of it vs. all. I have followed same style as others on single exclusion  (# :reek:IrresponsibleModule), but reek isn't picking it up . putting exclusion in .reek file works however.
Working
[code]
Non working locally
[code]

Am I doing something incorrectly, or is this a bug?

[2015-10-26 15:57] mvz commented on #751
Have you tried writing attribute with a capital 'A'?

[2015-10-26 16:17] jcarapet commented on #751
yes, and tried a space after comment, putting at top of file vs just above offense, and :reek:Attribute_writer just for fun.

[2015-10-26 16:25] mvz commented on #751
Ok, then it's actually a bug :smile:.

[2015-10-26 17:08] backus commented on #750
If you just want to use mutant *from now on* you can run it with the `--since` flag which lets you only mutate code introduced since the revision you specify.  For example:

[code]

will just mutate code touched by the diff `HEAD~1..HEAD`.

[2015-10-26 17:10] backus commented on #750
Also @troessner if you have questions you can join the [mutant slack](https://mutation-testing.slack.com/)

[2015-10-26 17:17] mbj commented on #750
For integrating mutant into a project that was not using a mutation coverage tool from day one I recommend choosing to run it on CI against the master branch via specifying `--since master`. If you use hygenic commits, you can go for `--since HEAD~1` as @backus explained.

Depending on the size of the project it might also make sense to proactively ignore "currently uneasy to mutation cover subset

[2015-10-26 18:52] troessner commented on #751
Confirmed, I can easily reproduce this.

[2015-10-26 19:00] mvz commented on #751
Fix in #752.

[2015-10-26 19:10] mvz commented on #621
How would you resolve this smell if it occurs?

[2015-10-26 20:58] troessner commented on #662
#743 merged -> closing!

[2015-10-27 08:06] troessner commented on #621
For me ExcessiveConstantUsage is similar to (TooManyInstanceVariables)[https://github.com/troessner/reek/blob/master/docs/Too-Many-Instance-Variables.md]

[2015-10-28 08:19] troessner commented on #751
Fixed in master and released as soon as #753 is merged (which probably will happen in the next couple of hours) -> closing this one.

[2015-10-28 08:19] #751 closed

[2015-10-28 08:25] troessner commented on #750
Wow, that's an highly awesome feature.

Depending on the size of the project it might also make sense to proactively ignore "currently uneasy to mutation cover" subsets via the --ignore-subject Expression#here flag.

Thanks for the advice!

Actually I'm working on a talk about how `Reek`, `Mutant` and `rubocop` use Ruby's AST and how they differ. Your input about the `Mutant` part would be highly

[2015-10-28 08:27] troessner commented on #738
Closing this one since #742 got merged.

[2015-10-28 08:27] #738 closed

[2015-10-28 10:59] mvz opened #755 "Make Ataru run examples in-order"
Because Ataru uses minitest, it runs the examples in a random order. This is most probably the reason it sometimes fails.

There are several open Ataru issues related to this:
- https://github.com/CodePadawans/ataru/issues/75
- https://github.com/CodePadawans/ataru/issues/80
- https://github.com/CodePadawans/ataru/issues/68

[2015-10-28 11:00] mbj commented on #750
At your preference. We also have a mutant slack channel. Send me your email address and you get a invite.

[2015-10-28 11:16] troessner commented on #750
That would be: timo.roessner [at] googlemail.com

Thanks, appreciate it!

[2015-10-28 11:22] troessner commented on #755
Ataru seems dead, I don't think this will ever get solved.

[2015-10-28 11:29] mvz commented on #755
Hm .. I still like the concept. Maybe I should fork it :smile:.

[2015-10-28 13:28] troessner commented on #755
Or ask to take over the ownership?

[2015-10-29 08:20] troessner opened #757 "Run Reek against rubyspec"
I recently had a chat with @mbj and he suggested the following:

Reek should do the same, maybe disabling reporting / state tracking. Just walking the AST with the engine and making sure it does not crash. Its a great invariant.

I think that's an excellent idea, let's do this.

WDYT?

[2015-10-29 22:17] chastell commented on #621
The devil, as usual, is in the detail. How many is too many? :smiling_imp:

[2015-10-29 22:20] chastell commented on #757
:+1:

[2015-10-29 22:29] troessner commented on #621
How about the same as for TooManyInstanceVariables, so 4?

[2015-10-30 10:42] chastell commented on #621
I’m not sure how well it’s going to play with your campaign against literals in code. ;)

[2015-10-30 16:55] troessner commented on #621
YMMD :)

[2015-10-31 09:30] mvz commented on #757
:+1:

[2015-10-31 09:48] troessner commented on #757
I'm blocked the next weeks unfortunately,  would anybody else like to tackle this?

[2015-10-31 13:37] mbj commented on #757
I have a special test support class for the managing of corpus tests, that might be adaptable for you It assumes you have "many" projects you want to corpus test against: https://github.com/mbj/mutant/blob/master/spec/support/corpus.rb

You likely do not want to use my morpher based "type save" config loader.

Still this could serve as an example on how to do such a corpus test, I use this code fo

[2015-10-31 13:38] mbj commented on #757
This is how the config file looks for mutant:https://github.com/mbj/mutant/blob/master/spec/integrations.yml

[2015-11-01 17:58] chastell commented on #748
I _am_ working on this, but it seems deciding on just the right format is not simple – for example…

…current:

[code]

…too minimalist:

[code]

…too verbose:

[code]

…a good middle-grond?

[code]

What do you think?

[2015-11-02 09:54] troessner commented on #748
I like what you labeled with "too verbose" and I don't think it's too verbose!
We should rather be too verbose than concise. Experienced `Reek` users will mentally strip out the verbose message anyway.
The same way experienced Ruby users will mentally strip:

[code]

You don't read the message here. You just skim and then are like "oh, right". But for newbie users this is valuable information.

Le

[2015-11-04 12:59] mvz commented on #748
I also like the 'too verbose' version. However, I would leave out the brackets since they're just line noise.

[2015-11-04 23:29] chastell commented on #748
Ok, so what we want to do here is:

* reorder the information,
* simplify it for some smells (like dropping ‘(maybe move it to another class?)’ from UtilityFunction).

I’m a bit lost when it comes to the links, though. Should we add a wiki URL to each line in console output each time, should we keep the current `-U` / `--[no-]wiki-links` flag (which defaults to `false`), or should we keep the flag

[2015-11-05 08:16] troessner commented on #748
Why? It's not like we're killing the rain forest by eating more RAM, are we?
I'm on board with "be not super verbose all the time" but I believe we should definitely keep the "(maybe move it to another class?)" message even if it is repeated a gazillion times over the screen since this is relating to Reeks most difficult to fix smells (UtilityFunction and FeatureEnvy).

I'd throw it out completely

[2015-11-05 10:45] chastell commented on #748
Ok, agreed.

Hm, I think we can do that no earlier than Reek 4. But maybe we can reverse the default in Reek 3?

I’d really rather not – URL shorteners are both DNS waterboarding, they tend to rot and we don’t have control over them. But if @mvz is for this then I won’t veto. :)

One last question – sorry for being so ping-pongish about it, but this change means going through all of our _very_ det

[2015-11-05 11:05] mvz commented on #748
I'd like to keep `-U` semantics as it is for now and revisit that part later. Since we actually have the documentation *right here* in the repository, we could do fun things like `reek --explain DataClump` and have it actually print the docs. But as i said, let's revisit that in a later issue.

I'm for cleaning up the URLs, but would not like to use a shortener. Perhaps we should get an acual webs

[2015-11-05 14:03] troessner commented on #748
Good point, let's not do that.

Kind of depends: Do we consider a change in a non-vital cli switch a breaking change? I'd just go ahead and do it.

Ok, agreed.

But sort within all the smells for one given source, not across all sources, right? If yes then I think that's an awesome idea.

[2015-11-05 14:06] mvz commented on #748
Probably best to sort the detectors by name in that case. The output will be sorted automatically.

[2015-11-06 00:15] backus opened #761 "UtilityFunction shouldn't complain if `super()` is called"
I think this is sort of a duplicate of https://github.com/troessner/reek/issues/39 except the "fix" for that issue only covered when zsuper is used.  I think this should cover `super()` too.

[2015-11-06 13:53] chastell commented on #748
Ok, one more (ha!): should we sort directly by `smell_type` or group by `smell_category`?

Going with category first is logically more correct, but I tried it and it’s confusing: ‘why are the smells mostly sorted by name, but not always?’…

[2015-11-06 14:01] troessner commented on #748
Let's stick with smell_type :)

[2015-11-07 09:32] troessner commented on #761
Unfortunately I don't follow - AFAIS we're handling all forms of `super` correctly.
Do you have an example?

[2015-11-07 23:18] chastell commented on #748
Whew, that was _a lot_ of Cucumber features editing. Anyways: #765, and I’m very open to any change proposals (but they may take some time). :)

[2015-11-07 23:23] backus commented on #761
Should have included an example, sorry about that.  Often I'll use something like [concord](https://github.com/mbj/concord) to reduce boilerplate.  Usually this means not defining initialize at all, but sometimes I will write something like this:

[code]

which produces the following

[code]

[2015-11-09 07:21] mvz opened #766 "More sort options"
With the change in #765, we have altered our sorting within examined file results. I can imagine other sorting options may be useful.

[2015-11-11 19:16] backus commented on #761
@troessner is this helpful?

[2015-11-11 20:05] troessner commented on #761
It is!

I tend to agree. @mvz && @chastell what do you think?

[2015-11-11 22:04] chastell commented on #761
Oh definitely!

[2015-11-12 12:08] troessner opened #767 "Empty line code smell"
http://www.yegor256.com/2014/11/03/empty-line-code-smell.html

Thanks @tuexss for bringing this up, I love it.

@mvz && @chastell WDYT?

[2015-11-12 13:32] tuexss commented on #767
Should be fairly easy to implement, but quite difficult to explain. I guess it should be off by default, because otherwise running reek with this smell for the first time against a large codebase will probably explode with warnings.

[2015-11-12 14:16] troessner commented on #767
Unfortunately it's very hard to implement :laughing:
Reek operates on an abstract syntax tree that has no knowledge about whitespace since this is completely irrelevant from a parsers and interpreters point of view.
So with the current Reek structure there is not "elegant" way to implement this.
Might be a good task for a hackathon though ;)

[2015-11-12 14:41] tuexss commented on #767
Tell the lexer that \n+whitespace+\n in a method without any comments and outside a heredoc should be considered as an empty_line, teach the parser that empty_line is always a null_statement, and then trigger a smell on all null_statements :)

[2015-11-12 14:50] tuexss commented on #767
I would even go so far as to argue that this is what lexers parsers should be doing, also for ";", and compiler/interpreters should turn this into NOPs.

[2015-11-12 15:21] troessner commented on #767
I'm looking forward to your incoming pull requests on the parser gem and what not :laughing:
BTW. I kind of agree with you.

[2015-11-12 15:35] tuexss commented on #767
yeah, well, that's the trouble with settled language/frameworks/communities - they don't embrace change too happily, and noone wants to be that guy/girl who fights for it to happen...

"but it has always been like this" ¯\_(ツ)_/¯

[2015-11-12 22:17] chastell commented on #767
I agree we could have it as a code smell, I agree that it should be off by default and I agree that adding it to the parser gem might not be trivial (nor neccesarily welcome there). I don’t think we should break our parser-purity and implement a workaround for this, though, unless someone *really* wants this in. :)

[2015-11-13 09:17] mvz commented on #767
After reading the article I would come to the conclusion that this rule is more of a proxy for method complexity. We already limit the number of statements in a method and thus capture most of the cases where the empty line rule would be relevant.

[2015-11-13 09:21] troessner commented on #767
Yep, we could implement that easily in Reek by ..... just implementing a second infrastracture :laughing:

Agreed. But I think the EmptyLineSmell is still kind of complementary to this.

[2015-11-13 09:39] mvz commented on #767
True, but in that case I'm not convinced of its usefulness. To just pull an example from code I'm working on now:

[code]

I could just remove the empty line and make the smell shut up, but the fact is that there is first some argument mangling and then the 'meat' of the method. The only thing that could be extracted would be the mangling, leading to, e.g.:

[code]

I'm not sure I find this more r

[2015-11-13 09:55] troessner commented on #767
Good points @mvz
I guess since Ruby has poor support for functional programming there is no good way to have more or less side effect free methods. Since it's next to impossible to have methods that are defined by their return type you kind of naturally have more than one line. And then you have the need for empty lines :)

[2015-11-13 10:09] mvz commented on #767
@troessner yes, that about sums it up. Languages like LISP also have better constructs for separating out parts of your function using `let` etc.

[2015-11-13 10:10] mvz commented on #761
Yes, I also agree.

[2015-11-13 10:13] troessner commented on #761
I'm still busy with #724 - any of you guys available to look into this? If not, I can look into fixing this after #724

[2015-11-13 10:34] mvz commented on #761
I can look into it.

[2015-11-13 10:43] mvz commented on #761
Done. See #768.

[2015-11-13 13:13] tuexss commented on #767
@mvz regarding the example, I'd expect to find a solution where the parameter preparation for the change that will happen in the second step wouldn't be a nested one. so I'd have it more like:
[code]
and let `adjust_value_to_property_type` deal with extracting the type info, as this is not in the responsibility of `set_property_extended`

I think it's even good to have both parameter preparation a

[2015-11-13 13:34] mvz commented on #767
@tuexss thanks for the explanation. I was thinking some more about this and one problem with Ruby and similar languages is that extracting a small method (like `adjust_value_to_property_type`) means that this immediately becomes a method on the whole class, which may not always be sensible and can lead to awkward naming. Pascal has nested functions if I remember correctly, and something like that

[2015-11-13 13:54] mvz commented on #761
Fixed in version 3.6.1!

[2015-11-13 13:54] #761 closed

[2015-11-13 14:35] tuexss commented on #767
@mvz Yeah, I'm used to nested subroutines from Pascal, and I kinda miss them. Limiting responsibility (by limiting memory access) and avoiding side-effects is so helpful for writing clean code.

The thing is, I don't know the context of your example, but from the naming I would infer that "property" may be complex enough to justify a class of its own. I think it's possible to run without nested fu

[2015-11-16 15:11] #748 closed

[2015-11-24 16:47] codehugger opened #772 "TooManyStatements top-level config ignored"
I have this in my config.reek

[code]

But when I run `bundle exec reek` I get the following output

[code]

[2015-11-24 16:50] troessner commented on #772
Can you please post the destroy method as well? And what Reek version?

[2015-11-24 20:02] troessner commented on #772
Oh, and how are you loading the config? Seems to me like you put it somewhere where Reek cant find it...

[2015-11-25 11:18] codehugger commented on #772
[code]

[2015-11-25 12:30] troessner commented on #772
Nope, that works.

[code]

With config.reek and destroy.rb containing your code from above.
There's something fishy on your end. Either the config is not loaded for whatever reasons or you're overwriting values. Can you paste the output of:

[code]

[2015-11-26 22:02] codehugger commented on #772
Here are the contents of my config.reek located at the root of my Rails folder. This produces incorrect output and TooManyStatements errors are reported for numbers less than 15.

[code]

I fiddled around with the config.reek file and I managed to pinpoint the error. If I remove the "app/controllers" section I get the correct output for TooManyStatements (all lines report > 15) but of course the N

[2015-11-27 04:30] troessner commented on #772
Ah, you're right, there is a bug lurking there indeed!

As you can see [here](https://github.com/troessner/reek/blob/master/lib/reek/configuration/app_configuration.rb#L96) we either load a directory directive OR the default directive, but don't merge them.

Should be fairly simple to fix, I'll look into unless @mvz || @chastell want to take a stab at this?

[2015-11-27 06:18] troessner commented on #772
Well, I couldn't sleep so I started to work on it already, wip PR up in #773, sorry @mvz and @chastell :laughing:

[2015-11-27 23:19] #772 closed

[2015-11-29 12:46] troessner commented on #767
Closing this one since this smell would be a job for another toot, not Reek, for the reasons given above. Interesting discussion though ;)

[2015-11-29 12:46] #767 closed

[2015-11-30 23:21] troessner opened #775 "Object oriented clusterfuck pattern in Reek"
We have done a **lot** of refactorings in Reek over the last couple of months and years.

One antipattern though is still used heavily in our code base. I call it "Object oriented clusterfuck pattern" in lack of a better name and it refers to doing **everything** by setting state implicitly in X to be used in Y.

Sounds vage? Ok, let me give you an example by looking at our [Examiner](https://gith

[2015-12-01 12:25] chastell commented on #775
Very much yes! It also really hinders inferring how Reek actually works (in detail).

[2015-12-01 15:14] mvz commented on #775
:+1:, and :+1: for the name 'Object Oriented Clusterfuck Pattern'.

[2015-12-11 22:25] troessner opened #784 "Our statement counting is obscure"
Our statement counting in [ContextBuilder](https://github.com/troessner/reek/blob/master/lib/reek/context_builder.rb) is kind of .... weird and obscure.

Consider what we do in the case of code like this:

[code]
This would result in the following statement counting:
- 1 statement for `holla` not being empty but containing [something truthy](https://github.com/troessner/reek/blob/master/lib/reek/c

[2015-12-13 00:11] backus opened #786 "undefined method `simple_name' for (send (const nil :Class) :new)"
Similar to #719 and #715

The following produces an error when reek attempts to parse it:

[code]

I checked this bug against the latest revision of master (28e8b2f).

[2015-12-13 09:22] troessner commented on #786
Confirmed:

echo "Foo = Class.new.new" | bin/reek

gives me

/Users/timo/dev/reek/lib/reek/ast/sexp_extensions/send.rb:34:in `module_creation_receiver?': undefined method `simple_name' for (send (NoMethodError)
  (const nil :Class) :new):#<Class:0x007fb57d3132a8>
	from /Users/timo/dev/reek/lib/reek/ast/sexp_extensions/send.rb:30:in `module_creation_call?'
	from /Users/timo/dev/reek/lib/reek/ast/se

[2015-12-17 08:40] avdgaag opened #788 "Allow configuring Rake task with a FileList"
The Rake task currently allows you to specify a single glob pattern:

[code]

Internally, this is fed to Rake’s `FileList` and converted to an array of actual filenames to pass to the `reek` executable.

What I would like is to define _multiple_ glob patterns, and exclude some specific files. This basically can’t be done with a glob pattern, but would be very easy if I could pass in my own `FileLi

[2015-12-17 10:15] troessner commented on #788
Sounds like a good idea to me!
Care for a pull request?
I'd help you if you're up for it ;)

[2015-12-17 11:06] mvz commented on #788
We should fix that as well probably.

[2015-12-18 19:25] troessner opened #789 "Use the contracts gem?"
I'd vote for giving the [contracts gem](https://github.com/egonSchiele/contracts.ruby) a shot in our codebase. Ruby will probably be released in 2029 and I want my static typing, damn it!
Or at least something close ;)

WDYT?

[2015-12-18 23:47] chastell commented on #789
On technical level: given how slow Reek is already, we’d have to use it in development only (yes, I read the article about the gem’s speed – we’d have to test this, but the numbers in the article show that the gem still makes the code significantly slower).

On ideological level: Ruby is a fundamentally dynamic language; if you want static typing take a look at Crystal (I did and I like it a lot).

[2015-12-19 09:29] troessner commented on #789
We could make Reek faster (i have a gazillion ideas already) and test contracts for our heavily used methods to check the performance hit. Deal?

Re: Crystal. Not sold on it. I am missing the USP. Or there is one and i am missing it?

[2015-12-20 21:07] andyw8 opened #790 "CodeClimate engine - exit code"
Currently, Reek exits with a status of 2 when it detect smells.

When running Reek as a Code Climate engine (see #763), the engine needs to exit with a code of 0 when there are smells.

I'm trying to think how this can be elegantly handled in Reek.

The most direct way would be to add a conditional in `Application#report_smells` which reads the `options.report_format`, but that's essentially a typ

[2015-12-20 22:14] andyw8 commented on #790
(Another option could be a command-line override, similar to RSpec's `--failure-exit-code`).

[2015-12-21 05:19] chastell commented on #789
How about [RDL](https://github.com/plum-umd/rdl)? If we can ensure performance, I’d rather went with something a tad more versatile than contracts.ruby.

Unique selling point? Types with Ruby syntax and performance. (Disclaimer: I do tonnes of heavy computations at the uni and doing them with Ruby is absurd, but the syntax and succinctness of algorithms expressed in Ruby still make it worth it. I

[2015-12-21 06:12] chastell commented on #789
[Also](https://twitter.com/sdogruyol/status/677084627874508800):

Also small, command-line apps that actually boot fast and don’t require a (current-enough) Ruby runtime to run. \*cough\*

[2015-12-21 10:12] troessner commented on #789
Well, for me as a github star-whore I am a little sceptical of its star count. Just 10 stars doesn't exactly communicate "I am used in production a lot" to me.
Also it seems like it [doesn't support Ruby 2.0](https://github.com/plum-umd/rdl#supported-versions-of-ruby) which would be a show stopper. OR we take righteous actions and drop 2.0 support as well. Which would clean up our codebase in refe

[2015-12-21 10:33] troessner commented on #790
I like that, nice and clean!
@mvz && @chastell wdyt?
Who can look into this? If nobody can take a stab I can go for that over xmas.

[2015-12-21 11:46] mvz commented on #790
Let me ponder this, I have some ideas but I cannot elaborate on them right now.

[2015-12-22 06:13] chastell commented on #789
The first version of RDL was released six days ago and RDL 1.0.0 was released on Friday, so it’s hard to expect it to be widely adopted. ;)

I vote we do that regardless of which gem (or none…) we go with. Ruby 2.0 will be end-of-lined in February, there’s no need to support it beyond that. :stuck_out_tongue_winking_eye:

The contracts gem seems to be all about classes of objects (strict types), w

[2015-12-22 17:06] troessner commented on #789
Ok, RDL sounds indeed more interesting.

P.S.: Ruby 3 will be statically typed with smart type inference a la Scala. Mark my words. I'd be willing to bet my hazienda on mallorca on that if anybody is up for it!

[2015-12-24 15:25] troessner opened #792 "Bug in our visibility tracking for non-instance methods"
#724 uncovered a bug in our visibility tracking in regards to non-instance methods.

The following spec illustrates this bug:

[code]

The output of this:

[code]

@mvz || @chastell any of you got time to look into this?

[2015-12-24 16:05] troessner opened #793 "Bug in our context building for non-instance methods"
#724 uncovered a bug in our context building in regards to non-instance methods.

The following spec illustrates this bug:

[code]

Both methods should be recognized as SingletonMethod, but only the first one is:

[code]

I thought we had fix this bug a looooong time ago but apparently not.

[2015-12-24 16:34] mvz commented on #792
I may be able to look at it tomorrow, as a fun Christmas activity :smile:.

[2015-12-26 10:17] mvz commented on #793
I'm picking this up as part of #792.

[2015-12-26 10:18] mvz commented on #793
(I think we're checking if some method is a singleton method more dynamically, actually, due to `module_function`).

[2015-12-26 10:51] mvz commented on #789
@troessner where in Reek's codebase would you want to start adding any contract?

I'm a little hesitant since I don't know how contracts will hamper refactoring. To my mind, they make the most sense for our public API methods.

[2015-12-26 11:35] troessner commented on #789
Sounds like a good start!

But taking one step back:

Actually I don't know if we should use **any** external library at all.
I mean, the second somebody uses Reek's API and then uses a conflicting RDL library version the user will rightfully complain. If Reek was just stand-alone -> no problem. But since we're actually pushing for api usage that's a different topic.
WDYT?

[2015-12-27 05:18] jfelchner opened #799 "Directory Directive blows up if the directory doesn't exist"
This seems reasonable at first glance, but I would really like to be able to have a common `.reek` file that I use everywhere (Rails, non-Rails, legacy, greenfield) that I can keep up-to-date with a simple script to copy my most recent config version to all my projects.  Unfortunately this issue keeps me from doing that.  For example:

[code]

blows up on non-Rails projects (or Rails projects wher

[2015-12-27 09:42] troessner commented on #793
Wait, why are you closing this? Thats confusing since it implies that the fix is in master already.
But right now the PR is not even in reviewable state...?

[2015-12-27 09:43] troessner commented on #799
I see your point and i am open to change this behaviour. @mvz and @chastell if you agree as well i'll whip up a PR over the next days.

[2015-12-27 17:40] mvz commented on #793
It was autoclosed by GitHub because #794 used the word 'fix' and this ticket number in the same sentence :smile:.

[2015-12-27 17:41] mvz commented on #799
Yes, I think this is reasonable.

[2015-12-27 18:53] troessner commented on #793
Ah, i see :laughing:
Reopening this one!

[2015-12-27 20:45] troessner commented on #799
Fix up in #800

[2015-12-27 21:48] #799 closed

[2015-12-27 21:52] chastell opened #801 "Ruby 2.3 support"
I want to get my pet projects that would benefit from the squiggly heredoc over to Ruby 2.3 ASAP, and for this we need to make sure Reek supports is.

To the best of my quick checks the current blockers are:

1. (the newest) parser 2.3.0.pre.6 still not supporting the new syntax,
1. (the newest) unparser 0.4.2 depending on parser `'~> 2.2.2'`.

Once the above are resolved I want to make sure Reek

[2015-12-27 23:03] troessner commented on #799
@jfelchner I just released Reek 3.8.1 with this very fix included, please upgrade and let us know how this works for you ;)

[2015-12-27 23:14] troessner commented on #801
YES, I WANT THAT SQUIGGLY THING TOO!

We then also need to address the [safe navigation operator](https://github.com/whitequark/parser/commit/bd7952cc72bf87d86476456b8060918604b3b111) i guess....

[2015-12-28 09:09] mvz commented on #790
I would go for the simplest implementation possible right now.

Since this whole engine is basically meant to run in a Docker instance, we may want to **eventually** create a separate executable for it that is only included in the Docker image and not in the gem, thus removing the dependency on code climate specific code and for special exit code handling in the main gem. (I have zero Docker exper

[2015-12-28 16:33] mvz commented on #801
Yes! We should support 2.3 syntax ASAP.

Perhaps we can at least start a branch moving to parser 2.3.0.pre.x and adding support for `:csend` nodes.

I would like to drop unparser and find some other way of printing source (perhaps by just finding it in the original string). The reason is that unparser is still in a below-1.0 version and considered as such by the author, plus we only print tiny bit

[2015-12-28 16:41] troessner commented on #801
Good idea! I'm a swamped right now, would anybody like to tackle this problem?

[2015-12-28 20:25] jfelchner commented on #799
@troessner wow, this is some response time! :grinning:  Just tested it and it works amazingly well.  Thanks again! :+1: I'll send you a couple bucks for a :beer: or some :coffee:

[2015-12-28 20:30] troessner commented on #799
Great that this worked for you, you're welcome ;)

[2015-12-28 20:34] chastell commented on #801
I got pack from four days of meeting families and promptly got a 39°C fever (→ staying offline makes me sick), but I’ll get on this one. :)

[2015-12-29 01:05] jfelchner opened #803 "UnusedPrivateMethod with actions in Rails Controllers"
This isn't a huge deal for me.  I just disabled this check in `app/controllers`, but I ran into it and thought you all would want to know.

It's fairly typical to have:

[code]

Currently this throws an `UnusedPrivateMethod` error.

[2015-12-29 01:07] jfelchner commented on #803
And sorry about all the bug reports lately. :bug: :grinning:

[2015-12-29 09:22] troessner commented on #790
Taking this over after our mail discussion.

I think I'll go for @andyw8 suggestion

which I find really neat.

[2015-12-29 09:28] troessner commented on #803
I don't follow unfortunately - isn't the "blah" method in your example used by a controller action?

[2015-12-29 09:52] chastell commented on #803
I think the point is that `before_action` should mark the `blah` as a used private method.

[2015-12-29 09:53] chastell commented on #803
…and Reek marks is as an UnusedPrivateMethod because it’s not used anywhere else (other than in `before_action`).

[2015-12-29 09:54] troessner commented on #803
Ah, I missed the before_action ;)

Wouldn't it make more sense to add this [here](https://github.com/troessner/reek#working-with-rails)?

[2015-12-29 10:17] chastell opened #804 "Drop private_attr?"
Now that Ruby 2.3 no longer warns on private accessors I’d love to drop the private_attr gem.

Unfortunately, the `attr_*` calls do not return the symbols for the created accessors, so we can’t go with `private attr_reader :foo, :bar`. Even more unfortunately we seem to have a policy of keeping private accessors at the top of classes (rather than with the rest of private methods). ;)

I see three

[2015-12-29 10:21] mvz opened #805 "Build only PRs *or* pushes?"
Travis currently builds both PRs and pushes, which doesn't make that much sense for us since we always rebase and squash onto current master. How about turning one of them off?

[2015-12-29 10:40] mvz commented on #804
This has my preference. It keeps the 'public' API of the class in one place, the private in another. Option 2 is very ugly I think; option 3 is silly and would make me want to change the visibility and attribute detection code :frowning:.

[2015-12-29 10:54] troessner commented on #804
There is no policy for that. It just sucks. Because then you **use** attributes at the top of the class but you **declare** them at the bottom. That is against your reading flow. That's why it sucks. It's counter-intuitive. And doesn't seem fitting for a language where readability >>>> everything.

Well, thankfully we're a team of three (== odd number) which gives us the opportunity for a clear de

[2015-12-29 11:28] mvz commented on #804
That is true, but then it would make sense to move **all** private methods to the top.

I think there are two ways of looking at this: Either you start out defining all the little details (supporting private methods, private attributes, etc.), and then define the 'big picture' methods (public methods), *or* you first defined the big picture methods, and then define the details ('If you're really i

[2015-12-29 12:30] chastell commented on #804
I think the distinction between private accessors and other private methods is artificial – the whole point of using accessors (over direct ivar references) is that they are methods than can be easily extended to cover new behaviour without the callers being any the wiser. After all, `attr_reader :foo` is just syntactic sugar for `def foo; @foo; end` – which I assume we’d all happily put down belo

[2015-12-29 12:32] chastell commented on #805
Agreed; I don’t think buliding pushes makes that much sense (in other projects I often push work-in-progress branches just in case to not lose the code, not to get it build by CI).

[2015-12-29 14:30] troessner commented on #805
<img width="786" alt="screen shot 2015-12-29 at 15 29 45" src="https://cloud.githubusercontent.com/assets/271109/12035884/11507e76-ae41-11e5-8aa8-c6264b41da0d.png">

[2015-12-29 14:31] troessner commented on #805
I just disabled one of them. I leave figuring out which one to the astute reader.;)

[2015-12-29 14:31] #805 closed

[2015-12-29 14:32] troessner commented on #804
Ok, let's go for it ;)

[2015-12-29 15:42] mvz commented on #803
Yes, that seems the most straightforward solution. There's a lot of metaprogramming Reek just can't deal with.

[2015-12-29 16:45] jfelchner commented on #803
Cool. Whatever you all think is best. I just wanted to make you all aware of it! :+1: Feel free to close.

[2015-12-29 21:03] #803 closed

[2015-12-30 00:59] jfelchner opened #807 "Adding Exceptions for Memoized Instance Variables in TooManyInstanceVariables"
I think the purpose of the `TooManyInstanceVariables` smell is great, but there's the use case for instance variables where they're simply used to hold state for a memoized method and are typically not allowed to be set.  I think that this use case of instance variables is actually an indicator of good code.  The developer has decided that the method's results don't rely on changing state and unde

[2015-12-30 06:55] troessner commented on #807
Ad 1) great shoot!
Ad 2) https://github.com/troessner/reek/blob/master/docs/How-reek-works-internally.md

[2015-12-30 06:58] troessner commented on #807
And of course https://github.com/troessner/reek#developing-reek--contributing ;)

[2015-12-30 07:06] chastell commented on #807
Oooh, this is a very good idea! :+1:

[2015-12-30 16:50] mvz commented on #807
Awesome. :+1:

[2015-12-31 19:58] troessner commented on #790
To quote the CodeClimate spec:

-> wip

[2016-01-01 11:56] troessner opened #809 "Wrap exceptions under ReekException"
The title says it all - I believe we should wrap all exception that `Reek` explicitly might throw under `ReekException` and store the original exception as a attribute like [here](http://devblog.avdi.org/2013/12/25/exception-causes-in-ruby-2-1/) or use `Exception#cause`.
That provides a cleaner separation of concerns to the user and will make debugging on the user end simpler (because it's clearer

[2016-01-01 11:56] troessner commented on #790
Fix up in #808

[2016-01-01 12:24] troessner commented on #662
Seems like I actually forgot to close it :laughing:
Done!

[2016-01-01 12:24] #662 closed

[2016-01-01 20:37] chastell commented on #809
We can, we can also do exception tagging in our API:

[code]

– this way _all_ of the exceptions originating from Reek will be explicitly tagged as such (and rescuable with `rescue ReekException`).

[2016-01-03 09:21] #790 closed

[2016-01-03 09:33] mvz commented on #809
Yes, for exceptions that we anticipate and are implementation details. So I don't see the need to wrap `Errno::ENOENT` if user-supplied files don't exist (even though we can anticipate that to happen), but we should probably shield the user from errors in `parser`, so we could theoretically swap out the parser and still throw the same errors. This also requires having several exception types.

[2016-01-04 06:08] avdgaag commented on #788
Sorry, forgot about this over the holidays. I’ll make a pull request for this particular change, stay tuned.

That, however, is out of my league :smile:

[2016-01-04 08:48] chastell commented on #809
I agree we probably shouldn’t _wrap_ `Errno::ENOENT`, but I still think we could _tag_ it – the whole idea of exception tagging is ‘mark all exceptions originating from X dependency as such’. It would still be an `Errno::ENOENT`, it would just carry additional metadata for those who choose to check that.

[2016-01-04 09:17] mvz commented on #809
But won't the backtrace already tell you where it came from? I'm not for giving people the opportunity to catch every exception (generally considered a bad thing) by something innocuous like `rescue ReekException`.

Do you maybe have any real-life examples of exception tagging and how it is used? Just trying to figure out the use case here.

[2016-01-04 10:18] yld opened #813 "Reek does'nt see private methods called in RAILS hooks and validations as used"
Given this model
[code]

And this controller
[code]
reek throws 2 UnusedPrivateMethod warnings

[2016-01-04 10:18] mvz opened #814 "Do not even parse excluded files"
Follow-up from #788:

Needlessly parsing excluded files slows down analysis, so we should just skip them.

[2016-01-04 11:59] troessner commented on #814
But that's not true. Excluding files via configuration will prevent them from being parsed:

  ( $ ) cat config.reek
---
exclude_paths:
  - lib/legacy
  ( $ ) cat lib/legacy/unparseable.rb
def unpars%%%%ble; end
  ( $ ) cat lib/
legacy/ omg.rb
{-timo-|-columbia-2-} => [/tmp]
  ( $ ) cat lib/omg.rb
class Foo
end
  ( $ ) reek lib/
lib/omg.rb -- 1 warning:
  [1]:IrresponsibleModule: Foo has no descri

[2016-01-04 12:01] troessner commented on #788
This is not correct, please see #814 for the corresponding discussion.

[2016-01-04 12:04] troessner commented on #813
Please see [Working with Rails](https://github.com/troessner/reek#working-with-rails) - right now `Reek` does not have "Rails knowledge" baked in (I'd love to have this is as a plugin) so it's better to disable certain smells for Rails controllers.

[2016-01-04 12:19] troessner commented on #809
Why not just:

[code]
And then we wrap this:

into a ReekException and print out the original stacktrace like in the article above?

[2016-01-04 15:26] yld commented on #813
Oups, thank you.

[2016-01-04 15:26] #813 closed

[2016-01-04 16:19] mvz commented on #809
How about we start by using custom error classes everywhere we currently (re)raise an exception[1]? After that, we can see if there are any regularly thrown exceptions that we should wrap or otherwise modify.

[1] Except for keyword args!

[2016-01-04 16:25] troessner commented on #809
You mean like ReekException::FileNotFound, ReekException::BadConfiguration .....?

[2016-01-04 16:32] mvz commented on #809
Yes, something like that. Doesn't have to be under a new `ReekException` namespace. We already have `Reek::Configuration::ConfigFileException`.

[2016-01-04 16:37] troessner commented on #809
Yes, but users should be able to catch one exception mother type so I'd rather have something that is expressive like ReekException ;)

[2016-01-04 19:32] mvz commented on #809
We can make them all subclasses of `Reek::Exception`.

[2016-01-04 19:33] mvz commented on #809
I'm sure we'll figure those details out :smile:.

[2016-01-05 10:35] troessner opened #815 "Get rid of the unparser gem"
Coming from #801 :

Shouldn't we rather try to get rid of unparser?
Not saying that it's not a great gem, but this dependency is weighing on us and AFAIS the drawbacks outweigh the benefits by far. I think we can easily kill it.

WDYT?

[2016-01-05 18:46] troessner opened #816 "Using `exclude` in the Reek config does not work for the UnusedPrivateMethod detector"
Seems like we shipped a bug in the UnusedPrivateMethod detector that went unnoticed - apparently using `exclude` in the config doesn't work:

[code]

Disabling via source code comment works though.
I'll look into this.

[2016-01-06 08:38] mvz commented on #815
Yes!

[2016-01-06 12:48] chastell commented on #809
Just to make it clear: my point wasn’t to _either_ wrap everything in a single Reek expcetion _or_ do exception tagging – we can have both: wrap some stuff in a Reek exception (where it makes sense) _and_ tag all of Reek-originating exception with something (say, a `ReekOriginatingException` module) so that people can handle them as they see fit. But I’ll probably be ok with whatever you two come

[2016-01-06 12:50] troessner commented on #809
Yes, i got your point and i am fully on board with it!
Volle Fahrt voraus, Kapitän!

[2016-01-06 12:54] chastell commented on #816
I was _just_ about to open an issue – no, [it doesn’t](https://github.com/chastell/lovely_rufus/commit/23ea8b6bd4d4a4a62a6473322a5d826c26225b18)…

[2016-01-06 12:57] chastell commented on #815
Yes, please!

[2016-01-06 12:57] troessner commented on #816
It does, my friend, it does!
But on a class level, not a method level.
Please see the top of ContextBuilder for an example. We probably should make this clearer in the docs.;)

[2016-01-06 12:59] troessner commented on #816
https://github.com/troessner/reek/blob/master/lib/reek/context_builder.rb#L20

[2016-01-06 13:08] chastell opened #817 "UnusedPrivateMethod triggered when the caller is in another class"
[`LovelyRufus::Layers::EmailQuoteStripper#fixed_quote`](https://github.com/chastell/lovely_rufus/blob/23ea8b6bd4d4a4a62a6473322a5d826c26225b18/lib/lovely_rufus/layers/email_quote_stripper.rb) is a private method called by `#call` ([inherited from `QuoteStripper`](https://github.com/chastell/lovely_rufus/blob/23ea8b6bd4d4a4a62a6473322a5d826c26225b18/lib/lovely_rufus/layers/quote_stripper.rb)), but

[2016-01-06 13:10] chastell commented on #816
Oooh. Is there a reason why we don’t support this on a per-method basis? (See #817 for a use-case.)

[2016-01-06 15:30] troessner commented on #816
You could make the argument that a "UnusedPrivateMethod" already screams "class scope" and not "method scope" ;)

Apart from that disabling by regex would be useless which is an incredible powerful feature. Just imagine how shitty [this](https://github.com/troessner/reek/blob/master/lib/reek/context_builder.rb#L20) would look like on a method base. You'd have to write 25 identical source code comm

[2016-01-06 15:33] troessner commented on #817
Yes! The template pattern is unfortunately something `Reek` can't be aware of right now. PR incoming for the UnusedPrivateMethod docs.

Yes, we should have a global registry that maps out the entire source tree.
Now who's up for this pull request?!

[2016-01-06 16:09] troessner commented on #816
BTW our official docs mention the "disable via comment on a class level" [explicitly](https://github.com/troessner/reek/blob/master/docs/Unused-Private-Method.md#configuration) so it's not like it's a secret :laughing:

[2016-01-07 09:57] mvz commented on #814
Thanks for clearing that up, @troessner.

[2016-01-07 09:57] #814 closed

[2016-01-07 10:00] troessner commented on #817
Addressing this in #818

[2016-01-07 13:05] mvz commented on #817
This behavior is basically as I envisioned it :smile:.

[2016-01-12 11:01] troessner opened #821 "Move all development dependencies in our gemspec to the Gemfile"
Let's move all development dependencies in our gemspec to the Gemfile.
The separation right now doesn't make any sense and is academic, but not pragmatic.
And we use bundler for everything anyway.

WDYT?

[2016-01-13 13:11] troessner commented on #821
Right now I'm doing

in our Dockerfile. That already shows that something is wrong in our set up. We only need one development group I believe.

[2016-01-13 15:57] troessner opened #824 "Refactor /reports"
* Right now it contains mostly formatters (first wtf)
* it crams all actual reporter into one source file (second wtf)

[2016-01-13 20:33] mvz commented on #824
:+1:

[2016-01-13 21:48] mvz commented on #821
I've traced the origin of the local_development group to this PR: https://github.com/troessner/reek/pull/226, and this commit: 68f97b700cb519ce5510305b39d0cc3a86c8869e. I don't know if these considerations are still relevant.

[2016-01-13 21:51] mvz commented on #821
By the way, from where will CodeClimate pick up our Dockerfile in the end? From the git repo? From the gem? Somewhere else?

[2016-01-14 10:38] troessner commented on #821
I guess they build the image once and then it's kind of .... there on their servers. So it would be kind of static. No idea how the update process would work, we'll need to clarify that ;)

But just to be clear here: My suggestions in this issue are completely independent from CodeClimate. Working on it just made the issues in our current set up more obvious to me.

They are and I intend to honor

[2016-01-14 13:09] mvz commented on #821
Yes, this looks sensible to me.

[2016-01-15 23:25] chastell commented on #804
(I’m waiting for #796 to be merged so that @mvz doesn’t need to rebase that one. No rush on my side, just making a note that I’ll get to this one when it won’t be a burden to other open PRs.)

[2016-01-15 23:25] chastell commented on #824
Oh yes please! :sparkling_heart:

[2016-01-15 23:33] #821 closed

[2016-01-15 23:37] chastell commented on #817
OK, I’m closing this one for now.

Until this appears, of course. ;)

[2016-01-15 23:37] #817 closed

[2016-01-15 23:41] chastell commented on #816
I have nothing against having this comment _working_ on class scope, I just don’t see why it couldn’t work on method scope as well. I wouldn’t mind being able to mark a Rails `before_filter` as _actually used_ and keep being warned that some other private methods in the controller can be potentially safely dropped.

[2016-01-16 16:37] troessner commented on #816
I dont get it - cant you do this right now as well?

[2016-01-16 20:14] chastell commented on #816
Well, we probably can with a class-level
[code]
but it would be more useful (and symmetric to most other excludes) if we could do that as well just by adding
[code]
before `#foo` and `#bar`. In many projects I work on private method names tend to change a lot and keeping such whitelisting local to them would require less maintenance. But I’m OK if we decide not to bother. :)

[2016-01-16 21:34] troessner commented on #817
That would probably be the biggest PR `Reek` has ever seen :)

[2016-01-16 22:01] troessner commented on #816
I see your point, but for instance [this](https://github.com/troessner/reek/blob/master/lib/reek/context_builder.rb#L20) would be significantly harder and tedious to do.
Just to give you a good example where setting this on a class scope makes sense ;)

[2016-01-17 18:15] mvz commented on #816
Since each scope uses al the parent scopes' configurations as well, changing the detector to run at the method scope level would still allow per-class configuration. As I recall, there were other reasons to run at the class level, though. Mainly for efficiency. Right, @troessner?

[2016-01-17 20:35] chastell commented on #816
Let me quote myself from above:

I’m all sold on a class-scope level (and the regex example makes perfect sense), it would just be nice to be able to stick [this](https://github.com/chastell/art_decomp/commit/8f7c958200af00835ba460842779560bae4794b4) next to the method in question (and drop the config part of the comment).

But if that’s a lot of work (of efficiency would be impacted) then by all

[2016-01-17 23:56] troessner commented on #816
Re:

and

Yes, I outlined the reasons [here](https://github.com/troessner/reek/pull/724#issuecomment-165887484)

[2016-01-20 14:10] schmijos commented on #815
:+1: I agree.

A specific problem is for example an arising incompatibility between **rubocop 0.36.0** (which requires `parser >= 2.3.0.0`) and **reek 3.7.1** (which requires `parser ~> 2.2.2` per **unparser 0.2.4**)

[2016-01-20 14:42] mvz commented on #815
@schmijos we're already working on it in #827.

[2016-01-20 20:54] backus opened #831 "undefined method `method_context_class' for #<Reek::Context::MethodContext:0x00>"
I was playing with reek on master and noticed a regression which I don't think is released yet. The following code should reproduce the issue

[code]

I believe this commit introduced the issue: https://github.com/troessner/reek/commit/dd780b41b7304517585b055fe2a7631e50a2a9f7

[2016-01-21 04:16] backus opened #832 "undefined method `full_name' for s(:lvar, :m):#<Class:0x00>"
Code to reproduce

[code]

Commit which I think introduced the regression: 8bf26f9dea4ed16e3282bbf9d4ed1dc98af21133

[2016-01-21 07:13] troessner commented on #832
Thanks for the report(s)! Oh boy, we really need to get #757 going ;)

[2016-01-21 09:20] mvz commented on #815
And done!

[2016-01-21 09:20] #815 closed

[2016-01-21 09:21] mvz commented on #792
Fixed in #796.

[2016-01-21 09:21] #792 closed

[2016-01-21 09:22] mvz commented on #793
Fixed in #796.

[2016-01-21 09:22] #793 closed

[2016-01-21 09:45] mvz commented on #832
Oh god why is that even allowed? Even worse: The following works and prints `Foo!`:

[code]

[2016-01-21 09:58] backus commented on #832
lol

shouldn't it?

[2016-01-21 10:25] mvz commented on #832
Well, if you want to namespace your modules with a 5 line if statement, it should :smile:.

Oddly, method definitions are much more limited: Anything more complex than a variable or argumentless method call is not accepted as a receiver.

[2016-01-21 11:42] troessner commented on #832
Bar
  else
    Qux
  end::Baz
  def foo
    puts 'Foo!'
  end
end

vs.

No. No, it should not.

But I guess this discussing is moot, since Ruby won't care for it anyway :laughing:

[2016-01-21 21:50] chastell commented on #816
Oh right, then I definitely rest my case. :)

[2016-01-21 22:36] backus commented on #832
Oh yeah I mean it is terrible that the language lets you do something like this. I was just double checking to make sure it at least made sense in terms of how the code evaluated.

[2016-01-21 22:40] backus commented on #832
Yes I completely agree. In fact, I found this by running master against rubyspec.

I was playing with adding a corpus test last night based on what @mbj has configured for mutant. Please don't depend on me for the PR of course, I'm not sure if I have time, but for someone familiar with the reek codebase it really shouldn't be much work to port what mutant uses.

[2016-01-22 08:08] #832 closed

[2016-01-22 08:09] #831 closed

[2016-01-22 08:17] backus commented on #831
Thanks for the quick fixes @mvz!

[2016-01-22 11:11] troessner commented on #832
Fixed with the release of 3.9.0 just now.

[2016-01-22 11:11] troessner commented on #831
Fixed with the release of 3.9.0 just now.

[2016-01-22 15:08] chastell opened #836 "Investigate Ruby 2.3 syntax consequences"
We should handle the new syntax introduced in Ruby 2.3.

- [ ] `&.` safe navigation
- [ ] `<<~` squiggly heredoc

[2016-01-22 15:09] chastell commented on #836
(In the future we might want to introduce a code smell that suggests turning on frozen string literals in per-file comments, but I’d make it a separate issue.)

[2016-01-30 07:15] jdickey opened #842 "Private methods in subclasses incorrectly flagged as "never being called""
I've seen PR #794 (and #724) and the issues they mention, and all the code I see seems to assume that the code being examined is either in a top-level class or module. Also, several releases have been tagged since #794 was merged into 3.8.0; this may be a regression.

I've written this up extensively in a [Gist](https://gist.github.com/jdickey/2e69047fc2722a86c138) (with short code files attached)

[2016-01-30 13:41] oliverklee opened #843 "Private method used for after_initialize is marked as unused (false positive)"
One of our Rails models looks like this:

[code]

[2016-01-30 13:44] oliverklee commented on #843
We have the same problem in our controllers where private methods are used in the `before_action` and `after_action` filters while reek marks them as unused.

[2016-01-30 13:58] oliverklee commented on #843
Related: #724

[2016-01-30 13:59] oliverklee commented on #843
Note: Our user class is located within an Identity module.

[2016-01-30 16:05] troessner opened #844 "Disable the UnusedPrivateMethod smell by default"
Let disable the UnusedPrivateMethod smell by default. There are just too many case where this detector will give a false positive, e.g. #843 and #842  and there is no way we can fix it unless we rewrite the entire backbone of `Reek` to use a global class / method / whatever registry that would allow us to detect those cases.

WDYT @chastell @mvz ?

[2016-01-30 16:11] troessner commented on #842
This is one of this detectors [know limitations](https://github.com/troessner/reek/blob/master/docs/Unused-Private-Method.md#known-limitations) we can't fix. At least not without implementing a global class / method registry.

So for now I'm afraid you'll have to disable this detector either via [source code comment](https://github.com/troessner/reek#source-code-comments) or disable it completely

[2016-01-30 16:11] #842 closed

[2016-01-30 16:11] troessner commented on #843
This is one of this detectors [know limitations](https://github.com/troessner/reek/blob/master/docs/Unused-Private-Method.md#known-limitations) we can't fix. At least not without implementing a global class / method registry.

So for now I'm afraid you'll have to disable this detector either via [source code comment](https://github.com/troessner/reek#source-code-comments) or disable it completely

[2016-01-30 16:11] #843 closed

[2016-01-30 16:39] oliverklee commented on #843
Thanks for the clarification.

[2016-01-30 17:42] mvz commented on #844
These two bug reports are very different, so it may be easier to discuss them separately and only then come back to this question.

[2016-01-30 17:43] mvz commented on #842
I would say this is exactly the scenario this detector warns against: Using private methods to provide plug-in functionality, so this particular issue is not due to Reek's (very real) limitation to single files.

The fact that it flags each container class/module as well is a bug. I'll open a separate ticket for that.

[2016-01-30 17:47] mvz opened #845 "UnusedPrivateMethod also flags containing classes and modules as smelly"
Follow-up for #842. See the example in [this gist](https://gist.github.com/jdickey/2e69047fc2722a86c138).

[2016-01-31 09:21] mvz commented on #844
On second thought, disabling this now is probably a good idea because it will allow us to iron out bugs and get a better idea of the implications of this smell in relative quiet.

[2016-01-31 09:22] mvz commented on #843
Please also see the section on Rails in the documentation. It list detectors that are better left disabled in a Rails project.

[2016-02-01 03:16] jdickey commented on #844
Author of #842 here, just throwing in my two cents; I'd like to follow the discussion on this issue.

I agree with @mvz that the two reports are very dissimilar; mine talks about a general-Ruby class-definition issue (this is in a Gem, where Rails is nowhere to be found), and #843 is Rails-specific (and probably not surprising given #842).

Global registries suck with a picobar-or-less vacuum; i.e

[2016-02-01 09:12] mvz commented on #844
I'm afraid the fault for #845 lies entirely with us.

[2016-02-01 10:24] troessner commented on #842
But there are a lot of use cases where just defining a private method in the parent class and use it in its children has nothing to do with plug-in behaviour but rather is just good OOP style.

[2016-02-01 10:37] troessner commented on #844
Agreed, I'll whip up a PR soon.

It doesn't have to be **that** smart ;)
E.g. dynamic dispatch is something we'll probably never figure out and do not intend to as well.
But the problems listed above is certainly something that should be possible.

[2016-02-01 11:20] mvz commented on #842
The issue is with defining a private method in the parent class and **only** using it in its children. It sounds attractive at first, like a kind of 'toolbox', but in my experience it leads to an unmanageable mess very quickly.

By the way, the OP's case at is the reverse: The method is defined in the child class to fill in a template method. I'm a bit less convinced this is a problem, although I

[2016-02-01 15:44] troessner commented on #842
Good point, I had missed this detail, thanks for the correction.

[2016-02-01 20:30] troessner opened #846 "Small improvements to our Dockerfile"
1.) We can change instructions like

[code]

to

[code]

as I learned while reading [an article](https://semaphoreci.com/community/tutorials/dockerizing-a-ruby-on-rails-application) in my newsfeed about docker since the first "." will refer to your local directory and the second "." to whatever WORKDIR is set.

2.) Replace ADD instructions with COPY like mentioned in the [best practices](https://d

[2016-02-02 05:19] chastell commented on #846
IIRC this happens because we don’t have `Gemile.lock` – if we had this (in the repo or elsewhere) then this would be cached.

[2016-02-02 07:21] troessner commented on #846
But we do have a Gemfile.lock locally and it should be copied to the image like everything else does, since docker doesnt care about .gitignore.
So I am not sure that git-absence of Gemfile.lock has anything to do with this.

[2016-02-03 09:02] chastell commented on #846
Hmm, maybe it gets touched / the timestamps get updated and Docker invalidates all subsequent caches (and so rebundles)?

[2016-02-03 09:29] troessner commented on #846
Quoting from [here](https://medium.com/@fbzga/how-to-cache-bundle-install-with-docker-7bed453a5800#.t6c2966t4):

In this case there is a high probability that the ADD command will get a cold cache, because you change your app’s code all the time (hopefully).

But this happens also for me when there are no code changes.

I still could try this trick:

[code]

[2016-02-03 09:32] troessner commented on #846
Update: This [blog](http://ilikestuffblog.com/2014/01/06/how-to-skip-bundle-install-when-deploying-a-rails-app-to-docker/) mentions the same trick:

I'll look into it ;)

[2016-02-03 10:33] chastell commented on #846
I was just about to dig out that blog post and link it here. :)

[2016-02-04 10:49] seanhandley commented on #836
:+1:

I'm being held back from using the new 2.3 syntax features because my build process relies on being able to run rubycritic.

[2016-02-04 11:12] troessner commented on #836
"RubyCritic"? Wrong browser tab? ;)

Reek should be able to deal with 2.3 syntax already. This issue is more about if and how we should handle new node types like for the safe navigation operator. We just ignore it right now but it shouldnt raise any errors.

[2016-02-04 17:47] seanhandley commented on #836
@troessner I get an error when running rubycritic because it has a hard dependency on Reek. See the below stack trace:

[code]

My code runs fine with the lonely operator but it's reek's use of ruby-parser, (and in turn racc) that generates language parse errors.

[2016-02-04 17:54] troessner commented on #836
`Reek` uses `parser`, *not* `ruby_parser`.
Please show me the full stacktrace, the actual call and relevant version (Reek & Rubycritic)

[2016-02-04 18:48] seanhandley commented on #836
Sorry @troessner - my mistake.

[2016-02-04 18:51] seanhandley commented on #836
That is the full stacktrace I get from running rubycritic. Reek is 3.9.1 and RubyCritic is 2.7.0

That error goes away when I remove this line from my code

[code]

[2016-02-04 18:54] seanhandley commented on #836
Also `Object&.new` creates this issue.

[2016-02-04 19:30] chastell commented on #836
Both are parsable by Reek just fine:

[code]

Given that the exception comes from `ruby_parser` → `racc/parser` I do think this is some other gem’s dependency issue.

[2016-02-05 06:20] seanhandley commented on #836
Thanks @chastell - I'll keep looking.

[2016-02-05 06:48] seanhandley commented on #836
Looks like it is indeed a `ruby_parser` issue: https://github.com/seattlerb/ruby_parser/commit/da22d1e256305dff2bb549e9f13fcf9f69c43bb2

Support for Ruby 2.3 isn't yet released.

[2016-02-05 09:13] mvz commented on #836
@chastell what actually do you mean by 'handle' in this ticket? I'd like to rename it so it reflects the contents better and doesn't suggest Reek has a problem parsing 2.3 syntax.

[2016-02-05 13:11] chastell commented on #836
When I created it I assumed we will have to add at least stub methods so as not to blow up, but I checked and we don’t (the syntax is simply ignored). I _think_ we will need to handle the new syntax only when we want it to trigger certain smells (say, NilCheck…) – if I’m right then we should indeed close this issue.

[2016-02-05 13:24] mvz commented on #836
We should probably see how replacing `.` with `&.` affects Reek's results then. The `<<~` hopefully just renders a type of string literal, but we should check that too. I updated the title accordingly.

[2016-02-05 13:33] troessner commented on #836
Yes, that's exactly what I had thought as well ;)

[2016-02-05 23:42] troessner commented on #789
Closing this one, maybe I'll come up with a preliminary pull request when I feel like it and then we can discuss this further ;)

[2016-02-05 23:42] #789 closed

[2016-02-05 23:52] troessner commented on #755
Cleaning up our issues: doesn't seem like we'll ever take care of this + it kind of stopped being a problem AFAIS (or never really was?).

[2016-02-05 23:54] troessner commented on #766
Cleaning up our issues: doesn't seem like we'll take care of this any time soon. Closing this.

[2016-02-05 23:54] #766 closed

[2016-02-05 23:55] troessner commented on #775
Cleaning up our issues: Was just for discussion and since we all agree we can close this one.

[2016-02-05 23:55] #775 closed

[2016-02-05 23:57] troessner commented on #788
#823 is merged, closing this one.

[2016-02-05 23:57] #788 closed

[2016-02-06 00:00] troessner commented on #146
#794 is merged, closing this one.

[2016-02-06 00:00] #146 closed

[2016-02-06 00:02] troessner commented on #408
We merged #550 -> closing this one.
I realize that "excluding" is not the same "including" but AFAIS this is close enough.
I'd still be open to PRs that add an explicit "include" option of course.

[2016-02-06 00:02] #408 closed

[2016-02-06 00:04] troessner commented on #548
With #822 merged we can close this one.
Codeclimate is right now working on integrating `Reek`

[2016-02-06 00:04] #548 closed

[2016-02-06 00:08] troessner commented on #673
Added this smell detector to #556 and referenced this issue there -> closing this one.

[2016-02-06 00:10] troessner commented on #606
Let's face it: We'll probably never address this. Let's rather have a clean issue overview. Closing this one.

[2016-02-06 00:11] troessner commented on #589
Cleaning up our issues: Issue seems stale, closing it. @tansaku feel free to re-open if appropriate.

[2016-02-06 00:11] #589 closed

[2016-02-06 00:12] troessner commented on #671
Cleaning up our issues: This one seems stale. @tansaku feel free to re-open if appropriate.

[2016-02-06 00:12] #671 closed

[2016-02-06 00:13] troessner commented on #699
I'll look into this since I believe it is vital for Reeks future to get this right.

[2016-02-06 00:14] troessner commented on #699
@mvz still assigned to you - do you think you'll take care of this any time soon? If not, I'd volunteer to take over.

[2016-02-06 00:15] troessner commented on #687
On fifteenth thought I'm not so sure anymore that this makes sense. Seems like there are quite a lot valid exceptions. Closing this one.

[2016-02-06 00:15] #687 closed

[2016-02-06 00:15] troessner commented on #750
I'll restart looking into this.

[2016-02-06 00:19] troessner commented on #412
Cleaning up our issues: Doesn't seem like we'll ever fix this and I'd consider it a minor bug since this was the only complaint about it. Closing this one.

[2016-02-06 00:19] #412 closed

[2016-02-06 00:20] mbj commented on #750
Feel free to ping me in the mutant channel if you need a hand on this.

[2016-02-06 00:20] troessner commented on #633
Cleaning up our issues: Linked this issue in #556 - closing this one.

[2016-02-06 00:26] troessner commented on #632
Cleaning up our issues: Linked this issue in #556 - closing this one.

[2016-02-06 00:28] troessner commented on #723
Cleaning up our issues: This would be a super-awesome feature, leave this here. Hopefully we'll find the time to implement this soon.

[2016-02-06 00:30] troessner commented on #609
Cleaning up our issues: Linked this issue in #556 - closing this one.

[2016-02-06 00:30] #609 closed

[2016-02-06 00:31] troessner commented on #621
Cleaning up our issues: Linked this issue in #556 - closing this one.

[2016-02-06 00:33] troessner commented on #784
Cleaning up our issues: closing this one.

[2016-02-06 00:33] #784 closed

[2016-02-06 11:00] mvz commented on #606
Hm, how am I going to keep track of ideas then?

[2016-02-06 11:02] mvz commented on #633
But I opened all of these based on #556, so we could track them separately.

Since we'll always have more ideas than time to implement them, why not keep them open and use tags to separate urgent from non-urgent stuff?

[2016-02-06 11:03] mvz commented on #633
Oh, no I didn't :-)

[2016-02-06 11:05] mvz commented on #556
I still think we'll get super confused by linking closed issues.

[2016-02-06 11:06] mvz commented on #633
Second point still stands, though.

[2016-02-06 14:42] troessner commented on #633
My motivation was to cut down our open issues since we had almost 50 and for quite a few "nice to haves" it seemed like nobody was ever going to tackle those. I didn't anticipate that this was a controversial move, if I had, I would have started a quick "should we close old issues" poll.
-> Apologies for that.

Yes, we can do that for sure! I'm re-opening this one and all others that are kind of "

[2016-02-06 14:43] troessner commented on #606
Seems like we had a misunderstanding, re-opening, see my last comment on #633

[2016-02-06 14:46] troessner commented on #755
Seems like we had a misunderstanding, re-opening, see my last comment on #633

[2016-02-06 14:47] troessner commented on #673
Seems like we had a misunderstanding, re-opening, see my last comment on #633

[2016-02-06 14:47] troessner commented on #632
Seems like we had a misunderstanding, re-opening, see my last comment on #633

[2016-02-06 14:49] troessner commented on #633
@mvz I did re-open all issues I could find that were used for idea tracking, feel free to re-open anything I had missed. We should have discussed this first, sorry for that.

[2016-02-06 14:56] mvz commented on #633
@troessner Apologies accepted, thanks! I'll have another look at old issues as well and add my comments.

[2016-02-06 14:58] mvz commented on #699
@troessner feel free to take over.

[2016-02-06 15:37] mvz commented on #583
This no longer occurs but it seemed sensible to add some specs for it.

[2016-02-06 16:28] #844 closed

[2016-02-06 20:32] #786 closed

[2016-02-07 10:23] troessner commented on #583
Closing this one since #848 is merged.

[2016-02-07 10:23] #583 closed

[2016-02-07 20:10] mvz opened #853 "ENV vars only override implicit task Settings"
Setting ENV vars like REEK_SRC will only work if the corresponding value is not set explicitly in the task definition.

[2016-02-09 20:14] troessner commented on #750
@mbj I'm a little confused about the semantics regarding the exit status.

[code]

And

[code]

Ok, fair enough, `mutant` tells me 100% was expected which I didn't fulfil so we have a non-exit status.
But why doesn't this work:

[code]

[code]

I would have expected an exit status of 0.
Am I missing something obvious here or is this a bug?

[2016-02-09 20:20] troessner commented on #750
Ah, @mbj I guess this behaviour is due to [rounding precision problems](http://blog.arkency.com/2015/05/mutation-testing-and-continuous-integration/)?

In this case, we'd need to increase our API mutation coverage to 100% to fix this, right?

[2016-02-09 20:34] mbj commented on #750
@troessner The rounding precision problem was fixed already, use a rational input `--expected-coverage $killed/$amount_mutations`. But I actually think you should add excludes so you have 100% and work to reduce the excludes. This will get you a far better workflow.

[2016-02-11 19:16] andyw8 opened #855 "Default rules and user experience"
Sorry if this already been discussed, but @troessner's enabling of Reek on [transitions](https://codeclimate.com/github/troessner/transitions) reminded me that the out-the-box experience for new users isn't great due to large number of warnings.

I think disabling some of the default rules would help to highlight the most useful smells that Reek can detect. At the moment they seem lost in the nois

[2016-02-11 21:00] troessner commented on #750
Ok, `mutant` tells me:

Mutations:       197
Results:         197
Kills:           178

So I fire up pry:

[code]

And then use this like this:

mutant --include lib --require reek --use rspec Reek::Examiner --expected-coverage 0.9035532994923858

Now I get:

Coverage:        90.36%
Expected:        90.36%

But the exit status is still 1:

echo $?
1

Not sure what to do now. I'd agree that we shou

[2016-02-11 21:02] mbj commented on #750
@troessner Use `--expected-coverage 179/197` ;)

[2016-02-11 21:03] mbj commented on #750
The whole idea is NOT to use the floats, mutant works with the rationals internally and was changed to allow the lossless rationals at the CLI.

[2016-02-11 21:05] mvz commented on #750
From @mbj's comment I conclude that you need to actually put `--expected-coverage 178/197`.

[2016-02-11 21:06] mvz commented on #750
You beat me to it, @mbj  :-).

[2016-02-11 21:14] troessner commented on #750
Ah, ok, works now, thanks @mbj and @mvz !

@mvz @chastell what should we include in our tests?

I guess everything that comes up via:

wdyt?

[2016-02-11 21:20] mbj commented on #750
I'd simply go with the match expression `Reek*` in the mutant CLI. And work from there.

[2016-02-12 07:29] troessner commented on #855
But then how would you consciously re-enable it? Once it's out of a users mind he'll never re-enable it, say, 3 months later.

[2016-02-12 07:35] mvz commented on #855
I think the upcoming `--todo` feature will help a lot here.

[2016-02-12 08:16] troessner commented on #855
Great point @mvz, hadnt thought about that!

[2016-02-12 11:23] chastell commented on #750
I’d go with @mbj’s suggestion – I think our private methods should be test-covered (implicitly, via public method calls) as well, otherwise we can just refactor the codebase to be 100% and gain zero benefits. ;)

[2016-02-12 15:06] #804 closed

[2016-02-12 15:35] mvz commented on #750
I agree with @chastell and @mbj. A lot of our code is not public API, but is part of what's needed to make the `reek` command itself work.

[2016-02-12 19:44] mbj commented on #750
Yes. The idea is that all private API needs to be covered via tests from the public API. If you wanted I'd offer a small pairing session with the reek team explaining / discovering life on how to use mutant against your project.

[2016-02-13 18:00] troessner opened #859 "Crash on invalid syntax"
Coming from here https://github.com/AtomLinter/linter-reek/issues/35

[code]

gives me:

[code]

This shouldn't let `Reek` crash, especially since we're actually [rescuing](https://github.com/troessner/reek/blob/master/lib/reek/source/source_code.rb#L84) those kind of problems.
Seems like something changed in `parser`.

[2016-02-13 18:13] mvz commented on #859
Parser should raise a more meaningful error here, **and** we should handle its failure to do so in this case.

[2016-02-13 20:30] troessner commented on #859
Filed an [issue for this](https://github.com/whitequark/parser/issues/273)

[2016-02-14 22:29] #859 closed

[2016-02-17 22:20] #723 closed

[2016-02-18 14:53] troessner commented on #855
I'm closing this one now with #723 merged - I believe the todo list addresses all of our concerns.

[2016-02-18 14:53] troessner commented on #855
And thanks for bringing this up @andyw8, appreciate it!

[2016-02-18 14:53] #855 closed

[2016-02-23 17:47] mvz opened #863 "Select detectors by category on the command line"
We have nice smell categories and types, but only allow users to select detectors to run by type. We should expose category as well.

[2016-02-24 09:53] mvz commented on #863
See #864 for why this is a breaking change.

[2016-02-24 10:02] mvz opened #866 "What to do about Smell Category?"
I think Smell Category could be a useful concept, but it's only half implemented. Let's discuss where we want to go with this. Some options:

1. Remove it from the code and documentation
2. Remove it from the code but keep it in the documentation as an organizing principle
3. Keep it in the code and expose it
  * In the configuration file
  * To the `--smell` CLI option (#863)

For option 3 to wor

[2016-02-24 10:29] troessner commented on #866
Agree with you, i think [2] is the way to go!
I think neither us nor the users are really utilizing those categories at the moment so we can remove a lot of complexity and code.

[2016-02-24 18:23] mvz commented on #503
Fixed in #865.

[2016-02-24 18:35] #503 closed

[2016-02-24 22:24] mvz commented on #863
If we choose option 2 in #866 then this PR becomes superfluous.

[2016-02-24 22:25] mvz commented on #866
@chastell any thoughts on this?

[2016-02-25 14:04] chastell commented on #866
Yes, let’s simplify where possible.

BTW: I know I have a huge backlog of Reek stuff to catch up, I was super busy lately. On the flip side I’ll be talking about Reek on tomorrow’s Pivorak meetup in Lviv. :)

[2016-02-25 18:36] troessner opened #868 "Remove support for Ruby 2.0 and our keywords argument hack with it"
-> https://www.ruby-lang.org/en/news/2016/02/24/support-plan-of-ruby-2-0-0-and-2-1

Finally!

[2016-02-25 18:37] troessner commented on #868
We should do this together with #867 so we can just do one major version bump.

[2016-02-27 20:32] troessner opened #871 "Let's get Reek 4 going!"
We need to merge review and merge everything which is labeled as [breaking change](https://github.com/troessner/reek/pulls?q=is%3Apr+is%3Aopen+label%3Areek-4-breaking-change)

[2016-02-27 20:55] mvz commented on #871
Yes! There's an old reek-4 branch that we should look at as well. It can probably be rebased!

[2016-02-27 21:11] troessner commented on #871
Done! There was just one commit from @chastell - I cherrypicked this one into a new branch and created #873 out of it.

[2016-02-27 21:18] troessner commented on #871
Summary of the status quo:

#864 - obsolete, isn't it?
#869 - needs review
#870 - needs review. Fails only because of #869 (specs and features pass, just rubocop complains because of 2.0)
#872 - needs review. Fails only because of #869 (specs and features pass, just rubocop complains because of 2.0)
#867 - reviewed. Just some smaller changes and ready to merge.
#873 - was reviewed a long time ago

[2016-02-28 19:32] mvz commented on #871
Merged #869 and #873.

[2016-02-28 19:50] mvz commented on #871
How about releasing at least one `.pre` version to test this thing in the wild? I'd like to iron out anything bad before we're stuck with it for a whole major release.

[2016-02-29 08:09] troessner commented on #871
Great idea! Let's do that after we merged all breaking changes.

[2016-02-29 14:49] troessner commented on #816
It seems like this bug affects all smell detectors that work on class base. I just stumbled across this working on [this PR](https://github.com/whitesmith/rubycritic/pull/127/files#diff-497423560d2ac7e4f7259f11341b23b9R22) where I had to use source code comments for TooManyStatements because the "regular" exclude won't work.

I'll tackle this bug next.

[2016-03-01 13:57] chastell commented on #871
Food for thought: do we want to keep Ruby 2.1 compatibility, or just go with Ruby 2.2+ for Reek 4?

Pros for keeping Ruby 2.1:
* it’s currently still maintained, which is a simple answer to ‘why we drop 2.0 and keep 2.1’,
* it’s better to support as many Ruby versions as possible/convenient,
* technically there might be projects that use it.

Pros for going Ruby 2.2+ only:
* `Binding#local_variabl

[2016-03-01 14:31] troessner commented on #871
I think we should still support 2.1.
2.0 had quite some issues, agreed. But 2.1 looks like something that we can maintain for quite a while :)

[2016-03-01 15:17] #650 closed

[2016-03-01 15:40] chastell commented on #871
Ok, this is settled then. :) (We can also always bump to Reek 5 if we feel like we need Ruby 2.2+ goodies.)

[2016-03-01 15:44] mvz commented on #871
Agreed.

[2016-03-01 18:07] mvz commented on #871
Yes!

[2016-03-01 19:07] mvz commented on #871
And it's released! :tada:

[2016-03-01 19:32] mvz commented on #868
Merged.

[2016-03-01 19:32] #868 closed

[2016-03-01 19:32] #863 closed

[2016-03-01 19:32] mvz commented on #866
Option 2 has been chosen and implemented.

[2016-03-01 19:32] #866 closed

[2016-03-06 16:12] troessner commented on #816
Scratch that, it is just UnusedPrivateMethod, I couldn't see straight.

[2016-03-08 19:09] chorankates opened #886 "UncommunicativeParameterName claims to allow `accept: /<regex>/`, doesn't"
according to https://github.com/troessner/reek/blob/master/docs/Uncommunicative-Parameter-Name.md#configuration, the UncommunicativeParameterName smell should allow a specification like:

[code]

unfortunately, when i do that (OSX, ruby 2.0.0p481, reek-3.11), i get an error:
[code]

since i just added some UncommunicativeVariableName expectations in the same way, i was a bit confused.

i assumed t

[2016-03-08 19:12] troessner commented on #886
Thanks for the report! Looks legit to me ;)
A pull request would be highly welcome. In any case I'm confident we'll fix this rather sooner than later since it seems pretty straightforward.

[2016-03-08 19:13] troessner commented on #886
@mvz @chastell would any of you like to tackle this? If not then I can fix it this weekend (or the next in worst case).

[2016-03-08 19:46] chorankates commented on #886
@troessner i was going to try and get to the bottom of the issue this afternoon and then send a PR, but will happily defer to you

thanks for the product!

[2016-03-08 19:59] troessner commented on #886
Oh, don't get  me wrong please, a PR from your side would be highly appreciated ;)

[2016-03-10 20:38] chorankates commented on #886
@troessner: i don't like it, but this fixes the problem:
[code]

with the actual change being to coerce whatever our input is into an array (well, that and switching `==` to `match)

besides being a hack, it made me think about all the other places that could possibly suffer from the same problem (user configuring the accept/reject option as a string where code is expecting an array) - what do you

[2016-03-12 11:04] troessner commented on #886
I did a quick check with the following reek config:

[code]

Those are the 4 smell detectors that have an `accept` configuration.

And then for each of them:

Turns out that UncommunicativeVariableName is immune to this problem, the other 3 are not :-/

So we need to find a solution that works for all them.

What we could do:

* Ignore UncommunicativeVariableName for now. This baby needs a bigger

[2016-03-13 08:45] troessner commented on #886
I thought about this some more and I basically see 3 solutions:

1.) The one I suggested above. But actually I think that's a pretty bad solution. The **actual** problem is that we don't validate / transform the configuration we get from the outside world (we do validate it, but that's only partially and erratic). Catching bad configuration that late in the SmellDetector is not a good, maintainabl

[2016-03-13 13:59] mvz commented on #886
Here are some random thoughts, not yet settled into a coherent whole:

* Option 1 is a quick fix and may be good to get the problem at hand fixed.
* I'm not sure what YAML validation options are available. It looks like there is a gem, Kwalify, for that, but it seems unmaintained.
* Classy Hash looks great.
* Configuration can come from YAML, API calls, and code comments. Our initial validation ef

[2016-03-13 20:45] troessner commented on #886
Why? Yaml and API calls boil down to the very same hash structure, code comments are something completely different. In order to keep things simple I'd prefer to implement the validation for yaml config and api calls separately and then think about code comments..

Agree.

Agree. This also backs my statement from above, that we should treat those validations separately because they actually are di

[2016-03-13 21:28] chastell commented on #886
(FWIW, I agree with @mvz modulo @troessner’s caveat about splitting off comments. I also couldn’t find any schema validation tools outside the unmaintained Kwalify and Rx – which seems more alive, but I’d rather we validated the hash.)

[2016-03-14 06:53] troessner opened #888 "Regexes not working for `accept` configuration settings"
Working on #886 and #887 uncovered another bug in our configuration handling (* sigh *).
Using this feature works:

[code]

But not when I use regexes likes this:

[code]

According to [our docs](https://github.com/troessner/reek/blob/master/docs/Uncommunicative-Method-Name.md#configuration) this should work.
I suspect that this bug has been in Reek forever (since I can remember any of us touching

[2016-03-14 08:39] troessner opened #889 "Validate our configuration across Reek"
Coming from #886 we should validate our configuration, this means yaml config, hash via api call and via source comment.

We have 3 options:

1) Ideal world scenario: Validate all the things
- Validate our yaml config with yaml schema (so we can even point to specific lines in the config file, something that is impossible later after it got transformed into a hash)
- Validate AppConfiguration sepa

[2016-03-14 08:41] troessner commented on #886
Let's not hijack the bug report here but rather use a different issue, I just created #889

[2016-03-14 08:44] mvz commented on #886
To avoid duplication of rules. But I agree that the mechanism will probably be different, so let's see how it goes.

[2016-03-16 20:35] troessner opened #891 "Blocker for Reek 4: keyword arguments for your spec matchers"
We almost forgot about this: https://github.com/troessner/reek/blob/master/lib/reek/spec/should_reek_of.rb#L14
We should fix it before releasing Reek 4.

[2016-03-16 20:49] troessner commented on #891
and let's not forget about: https://github.com/troessner/reek/blob/master/lib/reek/configuration/app_configuration.rb#L52
But that one should be trivial.

[2016-03-17 22:03] pkuczynski opened #895 "Running reek for all files from RSpec file does not seem to work"
I created `spec/reek_spec.rb` file with content:

[code]

I debug it and it correctly iterates over all files in my gem, but does not seem to check if they smell. When I run reek command from terminal, I see 60 warnings.

Am I doing something wrong?

[2016-03-18 09:46] troessner commented on #895
Hmmm, can't see anything wrong with that on first glance.
We're doing something very similar [in Reek](https://github.com/troessner/reek/blob/master/spec/quality/reek_source_spec.rb) which works fine.

How are actually calling this spec? We run it by rake task, so it's starting at the root of the project, so 'lib/**/*.rb' actually works out.
I suspect that you do this differently so Dir['lib/**/*.

[2016-03-18 11:09] pkuczynski commented on #895
You can see my branch here: https://github.com/railsconfig/config/tree/reek

I had similar doubts, but added puts and it was listing all the files on the execution.

I am using appraisal gem to test my gem against different versions of rails, so I execute tests using `appraisal rspec`

[2016-03-18 12:12] troessner commented on #895
Then I'm guessing that appraisal suppresses / redirects the STDOUT from rspec.
Seems not like a Reek problem, but an appraisal one so you probably should investigate in this direction :)

[2016-03-18 13:01] mvz commented on #895
Hm, but even so it should cause the specs to fail, right?

@pkuczynski can you try running just rspec to eliminate appraisal as a possible source of this problem?

[2016-03-18 13:08] mvz commented on #895
My guess is `Dir['lib/**/*.rb'].each` yields strings. This results in `expect(file).not_to reek` interpreting the value of `file` as literal source code instead of a file name.

In Reek's tests, we use `Pathname.glob`, which yields `Pathname` objects, which the matcher will interpret as files to be read and checked.

[2016-03-18 13:32] EdvardM commented on #35
Not sure if this is a good place to comment, but what bothers me maybe the most is that
while `users.map { |u| u.name }` is not hard to change to `users.map { |u| u.name }`, there are few issues with it. First, `users.map { |user| user.name }` makes `users` and `user` a bit too similar, while having a short name makes it immediately obvious that it's a different variable. Not a big issue, but if y

[2016-03-18 13:51] mvz commented on #35
Hi @EdvardM,

Well, this issue was closed in 2009, so I was going to say 'no', but then again it doesn't make much sense to open a new, identical, issue, so there you go :smile:.

To address your comments:

* For one-line blocks, `u` can be good parameter name, but as soon as the block becomes larger, the clarity starts to suffer.
* I generally use `it` as a block parameter these days. This is a m

[2016-03-18 15:48] troessner commented on #35
I generally use it as a block parameter these days. This is a meaningful name, but avoids being too similar to, or clashing with, variables defined outside the block. If you need more than one parameter, you're generally better of using slightly longer names.
Yes, Reek and RuboCop don't agree on this, but you must agree that array_of_nums.inject { |a, e| a + e } is not exactly an emblem of clarity

[2016-03-18 15:49] troessner commented on #895
Ah, makes sense, well spotted @mvz !

[2016-03-18 16:40] EdvardM commented on #35
Thanks! I actually like that `it`, while being aware that it'd be very bad to over-use that. Often using a longer name is good, and I use exactly the same heuristics: if the line is a single short one-liner with a map, an abbrev does just fine. Other than that, I use the long name or an abbreviation -- though often consisting of at least 3 chars.

In Python people often use `elt` for elem, which I

[2016-03-18 20:29] troessner opened #896 "Reek 4 - let's get this going!"
Let's release Reek 4 after we have merged all current PR's.
WDYT?

[2016-03-20 17:39] #886 closed

[2016-03-20 17:45] mvz commented on #896
I'd like to have one more look at our API and the open tickets this Tuesday and see if there's anything I'd like changed or included. After that, let's roll!

[2016-03-21 12:13] mvz commented on #896
I'll have a look at the API and open tickets today.

[2016-03-21 14:33] mvz commented on #750
This has been implemented.

[2016-03-21 14:33] #750 closed

[2016-03-21 14:37] mvz commented on #888
@troessner is this still an issue?

[2016-03-21 15:56] troessner commented on #888
Nope, fixed with #890 -> closed!

[2016-03-21 15:56] #888 closed

[2016-03-21 18:27] mbj commented on #750
Ping me on feedback, and all pain that makes your question the decision to integrate it.

For feedback I'm happy to listen, and for pain I'm happy to explain context that will likely improve your efficiency.

[2016-04-10 18:47] troessner opened #901 "Kill cli/input.rb"
Follow up from #899
CLI::Input is confusing and we should kill it.

[2016-04-10 18:48] troessner commented on #896
Reek 4 is out, closing this one.

[2016-04-10 18:48] #896 closed

[2016-04-10 18:48] troessner commented on #895
@pkuczynski any updates from your side?

[2016-04-10 21:50] rolandhawk opened #903 "Can't suppress PrimaDonnaMethod and UnusedPrivateMethod smells in method context"
I have this code:

[code]

Reek still report 2 PrimaDonnaMethod smells.
I know that PrimaDonnaMethod and UnusedPrivateMethod work in class context. But it makes me can't suppress the warning partially. Is it actually intended to be like that?

[2016-04-11 19:13] troessner commented on #816
Closing this one with #885 merged.

[2016-04-11 19:13] #816 closed

[2016-04-11 19:14] #871 closed

[2016-04-11 19:36] troessner commented on #903
The right configuration would be this:

[code]

but unfortunately that **is** a bug indeed as I just realized.
I'll look into fixing this one but for now you'll have to live with this I'm afraid :-/

[2016-04-12 20:39] andyw8 opened #907 "Suggestion: Detect subclassing of core classes"
I came across some code today which reminded me of this post: http://words.steveklabnik.com/beware-subclassing-ruby-core-classes

I think it would be fairly easy to detect this in Reek.

Some considerations:

* What classes should be considered? String, Hash and Array come to mind but I'm sure there's plenty others.
* What should the smell be called?

[2016-04-12 20:52] troessner commented on #907
Good idea!

I think your selection is good to get started.

How about SubclassedFromCoreClass smell? 😆

[2016-04-13 07:10] andyw8 commented on #907
Ok, I'll start looking into it.

[2016-04-13 07:12] troessner commented on #907
Nice!

[2016-04-13 08:34] mvz commented on #907
No need to close this, right?

[2016-04-13 09:03] andyw8 commented on #907
Sure, I just thought since it's not waiting on any action from the Reek team it would help to keep the noise down. Could be a while until I get around to actually implementing it.

[2016-04-16 08:15] mvz commented on #901
Done :rocket:

[2016-04-16 08:15] #901 closed

[2016-04-16 08:29] troessner commented on #901
Yes!

[2016-04-20 09:29] pkuczynski commented on #895
Sorry for late reply. I follow @mvz suggestion and change my test to look like this:

[code]

and it works perfectly! :)

[2016-04-20 09:29] #895 closed

[2016-04-23 15:59] rogerkk opened #914 "Incomplete todo file generation?"
I'm upgrading from reek 1.x, and a lot of stuff has changes since I last touched this gem, and I got a lot of new warnings.

I was glad to discover the new todo file generation, but it seems like the file generated is somewhat incomplete. I'm not sure if I've missed something here or if this is actually a bug, but the user experience here is a bit confusing so I'm hoping this issue is useful.

Her

[2016-04-23 17:57] troessner commented on #845
Merged #913 - closing.

[2016-04-23 17:57] #845 closed

[2016-04-23 19:59] troessner commented on #914
Can't really reproduce this:

Sample file:

[code]

Running Reek:

[code]

Generating the todo file:

[code]

And running Reek again:

[code]

Can you please give me a reproducible example similar to my example?

[2016-04-24 05:01] mvz commented on #914
@rogerkk is another `.reek` file present in the directory?

[2016-04-24 07:29] rogerkk commented on #914
I'm sorry. I've tried but I haven't been able to reproduce this with a constructed example.

I've deleted the original `.reek ` file. I've also ran it with the -c paramater like @troessner mentions: `reek -c .todo.reek app/`

[2016-04-24 07:36] rogerkk commented on #914
I've noticed another strange behavior, though. It seems that when generating the todo file, reek actually respects an existing reek file. Is this intended?

[code]

This is two consecutive runs on the same app, where it seems that a handful of rules not caught in the first run makes out the entire todo file after the second run.

[2016-04-25 14:34] troessner commented on #914
Yes and no 😆

Yes, because this would be a cool feature.
No, because Reek actually only allows one configuration file. So if you have already one and then generate a .todo.yml it's actually impossible to use it the right way (without moving the whole content of the .todo.yml to the original configuration file).

I believe we have a couple of conceptual kinks to iron out here @mvz and @chastell and

[2016-04-25 14:46] mvz commented on #914
I agree. I'll ponder this for a bit.

[2016-04-25 21:14] rogerkk commented on #914
Okay, but I have to warn you. It's not pretty. :blush:

[code]

The *Search#initializer methods are pretty similar, so perhaps one is enough.

DentistSearch#initialize:
[code]

Reactions::LineParser#initialize:
[code]

Let me know if you need more!

[2016-04-26 10:17] troessner opened #916 "Tweak the behaviour of how we handle the --todo flag"
Coming from #914:

It's obvious that we should tweak the behaviour of how we handle the --todo flag since it's confusing and / or not properly explained.

### I believe we have 2 use cases:

1.) There is already an existing configuration file.

In this case we could ask the user:

We found the existing configuration file xyz.reek and will take this into account.
Should we append the output of --to

[2016-04-27 00:03] mvz commented on #916
There is a sub-case of 1) where the existing `.reek` file was generated by `--todo`. In this case I may want to ignore the settings contained therein, and just overwrite the generated file. Hopefully, my code will have improved and the new generated file will be smaller :smile:.

[2016-04-27 05:48] troessner commented on #916
How would you like to handle this? I can think of a lot, a **lot** of valid edge cases here that would trigger bugs and confusion. I'd rather not handle it all. Overwrite, or not.
That's the way most people use those tools anyway.

I'd revisit this if we had a feature like rubocop where one file can include others, because then it is easy to separate what has been added programmatically and what n

[2016-04-27 05:56] troessner commented on #914
I'm afraid not:

[code]

[2016-04-27 08:16] rogerkk commented on #914
I've tried copying these 9 files to a separate folder and running `reek -t` on them. This generates a todo file that eliminates all warnings. :(

Thus I guess we have no simple way of reproducing this without us exposing large chunks of our codebase. Or perhaps you have some other idea?

[2016-04-27 11:59] troessner commented on #914
Yep, that's probably a no-go.

Hmmmm. Do you do *weird* things with the problematic classes or modules? E.g. dynamically re-defining them or something? Is there anything in LineParser that seems off to you compared with regular PORO's?

[2016-04-28 01:12] mvz commented on #914
@troessner I don't think @rogerkk's specific code is relevant. It seems to me the following happens:
* There is a file `foo.reek`, containing at least exclusions for `TooManyStatements`.
* `reek --todo` runs, uses `foo.reek` as a base configuration, and doesn't generate `TooManyStatements` exclusions.
* `reek --todo` runs again, but uses `.todo.reek` as a base configuration, and now *only* generat

[2016-04-28 01:25] mvz commented on #916
Yes, those are the choices we should offer, but in order to succesfully overwrite it, we have to actually ignore the contents, since otherwise the new file will be blank.

But maybe you mean: Append, or not? I agree that is the easiest option now, and avoids creation of extra `.reek` files.

In that case, we should in fact append to the config file passed on the command line, if any.

[2016-04-28 06:46] troessner commented on #916
Errr, yes, I basically meant it like in my initial posting above:

Regarding:

Ack.

[2016-04-28 08:38] troessner commented on #914
[code]

But contrasting this with

[code]

would mean that the existing Reek config would have contained **only** those very 9 exceptions and ignoring more than 1000 others. Seems a bit absurd but you'll never know 😆

@rogerkk can you please cure of from our confusion and post the original Reek config you were using?

[2016-04-29 14:25] rogerkk commented on #914
@troessner I actually deleted my existing reek config before running the above commands. A `find . -name *.reek` doesn't return anything, so the first run is thus a "clean sheet". :/

[2016-04-29 15:13] troessner commented on #914
That would actually contradict your theory @mvz, wouldn't it?

[2016-04-29 23:39] mvz commented on #914
Yes, it does :disappointed:.

Except `find -name *.reek` returns `zsh: no matches found: *.reek` in my shell, so find doesn't even run. @rogerkk can you/did you try `find -name '*.reek'` please (that is, with the quotes)?

[2016-05-06 03:03] jhubert commented on #914
Fwiw, I've experienced this as well. No prior reek file.

[code]

[2016-05-06 03:07] jhubert commented on #914
In the above, it looks like all of the items are on the `initialize` statements, which seems doubly weird to me because that seems counter to [the docs](https://github.com/troessner/reek/blob/master/docs/Too-Many-Statements.md):

    By default, initialize is not checked for length; any class's constructor can be as long as necessary.

It may be that the todo file generates configurations that cha

[2016-05-06 03:10] jhubert commented on #914
Aaaannd, yes. That's what it is.

The `TooManyStatements` config gets set to:

[code]
which overwrites the default exclude config for `TooManyStatements`:

[code]

[2016-05-06 06:40] mvz commented on #914
Good catch @jhubert, thanks!

[2016-05-06 07:27] troessner commented on #914
Excellent catch! I can look into this, but it will take me a while since i am very busy at the moment.

@mvz are you up for it or are you alsk blocked?

[2016-05-06 07:34] jhubert commented on #914
What do you think the correct behavior should be?

1. the generated todo.reek file should include the default excludes
2. the reek default option of ignoring initialize methods for TooManyStatements becomes a behavior, so that initialize is always included in the `except` list
3. the defaults should be deep merged with the configuration only in the case that it's a `.todo.reek` file
4. something e

[2016-05-06 07:37] troessner commented on #914
I think it should be (1) as well.

[2016-05-06 22:41] mvz commented on #914
I'm not at my computer for the coming week, so let's discuss again who can pick this up in a week.

[2016-05-13 23:49] mvz commented on #606
This has been implemented :tada:.

[2016-05-13 23:49] #606 closed

[2016-05-16 11:05] sils opened #920 "Reek to be used in coala"
Hi,

I'm a developer of coala (coala-analyzer.org) and want to inform you, that we're brewing an integration for your tool at https://github.com/coala-analyzer/coala-bears/pull/434 .

You seem to have written a lot of user interaction stuff which is essentially what coala aims to do (letting analysis writers focus on analysis instead of UI, it's a language independent framework.) With coala users

[2016-05-16 13:00] troessner commented on #920
Nice! Do you gather usage statistics for the tool maintainer so we can see in what contexts and how Reek was used?

[2016-05-16 14:03] sils1297 commented on #920
No, we don't have usage statistics.

[2016-05-16 14:18] sils1297 commented on #920
It's an interesting idea though, would you mind filing an issue at coala elaborating a bit on what you would love to see? Maybe we can make a feature for it.

Also if you have suggestions what other tools would be good to have among yours to cover as much as possible for ruby projects with static code analysis would be great.

We currently have:

- Code clone detection (via CPD)
- Style Checking (

[2016-05-17 17:43] mvz commented on #505
This has been implemented and released in Reek 4.0.2.

[2016-05-17 17:43] #505 closed

[2016-05-17 17:44] beanieboi commented on #505
awesome, thanks!

[2016-05-19 05:46] mvz commented on #914
I can probably take a stab at this over the weekend.

[2016-05-19 05:51] troessner commented on #914
🎂

[2016-05-19 05:56] mvz commented on #914
I have another option: The config values should always be merged with the defaults. This solves another problem with the config file, which is that you have to add those default exclusions yourself as well if you want to exclude something else.

This would mean we need another mechanism to 'undo' an exclude. We could introduce an 'include' for that, which would be applied first.

[2016-05-19 06:02] mvz commented on #914
I'll go with option 1 first, since the alternative would be a breaking change.

[2016-05-19 08:28] troessner commented on #914
That sounds complicated. I can see additional bug reports coming in 😆
What do you think about a SmellDetector flag like

`ignore_default_configuration: true | false`

with `false` being the default? Wouldn't that take out some of the complexity and yet achieve the same?
Also this seems like something that is easier to explain to users.

[2016-05-20 19:07] chastell commented on #914
FWIW: RuboCop has an `inherit_from` clause, and my typical usage is to have a `.rubocop.yml` starting with `inherit_from: .rubocop_todo.yml` (followed by disabling the cops I disagree with and tweaking other cops’ defaults); this way `.rubocop_todo.yml` ends up having only things that are not explicitly whitelisted. Maybe a similar approach would work for Reek?

[2016-05-20 19:20] troessner commented on #914
I know rubocops `inherit_from` and i think it's awesome. For rubocop, not necessarily for Reek. Both gems are really different and I believe Reek can and should have a way simpler configuration mechanism.
wdyt about my suggestion from above @chastell ?

[2016-05-21 08:58] chastell commented on #914
I don’t see as much difference between configuring RuboCop and Reek, but I agree we should go with something simple first and if that’s enough then that’s even better. :smile: For me `ignore_default_configuration: true` is just another way of writing `inherit_from: defaults`, so I’m all for starting with that.

[2016-05-23 09:20] troessner commented on #914
Fixed and released with 4.0.3 ;)

[2016-05-23 09:20] #914 closed

[2016-05-23 09:27] mvz opened #922 "Refactor smell warning to smell detector class mapping"
Follow-up from #921:

End goal: Do not have both `#smell_class` and `#smell_type` instance methods for `SmellWarning`.

Steps:
- Allow retrieval of smell detector (class) from smell repository based on smell type string.
- Use this in TODO file generation.
- Prepare decoupling of smell detector from smell warning.
- Deprecate passing of smell detector to smell warning initializer.

Perhaps:
- Allo

[2016-05-23 10:16] troessner commented on #922
Sounds good to me!

[2016-05-27 15:44] Frost commented on #836
I just encountered this:

[code]

The same thing goes for a `{}&.map { ... }`

[2016-05-27 15:50] mvz commented on #891
@troessner I think this can be closed?

[2016-05-27 15:51] mvz commented on #836
@chastell are you still working on this? I can take a look at @Frost's issue at least.

[2016-05-27 16:01] mvz opened #923 "Report all cases of nested iterators in a given method"
The NestedIterators specs specify this:
[code]

This is a bit odd. If there are two (unrelated) cases of NestedIterators in the same method, it makes sense to report both.

[2016-05-27 16:24] mvz opened #924 "Set emit_lambda to true for Parser"
See https://github.com/whitequark/parser#usage

[2016-05-27 16:35] mvz commented on #836
@Frost I investigated your problem and it looks like there's a bug in the parser gem. See https://github.com/whitequark/parser/issues/291.

[2016-05-27 17:18] mvz commented on #836
@Frost .. and the bug in parser has been fixed.

[2016-05-27 17:44] #924 closed

[2016-05-27 17:45] troessner commented on #891
Indeed ;)

[2016-05-27 17:45] #891 closed

[2016-05-27 17:47] troessner commented on #923
Agreed. Not really a bug but probably confusing.

[2016-05-31 08:30] mvz opened #929 "Fail CI tests at first opportunity"
Travis will now actually run ataru and mutant even if the specs and/or cukes fail. This is silly and leads to problems such as current master failing the build. We should make these steps dependent.

[2016-05-31 13:57] #929 closed

[2016-05-31 14:21] #923 closed

[2016-06-01 14:34] mvz opened #936 "Make mutant not run for builds on master"

[2016-06-04 11:02] matkoniecz opened #937 "badge in readme indicates failing tests"
https://github.com/troessner/reek#overview

[2016-06-04 14:48] troessner commented on #937
Yeah, I think that's the same as #936 even though @mvz didn't really say why he opened the issue (der schlawiner!).

Looking at travis:

fatal: No commit specified?
bundler: failed to load command: mutant (/home/travis/build/troessner/reek/vendor/bundle/ruby/2.3.0/bin/mutant)
Mutant::Repository::RepositoryError: Command ["git", "log", "HEAD...master", "-L", "23,34:/home/travis/build/troessner/reek

[2016-06-04 15:31] mvz commented on #937
Maybe we can move all that logic into a rake task?

[2016-06-04 15:32] mvz commented on #937
God yes that's a pretty contentless ticket I made there.

[2016-06-04 15:50] troessner commented on #937
Agree, we should have a "ci" rake task. I'd still like to pick @mbj brain since that seems like such  a common use case.

[2016-06-06 00:29] Makman2 opened #938 "Document json (and possibly other) output formats"
Hey there :)
I'm a maintainer from the [coala](http://coala-analyzer.org/) project, we have integrated your tool into our static code analysis, but we encountered some issues, and the json output format specification is nowhere described. I couldn't find something for other formats as well. Now I need to figure that own on my own.

I think you should document this properly, so everyone can make us

[2016-06-06 00:44] Makman2 opened #939 "json output seems to miss "name" property on readme-example"
This is my output when I run reek with json output over your example from the readme:
[code]
The third one got a "count" attribute instead of "name". Shouldn't be there a name actually, otherwise you don't know to which function is referred to?

[2016-06-06 00:46] Makman2 commented on #939
okay there's the `context` field, but a direct reference would make sense imo

[2016-06-06 05:36] troessner commented on #939
Agree, in this output:

[code]

name is missing indeed. I'll fix it the next days.

[2016-06-06 05:37] troessner commented on #938
Agreed, I'll update our README soon, thanks for pointing this out ;)

[2016-06-06 05:41] Makman2 commented on #939
cool thanks :D

[2016-06-06 05:42] Makman2 commented on #938
thanks for the quick response :D

[2016-06-06 08:26] troessner commented on #939
We'll discuss this in #940 first and then we'll fix it. I'll hold off with the docs for now until this discussion has finished.

[2016-06-10 20:34] ericgross opened #942 "Getting error when running reek"
When I run `reek` I get this:

[code]

I removed the .reek file assuming I botched it up, but it still gives the same error. My code passes rubocop, and it does still work. Any ideas how I can figure out what the issue is? The word "name" is pretty common in the code, so that's not much to go on.

[2016-06-10 20:38] troessner commented on #942
How exactly are you running Reek and can you please paste the offending code?

[2016-06-10 20:41] mvz commented on #942
This sounds very similar to the problem reported in this comment: https://github.com/troessner/reek/issues/836#issuecomment-222181329

[2016-06-11 09:26] troessner commented on #937
Lets get #941 merged and then i'll fix this issue.

[2016-06-11 09:31] troessner commented on #942
We updated `parser`  but didnt release a new Reek version, on the road now, will do this later this evening.

[2016-06-11 19:39] mbj commented on #937
@troessner Is there a reproduction?

[2016-06-11 19:57] troessner commented on #937
This

will cause `mutant` to crash on master with:

fatal: No commit specified?
/Users/timo/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/mutant-0.8.10/lib/mutant/repository.rb:47:in `touches?': Command ["git", "log", "HEAD...master", "-L", "23,34:/Users/timo/dev/reek/lib/reek/ast/ast_node_class_map.rb"] failed! (Mutant::Repository::RepositoryError)

"--since master" seems like a fairly common us

[2016-06-11 20:08] troessner commented on #942
I just released 4.0.4 with the parser upgrades - can you please check if the current version still doesn't work for you @ericgross ?

[2016-06-12 08:06] mbj commented on #937
Normally its just selecting the empty diff. I wonder why it causes problems for you. I used the exact same setting for a while, but recently changed to `--since HEAD~1` as this is more fine grained.

[2016-06-12 08:14] mbj commented on #937
I can reproduce it locally, maybe recent git changed behavior. Can you open an issue? It IMO should be a noop.

[2016-06-12 10:46] troessner commented on #937
Done @mbj

[2016-06-12 11:48] mbj commented on #937
@troessner Thx, looking to find another git CLI that works well in this case. Alternatively I've to parse the output of `git diff` intersecting it with the subjects, this would also be much faster, but also more work.

My OSS time is very limited, maybe you can consider to switch to `--since HEAD~1` meanwhile? Its agnostic to this case (but requires to build each commit, something I really like fo

[2016-06-12 18:44] #937 closed

[2016-06-12 18:45] #936 closed

[2016-06-13 17:09] ericgross commented on #942
Same issue after updating to 4.0.4:

`/Users/eric/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/reek-4.0.4/lib/reek/smells/nested_iterators.rb:139:in `block in ignored_iterator?': undefined method `name' for #<#<Class:0x007fd7ccadad58>:0x007fd7ccadace0> (NoMethodError)`

[2016-06-13 18:13] troessner commented on #942
Yeah, thats exactly why Reek should catch ALL uncatched  exceptions at top level so that we can 1) debug such problems easier and 2.) Improve overall user experience.
That is something I had on my agenda for quite a while now - i'll look into it and then we can revisit this issue.

[2016-06-15 06:55] nachokb commented on #942
this is also happening to me... was using an old version, upgraded to 4.0.4 and it stopped working; I can't determine what is triggering this...

[code]

[2016-06-15 07:10] mvz commented on #939
@Makman2 to help in the discussion in #940, does the current behaviour make more sense if you see the `context` value as being 'the thing that smells'? For example, the fourth item also won't tell you which function the smell refers to, unless you look at `context`.

[2016-06-15 07:13] mvz commented on #942
@nachokb that is a different bug, and I know exactly where it comes from. I'll look into it.

[2016-06-15 07:16] mvz opened #947 "Undefined method `name' for s(:lambda)"
From https://github.com/troessner/reek/issues/942#issuecomment-226103640:

⚡ reek
$HOME/.rvm/gems/ruby-2.2.1/gems/reek-4.0.4/lib/reek/smells/nested_iterators.rb:139:in `block in ignored_iterator?': undefined method `name' for s(:lambda)
:#<Class:0x000000059b7670> (NoMethodError)
        from $HOME/.rvm/gems/ruby-2.2.1/gems/reek-4.0.4/lib/reek/smells/nested_iterators.rb:139:in `any?'
        from $

[2016-06-15 07:35] nachokb commented on #947
Oh I see, just created a PR.

[2016-06-15 07:39] nachokb commented on #942
@ericgross I found out which file was causing the issue by looking a `exp`, taking note of the variable, arguments and method names, and just being familiar with the codebase...

[2016-06-15 07:57] mvz commented on #942
@troessner looking forward to your proposal on how to make this nicer for users.

[2016-06-15 12:41] Makman2 commented on #939
not sure, currently I understand `name` as "the thing that smells" :)
Maybe `context` should be then the outer context only, so in my case:
[code]

Though it makes also totally sense to say that the `name` refines the context (which is every time the nearest scope of the problem/smell). And if there's no name, the scope itself has/is a problem^^

So I'm open for both agreements, and as the second

[2016-06-15 14:21] troessner commented on #942
@mvz I'll open up an issue for discussing this soon with an initial draft ;)

[2016-06-15 14:24] #947 closed

[2016-06-15 21:13] ericgross commented on #942
In the mean time, is there any way I can get some version of reek working for me?

[2016-06-16 09:13] troessner commented on #942
@ericgross I just released Reek 4.0.5 with contains #949 which should fix your problem.
Can you please try with the latest Reek version?

[2016-06-16 09:14] troessner commented on #920
@sils1297 I haven't forgotten about this, just swamped right now, will come back to this later.

[2016-06-16 09:16] troessner commented on #938
Quick update: I'll look into this once we have finished #940

[2016-06-16 15:24] ericgross commented on #942
Looks the same to me:

[code]

[2016-06-16 19:59] troessner commented on #942
Does disabling the NestedIterator detector in your configuration a la

[code]

at least make Reek work again?

If it doesnt I'm afraid you'll have to wait for:

That is something I had on my agenda for quite a while now - i'll look into it and then we can revisit this issue.

[2016-06-16 20:01] troessner opened #952 "Give deppbot a shot"
https://www.deppbot.com/ -> wdyt?

[2016-06-16 20:04] troessner opened #953 "Let's have Reek catch all uncatched exceptions at top level"
Originating from #942:

Let's have Reek catch all uncatched exceptions at top level so that we can 1) debug user issues like in #942  easier and 2.) Improve overall user experience.

I'll come up with a first suggestion of how this could look like in this PR in the next couple of days and weeks.

[2016-06-17 08:03] mvz commented on #952
Definitely seems worth a try.

[2016-06-17 08:57] mvz commented on #953
We can probably take a look at how RuboCop handles this, since they're pretty consistent about showing an error for the offending file and then continuing with the others.

[2016-06-17 13:13] troessner commented on #952
I just subscribed the Reek repo but seems like we need a Gemfile.lock:

I could live with a checked in Gemfile.lock. WDYT @mvz ?

[2016-06-17 17:16] mvz commented on #952
I think that would lead to endless churn on that file. Perhaps we should wait a little to see if deppbot will support not having the lock file? Or ask them :smile:.

[2016-06-17 17:20] mvz commented on #952
Hm .. actually, looking at the FAQ, they only do a bundle update and don't touch the Gemfile. So I don't think this is very useful for Reek. I can see how this is useful for an app, maybe not so much for a gem.

[2016-06-17 17:47] ericgross commented on #942
Disabling the `NestedIterators` smell did fix my problem. Thank you for getting me going while you guys figure out the big issues in play!

[2016-06-17 18:22] troessner commented on #942
Glad we worked this out @ericgross!

[2016-06-17 18:37] troessner commented on #952
Agreed, thats useless for us. Do you know any alternatives?

[2016-06-17 21:23] mvz commented on #952
I think gemnasium offers this kind of service as a paid option. I don't know of any others.

[2016-06-17 21:24] mvz commented on #952
I may try to create something to run locally. It's a problem I've been interested in for a while.

[2016-06-18 06:43] troessner commented on #952
Sounds like a good idea! We could then also automate those tedious version bumps that we only do of dependency bumps.

[2016-06-18 06:48] troessner commented on #952
I just got an automated mail from deppbot:

------------------
Hi!

We are sorry that deppbot is unable to process your troessner/reek repository. As such, we have unsubscribed the repository.

The repository is a RubyGem which is not the best use case with deppbot.

If you have any questions about this, please let us know.

We hope you have enjoyed using deppbot so far.

Thank you!

Cheers,
deppb

[2016-06-18 19:36] troessner commented on #952
I'll check out if gemnasium can do what we want.

[2016-06-18 19:37] troessner commented on #942
------ This one is put on hold until we implemented #953  --------

[2016-06-18 19:40] troessner commented on #836
Do you stil. have this on your radar @chastell ? Just asking cause it's still labeld "work in progress"...

[2016-06-18 20:51] chastell commented on #836
Ah, right, sorry – I think the consensus is that (a) since the parser gem upgrade the new syntax doesn’t blow up Reek anymore, (b) the `&.` safe navigation operator should be potentially considered a nil-check (but that’s a separate issue and I’m not sure whether we reached consensus on this) and (c) the `<<~` squiggly heredoc operator shouldn’t trigger any smells.

Tentatively closing, feel free

[2016-06-18 20:51] #836 closed

[2016-06-24 08:13] mvz commented on #621
Reopening this since we now have a candidate implementation.

[2016-06-25 21:44] waldyr commented on #633
This is all part of a greater smell often times referred as Mystery Guest.

[2016-06-28 18:25] alexgerstein opened #960 "Checking lambda raises "undefined method `module_creation_call?`""
When running reek on a lambda set to a constant, the context builder raises a NoMethodError.

Example Code:

[code]

Backtrace:

[code]

[2016-06-28 18:48] focusshifter opened #961 "Add reporting of unneeded inline suppressions"
[Rubocop's Lint/UnneededDisable](http://www.rubydoc.info/gems/rubocop/RuboCop/Cop/Lint/UnneededDisable) is performing a very useful task - it runs the disabled code smell check nevertheless and reports if it is no longer needed.

It would be nice of reek to do the same - report if some inline suppression is no longer needed and could be removed.

[2016-06-28 20:15] troessner commented on #961
Yes, yes and double yes :)
Couldn't agree more, this is definitely a feature `Reek` should have.

I'm blocked for the next weeks but if nobody looks into this feature in the meantime (looking at you @mvz  or @waldyr) I'll definitely get this implemented.

[2016-06-28 20:18] troessner commented on #960
Confirmed bug. Easily reproducible:

[code]

gives:

[code]

Thanks for the report, we'll look into it!

[2016-07-05 05:24] y-yagi opened #964 "Getting "`inspect': undefined method `name' for s(:str, "SuccessResult")" in 4.1.0."
Hi.

After the upgrade from 4.0.2 to 4.1.0, "`inspect': undefined method `name' for s(:str, "SuccessResult")"  has occurred.

Stack trace is following:

[code]

Do I need something for upgrade?  Thanks.

[2016-07-05 20:44] #960 closed

[2016-07-05 20:53] troessner commented on #960
Just released 4.1.1 with the bugfix from #963 - can you please check if this works for @alexgerstein ?

[2016-07-05 21:22] troessner commented on #964
Can you identify and share the offending piece of code?

[2016-07-06 11:45] mvz commented on #964
I'm guessing it's `Struct.new('SuccessResult')`.

[2016-07-07 17:50] Ross-Hunter commented on #942
Same issue here, same fix worked. 👍

[2016-07-07 18:21] monfresh opened #970 "Documentation for PrimaDonnaMethod exclude option?"
Hello. I'm trying to exclude a method from the `PrimaDonnaMethod` smell, but it's not being excluded. Here is the output from reek:
[code]
And here are the different things I tried in my `.reek` file:
[code]
None of these work. What am I doing wrong?

Here is how the method is being called in my app:
[code]

[2016-07-07 18:26] monfresh commented on #970
Also, interestingly, I also have a call to `authenticate_scope!` in another controller, but via `before_action`, and reek doesn't report that smell.

[2016-07-08 09:12] mvz commented on #953
@troessner any sneak preview of how you want to handle this?

[2016-07-08 09:15] mvz commented on #970
Can you try excluding just `Devise::TwoFactorAuthenticationController`?

Also, this detector should trigger on the *definition* of the method, not on its *use*. I'm guessing `Devise::TwoFactorAuthenticationController` is where it is defined?

[2016-07-08 13:01] troessner commented on #953
So here's the idea:

### ReekException

* We have our own exception that is the **only** `RuntimeException` `Reek` should ever propagate upstream
* This will allow clients - be it CLI clients, RSpec matcher users or API users to react to `Reek` failures in a consistent, predictable way like this: "If you get a ReekException something is wrong with Reek and there's not much you can do about. So exi

[2016-07-08 13:11] troessner commented on #952
Nope as well, closing this one, seems there is no good option here :(

[2016-07-08 13:11] #952 closed

[2016-07-08 13:13] troessner commented on #942
#953 is being discussed right now AND I'm on vacation in the, uhm, solitude of Iceland so chances that this gets implemented soon so we can drill down to the root cause are really high ;)

[2016-07-08 13:14] troessner commented on #907
#954 is merged and released, closing this one.

[2016-07-08 13:14] #907 closed

[2016-07-08 14:48] monfresh commented on #970
Ah, that makes sense. Since that method is defined in a third party gem (Devise), I guess we'll have to exclude the whole controller (which removes the warning), and live with the fact that if a prima donna method is defined there, it won't be caught by reek.